[2022-07-18 18:29] pooooriya commented on #1138
it doesnt

[2022-07-18 18:34] pooooriya commented on #1138
after removing IDM (internet download manager) it just work now ! wtf !! :///
i kill (idm agent for browser) and allthing goes well after that !
Thank you for answering me so quickly and soberly, a package of this magnitude will definitely not be made unless the contrbiuters are patient and insightful.

[2022-07-18 18:36] pooooriya commented on #1138
is there a good idea to add this part to remotion document for audio tag ?
the cool thing was i test this in incognito !!!! and this bug occur there too !!
you cant add section or danger to remove any download app from their browser or kill them to play audio correctly
that was only for audio . video deesnt have any issues !
thanks man again

[2022-07-19 07:50] RobinLindhout opened #1143 "Visibility after few frames"
How can i set my element visible when a few frames has past?

Like a delay, but instead of transforming I want the visibility to change

Example:
![Schermafbeelding 2022-07-19 om 09 48 14](https://user-images.githubusercontent.com/79744544/179696118-85216a8e-c012-4a99-a827-e3fb40273c5f.png)

[2022-07-19 07:55] JonnyBurger commented on #1143
Hey Robin! 3 possibilities:

- Use a `<Sequence>`: https://www.remotion.dev/docs/sequence
- Animate the `opacity` CSS style property
- Render something conditionally: `frame > 10 ? <div>visible</div> : null`

[2022-07-19 07:55] #1143 closed

[2022-07-19 07:59] JonnyBurger commented on #1116
Hi @AbdulBsit!

Thanks - I opened #1144 to hopefully fix it. Release is going to come out today - I'd be happy if you test it and if it happens again, can you log `err.stack` instead of `err.message`? I'd be curious to know how this scenario happened exactly!

Hope the issue gets just fixed though 😊

[2022-07-19 08:11] JonnyBurger commented on #1138
Yes, it's a good idea to create a help page for this error. I'll keep it open

[2022-07-19 08:13] JonnyBurger commented on #1138
And thanks for the nice words! Indeed it takes patience but it's very good that we track these things and learn more things about what can go wrong, for example Internet Download Manager! We can create docs and help out other people who have the problem in the future! 🙌

[2022-07-19 08:39] AbdulBsit commented on #1116
Hii, @JonnyBurger

**Stack trace**

[code]

[2022-07-19 09:44] JonnyBurger commented on #1116
Thanks a lot! Don't see any more information from it unfortunately, well hope the PR works!

[2022-07-19 19:44] AliGharian commented on #1138
I have the same issue

[2022-07-20 06:12] JonnyBurger commented on #1138
@AliGharian did you follow my attempts to help in this issue and can you provide info just like @pooooriya did? what can you find out using immer info in this thread?

[2022-07-20 20:24] tiaxter opened #1151 "`npm run start` do not work"
# Bug Report 🐛

After working with Remotion, it suddenly stop to work.
I tried to create a new project `npm init video` and I obtain the same exact error of my previous project.
Could it be a OS problem?

[code]

PC: Mac
PC OS Version: 13.0 beta 2
Node version: any (I tried to switch from different version of node (`18.4` and `16.16`))
Remotion version: `3.1.3` and `3.0.0`

[2022-07-21 08:58] #1142 closed

[2022-07-21 09:15] #1151 closed

[2022-07-21 09:15] JonnyBurger commented on #1151
Thanks a lot for the report! Fixed now and will be in the v3.1.4 version which will be released momentarily.

[2022-07-21 11:35] prabhatmyadbox opened #1153 "Cannot find module 'react/jsx-runtime' in AWS lambda"
Hi Jonny,
Firstly, thanks for building this awesome tool. It is just amazing.

Well, I'm trying to use `renderMediaOnLambda` on a AWS lambda function. My project is a mono-repo, so I use `serverless-jetpack` to handle dependency hoisting issue. I'm currently facing 2 issues:

1. I am unable to package the function using `serverless package` command, as it does not even package in over 5 mins for s

[2022-07-21 11:50] JonnyBurger commented on #1153
Hi Prabhat!
Thanks a lot for the praise!

The @remotion/lambda package imports some other stuff automatically as well such as React and CLI stuff.

What you can do is `import {renderMediaOnLambda} from "@remotion/lambda/client";` to only import the functions necessary! See also: https://www.remotion.dev/docs/lambda/light-client

I think this will solve your problem, so I am going to close the issu

[2022-07-21 12:49] prabhatmyadbox commented on #1153
Hi Jonny
Yes, I am importing from `@remotion/lambda/client`.

[2022-07-21 12:51] JonnyBurger commented on #1153
I see - even that has a dependency on Remotion, which requires React. Can you solve the issue by installing React?

[2022-07-21 12:55] prabhatmyadbox commented on #1153
I've tried installing React and @types/react as well. No luck.

Here's the stack trace from the error, if it helps.

<img width="726" alt="Screen Shot 2022-07-21 at 10 54 17 pm" src="https://user-images.githubusercontent.com/36719525/180218252-511117ad-634a-4fa4-9790-0a944260fede.png">

Thanks

[2022-07-21 22:05] prabhatmyadbox commented on #1153
I've finally resolved the issue. I had to install React and React-dom (thought I would chuck this in as well) in the lambda layer I created for Remotion packages.

Thanks!

[2022-07-21 22:05] #1153 closed

[2022-07-22 09:30] RobinLindhout opened #1155 "Playback for Sequences"
How can i set the playbackrate for 1 sequence?

[2022-07-22 12:43] JonnyBurger commented on #1155
Hi @RobinLindhout!

You cannot set it in there - but you can play around with `useCurrentFrame()`!

Play the video twice as fast using `const frame = useCurrentFrame() * 2`.
Or twice as slow using `const frame = useCurrentFrame() / 2`.

[2022-07-22 12:43] #1155 closed

[2022-07-22 13:01] RobinLindhout commented on #1155
Okay get it, but doesn't work with my current code, Tried to save some work but I have to do it anyways I think ;)

[2022-07-22 21:21] Spikeysanju commented on #399
Is there any update on this? @JonnyBurger

[2022-07-23 09:48] JonnyBurger commented on #399
@Spikeysanju The idea to hijack other modules or the browser seems very hacky. For me it's a no-go I think.

The appeal of Framer Motion seems that you can express animations very concisely - I see the path forward more being that we create some Framer Motion-like animation primitives going forward!

[2022-07-23 10:33] #723 closed

[2022-07-23 10:33] #1130 closed

[2022-07-24 05:10] tomByrer commented on #50
Which is odd, since one of Deno's earliest goals was to have built-in TS support, so to be Deno-compat is to drop TS is... bad DX.   & improved DX is the only reason to support Deno IMHO, because it is not performance AFAIK.

Bun on the other hand, has both improved DX & better performance for short-lived processes.

Either way, once some of the Node-specific calls are handled directly by Remotion

[2022-07-24 17:11] JonnyBurger opened #1164 "TailwindCSS template does not render if command is executed outside root"
Tailwind template

[code]

does not include Tailwind CSS

[2022-07-25 07:31] JonnyBurger commented on #1125
Closing because of no response.

[2022-07-25 07:31] #1125 closed

[2022-07-25 09:13] JonnyBurger opened #1167 "Remotion Preview should respect back and forwards browser buttons"

[2022-07-25 09:38] JonnyBurger opened #1168 "Remotion Preview should signal that the server has disconnected"
# Bug Report 🐛

[2022-07-25 13:41] #1164 closed

[2022-07-25 17:07] satelllte opened #1173 ""Zoom", "Fit" dropdown menus aren't scrollable"
# Bug Report 🐛

"Zoom", "Fit" dropdown menus aren't scrollable

![image](https://user-images.githubusercontent.com/20585619/180834324-a3b2adae-26f8-4ddb-9cc3-78f40ea7475e.png)

## Reproducible on:

- OS: MacOS 12.4
- Browser(s): Chrome 102, Safari Technology Preview 16.0

[2022-07-27 12:04] JonnyBurger commented on #1167
Fixed #1172

[2022-07-27 12:04] #1167 closed

[2022-07-27 14:19] JonnyBurger commented on #1116
#1177 Will clean up everything and leave no traces!

[2022-07-27 15:11] JonnyBurger commented on #1173
Thanks a lot! Fixed in 76c9c9b754c5e99bd64e471298222e978da4b47a

[2022-07-27 15:19] satelllte commented on #1173
Thank you 🔧

[2022-07-28 06:17] swj795 opened #1179 "Could not render video with staticFile"
hi
i am new user
i cant render the video
please help me
<img width="387" alt="image-20220728140901665" src="https://user-images.githubusercontent.com/73423337/181433637-309f4822-f1f0-44b8-8eaa-9b170cc99842.png">
<img width="243" alt="image-20220728141513981" src="https://user-images.githubusercontent.com/73423337/181433893-5ae118e9-bf76-4db6-9e3f-782d27cb57a3.png">
<img width="602" alt="image-2022

[2022-07-28 06:57] JonnyBurger commented on #1179
Hi ssswj!

It depends from which directory you start the Remotion server. It only works if you start `npx remotion preview` from the root directory, not the `src` or the `remotion` directory (the public folder must be in the directory you start it).

PS: Use the `<Video>` tag from Remotion, otherwise you'll end up with flickering in the render! https://remotion.dev/docs/render

[2022-07-28 07:38] swj795 commented on #1179
Thanks!
I have gotten it

[2022-07-28 08:47] JonnyBurger commented on #1179
Nice!

[2022-07-28 08:47] #1179 closed

[2022-07-28 11:59] #1116 closed

[2022-07-28 11:59] #1127 closed

[2022-07-29 23:11] deeayeen opened #1182 "Attempting to play audio with react-speech-kit doesn't work"
Using https://github.com/MikeyParton/react-speech-kit, attempting to play any audio yields no result.

Is the only way to play audio using the \<Audio /\> tag? That would assume requiring an audio file

[2022-07-29 23:24] deeayeen commented on #28
@JonnyBurger is SpeechSynthesis still unusable in Remotion?

[2022-07-29 23:40] deeayeen commented on #1182
Additionally, when using the \<Audio /\> tag, the console shows the following error:

```get-audio-data.js:34 The AudioContext was not allowed to start. It must be resumed (or created) after a user gesture on the page. https://goo.gl/7K7WLu```

[2022-07-30 08:13] JonnyBurger opened #1183 "`fullscreenchange` event"
In order to customize the behavior of the Player UI if it is in fullscreen, it would be good to be able to react to an event.

`fullscreenchange` would be a good name, since it is analogue to the browser API: https://developer.mozilla.org/en-US/docs/Web/API/Document/fullscreenchange_event

[2022-07-30 08:26] JonnyBurger commented on #1182
Hi Dan,

yes, the only way is to play using an `<Audio>` tag. You can also pass a buffer into the audio tag, but that does not work with react-speech-kit. The browser generally does not allow you to obtain a buffer of the spoken text.

We recommend the TTS template: `npx create-video --tts` (https://github.com/FelippeChemello/Remotion-TTS-Example/generate)

[2022-07-30 08:26] #1182 closed

[2022-07-30 08:26] JonnyBurger commented on #28
@deeayeen It still is.

[2022-07-31 11:07] JonnyBurger opened #1184 "Adding `* { background: green}` CSS makes the Remotion preview green"
![image](https://user-images.githubusercontent.com/1629785/182022617-249da8f5-a1ba-4e29-b6f3-4f44f0ea58ba.png)

We should handle it better

[2022-07-31 15:18] #1184 closed

[2022-08-01 07:57] JonnyBurger commented on #437
Sorry, I've changed my mind on this - for me it is a wontfix, because:

- There are browser APIs for detecting reduced motion, it can be achieved by importing a small snippet from the internet (e.g. https://www.joshwcomeau.com/snippets/react-hooks/use-prefers-reduced-motion/)
- We have no high level API that automatically animates things in the first place. It is all user-controlled. If they desir

[2022-08-01 07:57] #437 closed

[2022-08-01 09:58] JonnyBurger opened #1186 "Lambda function can give error if quickly called after creation"
Happens in innerLaunchHandler. In that case we should probably just retry.

[2022-08-01 10:00] JonnyBurger opened #1187 ""Invoked Lambda" stats can show a negative timestamp"
⚡️ (1/5) [====================] Invoked lambdas -456456413651356ms

This only started showing recently and also caused an assertion to fail which we had to disable for now

[2022-08-02 12:44] JonnyBurger commented on #1138
#1192 will add more docs and help links for these types of problems.

[2022-08-02 13:35] JonnyBurger opened #1194 "Output video should have no sound by default if no audio sources were added"
Related issue: #1113 cc: @wcandillon

[2022-08-02 14:30] #1183 closed

[2022-08-04 08:52] JonnyBurger opened #1198 "CSS reset should apply to error overlay"
Working on the Lottie package resulted in a pretty cool bug that should still be fixed:
![image](https://user-images.githubusercontent.com/1629785/182805873-e5201180-e5bf-4eaa-b260-6d4e045df9b0.png)

[2022-08-04 15:14] JonnyBurger opened #1199 "Lambda function progress can go backwards"

[2022-08-04 15:34] JonnyBurger commented on #642
@wcandillon Just wondering - are we able to reproduce this still or did we resolve it in @remotion/skia?

[2022-08-04 23:26] rodrigogollo opened #1200 "Require undefined break the core remotion dependencies"
# Bug Report 🐛

## I got this bug twice making changes in my project while using the Remotion Preview.

## I couldn't replicate the bug, but i was trying to require a video source file that doesn't exist (undefined), using the following:

![image](https://user-images.githubusercontent.com/28308024/182955362-ed756b88-b282-430d-a03c-c7b105d75f69.png)

## But i passed the wrong props, and the result

[2022-08-05 07:18] JonnyBurger commented on #1200
Hi @rodrigogollo! Thanks for the report, I can confirm the bug and am putting in a fix in place so that the server does not crash anymore.

[2022-08-05 07:45] #1200 closed

[2022-08-05 09:13] JonnyBurger commented on #1131
I have changed my mind on this - the timeline works more like Photoshop / After effects layers rather than a Premiere timeline. Sequences can overlap and keeping it this way we can also make stuff like the eye icon to hide a layer

[2022-08-05 09:23] #1186 closed

[2022-08-05 12:03] #1131 closed

[2022-08-05 15:30] #1129 closed

[2022-08-05 20:21] #219 closed

[2022-08-07 08:41] JakubekWeg commented on #253
Hey
Are there any plans to make loop prop on video work?
This feature would be very helpful

[2022-08-09 11:20] slowbaker opened #1210 "Player unmount fails with "Audio has no ref""
# Bug Report 🐛

Beginning from version 3.1.5, the Remotion Player throws an error when it gets unmounted from a Next.js page (by navigating to another page).

[code]

[2022-08-09 14:13] #1210 closed

[2022-08-09 14:13] JonnyBurger commented on #1210
Thank you for reporting this! 🙌

[2022-08-09 15:17] JakubekWeg opened #1213 "Incorrect sequence name on timeline when using default exported component"
# Bug: Incorrect sequence name on timeline when using default exported component 🐛

Hi
When having sequence:
[code]
I get **untitled** name
![image](https://user-images.githubusercontent.com/20194971/183688122-f803a470-a866-4ce1-9cdc-08f11e1221c7.png)
Which is fine, but having sequence like that:

[code]
where Foo is
[code]
I'm getting
![image](https://user-images.githubusercontent.com/20194971/18

[2022-08-10 10:01] patsalv opened #1214 "Remotion Lambda can render with version mismatch --> should be prevented"
# Bug Report 🐛

[2022-08-10 16:24] JonnyBurger commented on #1213
Thanks a lot for reporting this!

[2022-08-10 16:41] #1213 closed

[2022-08-10 23:05] rodrigogollo opened #1219 "Interpolate multiple values causes Lambda Render to fail"
# Bug Report 🐛

When using interpolate with more than 2 values, like the following:

![image](https://user-images.githubusercontent.com/28308024/184037620-18dbb764-5f1f-4a35-917c-34e2d6c1764f.png)

Prevent Lambda to Render, giving the following message:

![image](https://user-images.githubusercontent.com/28308024/184037944-853cebc0-cfb4-4c8d-bc3b-bba00a871562.png)

[2022-08-11 06:43] JonnyBurger commented on #1194
Fixed in #1211

[2022-08-11 06:43] #1194 closed

[2022-08-11 06:44] JonnyBurger commented on #1113
Fixed in https://github.com/remotion-dev/remotion/pull/1211

[2022-08-11 06:44] #1113 closed

[2022-08-11 08:16] JonnyBurger commented on #1219
Hi!

This hints towards `durationInFrames` actually being `-22239`. Are you calculating this dynamically somehow or taking it directly from `useVideoConfig`?

[2022-08-11 15:55] rodrigogollo commented on #1219
Hey, yeah i'm just using the default values from useVideoConfig and useCurrentFrame.

![image](https://user-images.githubusercontent.com/28308024/184176567-4d223fd8-06ca-46ec-b41b-51e6322a6087.png)

[2022-08-11 16:20] #1168 closed

[2022-08-12 11:06] slowbaker opened #1228 "Player ignores Audio.src change once started"
# Bug Report 🐛

Since version 3.1.5, it's no longer possible to change the audio source when the Remotion Player once started. The player currently needs to reach the end and start from the beginning (loop=true), so the new audio track is picked up.

The previous behavior was that you could change the audio on the fly without pausing the player.

[2022-08-12 14:14] JonnyBurger commented on #1228
Thanks a lot! Fix initiated!

[2022-08-12 14:30] #1228 closed

[2022-08-13 08:50] slowbaker opened #1232 "Player audio hiccups caused by audio tag updates"
# Bug Report 🐛

I have a composition with background music and a sequence of individual audio tracks. Version 3.1.5 introduced a bug in which you can clearly hear when audio tags are being remounted (which causes a short pause).

[code]

Looking into the Chrome dev tools during playback, I can see that all audio tags are being updated on each transition, including the background audio, which cause

[2022-08-13 10:56] wcandillon commented on #642
I am not able to reproduce the issue at the moment (not in a small example at least).

[2022-08-13 10:56] #642 closed

[2022-08-13 11:04] wcandillon opened #1233 "Skia bundle reload on each build rendering."
With Skia, the bundle appears to be reloaded on each render build frame, which we believe might slow down the rendering time substantially.
This branch is a small reproducible example: https://github.com/wcandillon/remotion-skia-tutorial/tree/bug

Considering the following example:
[code]

In dev mode, you will see only one color as expected. In the final render you will see a different color for

[2022-08-13 11:13] wcandillon commented on #1233
@JonnyBurger pointed out that if the concurrency is one the video renders as expected, thanks!

[2022-08-13 11:13] #1233 closed

[2022-08-14 15:00] JonnyBurger commented on #1232
Thanks! I acknowledge this problem and will look for a solution soon.

[2022-08-14 15:03] JonnyBurger opened #1234 "Rendering `codec = mp3` on renderMediaOnLambda() with `imageType = 'png'` is slow and makes no sense"

[2022-08-15 05:31] AbdulBsit opened #1235 "Upgrading to 3.2.3 requires bundling with version 4? latest remotion is still v3"
Hii, I recently upgraded to [v3.2.3](https://github.com/remotion-dev/remotion/releases/tag/v3.2.3) from [v3.1.11](https://github.com/remotion-dev/remotion/releases/tag/v3.1.11), while extracting composition it says it incompatible bundle found

[code]
**Version Used for creating bundle**

`@remotion/bundler": "^3.0.20"`

**Other versions for dependencies**

[code]

It works normally when downgradi

[2022-08-15 07:13] JonnyBurger commented on #1235
Hi @AbdulBsit!

That is right - a bundle created with the old version will not work correctly with a new version of the renderer, hence we throw an error. Generally, the bundle needs to be created with the same version that is used for rendering to use all the new features and bugfixes, but if the schema changes like in this case, we throw an error to prevent hard to debug edge cases.

The fix is

[2022-08-15 07:13] #1235 closed

[2022-08-15 08:17] JonnyBurger commented on #1199
Seems to happen if the output file already exists

[2022-08-15 08:27] #1232 closed

[2022-08-15 14:25] JonnyBurger commented on #1078
[code]

[2022-08-16 07:16] #1234 closed

[2022-08-16 08:26] JonnyBurger opened #1239 "Choose unified word for `concurrency` and `parallelism`"
It's confusing that it's not the same term everywhere

[2022-08-16 10:04] RobinLindhout opened #1240 "Audio delay"
How can i play my audio in a component after te component played for, let say 60 frames?
![Schermafbeelding 2022-08-16 om 12 02 57](https://user-images.githubusercontent.com/79744544/184853291-e9b62219-b8a7-4c43-8992-2f9e790be411.png)

I want te audio to start after the red bar
![Schermafbeelding 2022-08-16 om 12 03 17](https://user-images.githubusercontent.com/79744544/184853359-8f7087a7-68bd-4d3

[2022-08-16 12:26] JonnyBurger commented on #1240
Hi Robin!

You can do so using

[code]

[2022-08-16 12:26] #1240 closed

[2022-08-17 04:51] JonnyBurger opened #1241 "Embedding Player in Remix app duplicates head tag"
Discord report: ![image](https://user-images.githubusercontent.com/1629785/185037306-161c88ad-40a9-4fef-8f18-17c316e7495b.jpeg)

[2022-08-18 22:25] tsejerome opened #1243 "Typing Errors on "disableRemotePlayback" with Video.d.ts"
# Bug Report 🐛
### Background

I'm using firebase functions with 3.2.3 of remotion and remotion/lambda, and when I was running the deployment script `$ firebase --debug deploy --project projectName --only functions:xxxFunctionName` , the below error appeared.

Note:
1. I'm using npm instead of yarn as I faced other problems with yarn
2. `npx tsc` works fine, I'm not certain but does it check the n

[2022-08-18 22:25] tsejerome commented on #1243
This is the first time I'm filing a bug, hope it's good enough :D

[2022-08-21 13:22] JonnyBurger opened #1247 "Allow to pass FFMPEG bitrate parameters"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%24167%20Rewarded-%237E24E3.svg" />](https://issuehunt.io/r/remotion-dev/remotion/issues/1247)

**🎃 This issue is part of our Hacktoberfest campaign!**
📚 [Read more about Hacktoberfest here](https://remotion.dev/hacktoberfest)
🕛 This issue is currently assigned to @Slashgear and up for taking!

---

## Problem

User story fro

[2022-08-21 13:47] JonnyBurger commented on #1243
Hi Jerome!

Thanks for the good reproduction! To me it seems that `disableRemotePlayback` is a valid prop for a video tag that one might actually want to use. We don't explicitly mention it in our codebase but it is derived from the props of the type definition of the `<video>` tag. Therefore I suggest we don't remove it from the type definition.

It was added to the Web types in TypeScript 4.4, s

[2022-08-22 13:13] JonnyBurger opened #1248 "`npx remotion lambda render` does not derive the codec from the file extension"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%24167%20Rewarded-%237E24E3.svg" />](https://issuehunt.io/r/JonnyBurger/remotion/issues/1248)

**🎃 This issue is part of our Hacktoberfest campaign!**
📚 [Read more about Hacktoberfest here](https://remotion.dev/hacktoberfest)
🕛 This issue is currently assigned to @uragirii!

## Problem

`npx remotion lambda render --out-name=

[2022-08-22 15:09] JonnyBurger commented on #1219
Hi Rodrigo, many apologies for the late response!
It's weird, I have no clue! This is a one of a kind issue that I didn't hear about before, but something is definitely wrong from our side.

- I suppose you are nesting `<Clip>` inside a `<Sequence>`. Are you able to show a bit more of the parent so we can see how the `<Sequence>`'s are structured?
- Can you run a render on the Lambda CLI by adding

[2022-08-22 16:09] rodrigogollo commented on #1219
Hey Johnny, you are correct, the `<Clip>` is nested inside a `<ClipList>` that maps each `<Clip>` inside a `<Sequence>`:
Maybe my Video `durationInFrames` is wrong because i do some calculations to get the exact time to render each `<Clip>`

![image](https://user-images.githubusercontent.com/28308024/185966174-6886e61f-4ac5-4be6-8e61-bf7cba729e1b.png)

As for the Lambda CLI render, i tried to do w

[2022-08-22 16:10] JonnyBurger commented on #1219
Thanks! I'll definitely investigate a bit more and try to reproduce that.

You can put the console.log() one line above the `interpolate` to see the log if you wanna help 🙏

[2022-08-22 16:14] JonnyBurger opened #1250 "Introduce a way to benchmark a computer with Remotion"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%24250%20Rewarded-%237E24E3.svg" />](https://issuehunt.io/r/JonnyBurger/remotion/issues/1250)

**🎃 This issue is part of our Hacktoberfest campaign!**
📚 [Read more about Hacktoberfest here](https://remotion.dev/hacktoberfest)
🕛 This issue is currently assigned to @uragirii and is not for the taking.

Have a command where a ce

[2022-08-22 16:18] tsejerome commented on #1243
`disableRemotePlayback` is indeed a valid prop for the video tag (but in my case I'm not using it yet so I "remove" it via patching package, which is not a good practice)

1. My TS Version is 4.7.4
2. Just tried and face some `Duplicate index signature for type 'string'.` issue between @types/web and typescript, will look into that later :D
3. for `skipLibCheck` is it officially recommended by rem

[2022-08-22 16:53] rodrigogollo commented on #1219
I tried the console.log above the interpolate, but still don't print the message in the console after the lambda render execution.

Yet, using the React Developer Tools, it seems that the durationInFrames are fine:

![image](https://user-images.githubusercontent.com/28308024/185975822-3506e613-7acb-4cf5-8b77-33f549ebc513.png)

[2022-08-22 22:24] leocjacob opened #1251 "Blank video (all frames BLACK) is generated for the site deployed using @remotion/lambda Node.JS API"
# Bug Report 🐛
**Steps to reproduce the issue.**
Step 1: Install remotion using `npm init video` in your local machine.
Step 2: Select the Tailwind project
Step 3: Setup AWS as described here [SETUP AWS](https://www.remotion.dev/docs/lambda/setup)
Step 4: Install @remotion/lambda dependency `npm i @remotion/lambda`
Step 6: Setup environment variables. REMOTION_AWS_ACCESS_KEY_ID & REMOTION_AWS_SECR

[2022-08-23 08:13] JonnyBurger commented on #1219
Sorry I should have mentioned that you can click the CloudWatch link that was printed to see the actual `console.log`'s!
Thanks for providing the logs of the React DevTools, also helpful!

[2022-08-23 09:12] #1241 closed

[2022-08-23 09:21] JonnyBurger commented on #1251
Hi @leocjacob!

The problem is that the Lambda APIs require the `webpackOverride` function to be passed. Sorry, we realize that this is not documented well! We added a notice to the README.md, you can follow the new instructions we put there: https://github.com/remotion-dev/template-tailwind/commit/342ec698ec269ff9a785acc6f9b15815866f4e7d

I'm gonna leave this open to also update our homepage to b

[2022-08-23 13:45] #1251 closed

[2022-08-23 13:54] rodrigogollo commented on #1219
Hey Jonny, i didn't know about the CloudWatch, sorry for that. This is what i got from the Internals on the logs:

![image](https://user-images.githubusercontent.com/28308024/186174499-539cfa7f-6e3e-4bec-ac37-ea8dd5dd588b.png)

It seems to me kinda random when the durationInFrames is negative to some, and not to others.

![image](https://user-images.githubusercontent.com/28308024/186176342-16fdca4

[2022-08-23 14:40] JonnyBurger opened #1256 "Can I turn off hotkeys on the player?"
### Discussed in https://github.com/remotion-dev/remotion/discussions/1165

<div type='discussions-op-text'>

<sup>Originally posted by **theDestI** July 24, 2022</sup>
The title basically says it all</div>

[2022-08-23 15:07] JonnyBurger opened #1257 "Idea: Easier clearing in/out marks with right click or shift press"
### Discussed in https://github.com/remotion-dev/remotion/discussions/1221

<div type='discussions-op-text'>

<sup>Originally posted by **JakubekWeg** August 11, 2022</sup>
I'm talking about these buttons:
![image](https://user-images.githubusercontent.com/20194971/184135276-2d2ab3ce-2e96-416e-a67f-18528e065e89.png)

When using I always struggle with easily clearing _out_ mark. I first need to pau

[2022-08-23 15:28] #1214 closed

[2022-08-23 15:59] #1243 closed

[2022-08-23 20:20] leocjacob commented on #1251
Hi @JonnyBurger , I tried as you said, but there is a problem importing .ts file into .js file. Can you just describe how to execute @remotion/lambda Node.JS API.  I am struggling with the following error.

`(base)  ✘ leocj@Leos-MacBook-Pro  ~/video-project/tailpro   main ±  node createVideo.mjs
node:internal/errors:464
    ErrorCaptureStackTrace(err);
    ^

Error [ERR_MODULE_NOT_FOUND]: Cann

[2022-08-24 12:24] JonnyBurger commented on #1251
Hi @leocjacob!

I that case, you must rename `webpack-override.ts` to `webpack-override.js` and remove the type annotation (`: WebpackOverrideFn`). That should work in both files then.

[2022-08-24 14:12] leocjacob commented on #1251
Hi @JonnyBurger, Awesome that worked! i have renamed `webpack-override.ts` as `webpack-override.mjs` and made your changes. I am sharing the code if anyone needs it.
[createVideo.mjs and webpack-override.mjs](https://gist.github.com/leocjacob/c9ca53efa248da49b936e6b59ce4f09f)
[webpack-override.mjs](url)

[2022-08-25 05:34] artdevgame commented on #26
@JonnyBurger I'm looking to achieve something similar.

To answer this:

I would like to control positioning of elements (GIFs, etc) programmatically & their appearance (delay/duration) would be toggled using pubsub/socket events.

[2022-08-25 12:54] #1219 closed

[2022-08-25 13:07] JonnyBurger commented on #1219
I was finally able to reproduce it! Turns out the duration can change during the render, which is a stupid behavior of Remotion. I put in a fix and pretty certain that should solve some problems 🎉 A new release will some out in the next hour.

[2022-08-25 14:36] JonnyBurger commented on #26
@artdevgame I think the best way to do that is to create a website and add the browser source to OBS. Control everything using websockets etc, I think that is a really cool idea but completely separate from what we are doing at the moment 😊

[2022-08-27 16:03] #1256 closed

[2022-08-31 14:54] JonnyBurger opened #1276 "GIF two-pass rendering"
Use cases:

- Sample a palette to make the GIF prettier
- Support transparent GIFs

[2022-09-02 08:57] #1257 closed

[2022-09-02 16:41] ekeijl opened #1280 "<Sequence.Series> durationInFrames prop is not optional?"
The [documentation](https://www.remotion.dev/docs/series#seriessequence-) states:

If I understand correctly, the main purpose of `<Series.Sequence>`  is to create a sequence of scenes where you only need to pass `duration` (without a `from` prop). Then how can `durationInFrames` be optional (except for the last scene, maybe)? I think the docs are incorrect here?

# Bug Report 🐛

If I try to do th

[2022-09-02 17:36] gaithoben commented on #756
Hi @JonnyBurger. Good job for sure!
is it possible to render on react-native using [ffmpegkit-react-native](https://github.com/tanersener/ffmpeg-kit)?

Best regards.

[2022-09-03 19:29] JonnyBurger opened #1281 "deleteRender() API for Lambda"

[2022-09-04 09:43] Slashgear opened #1283 "Generating last image of a Composition"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%24167%20Rewarded-%237E24E3.svg" />](https://issuehunt.io/r/JonnyBurger/remotion/issues/1283)

**🎃 This issue is part of our Hacktoberfest campaign!**
📚 [Read more about Hacktoberfest here](https://remotion.dev/hacktoberfest)
🕛 This issue is currently assigned to @Slashgear and not for taking!

---

I was playing with the CLI

[2022-09-04 19:23] BenjaminLindberg opened #1288 "Fade-out & Fade-in option on Sequence"
Hello @JonnyBurger  👋🏻

I think a great idea would be a **Fade-in Fade-out** option on the <Sequence/> Component, which you then can pass a few props like duration, intensity??
It would be useful feature for sure! 😃

[2022-09-05 08:35] JonnyBurger commented on #756
@gaithoben That is not supported at the moment.

Some people use Remotion in React Native by using the `<Player>` inside a WebView and they got it working! I recommend doing that for now.

Since phones are much less powerful than computers, I have some doubts about whether Remotion for mobile will result in a great experience and therefore I am pushing this off for the moment and we will focus on

[2022-09-05 08:36] JonnyBurger commented on #1288
Good idea, this will be possible in #1057!

[2022-09-05 08:42] JonnyBurger commented on #1280
You are completely right, thanks for reporting this!
Currently, `durationInFrames` is required because otherwise it wouldn't make any sense. The only way the durationInFrames property can be omitted or made `Infinity` is if it is the last Sequence in a Series.

For now fixing this by updating the documentation in #1289

[2022-09-05 08:44] JonnyBurger commented on #1283
Good idea! Not gonna implement immediately and think a bit about the right API, but definitely putting this on the roadmap!

[2022-09-05 09:02] #1280 closed

[2022-09-05 11:01] gaithoben commented on #756
@JonnyBurger Thank you for the reply.

Again thanks for the good job.

[2022-09-05 19:37] B3nnjoe opened #1292 "Overlay mode"
@JonnyBurger 👋🏻
It would be really good if there was a "OverlayMode" where the composition gets rendered over a video.
This would mean you don't need to have a video element in the composition lowering the performance.
It could be an argument when you render with lambda or with ssr, you pass the videos URL/path or something like that.
If this would be possible it would be a great feature for sure!

[2022-09-06 09:51] #1036 closed

[2022-09-06 11:36] JonnyBurger commented on #1134
Acceptance criteria for this bounty: The GIF should display in the preview and render equivalent to the `background-size: contain` / `resize-mode: contain` in React Native

[2022-09-06 15:17] #922 closed

[2022-09-06 17:34] JonnyBurger commented on #1292
Good idea, I'm +1 on this!

[2022-09-06 18:27] JonnyBurger opened #1298 "Better feedback when calling getRenderProgress() on a still render"
# Feature Request 🛍️

## Use Case

## Possible Solution

[2022-09-06 23:56] UmungoBungo commented on #1292
Not sure I'm understanding - ss this to improve the performance of the player component?

[2022-09-07 17:37] AgusPk commented on #1276
how about something like this to do it in one step?

`ffmpeg out/video.mp4  -filter_complex "[0:v] fps=15,scale=w=720:h=-1,split [a][b];[a] palettegen=stats_mode=single [p];[b][p] paletteuse=new=1"out.gif`

[2022-09-08 05:22] JonnyBurger commented on #1292
@UmungoBungo No, it is to make the render faster. A usecase that arises often (also in your app) is that you render something on top of a video, and instead of screenshotting a Video tag you would just render the overlay and then use FFMPEG to overlay it

[2022-09-08 09:28] B3nnjoe opened #1300 "Loop argument on Video, Audio and OffthreadVideo"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%24167%20Rewarded-%237E24E3.svg" />](https://issuehunt.io/r/remotion-dev/remotion/issues/1300)

**🎃 This issue is part of our Hacktoberfest campaign!**
📚 [Read more about Hacktoberfest here](https://remotion.dev/hacktoberfest)
🕛 This issue is currently assigned to @DerrykBoyd

# Feature Request 🛍️
A loop argument on `<Video/>

[2022-09-08 10:55] lirazhad commented on #756
@JonnyBurger is it possible to use remotion lambda with react native?

[2022-09-08 19:53] Joshfindit opened #1301 "Bug: distinction between 0.0.0.0 and localhost is not clear"
# Bug Report 🐛

1. `npm start` shows `Server running on http://localhost:3000`
2. The documentation has no mention of `localhost` or `0.0.0.0` (which is a shorthand for "all available IPv4 addresses")
3. `npm start` actually binds to `0.0.0.0:3000`
    - Pro: This allows us to access the web UI from another machine on the network. Especially necessary as there is no command similar to `--bind 0.0.

[2022-09-09 19:09] #650 closed

[2022-09-10 07:28] JonnyBurger commented on #756
@lirazhad Usually a Lambda render is invoked on the server or through a serverless function. So you'd have to expose it through an HTTP endpoint and you'll be able to use it in React Native (in a webview still). I see some people doing this.

[2022-09-10 07:31] JonnyBurger commented on #1301
Thanks for raising this, a good point!
Few people ask for changing the network interface behavior so I agree it's better to more precisely output where it's listening.

Do you have any expertise on how other projects achieve this?

[2022-09-10 07:39] JonnyBurger commented on #1300
Thanks for filing, this is a valid issue!
It will not be slower if you use Loop though, Remotion will not download it multiple times. Still I think it would be a nicer API!

[2022-09-11 09:21] JonnyBurger opened #1304 "Setting REMOTION_LAMBDA=true variable will break Lambda CLI"

[2022-09-11 18:42] #1304 closed

[2022-09-12 15:37] gexin1 commented on #1276
I found a way to generate gifs from png

1.  we set options  get transparent  png
[code]
2.  Combine PNG into gif

[code]
3. I got

![test3](https://user-images.githubusercontent.com/29362252/189695947-5e8ffb3f-a5d1-4a21-80c4-43b5e003776d.gif)

[2022-09-12 17:05] JonnyBurger commented on #1276
Thanks a lot for those suggestions, I will try them!

[2022-09-13 09:45] satelllte opened #1306 "Experts page lags on scroll"
# Bug Report 🐛

On https://www.remotion.dev/experts page there's a lag when user scrolls it. The lag caused by `background-attachment: fixed;` on https://www.remotion.dev/img/background-hire-page.svg asset as background.

Reproducible in Chrome 105 / Mac OS 11.4

_I didn't find out yet how to fix it unfortunatelly, so reporting an issue with a bug_

[2022-09-13 14:03] JonnyBurger commented on #1306
This is a good point, it's most likely because of the background image. @MehmetAdemi Maybe we need to remove the shadow which might be expensive, or if it still causes a lag, we remove it entirely.

[2022-09-13 14:10] satelllte commented on #1306
@JonnyBurger @MehmetAdemi
I think it's not about any shadow but about using `background-attachment: fixed` which I believe might be workarounded somehow.

[2022-09-13 16:00] satelllte commented on #1306
@JonnyBurger @MehmetAdemi
Didn't find anything yet except just making a fixed-position `div` with the background

[2022-09-14 13:12] JonnyBurger opened #1309 "Get total progress from renderMedia() API"
Right now you only get `renderedFrames` and `encodedFrames`, it would be convenient to get an average of both

[2022-09-14 15:12] patsalv opened #1310 "Render on lambda should not be executed for videos consisting of less than 4 frames"
# Bug Report 🐛
Render must not be executed and error message should be provided

[2022-09-15 01:48] gexin1 commented on #1247
[	const task = execa(options.ffmpegExecutable ?? 'ffmpeg', ffmpegString,](https://github.com/remotion-dev/remotion/blob/df56069c6700389c8c1a988c066c15f0f718fd5a/packages/renderer/src/stitch-frames-to-video.ts#L367)
Can add a hook so that developers can control the final ffmpeg command，
Is this proposal feasible

[2022-09-15 14:52] #1306 closed

[2022-09-16 07:19] patsalv opened #1315 "Scale missing in some documentations"
Add `scale` to renderMediaOnLambda and renderStillOnLambda documentation

[2022-09-16 12:52] JonnyBurger commented on #712
Done!

[2022-09-16 12:52] #712 closed

[2022-09-16 13:03] #1315 closed

[2022-09-16 13:34] #1309 closed

[2022-09-16 13:36] #1310 closed

[2022-09-16 14:47] #1239 closed

[2022-09-19 07:36] JonnyBurger opened #1326 "Load compositions from a URL"
Let's say you have 1000 templates / compositions.
How do you load them into the player without having a huge bundle size?

A possible solution might be module federation: https://webpack.js.org/concepts/module-federation/

We should provide a clear answer to this question in the docs and possible make a code change to support it.

[2022-09-19 11:09] Wulfheart commented on #79
@JonnyBurger How did this turn out?

[2022-09-19 13:06] JonnyBurger commented on #79
@Wulfheart It's possible, but there will be a lot of code duplication. I'm afraid that it will multiply the maintenance burden, so I'll hold off for the moment.

[2022-09-19 13:20] #1134 closed

[2022-09-19 17:29] BrayanLope5 opened #1330 "FInal render different than preview for SVG"
I am using SVG images and no matter how I bring it into remotion, the final mp4 is different than the preview. I am using styled component and using scale to scale an svg. The preview shows the correct scaling but the final render seems to show the original size of the svg.

**Preview with scaling using styled-components**
![preview](https://user-images.githubusercontent.com/74095547/191074569-993

[2022-09-19 18:10] JonnyBurger commented on #1330
Hi @BrayanLope5! thanks for opening the issue! can you provide a small snippet that can demonstrate the issue?

[2022-09-19 21:03] BrayanLope5 commented on #1330
@JonnyBurger this is the moon component.

[code]
This will show what I am trying to achieve on the preview but not on the final mp4 render. The `scale: 1.7` is not being properly rendered on the final mp4.
I've also tried using `staticFile` and that didn't change anything.

[2022-09-20 17:58] JonnyBurger commented on #1330
Hi @BrayanLope5! I tried with the following component:

[code]

and it rendered as expected, same as in the preview.

One reason might be that a different browser is used for rendering than in the preview, and since the `scale: 2` syntax is very new, the browser that is being used does not support it yet. You can test this hypothesis by instead setting `transform: scale(1.7)` instead.

[2022-09-20 18:30] BrayanLope5 commented on #1330
@JonnyBurger You are correct! Using `transform` fixed it.

I am on Manjaro Linux which is Arch based. I had chromium installed but when I ran `npm run build` the first time it installed chromium again not recognizing that I already had it installed.

I've also come across the release notes where you make mention of `setBrowserExecutable()` and `--browser-executable` so that should fix my problem.

[2022-09-20 18:30] #1330 closed

[2022-09-21 10:11] JonnyBurger commented on #1330
Nice, glad it got solved!

[2022-09-21 12:59] JonnyBurger commented on #882
Fixed in e7f919685969c63549639700383e221bd0c075b0 + 767dfc92486af5fd152765a8ad18f44ce84abd65 + da390f266e2794bc7fae3bda1e4a53daa0dc94df!

[2022-09-21 12:59] #882 closed

[2022-09-22 16:39] #1281 closed

[2022-09-22 21:08] reactone opened #1338 "Error [ERR_HTTP_HEADERS_SENT]: Cannot set headers after they are sent to the client"
When running 'yarn start' to run the preview / player I got the following error. Any advice?

[2022-09-23 09:10] JonnyBurger commented on #1338
Hi @reactone! I don't see it by default, so I suspect it happens with a specific version. Can you run `npx remotion versions` and `node -v` and tell me the output as a first step?

[2022-09-23 12:10] JonnyBurger opened #1340 "Bad error message when running command `npx remotion render src/index.tsx framer --log=verbose --sequence`"
This should not happen

[2022-09-24 12:15] reactone commented on #1338
It happens no matter which node version Im using. So when I setup the project initially and preview the video it all works.
Ive tried to add react-movable and then when I try to run preview again using the cli I get this error. I thought its something with the movabkle package itself, so I set up a new project with CRA using the guide on the website -[(https://www.remotion.dev/docs/player/integrat

[2022-09-24 13:54] samdoeswork opened #1342 "OffthreadVideo error when trying to screenshot 0.000ms"
When using OffthreadVideo this error is raised by FFMPEG
"Invalid duration specification for ss: 0.000ms"

Hopefully it's a simple fix to not take the screenshot if that's the duration, or to automatically replace it with 0.001

[2022-09-25 07:55] JonnyBurger commented on #1338
Hi @reactone, thanks for providing more information.
I used Node 18.9.0 and the latest Remotion version and couldn't reproduce the error.

As far as I understand you combine Remotion with Create React App - I suspect they might share ports together and that might cause an error in the Remotion server if the React App talks to Remotion. I improved this somewhat by logging the error in 2f0dcff7e1add

[2022-09-25 08:27] JonnyBurger commented on #1342
Hi @samdoeswork!

Thanks a lot for the report, in my version of FFMPEG actually this does not happen (`ffmpeg -ss 0.000ms -i public/framer.webm -frames:v 1 -f image2 -vcodec mjpeg out.png`).

Can you post the output of `ffmpeg -buildconf`? It seems like the last version of FFMPEG that would fail on `0` is from 2011, which seems unlikely but it's good to check!

[2022-09-25 10:34] #711 closed

[2022-09-26 21:02] ElaminiSoulaimane commented on #570
I have a little experience with ffmpeg.wasm, when the node side works like the browser side, in addition to dealing with speed issues, there are a lot of workers that are opened and not closed when the work is done, so 'I' to get a pretty heavy memory question. Even if speed isn't an issue, I wouldn't recommend using it on a server until this is fixed.

[2022-09-27 08:34] JonnyBurger commented on #570
Thanks @ElaminiSoulaimane for sharing your experience!

[2022-09-27 08:39] JonnyBurger opened #1344 "Report slowest frames of renderMedia()"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%24167%20Rewarded-%237E24E3.svg" />](https://issuehunt.io/r/remotion-dev/remotion/issues/1344)

**🎃 This issue is part of our Hacktoberfest campaign!**
📚 [Read more about Hacktoberfest here](https://remotion.dev/hacktoberfest)
🕛 This issue is currently assigned to @uragirii!

There is already a function for finding the slowes

[2022-09-28 12:29] JonnyBurger opened #1348 "`imageFormat`, `maxRetries`, `privacy` should not be mandatory for renderMediaOnLambda()"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%24112%20Rewarded-%237E24E3.svg" />](https://issuehunt.io/r/remotion-dev/remotion/issues/1348)

**🎃 This issue is part of our Hacktoberfest campaign!**
📚 [Read more about Hacktoberfest here](https://remotion.dev/hacktoberfest)
🕛 This issue is currently assigned to @uragirii and is not available for taking.

## Acceptance crit

[2022-09-28 16:29] #1199 closed

[2022-09-29 14:48] uragirii commented on #1348
Is there a claim process or do I just directly submit the PR?

[2022-09-30 08:02] UmungoBungo opened #1352 "volume component of Player is not responsively designed"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%24167%20Rewarded-%237E24E3.svg" />](https://issuehunt.io/r/remotion-dev/remotion/issues/1352)

**🎃 This issue is part of our Hacktoberfest campaign!**
📚 [Read more about Hacktoberfest here](https://remotion.dev/hacktoberfest)
🕛 This issue is currently assigned to @Pompette and is not for the taking.

# Bug Report 🐛
When usin

[2022-09-30 15:35] JonnyBurger opened #1353 "SIGINT signals are not handled gracefully"
https://github.com/remotion-dev/remotion/blob/33668831b0335fcf1ff5580e53046dad97ff6273/packages/renderer/src/browser/Launcher.ts#L60-L63

These intercept SIGINT signals - now if one tries to add a SIGINT handler itself, it will be ignored.

[2022-09-30 15:39] JonnyBurger commented on #1348
@uragirii You can reserve this issue, the official start is on October 4th, which is why there is no bounty on it yet, but we don't mind if you submit a PR before and we'll pay it out nonetheless!

[2022-09-30 16:25] gexin1 opened #1354 "Delete the puppeter user-data-dir (chrome-user-dirxxx) and puppeteer_dev_chrome_profile after rendering"
# Bug Report 🐛

[2022-09-30 16:36] gexin1 commented on #1354
1.  When i use “disableWebSecurity” option  ,Remotion will automatically append the --user-data-dir flag.  Not cleared after rendering.
2.  puppeteer create directory [puppeteer_dev_chrome_profile-xx]
3.  remotion not clean react-motion-renderxxx

They fill my tmp folder 😂

[2022-10-01 05:02] uragirii commented on #1250
Can I work this? I have created a [repo for benchmarking](https://github.com/uragirii/remotion-bench) already.

[2022-10-03 08:10] JonnyBurger opened #1359 "Old Node/FFMPEG version should trigger an error even when rendering via Node.JS APIs"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%24112%20Rewarded-%237E24E3.svg" />](https://issuehunt.io/r/remotion-dev/remotion/issues/1359)

**🎃 This issue is part of our Hacktoberfest campaign!**
📚 [Read more about Hacktoberfest here](https://remotion.dev/hacktoberfest)
🕛 This issue is currently taken by @JRavi2!

---

## Hacktoberfest Acceptance Criteria

- Currently

[2022-10-03 09:06] JonnyBurger commented on #1250
@uragirii Yes you can! Will respond to your PRs by tomorrow. Awesome stuff 🤗

[2022-10-03 12:00] JonnyBurger opened #1360 "Allow `timeupdate` event frequency to be increased"
At the moment, the `timeupdate` event fires only every 250ms. It would be nice if that can be increased so that every update can be caught and the timeline be made smoother

[2022-10-03 13:43] JonnyBurger commented on #1248
Acceptance criteria:

- Should handle `npx remotion lambda render [serve-url] [comp-name] --out-name=out.mp3` (higher priority)
- Should handle `npx remotion lambda render [serve-url] [comp-name] out.mp3`
- Should error when a conflicting setting is used `npx remotion lambda render [serve-url] [comp-name] --out-name=out.mp3 --codec=gif`, reuse code from `packages/renderer/src/validate-output-filen

[2022-10-03 14:09] imrishabh18 commented on #1352
@JonnyBurger I would like to take up this issue. Can you assign this to me please?

[2022-10-03 14:22] JonnyBurger opened #1361 "Write a tutorial for how to export from Figma to Remotion"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%24111%20Rewarded-%237E24E3.svg" />](https://issuehunt.io/r/remotion-dev/remotion/issues/1361)

**🎃 This issue is part of our Hacktoberfest campaign!**
📚 [Read more about Hacktoberfest here](https://remotion.dev/hacktoberfest)
🕛 This issue is currently taken by @kaf-lamed-beyt

---

Right now this is a Twitter video:

https:/

[2022-10-03 14:28] JonnyBurger opened #1362 "Issue a warning if using an Apple Silicon Mac under Rosetta"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%24112%20Rewarded-%237E24E3.svg" />](https://issuehunt.io/r/remotion-dev/remotion/issues/1362)

**🎃 This issue is part of our Hacktoberfest campaign!**
📚 [Read more about Hacktoberfest here](https://remotion.dev/hacktoberfest)
🕛 This issue is currently assigned to @danmana and is not for taking

---

Node 14 uses Rosetta unde

[2022-10-03 14:30] JonnyBurger commented on #1352
@imrishabh18 It was already started by @Pompette unfortunately!
Mind taking another issue with the Hacktoberfest label?

[2022-10-03 14:33] JonnyBurger opened #1363 "Load new env variables if `.env` has changed"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%24164%20Rewarded-%237E24E3.svg" />](https://issuehunt.io/r/remotion-dev/remotion/issues/1363)

**🎃 This issue is part of our Hacktoberfest campaign!**
📚 [Read more about Hacktoberfest here](https://remotion.dev/hacktoberfest)
🕛 This issue is currently assigned to @Slashgear and not for taking

---

## Acceptance criteria

-

[2022-10-03 14:36] JonnyBurger commented on #1348
Acceptance criteria for this PR:

- Have sensible default values
- Mention in docs that properties are optional and since which version
- Mention default values in docs

[2022-10-03 14:37] imrishabh18 commented on #1352
Okay, the issues here on GitHub labeled `hacktoberfest` is not assigned to anybody. So, can't make out which one's are up-for-grabs?

[2022-10-03 14:38] JonnyBurger commented on #1352
Acceptance criteria for this PR:

- Make slider go upwards if space is not sufficient
- Be resilient if used in Next.JS server-side rendering / React strict mode
-

[2022-10-03 14:40] JonnyBurger commented on #1352
Sorry, I'm still preparing all the issues and will mention in each one of them clearly which ones are taken and how to claim one. Check back in a few hours!

[2022-10-03 15:08] Slashgear commented on #1363
👋🏻
I could definitely take that @JonnyBurger

[2022-10-03 15:09] Slashgear commented on #1283
@JonnyBurger Could I take that ?

[2022-10-03 15:19] JonnyBurger commented on #669
I will do this myself as part of #1048

[2022-10-03 17:48] kaf-lamed-beyt commented on #1361
Hi @JonnyBurger,

I'd love to take on this issue

[2022-10-03 18:38] uragirii commented on #1344
I'd like to work on this 😄

[2022-10-03 19:12] JonnyBurger commented on #1344
@uragirii I'll make a new rule for Hacktoberfest that you need to finish a PR before tackling the next one! (Will post all rules in a few moments).

I know that this can only proceed if I review the PRs, I will prioritize that tomorrow!

[2022-10-03 19:13] JonnyBurger commented on #1361
@kaf-lamed-beyt You got it!

[2022-10-03 19:21] JonnyBurger opened #1365 "🎃 Hacktoberfest Rules: Read this first"
We are welcoming pull requests for DigitalOcean's [Hacktoberfest](https://hacktoberfest.com)!
To make it sweeter, we are putting up $4000 in bounties up for grabs:

- $2000 by Remotion
- $2000 sponsored by [CodeChem](https://codechem.com)!

<a href="https://codechem.com" target="_blank">
<img src="https://user-images.githubusercontent.com/1629785/195054814-eeeb982b-2ce6-47c3-a95a-eb4f5c185586.png"

[2022-10-03 19:27] uragirii commented on #1344
Haha! sure i will finish my pending PRs first then.

[2022-10-03 19:52] JonnyBurger commented on #1363
As discussed via DM, the issue is unassigned until the other one by Antoine is merged :) It will probably be gone by tomorrow!

[2022-10-04 00:57] wa-candra commented on #1359
Hi @JonnyBurger ,

can I take this issue? I think I can handle this.

Thanks

[2022-10-04 02:05] DerrykBoyd commented on #1300
Hi @JonnyBurger

I'd like to take this issue on! Thanks

[2022-10-04 05:50] kaf-lamed-beyt commented on #1361
Great! 🚀

[2022-10-04 05:57] kaf-lamed-beyt commented on #1361
Hi @JonnyBurger,

The description of this issue says I should "create a new documentation page under the `Techniques` section" but I can't really locate that. I've navigated into the [docs](https://github.com/remotion-dev/remotion/tree/main/packages/docs/docs) folder, and I'm not seeing anything related to that. Perhaps you could show me?

[2022-10-04 07:55] gexin1 commented on #1354
1. Delete the folder after rendering (chrome-user-dir) .
2. Can the [puppeteer pr](https://github.com/puppeteer/puppeteer/pull/8580)  be merged into remotion ?

[2022-10-04 08:25] JonnyBurger commented on #1354
@gexin1 Thanks for the pointers! Hope to tackle it this week.

[2022-10-04 08:27] JonnyBurger commented on #1361
Hi @kaf-lamed-beyt, look for a file called `sidebars.js` that defines the sections on the left! You can edit it to add a new page to that section.

[2022-10-04 08:28] #1283 closed

[2022-10-04 09:08] #1348 closed

[2022-10-04 09:23] danmana commented on #1362
Hi, I'd like to take this.

Did I understand correctly that the warning message should be shown when the CPU model is Apple silicon (M1 or others from the family), but the architecture is x64 instead or arm64.

The recommendation would be:
* if using Node 14 -> upgrade to node 16
* if using Node 16 -> recommend using `arch -arm64`

[2022-10-04 09:49] paulkuhle commented on #1006
I'd like to take this if it's still available!

[2022-10-04 11:02] JonnyBurger commented on #1006
@paulkuhle Very nice! Good luck and feel free to chat with me if you have questions!

[2022-10-04 11:05] JonnyBurger commented on #1362
@danmana Nice, good luck!
Yes that is correct, if that also seems to you like the best way to do it, let's take this route.

[2022-10-04 11:06] JonnyBurger commented on #1300
@DerrykBoyd Nice, good luck! Assigned you

[2022-10-04 11:56] kaf-lamed-beyt commented on #1361
Awesome!

I'll get started now

[2022-10-04 12:24] JonnyBurger commented on #1352
Fixed by #1356

[2022-10-04 12:24] #1352 closed

[2022-10-04 13:19] #1360 closed

[2022-10-04 15:03] JonnyBurger commented on #1353
I investigated the issue and concluded that the current behavior is the best we can do.

When the process quits, Chrome should be killed, therefore adding a SIGINT listener is appropriate.

By attaching a SIGINT listener, we get the opportunity to execute some code synchronously.
On Linux and macOS, the process will exit afterwards (forcefully), while on Windows, the process will not.
We have no o

[2022-10-04 15:03] #1353 closed

[2022-10-04 17:32] Slashgear commented on #1247
👋🏻 @JonnyBurger As I almost finish another issue, maybe I could take that one if you want :)

[2022-10-05 06:13] marcusstenbeck opened #1370 "getAudioData() returns system sample rate instead of audio file sample rate"
The audio context will re-sample an audio file decoded with `BaseAudioContext.decodeAudioData()`.

Getting the sample rate from the audio file doesn't seem to be completely trivial (if possible): https://github.com/WebAudio/web-audio-api/issues/30

-----------

### When does the AudioContext sample rate change?

For me I discovered this when I plugged in my external audio interface. The AudioConte

[2022-10-05 09:18] JonnyBurger commented on #1370
Thanks for that! Should This could be useful to add to the docs, shall I paste this into the getAudioData() docs?
I guess we have no option to change the behavior, so there is nothing actionable in the code?

[2022-10-05 09:23] JonnyBurger commented on #1247
@Slashgear You got it! 🙌

[2022-10-05 09:46] marcusstenbeck commented on #1370
@JonnyBurger I'm not convinced that it's completely unactionable, so I suggest holding off adding too much in the docs right now. Possibly link to this issue in a foot note?

[2022-10-05 17:46] danmana commented on #1362
Added a PR.

First time working with remotion, so I'm open for feedback.
Note: I wasn't able to test the doc changes, docusaurus kept crashing ...

[2022-10-05 19:58] JonnyBurger commented on #1362
Thanks a lot, will give this a review tomorrow! Looking good! 🙌🏼

[2022-10-05 20:29] danmana commented on #1362
I managed to get docusaurus running and realized I added the docs in the wrong place and forgot to link to it in the sidebar.
I updated the PR with this fix

[2022-10-06 08:28] #1362 closed, assigned to danmana

[2022-10-06 09:23] #1363 closed

[2022-10-06 09:47] JonnyBurger commented on #1359
@wa-candra Yes, you got it!

[2022-10-06 10:33] Pompette commented on #1300
I'd love to work on this if @DerrykBoyd doesn't have the time to do it, let me know :) !

[2022-10-06 14:35] JonnyBurger opened #1376 "Write a tutorial on how to import a design from spline.design into Remotion"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%24196%20Rewarded-%237E24E3.svg" />](https://issuehunt.io/r/remotion-dev/remotion/issues/1376)

**🎃 This issue is part of our Hacktoberfest campaign!**
📚 [Read more about Hacktoberfest here](https://remotion.dev/hacktoberfest)
🕛 This issue is taken by @ayatkyo!
💰 Thanks to [CodeChem](https://codechem.com) for sponsoring this

[2022-10-06 15:12] JonnyBurger opened #1377 "If user does not pass a composition in the command line, show a list of compositions"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%240%20Funded-%2300A156.svg" />](https://issuehunt.io/r/remotion-dev/remotion/issues/1377)

**🎃 This issue is part of our Hacktoberfest campaign!**
📚 [Read more about Hacktoberfest here](https://remotion.dev/hacktoberfest)
✅ This issue is currently taken by @Uzunov-Stefan!
💰 Thanks to [CodeChem](https://codechem.com) for spon

[2022-10-07 08:04] kaf-lamed-beyt opened #1379 "fix installation and development guide to use pnpm instead of yarn"
When I try using yarn to start the development process locally on my PC. I get this error below, and I'd love to fix it.

![yarn error](https://user-images.githubusercontent.com/48127194/194503950-a94f674b-5953-4d92-abb5-2afc26e23f61.png)

Doing `pnpm pstart` or `pnpm install` fixes this

[2022-10-07 09:27] Slashgear commented on #1247
I will send you a draft PR with my intention and vison about it, we need to discuss what the best solution because for now I am not a big fan how the one I took. Maybe the way we pass params to `ffmpeg` is not clear enough to me.

[2022-10-07 12:54] #1248 closed

[2022-10-07 15:18] #1379 closed

[2022-10-07 15:19] JonnyBurger commented on #1379
Thanks for reporting! I guess you did this because it was written like that in packages/docs/README.md. I updated that document now, if you have more ideas on how to avoid developers getting confused, feel free to let me know.

[2022-10-07 15:32] uragirii commented on #1344
@JonnyBurger now that all the other PRs are finished, can i work on this ?

[2022-10-07 15:32] JonnyBurger commented on #1344
@uragirii Assigned it to you!

[2022-10-07 15:33] #1250 closed

[2022-10-07 16:13] kaf-lamed-beyt commented on #1379
Great! I'll definitely do so. 😎

[2022-10-07 16:23] clearlysid commented on #1377
oh yes please, this feature will be quite a timesaver for me. @JonnyBurger I'm happy to help fund this too, if you'd like.

[2022-10-07 16:30] JonnyBurger commented on #1377
@clearlysid Thanks a lot! No need, we got you 😁

[2022-10-07 18:42] aacevski commented on #1376
I'd like to work on this, if possible 🚀

[2022-10-07 18:46] JonnyBurger commented on #1376
@aacevski Reserved it for you! No guarantee that this will become a Hacktoberfest issue or that it will hold a bounty, but stay tuned  because we hope to make it happen 🙂

[2022-10-07 18:53] Uzunov-Stefan commented on #1377
Hi @JonnyBurger
I would like to work on this issue

[2022-10-07 19:03] JonnyBurger commented on #1377
@Uzunov-Stefan Reserved it for you! No guarantee that this will become a Hacktoberfest issue or that it will hold a bounty, but stay tuned because we hope to make it happen 🙂

[2022-10-08 04:22] DerrykBoyd commented on #1300
Hey @JonnyBurger

I tried this out tonight, but I ended up getting a little stuck. I may need some help.

I tried to follow the general steps in the description and I can get the video looping, but there seems to be two videos playing and one just overlays on top showing the last frame all the time.

What's the best way for me to share my work and get feedback? Just open up a draft PR maybe? Even

[2022-10-10 16:19] ivanandresdiaz opened #1388 "envVariables of renderMediaOnLambda()"
Context:
I took the steps to render my video with Lambda. So I generate the page. https://remotionlambda-mrpeqb4h7s.s3.us-east-1.amazonaws.com/sites/my-video/index.html

I am able to render the video from CLI. perfectly.

However, I plan to render the video from Cloud functions Firebase (Nodejs).
    "@remotion/lambda": "^3.2.29"
    "firebase-admin": "^10.0.2",
    "firebase-functions": "^3.18.0"

[2022-10-10 18:48] #1344 closed

[2022-10-10 19:48] JonnyBurger commented on #1388
Hi Ivan!

By setting them manually, we mean not passing them to envVariables, but before calling renderMediaOnLambda, set it like this:

process.env.REMOTION_AWS_ACCESS_KEY = "xxx"

Does that help? I see we need to clarify some docs!

[2022-10-11 07:48] #1300 closed

[2022-10-11 08:11] JonnyBurger opened #1389 "`<Thumbnail>` component"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%24223%20Rewarded-%237E24E3.svg" />](https://issuehunt.io/r/remotion-dev/remotion/issues/1389)

**🎃 This issue is part of our Hacktoberfest campaign!**
📚 [Read more about Hacktoberfest here](https://remotion.dev/hacktoberfest)
⏲️ This issue is currently assigned to @Slashgear!
💰 Thanks to [CodeChem](https://codechem.com) for

[2022-10-11 08:24] JonnyBurger opened #1390 "Package up `<MotionBlur>` component"
🎃 This issue will become a Hacktoberfest issue with a bounty soon! Stay tuned 🥨

The following component by @UmungoBungo: https://github.com/remotion-dev/motion-blur-example

already exists, but is not easily installable. This task is about packaging up the component and make a new module in the monorepo. IMO the names of the props that I have chosen are not super clear, and are open for improveme

[2022-10-11 08:25] JonnyBurger commented on #1006
Fixed by #1369

[2022-10-11 08:38] JonnyBurger opened #1391 "Make entry point optional"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%24167%20Rewarded-%237E24E3.svg" />](https://issuehunt.io/r/remotion-dev/remotion/issues/1391)

**🎃 This issue is part of our Hacktoberfest campaign!**
📚 [Read more about Hacktoberfest here](https://remotion.dev/hacktoberfest)
🕛 This issue is currently assigned to @Pompette
💰 Thanks to [CodeChem](https://codechem.com) for spo

[2022-10-11 13:53] ayatkyo commented on #1391
Hi @JonnyBurger, I would like to work on this issue if possible.

[2022-10-11 15:04] JonnyBurger commented on #1391
@ayatkyo Yes, however note the requirement that this issue can only be started once #1377 is done. I'll ask you to confirm again once that is the case!

[2022-10-11 15:18] iboshkov commented on #1390
I actually started working on this earlier in order to familiarize myself with the repo, I will open a PR soon.

[2022-10-11 15:22] JonnyBurger commented on #1390
@iboshkov Cool, assigned you!

[2022-10-11 15:36] JonnyBurger commented on #1390
Since @iboshkov is from the company that sponsors the bounty, he has given up the bounty and we'll fund another issue with it :) Thanks a lot!

[2022-10-11 15:41] #1361 closed

[2022-10-11 15:46] JonnyBurger commented on #968
Fixed using https://www.remotion.dev/docs/brownfield

[2022-10-11 15:46] #968 closed

[2022-10-11 16:43] Slashgear commented on #1389
Hi @JonnyBurger Could I take this one after the on that I almost finished.
I already work on few rendering sujet but working on remotion component is really something I want to try :)

[2022-10-11 16:54] JonnyBurger commented on #1389
@Slashgear Sure! Go ahead 😊

[2022-10-11 18:44] ivanandresdiaz commented on #1388
Hello Jhony,

**I  solved the problem**. However, I will explain a little bit about the problem. Just for the **sake of you know** that I think **remotion-lamba is not working calling it from Firebase  Cloud functions**, at least in the version ("firebase-functions": "^3.18.0").

I was using **Firebase Cloud functions** and I set the env variables. I could **access these env variables** in my func

[2022-10-11 18:44] #1388 closed

[2022-10-11 19:29] JonnyBurger opened #1394 "Easy to import Google Fonts using `@remotion/google-fonts`"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%24279%20Rewarded-%237E24E3.svg" />](https://issuehunt.io/r/remotion-dev/remotion/issues/1394)

**🎃 This issue is part of our Hacktoberfest campaign!**
📚 [Read more about Hacktoberfest here](https://remotion.dev/hacktoberfest)
🕛 This issue is taken by @ayatkyo!
💰 Thanks to [CodeChem](https://codechem.com) for sponsoring this

[2022-10-11 19:35] JonnyBurger commented on #1389
@priyang12 Already assigned this issue now to @Slashgear :(

Mind taking another one or coming back to this if it becomes inactive?

[2022-10-11 20:11] priyang12 commented on #1389
@JonnyBurger  ok

[2022-10-12 12:25] JonnyBurger opened #1395 "Implement a `@remotion/noise` package"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%24223%20Funded-%2300A156.svg" />](https://issuehunt.io/r/remotion-dev/remotion/issues/1395)

**🎃 This issue is part of our Hacktoberfest campaign!**
📚 [Read more about Hacktoberfest here](https://remotion.dev/hacktoberfest)
🕛 This issue is currently taken by @satelllte!
💰 Thanks to [CodeChem](https://codechem.com) for sponso

[2022-10-12 12:36] JonnyBurger opened #1396 "Implement a Remix + Remotion + Lambda template"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%24280%20Rewarded-%237E24E3.svg" />](https://issuehunt.io/r/remotion-dev/remotion/issues/1396)

**🎃 This issue is part of our Hacktoberfest campaign!**
📚 [Read more about Hacktoberfest here](https://remotion.dev/hacktoberfest)
⏲️ This issue is currently assigned to @florentpergoud!
💰 Thanks to [CodeChem](https://codechem.com)

[2022-10-12 12:37] florentpergoud commented on #1396
Hi !
Can I take this issue ? :)

[2022-10-12 13:24] uragirii commented on #740
Can i work on this?

[2022-10-12 13:27] JonnyBurger commented on #740
@uragirii Assigned!

[2022-10-12 14:02] satelllte commented on #1395
Hey @JonnyBurger. I'd like to work on this

[2022-10-12 15:53] JonnyBurger commented on #1395
@satelllte Assigned!

[2022-10-12 18:14] JonnyBurger commented on #1394
Yes! Assigned you 😁

[2022-10-12 18:15] JonnyBurger commented on #1391
@ayatkyo has taken another issue for now, so it is free now. Still need to wait for the other one to get merged though.

[2022-10-12 18:16] JonnyBurger commented on #1377
@Uzunov-Stefan The issue now has a bounty for Hacktoberfest! Would you stilll like to work on this issue?

[2022-10-12 18:29] Uzunov-Stefan commented on #1377
@JonnyBurger
Yes, I'd still like to work on this issue
Thanks

[2022-10-12 19:14] JonnyBurger commented on #1377
@Uznov-Stefan perfect!

[2022-10-12 19:32] JonnyBurger commented on #1394
Interesting observation! Maybe on https://developers.google.com/fonts/docs/developer_api you can get the complete list as JSON?

On this site you can make a request through the console without having to give an API key.

[2022-10-13 11:07] Pompette commented on #1391
Hey @JonnyBurger , if it's still available I'd like to work on this one :) !

[2022-10-13 11:43] marcusstenbeck commented on #1394
Hey y'all,

I was battling with this too. This is a solution that works for me in `<Player />`, `<IframePlayer />` and in server-side rendering.

What I like about the technique is that it's dirt simple, and uses the `@import` directive in CSS which I personally find much easier to use than JavaScript-based options.

I'm happy to contribute a PR of some sort with the technique.

https://gist.githu

[2022-10-13 11:50] marcusstenbeck commented on #1394
If you want to go down the parser rabbit hole I suggest having a look at [peggy](https://peggyjs.org/index.html). It's a library for creating parsers. 🤓

[2022-10-13 13:12] JonnyBurger opened #1400 "Solve GitHub actions deprecation warnings"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%24112%20Rewarded-%237E24E3.svg" />](https://issuehunt.io/r/remotion-dev/remotion/issues/1400)

**🎃 This issue is part of our Hacktoberfest campaign!**
📚 [Read more about Hacktoberfest here](https://remotion.dev/hacktoberfest)
✅ This issue is currently taken by @glokta1!
💰 Thanks to [CodeChem](https://codechem.com) for sponso

[2022-10-13 13:18] JonnyBurger commented on #1377
@Uzunov-Stefan has said he wants to waive the bounty and to be reassigned to a different issue. We are happy to do that!

[2022-10-13 13:19] JonnyBurger commented on #1391
@Pompette Assigned! You just have to wait for #1377 to get solved.

[2022-10-13 17:05] nandorojo commented on #659
@JonnyBurger weirdly I have once again gotten this issue (only when rendering). I tried adding `--angle=gl` when exporting my video, but still no luck.

<img width="1179" alt="Screen Shot 2022-10-13 at 12 59 15 PM" src="https://user-images.githubusercontent.com/13172299/195659995-aae75a0d-f748-4a9a-aa84-08ef92f2bedb.png">

^ preview mode, works properly

<img width="1143" alt="Screen Shot 2022-10-

[2022-10-13 18:32] Pompette commented on #1391
Thanks @JonnyBurger , but I'm not sure to understand if the issue #1377 is taken by someone regarding your last comment on it. Is it currently WIP ?

[2022-10-14 12:48] druwan commented on #1400
Hi, can I make an attempt for this?

[2022-10-14 13:04] JonnyBurger commented on #659
Hi @nandorojo!

I tried to break down the example into a component that I could run:

[code]

To render:

[code]

Newest Remotion version, default settings. It seems to work for me!
Are you able to find the difference between my and your setup and if you find a bug, can you provide a runnable component?

https://user-images.githubusercontent.com/1629785/195853717-97d3c717-7145-4be2-b6e4-f997e01dda

[2022-10-14 15:38] satelllte opened #1402 "[Techical Debt][TypeScript] create `RemotionSeed` type"
A sidebar found in https://github.com/remotion-dev/remotion/pull/1401/files#r995893301

I think it worth to consider creating such type in Remotion:

[code]

[2022-10-14 18:23] JonnyBurger commented on #740
It would be nice if you can replace everything inside the container that has the click listener attached.

[2022-10-15 14:16] florentpergoud commented on #1396
Hello @JonnyBurger !
Here is the template  : https://github.com/florentpergoud/remotion-remix-template/
Please tell me if it meets the expectations :)

[2022-10-15 16:07] glokta1 commented on #1400
Hi, I'd like to work on this

[2022-10-15 18:01] Ananya2003Gupta commented on #998
Can I work on this ?

[2022-10-15 20:14] exitflynn commented on #808
Hi @JonnyBurger I'd love to take up this issue!

[2022-10-16 08:14] glokta1 commented on #1400
Seems like deprecation for `set-output` and `save-state` have already been dealt with by the folks at `actions/cache`. See https://github.com/actions/cache/pull/950. Just need to update to the new versions.

[2022-10-16 09:54] JonnyBurger commented on #1400
@glokta1 Assigned and will take a look tomorrow! Thanks a lot!

@druwan Sorry for not responding swiftly!

[2022-10-16 09:54] JonnyBurger commented on #808
@exitflynn Assigned! Good luck!

[2022-10-16 09:56] JonnyBurger commented on #998
Gladly! Assigned you!

[2022-10-16 10:28] druwan commented on #1400
@JonnyBurger No worries mate 👍🏽

[2022-10-16 10:29] Ananya2003Gupta commented on #998
Can you please elaborate the problem and what possible solution should be implemented.

[2022-10-16 15:40] JonnyBurger opened #1406 "Turn `AcceleratedVideo` example into a documentation page"
I just wrote the following Discord message about how to accelerate the speed of a video over time:

[code]

It would be cool if we added this to the Snippets section (with better wording possibly than just some chat server message explanation) and added an embedded player (same as it happened in #1392)

[2022-10-17 12:27] JonnyBurger commented on #1400
@glokta1 How long do you estimate you spent on the 2 PRs? For statistics 😇

[2022-10-17 12:41] JonnyBurger commented on #1247
Fixed by #1380

[2022-10-17 12:41] #1247 closed

[2022-10-17 13:03] glokta1 commented on #1400
@JonnyBurger This one luckily ended up not requiring much. I'd say about an hour.

[2022-10-17 13:33] JonnyBurger commented on #1402
Good idea, I'm going to include that in your PR!

[2022-10-17 14:05] JonnyBurger commented on #1396
@florentpergoud Sorry that I am lagging a bit behind with the PR queue! :(
It looks like I will only be able to take a look tomorrow It will stay however on my radar!

[2022-10-17 14:08] JRavi2 commented on #1359
Hey @wa-candra @JonnyBurger, is this still active? If not, can I pick up this issue?

[2022-10-17 15:10] uragirii commented on #740
@JonnyBurger can you also accept the PR on issuehunt?

[2022-10-17 15:18] JonnyBurger commented on #740
@uragirii Sorry for missing that! Done now 💰

[2022-10-17 15:20] uragirii commented on #740
No problem 😉 thanks 🙏

[2022-10-17 15:27] JonnyBurger commented on #1359
Since the issue got inactive, a I'll hand it over to you!
Just checking if @wa-candra has not already started working on it?

[2022-10-17 18:50] Amatewasu commented on #1338
Hi both of you :)

I encountered the same error by forking the TypeScript template and installing the packages:
[code]
I also have node v18.9.0 installed, on Windows 11.

Here's my trace if it can helps:
[code]
Have a great day!

[2022-10-17 18:54] Amatewasu commented on #1338
Ok, I've ran `remotion upgrade` and it fixed the issue!

[2022-10-17 18:58] reactone commented on #1338
I remember it ran for me the first time, but when I close the terminal and run again it doesn’t. Did it permanently fix the issue?

[2022-10-18 01:50] gexin1 opened #1408 "renderMedia port parameter not added in document and static server max 100 concurrent"
https://github.com/remotion-dev/remotion/blob/71ac49eda4974cb1580d071c2fbf3fe9b287f7a5/packages/renderer/src/serve-static.ts#L24

When there is too much concurrency, the port may be occupied and not locked. This is my guess from the server log. I'm not sure. I will try [get-port](https://github.com/sindresorhus/get-port) and give feedback

[2022-10-18 10:53] ayatkyo commented on #1394
Yes, actually I use that to get the list of available fonts, but unfortunately the API only provides us with .ttf font and also no Unicode ranges.

I have completed the .ts font generator and will provide an example repo for testing here soon.

[2022-10-18 11:01] ayatkyo commented on #1394
@marcusstenbeck Thanks for sharing the code, it really helpful.

For the current CSS parser, I use [PostCSS](https://postcss.org/api/).
But the [peggy ](https://peggyjs.org/index.html) package looks interesting, I will definitely try it out in some projects.

[2022-10-18 12:28] #1395 closed

[2022-10-18 12:28] #1402 closed

[2022-10-19 08:08] JonnyBurger commented on #1394
You are right, the Google Developer API does not seem fit, I also don't see a way to get the WOFF files.
Glad to hear you are making progress!

I will investigate what Marcus said soon.

[2022-10-19 11:05] #1359 closed

[2022-10-19 11:12] JonnyBurger commented on #1400
Fixed by #1404

[2022-10-19 11:12] #1400 closed

[2022-10-19 17:34] JonnyBurger commented on #1391
@Pompette As of 2 dass ago, the issue is still active! We chatted on Discord about it

[2022-10-19 19:22] ayatkyo commented on #1394
Hi, I have created an example repo at https://github.com/ayatkyo/remotion-google-fonts-example

Use `pnpm generate-fonts` to generate all google fonts as .ts files.
The font metadata is included in generated .ts file so we don't need to parse a big JSON file.

I also export some other things besides `loadFont` for easy use.
For example, instead of typing the font family name manually, we can use t

[2022-10-19 19:40] ayatkyo commented on #1394
For this feature, I have tried checking all loaded fonts from `document.fonts` like this when call `loadFonts`:

[code]

But I don't know if this is the right solution.

I also add more conditions like `docfont.status == 'loaded'`, but if we call `loadFont()` twice, the second `loadFont()` call is not waiting for the first `loadFont()` call, so the condition remains `false` because the status is n

[2022-10-20 02:35] soumakkdev opened #1419 "Dark mode is broken in the remotion player website"
# Bug Report 🐛

In the footer section of the following website, dark mode is slightly broken
https://www.remotion.dev/player

![image](https://user-images.githubusercontent.com/100508336/196839899-174989c7-2bbc-416f-88f4-55137652a162.png)

[2022-10-20 02:36] soumakkdev commented on #1419
Please assign this issue to me, I'll start the PR

[2022-10-20 07:12] JonnyBurger commented on #1419
Fixed in #1420

[2022-10-20 07:12] #1419 closed

[2022-10-20 07:48] #1396 closed

[2022-10-20 15:37] exitflynn commented on #808
hello there! :wave:
i must admit that i was very much a newbie when it came to React and contributing to Open-Source in general when I took this issue up. I had seen the fireship video on Remotion and found the idea to be really neat. While I wanted to start contributing to open-source this hacktoberfest, I decided to search my history for nice repo's I had saved for later, remotion came up and wi

[2022-10-20 15:45] exitflynn commented on #808
I wanted to clarify which option would be more suitable, putting the `setHeight` and `getHeight` under Rendering or under the Output configType? [(for reference)](https://github.com/remotion-dev/remotion/blob/main/packages/cli/src/config/index.ts)

[2022-10-20 17:19] JonnyBurger commented on #808
@exitflynn That's awesome to hear! Love to hear a story of someone getting successfully started!

Both seems okay, if uncertain, you can put it in Config.Output!

[2022-10-21 10:09] exitflynn commented on #808
Thank you soo much for that response!

Apologies but major beginner question ahead, I am having trouble being able to figure out how to access the hardcoded values like the height and width of the video which the user would have specified. I am currently thinking that they'd be the ones in internals and could be accessed like so:

[code]

But since I am to work with the lambda cli functions, an in

[2022-10-21 11:01] JonnyBurger commented on #1408
Hey River,

I don't understand the issue. Can you describe which erroneous behavior you get?

[2022-10-21 11:07] #1338 closed

[2022-10-21 11:08] JonnyBurger commented on #1338
My belief is that another service in your computer is making a request to localhost:3000 and the Remotion server does not handle it well.

I changed it now so that there is no crash. If this happens again, there will also always be another error message - feel free to open an issue for those ones!

[2022-10-21 11:17] JonnyBurger commented on #808
@exitflynn Sure!

Using useVideo() you only access the height and width once they have been set. The scope of the issue is to define the height and width explicitly before they even reach useVideo().

Check out this location in the codebase: https://github.com/remotion-dev/remotion/blob/main/packages/cli/src/render.tsx#L187

In the `config` variable, we have various metadata such as `width`, `heig

[2022-10-21 13:43] JonnyBurger commented on #1394
@ayatkyo This looks pretty promising!

Are you getting a lot of `ECONNRESET` errors as well when running `pnpm generate-fonts`? It looks like it's generating all fonts at once...

Once you are comfortable with a prototype, please send a PR to this repository, make a new folder in `packages`, I can help you make it integrate properly with the monorepo.

I agree with the API in your first comment, l

[2022-10-21 16:02] pabloescoder commented on #1376
@aacevski Are you still working on this issue? If not, then can I work on this @JonnyBurger?

[2022-10-21 16:03] aacevski commented on #1376
Hey, sorry I had no time to pay attention to this - please take this!

[2022-10-21 16:07] pabloescoder commented on #1376
@aacevski @JonnyBurger Thank you! I'll get started with it right away.

[2022-10-21 16:17] pabloescoder commented on #1376
@JonnyBurger Just so that I'm clear, should I make a Markdown file with the tutorial content and add it to this repository (if yes, then where should I place the Markdown file), or should I write a tutorial on a blogging website like Medium, DEV (or anything else that you prefer)?

[2022-10-21 17:49] JonnyBurger commented on #1376
@pabloescoder It should be a Markdown file that gets put in this repo! It can be colocated to this one: https://github.com/remotion-dev/remotion/blob/main/packages/docs/docs/figma.md

[2022-10-21 17:51] pabloescoder commented on #1376
Alright! Sounds good.

[2022-10-21 18:47] JonnyBurger opened #1426 "Cannot navigate through menus with keyboard anymore"
We have a regression where the Enter key cannot select any menus anymore

[2022-10-21 18:58] exitflynn commented on #808
hey jonny! Thanks again for the response. So, I came up with that ^,  and just wanted to make sure if this works just in case there's something here that I'm fundamentally missing.

[2022-10-22 07:38] ayatkyo commented on #1394
@JonnyBurger Unfortunately I don't get `ECONNRESET` error, I also tested on my server and don't get the error. Maybe something to do with the connection or `User-Agent` that is used in the script.

Can you access the links using a browser?
- https://fonts.googleapis.com/css2?family=Titan+One:ital,wght@0,400
- https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0

[2022-10-22 09:59] JonnyBurger opened #1431 "Make the `from` prop of `<Sequence>` optional"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%24112%20Rewarded-%237E24E3.svg" />](https://issuehunt.io/r/remotion-dev/remotion/issues/1431)

**🎃 This issue is part of our Hacktoberfest campaign!**
📚 [Read more about Hacktoberfest here](https://remotion.dev/hacktoberfest)
✅ This issue is currently assigned to @pabloescoder!
💰 Thanks to [CodeChem](https://codechem.com) fo

[2022-10-22 10:19] pabloescoder commented on #1431
Hey @JonnyBurger! Can I start working on this once my previous issue (#1376) is completed? I've already made a PR for that issue.

[2022-10-22 10:28] JonnyBurger opened #1432 "Implement DocSearch in Quick Actions Modal"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%24223%20Rewarded-%237E24E3.svg" />](https://issuehunt.io/r/remotion-dev/remotion/issues/1432)

**🎃 This issue is part of our Hacktoberfest campaign!**
📚 [Read more about Hacktoberfest here](https://remotion.dev/hacktoberfest)
⏲️ This issue is currently assigned to @uragirii!
💰 Thanks to [CodeChem](https://codechem.com) for s

[2022-10-22 10:46] JonnyBurger opened #1433 "Write article about how to create a series of videos from a dataset"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%24195%20Rewarded-%237E24E3.svg" />](https://issuehunt.io/r/remotion-dev/remotion/issues/1433)

**🎃 This issue is part of our Hacktoberfest campaign!**
📚 [Read more about Hacktoberfest here](https://remotion.dev/hacktoberfest)
⏲️ This issue is currently assigned to @ThePerfectSystem!
💰 Thanks to [CodeChem](https://codechem.co

[2022-10-22 11:07] flynnzler commented on #1433
Hello! Can I work on accomplishing this?

[2022-10-22 13:34] JonnyBurger commented on #1433
@ThePerfectSystem Yes, good luck 😊

[2022-10-22 13:35] uragirii commented on #1432
Can I work on this?

[2022-10-23 01:46] siderakis opened #1435 "Resume rendering frames after "Target closed." crash."
# Feature Request 🛍️

Currently I get 40% done Rendering frames before a "Target closed. https://www.remotion.dev/docs/target-closed" crash. When I run the build command again I get roughly the same progress before another crash. Ideally the build would continue from the last frame when I run build again. Even better it would automatically retry after a "Target closed" crash and just continue on.

[2022-10-23 14:14] JonnyBurger commented on #1377
@Uzunov-Stefan Are you still active on this issue? If not, let me know and I'll reassign it to someone else!

[2022-10-23 14:19] Uzunov-Stefan commented on #1377
Yes I am, should be done by tomorrow :rocket:

[2022-10-23 15:06] JonnyBurger commented on #1377
@Uzunov-Stefan Awesome, sorry for asking again. There is no rush :)

[2022-10-24 11:25] ThePerfectSystem commented on #1433
thanks, @JonnyBurger! I wanted to ask, the dummy dataset should be fine as declared inside the TypeScript script or should I try to demonstrate that as say a .csv file?

[2022-10-24 11:37] JonnyBurger commented on #1433
@ThePerfectSystem A TypeScript array is totally fine, thanks for asking 😊 I think there are plenty of tutorials that show how to import CSV already.

[2022-10-24 11:41] JonnyBurger opened #1439 "Remotion does not await fonts being loaded correctly if using `lazyComponent`"
https://www.remotion.dev/docs/fonts suggests to use a CSS stylesheet.
It works if your composition is specified as a component, but not if specified as a lazyComponent because of the following behavior that I discovered:

I think I understand what's happening now:

[2022-10-24 11:50] JonnyBurger commented on #1394
@ayatkyo Sorry for the late response...

I think that's the reason why I get ECONNRESET errors on macOS! Maybe it's good to lower the limit to around 10.

Nice!

Let's also include the script, but we can use `.npmignore` to only ship the fonts.

Correct, we need to ship a .js file and a .d.ts file, like this: https://github.com/remotion-dev/remotion/blob/873e59cf972b855c1ecb98e99ae459fce02b2de9/pa

[2022-10-24 11:51] JonnyBurger commented on #1431
Fixed by #1436

[2022-10-24 11:51] #1431 closed

[2022-10-24 11:51] JonnyBurger commented on #1377
Fixed by #1438

[2022-10-24 11:51] #1377 closed

[2022-10-24 11:52] JonnyBurger commented on #1435
This is a good idea! I want to implement this.

[2022-10-24 11:53] JonnyBurger commented on #396
Closing this in favor of #809 which also includes the Player

[2022-10-24 11:53] #396 closed

[2022-10-24 11:55] JonnyBurger commented on #1391
@Pompette The PR that was required for this issue to get kicked off has now been merged! 🎉  Do you want to work on this issue?

[2022-10-24 12:02] Ananya2003Gupta commented on #998
I actually wanted to know how is useCurrentFrame() been implemented in remotion and also how remotion is using ffmpeg?
I read the documentation of remotion and found that useCurrentFrame() is being used for rendering videos frame by frame.

[2022-10-24 20:52] mykeels opened #1440 "Multiple versions of Remotion detected: 3.2.35 and 3.2.35"
Error is thrown at runtime even when all versions are the same.

# Bug Report 🐛

I have dependencies:

[code]

and yet, when I run my app/storybook, I get an error:

[code]

When I run `npx remotion versions, I get a success message, so I suspect this is a bug.

![image](https://user-images.githubusercontent.com/11996508/197626863-a9e9b238-8dbf-491e-91de-9b7218c3b389.png)

[2022-10-24 21:34] mykeels commented on #1440
Reverting to 3.2.34 fixed this for me

[2022-10-25 14:37] #1408 closed

[2022-10-25 18:17] JonnyBurger commented on #1406
@kaf-lamed-beyt Happily!

[2022-10-26 07:56] kaf-lamed-beyt commented on #1406
Great! 💥🚀

[2022-10-26 11:32] JonnyBurger commented on #1440
Hey @mykeels!

The error should be worded better, but there can also be multiple instances, even if they are the same version. Do you keep Remotion components in an NPM package? In that case, `remotion` should be marked as a peerDependency + devDependency, because otherwise you'll end up with two versions nonetheless - this is a behavior of most bundlers. Many bundlers also have an option to force

[2022-10-26 11:39] JonnyBurger opened #1445 "Rename MotionBlur to Trail and make new CameraMotionBlur component"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%240%20Funded-%2300A156.svg" />](https://issuehunt.io/r/remotion-dev/remotion/issues/1445)

As discussed in Discord: https://discord.com/channels/809501355504959528/833092843290624050/1033796075225624576

It makes sense to rename `<MotionBlur>` to `<Trail>` and introduce a new `<CameraMotionBlur>` component. @marcusstenbeck h

[2022-10-26 12:01] ThePerfectSystem commented on #1433
yess thanks a lot, i'm having trouble taking out time these days since uni exams are approaching :sweat_smile: but i wanted to confirm that I should write the article as a .md file and store it as `packages/docs/docs/videosFromDatasetOrSomeOtherName.md`, right? (like how the markdown file for the figma article was stored)

[2022-10-26 12:09] JonnyBurger commented on #1433
@ThePerfectSystem That's correct! Good luck with uni and if you feel stressed, let us know and we totally understand if you don't want to do it anymore!

[2022-10-26 12:20] ThePerfectSystem commented on #1433
Thank you soo much for your concern! I would absolutely let you know in case I feel stressed. But for right now, this feels like a really fun task to take on. Would it be okay if I'm not able to finish it by october-end?

[2022-10-26 13:27] #1445 closed

[2022-10-26 16:16] #1432 closed

[2022-10-26 17:45] ayatkyo commented on #1394
@JonnyBurger Thanks for the response, I have created a Draft PR and changed the generator limit to 10.

Good, I will create that in a separate PR after completing this. 😁

[2022-10-27 09:02] JonnyBurger commented on #998
Hey @Ananya2003Gupta, I am very sorry for the late response!

This is actually a pretty hard issue that I am myself not sure how to achieve it and whether it's worth the effort.
As you know Remotion generates an MP4 out of a lot of screenshots that the browser takes. To encode that video, we use FFMPEG. Now if you have that MP4 file somewhere laying around, be it in your file explorer or in a medi

[2022-10-27 09:02] #998 closed

[2022-10-27 09:24] Ananya2003Gupta commented on #998
Sure, I would love to contribute to Remotion. I will keep a check on issues and will take up the ones that I would be able to contribute to : )

[2022-10-27 10:30] JonnyBurger commented on #998
@Ananya2003Gupta Sounds perfect! Thanks a lot for your help :)

[2022-10-27 16:18] JRavi2 commented on #1391
Hi @JonnyBurger, I'd like to work on this issue if it's available :)

[2022-10-27 16:50] JonnyBurger commented on #1391
@JRavi2 Giving it to you! Good luck :=

[2022-10-28 10:19] #1426 closed

[2022-10-28 12:23] #1394 closed

[2022-10-28 15:07] B3nnjoe commented on #1292
Any news regarding this?😁

[2022-10-28 15:11] JonnyBurger commented on #808
Fixed by #1427

[2022-10-28 15:11] #808 closed

[2022-10-28 15:12] #1376 closed

[2022-10-28 15:13] JonnyBurger commented on #1342
Have to close it because no way I can reproduce it

[2022-10-28 15:13] #1342 closed

[2022-10-28 17:06] #1391 closed

[2022-10-30 13:28] ThePerfectSystem commented on #1433
welp, looks like i wouldn't be able to complete this before october end after all. but i'm still on it!

[2022-10-30 18:10] nmattia opened #1452 "Remotion 3 to 3.2: TypeError: Converting circular structure to JSON"
# Bug Report 🐛

After upgrading to remotion 3.2, running `npm run start` fails with a `TypeError`. Looks like something's failing to be jsonified:

[code]
I have a fairly simple config:

[code]

[code]

[code]

Running node v16.14.0 on M1 (rosetta)

(would have shared my `package-lock.json` but GitHub complains it's too long)

[2022-10-30 20:20] kaf-lamed-beyt commented on #1406
Quick one @JonnyBurger,

Can I get the link to the question asked by @BenK#3758 in the discord server?

[2022-10-31 08:30] kaf-lamed-beyt commented on #1406
I'm still getting these errors after I've done `pnpm i` to get the new deps

![Screenshot from 2022-10-31 09-16-52](https://user-images.githubusercontent.com/48127194/198964902-ff3fe531-ad60-4efa-a328-4e9450228c2a.png)

![Screenshot from 2022-10-31 09-17-34](https://user-images.githubusercontent.com/48127194/198964936-7870d4a4-fc35-438d-b84a-c145503cbaf9.png)

[2022-10-31 08:57] JonnyBurger commented on #1406
@kaf-lamed-beyt The original question was just: `Could you please share in code how you accelerate the playback of a video with spring animation?`

I think you get the error because you did not run `pnpm build` in the root directory!

[2022-10-31 08:59] JonnyBurger commented on #1433
@ThePerfectSystem No problem 😊

[2022-10-31 09:21] JonnyBurger commented on #1396
@florentpergoud Can you give me an estimation of how long you spent on the template? I'll make a statistic in the end 😃

[2022-10-31 09:30] JonnyBurger commented on #1292
@B3nnjoe A bit reprioritized since one of the potential big customers has found a workaround and they don't necessarily need it anymore. If we would do it, we would implement it together with other features that require multiple FFMPEG passes, like #1276

[2022-10-31 09:33] #1440 closed

[2022-10-31 12:16] B3nnjoe commented on #1292
@JonnyBurger sounds good!
But one thing im wondering is the workaround. Would it be possible to get a rough explanation?

[2022-10-31 14:10] JonnyBurger commented on #1452
Hey Nicolas!

Thanks a lot for the report, it indeed eems like the webpack config cannot be stringified. Since you don't use a Webpack override (right?), I imagine this is indeed because the dependencies got messed up. Can you post the package-lock.json as a GitHub gist? I'll try to reproduce it.

I also want to point out two common version management mistakes:

- Make sure there is only 1 lockfil

[2022-10-31 14:47] kaf-lamed-beyt commented on #1406
Thanks for pointing this out! 😎

[2022-10-31 16:38] nmattia commented on #1452
Hi @JonnyBurger!

Thanks for the quick reply. I don't use a Webpack override, that's correct. I'm on another laptop right now and will share the package-lock as soon as I have it! Will also double check for the common mistakes your pointed out.

[2022-10-31 17:21] kaf-lamed-beyt commented on #1406
This is what I'm getting now @JonnyBurger
![Screenshot from 2022-10-31 18-18-16](https://user-images.githubusercontent.com/48127194/199069804-db0f0736-538d-43a8-869a-e87b0a5b03a2.png)

[2022-10-31 18:10] JonnyBurger commented on #1406
@kaf-lamed-beyt you need to run `npm start` from the docs package

[2022-11-01 19:30] kaf-lamed-beyt commented on #1406
Thank you for this @JonnyBurger.

I'm currently trying to add a sample to the doc. But, I don't know how to go about that.

[2022-11-01 19:43] kaf-lamed-beyt commented on #1406
Okay...

I think I'm beginning to get a hang of how to go about it, by taking a look at this [diff](https://github.com/remotion-dev/remotion/pull/1392/files#diff-4b55dd267dd443c9cee373a2cf3a460e21d2ebbb31a4888532a4a3ccc83fb775)

I'll let you know when I encounter any issues, moving forward!

[2022-11-01 21:06] reactone commented on #655
I did exactly that, you can use node child process.

[2022-11-01 21:19] reactone opened #1455 "I can’t dynamically render components"
Im trying to dynamically render components in the video. The use-case is as follows - the user add shapes to the canvas and these are passed via props to render. Basically I store a list of components  in redux store and then show them on canvas using map function. The problem is that when I try to render the video and pass the array of components it only renders the default number of components.

[2022-11-02 13:09] JonnyBurger commented on #1389
Fixed by #1405

[2022-11-02 13:09] #1389 closed

[2022-11-02 13:10] JonnyBurger commented on #1435
Implemented in @siderakis

[2022-11-02 13:10] #1435 closed

[2022-11-02 13:10] JonnyBurger commented on #1435
Fixed in #1456

[2022-11-02 13:47] marcusstenbeck opened #1459 "@remotion/google-fonts doesn't work in iframe"
Hey!

Was trying out the new `@remotion/google-fonts` today, and after some wrangling I got it to work. Unfortunately, using it within an iframe doesn't work.

I have a workaround in which I set a dynamic CSS import too, which makes it flicker a little but does work on both client and later when rendering with SSR.

The issue is that the font is loaded in the parent document and not in the iframe

[2022-11-02 17:37] mykeels commented on #1455
Can you show a code sample? @reactone

[2022-11-02 20:35] greffgreff opened #1460 "Unexhaustive handling for using Img tag as child in Mask tag"
# Bug Report 🐛
I am using Remotion and the web version of skia react native. I am getting this error when passing an Img tag with an svg logo under the children property of a Mask tag. I have looked online for an explanation of the issue but I haven't found one.

Below is my current setup:
[code]
Any ideas why this is?

[2022-11-03 08:08] JonnyBurger commented on #1365
Thanks everyone for participating! Every bounty except one has been paid out by now.
We are also going to announce some of the best features in November and shout out those who implemented them!

Here is an overview of the bounties and some statistics:

![image](https://user-images.githubusercontent.com/1629785/199672443-fc3d161c-4cce-4697-b740-4d671e82f78b.png)

[2022-11-03 08:08] #1365 closed

[2022-11-03 08:24] JonnyBurger commented on #1455
+1, we need to see some code to better help you.

Often times, people will pass a JSON array as input props where each item in the array represents one item, be it shapes, videos, text. Then they map over the array and render such element.

[2022-11-03 08:31] JonnyBurger commented on #1459
Interesting, we use `document.fonts.add(fontFace)` to add the font.

Should we allow to pass a custom document? Seems like you can get the document of an iframe using ` document.querySelector('iframe')?.contentDocument`.

That being said, probably a lot of APIs are breaking if you use an iframe. This might only be the tip of the iceberg 🤔

[2022-11-03 08:32] reactone commented on #1455
@JonnyBurger I did exactly that, I’m passing a JSON array and then map it outputting an <Element> for each item. It works on the canvas and I’m able to add multiple elements. If I add like 2 elements as initialValues in store it would also render them and change their contents via props but it won’t render more than these 2 elements. I thought that there is a limitation in remotion so that the com

[2022-11-03 08:40] JonnyBurger commented on #1460
Hi @greffgreff!

React Native Skia renders on a Canvas, and therefore you cannot render an HTML `<img>` tag on it. You need to use the Image tag from Skia: https://shopify.github.io/react-native-skia/docs/images/

[2022-11-03 08:40] #1460 closed

[2022-11-03 08:42] marcusstenbeck commented on #1459
Yes, I think being able to pass in a custom document would be good. Do you know of any other way to isolate the styles of a Remotion composition from the outer page when using `<Player/>`. Iframe looked like the only option when I was investigating this...

[2022-11-03 09:41] JonnyBurger opened #1461 "Implement getCompositionsOnLambda()"

[2022-11-03 09:42] JonnyBurger opened #1462 "Write an article on how to use Remotion together with Davinci Resolve"
E.g. on how to create a transparent lower third overlay

[2022-11-03 23:33] reactone commented on #1455
@JonnyBurger There was a bug in my app, I was updating the canvas but not updating the list properly when rendering. Solved now 👯

[2022-11-03 23:33] #1455 closed

[2022-11-04 15:10] nmattia commented on #1452
Ok, figured out part of the issue. Here's part of the webpack config:

[code]

with `esbuildLoaderOptions` being used somewhere in the webpack `conf`. I suspect that `esbuild` has a self reference (I had to override the esbuild version to work around [this issue](https://github.com/evanw/esbuild/issues/2261), I'm using `0.15.13` now.). The whole webpack config is hashed by first converting to JSON

[2022-11-05 04:45] ayatkyo commented on #1459
@marcusstenbeck That looks interesting, do you have an example repo for this case? I don't have experience using iframe before.

If I am not mistaken, the case is you have a webpage that embed remotion composition using `<Player />` but styling from the webpage get applied into the embedded remotion composition and vice versa, so to fix that you wrap it in an 'iframe'. But when using `@remotion/go

[2022-11-05 09:27] marcusstenbeck commented on #1459
That's exactly right, you can use the `<IframePlayer />` to test it, snippet here: https://www.remotion.dev/docs/miscellaneous/snippets/player-in-iframe

[2022-11-07 10:15] JonnyBurger commented on #1452
Thanks a lot for tracking that down! 😃 Helps a lot, I see the problem now as well. Since we just need a hash of the config to cache the webpack config, I used that snippet that handles circular dependencies and also upgraded ESBuild at the same time. For most operations like replacing ESBuild implementations, I think that it should trigger a cache reset as well.
This is the best I could come up wi

[2022-11-07 10:37] #1452 closed

[2022-11-07 10:50] nmattia commented on #1452
Thanks a lot @JonnyBurger :)

[2022-11-07 10:51] JonnyBurger commented on #1406
Fixed by #1457

[2022-11-07 10:51] #1406 closed

[2022-11-07 10:57] ThePerfectSystem commented on #1433
Hey @JonnyBurger I can't thank you enough for your patience, I managed my uni exams just fine and, in the meanwhile, got myself acquainted with react and remotion. However I'm having trouble pinpointing which componentID I will be rendering when rendering the output videos, could you maybe provide any pointers? 😅

[2022-11-07 11:36] JonnyBurger commented on #1433
@ThePerfectSystem Glad to hear the exams went well! 🥳  Congrats!

You would define one static composition ID (not of componentID, make sure you use the correct term in the docs) which can be anything, like `MyComp` for example. Some more info on what it is: https://www.remotion.dev/docs/terminology#composition-id

[2022-11-08 15:25] HenriqueMatias opened #1468 "full screen button is not visible on mobile"
# Bug Report 🐛

 The player component doesn't display the fullscreen button on mobile.

 OS: Android, IOS
 Browsers: safari, chrome

 How can I make the player go fullscreen on mobile?
Maybe it's possible to stream the result to a normal player?

Thank you in advance

[2022-11-08 16:13] #1468 closed

[2022-11-08 16:16] JonnyBurger opened #1470 "Show time to copy public folder/ when rendering using the CLI"
If a project is large, it can take some time. It would be nice to show a progress bar, also to make the user mindful that this is why it is slow to render!

[2022-11-10 11:52] JonnyBurger commented on #1468
@HenriqueMatias We have an overrideFfmpeg option: https://www.remotion.dev/docs/config#overrideffmpegcommand

But I don't think it can solve the fullscreen problem.

[2022-11-10 12:46] JonnyBurger opened #1472 "Dynamically load Google fonts on demand"
Users on Discord are talking about how to load a Google font at runtime. The solution could look something like this:

<img width="623" alt="image" src="https://user-images.githubusercontent.com/1629785/201093294-7b44c85e-e34e-4310-ad5a-8765bb9aa805.png">

Use cases: Offering a font picker to the user where they can choose their desired font and it will be loaded dynamically.

We should standardiz

[2022-11-10 15:28] ThePerfectSystem commented on #1433
Hey @JonnyBurger thanks for your help, but I must admit that I was a rookie when I came to the issue, I've spent the past couple of days learning about react, remotion and node (and it has been a very informative experience, absolutely worth it!).

Apologies but a very much a newbie question ahead, I'm still unable to figure out what the example at https://remotion.dev/docs/ssr already assumes the

[2022-11-10 15:41] JonnyBurger opened #1475 "Allow to style/add a ref to `<Series.Sequence>` and `<Loop>`"
Like a `<Sequence>`!

[2022-11-10 15:48] JonnyBurger commented on #1433
@ThePerfectSystem Very good question! We expect the user to have already installed a Remotion template with `npm init video`.  Then they already have an entry point and the necessary packages. After that, indeed they can create a .js file and run it with node.

We want to promote TypeScript though, in that case it would be a .ts file and it would be executed with ts-node.

[2022-11-10 16:36] JonnyBurger opened #1476 "`pnpm build` in `google-fonts` package is unreliable"
We sometimes see CI failures and crashes when fetching all fonts. Should take some measures to improve reliability

[2022-11-12 15:35] nazemi0101 opened #1478 "how to change position of sequence or absoluteFill in viewer with drag"
how to change position of sequence or absoluteFill  layers in Editor viewer with drag by user before render to video.

[2022-11-12 19:00] atulmy opened #1482 "Helper function for "Slow method to extract frame" detection"
Any idea how we can detect "MP4 container has it's timestamps corrupted" via `ffmpeg` so that we can only pass those videos through `ffmpeg -i inputvideo.mp4 outputvideo.mp4` instead of all videos in composition?

Was wondering if some version of this detection function can be exposed maybe via @remotion/media-utils?
`checkVideoTimestampsCorrupted(videoFilePath)` which can return `true` | `false`

[2022-11-13 12:38] JonnyBurger commented on #1478
Hi @nazemi0101!

We don't support that in the Remotion Preview and don't plan to support it because it would require to write the changes back to the file. React works best with a unidirectional data flow.

We recommend using the player (https://remotion.dev/player) and building an UI around it if you want the user to interact with the video. Right now you have to build it yourself, in the future

[2022-11-13 13:54] JonnyBurger commented on #79
Related: There is a framework called Svelte-in-Motion: https://github.com/novacbn/svelte-in-motion

[2022-11-14 14:48] #892 closed

[2022-11-14 16:19] ndren commented on #50
I've hacked around and it looks like human-signals is a hurdle. I think updating it to version 3 would resolve the problem though. I got this far (not there yet, but a start!):
`deno eval 'import * as x from "https://jspm.dev/@remotion/renderer"; console.log(x)'`
[code]
The way I was able to do this is by removing the code that won't run in human-signals forcefully. To reproduce:
[code]
File to co

[2022-11-14 16:22] JonnyBurger commented on #50
@ndren Very nice! It certainly is, if it is hard, we are even willing to increase!

`human-signals` seems to be a dependency of `execa`, maybe it has to be abstracted to not rely on child_process, since this is a Node.JS only module, right?

[2022-11-14 16:30] ndren commented on #50
@JonnyBurger Maybe? It looks like deno handles it fine:
[code]

`deno run test.ts` works as expected. So the issue does not look like it has to do with spawning processes by itself.

[2022-11-14 18:32] Leland-Takamine commented on #1394
@JonnyBurger Are there any limitations with this when running on AWS lambda? The preview shows up correctly on the localhost:3000 preview page, but when running on lambda it is not using the correct font.

[2022-11-14 18:50] JonnyBurger commented on #1394
@Leland-Takamine I would be surprised if it did not work on Lambda, are you aware that you need to redeploy your site to Lambda when making a change?

[2022-11-15 09:55] JonnyBurger opened #1484 "Better progress reporting for Lambda"
The progress function is not implemented well at the moment, if all chunks have rendered half of its frames, then this will still report 0% since it counts how many chunks have finished. Each chunk should report it's progress from time to time to give a better overall progress estimation.

[2022-11-15 10:10] JonnyBurger commented on #50
I see, `require("os").constants` does not work in Deno.

How does that work in Deno? Can it be patched or does the module need to be replaced?

[2022-11-15 16:52] ndren commented on #50
The following works for me: (`deno run demo.js`)
[code]

[2022-11-15 23:28] RamiroMonte commented on #1433
Hello. I know @ThePerfectSystem is already assigned this issue, but I wonder if I can work on it together? I found the idea very interesting and can think of several remotion applications with it :)

[2022-11-16 02:09] AbhishekPatnaik opened #1487 "Error: Cannot find module 'fs/promises'"
# Bug Report 🐛

`Error: Cannot find module 'fs/promises'
Require stack:
- /Users/abhishekpatnaik/my-video/node_modules/@remotion/renderer/dist/stitch-frames-to-video.js
- /Users/abhishekpatnaik/my-video/node_modules/@remotion/renderer/dist/render-media.js
- /Users/abhishekpatnaik/my-video/node_modules/@remotion/renderer/dist/index.js
- /Users/abhishekpatnaik/my-video/node_modules/@remotion/cli/dis

[2022-11-16 08:14] ThePerfectSystem commented on #1433
Hey @RamiroMonte! Really appreciate it but though it took me a while, I think I got it pretty much figured out now except for a few gaps here and there :sweat_smile:. Should be done with it soon!

[2022-11-16 09:40] JonnyBurger commented on #1433
Nice, thank you @RamiroMonte!

How about you create a draft pull request soon @ThePerfectSystem and @RamiroMonte will then be able to add some feedback to it?

[2022-11-16 09:53] JonnyBurger commented on #1487
Hey @AbhishekPatnaik!

This error occurs because you are using an old Node version. We only support Node 14 and above.
We could handle this better and show an error message, and I just fixed that in #1489!

[2022-11-16 10:02] AbhishekPatnaik commented on #1487
Thanks  @JonnyBurger the Issue is solved !!

[2022-11-16 10:02] #1487 closed

[2022-11-16 10:18] JonnyBurger commented on #50
I see, we could inline that, but how could we make that import so it works on both Node and Deno?

I did a quick test myself:

[code]

and tried to run it with

[code]

and I got the following:

[code]

So it seems like there are two more problems, `fs.watchFile` being implemented differently, and the `net` module working differently than in Node. We have to get over those differences as well.

[2022-11-16 10:22] JonnyBurger commented on #50
Latest update on Bun - child_process support is supposed to be coming soon, once it gets released, I'll give it a try as well.

[2022-11-16 11:58] RezaRamezanisani opened #1490 "Not applying changes with javascript events to the sequence tag in the video output"
I change the color of the sequence tag with a button, but this sequence color change is not applied to the video output, help me

this is my code  :
             const [color,setColor] = useState('blue');
                <Sequence style={{
                    position: 'absolute',
                    background: color,
                    width:'300px',
                    height: '300px'

[2022-11-16 12:44] #1478 closed

[2022-11-16 12:47] JonnyBurger commented on #1490
Hi @RezaRamezanisani!

While rendering, Remotion will always reset to the initial state. There is no way to save the local state for rendering.

Instead, you should make the color an input prop (https://www.remotion.dev/docs/parametrized-rendering).

Using the `<Player>`, you can code a webapp that allows users to parametrize their video for example using a button click. If you then want to render

[2022-11-16 12:47] #1490 closed

[2022-11-16 14:29] RamiroMonte commented on #655
What you are suggesting would not simply be creating an endpoint in an API by running the build with Server-Side Rendering.

Then just leave the API running and create a request in react passing the props in the onClick event.

[2022-11-16 15:26] reactone commented on #655
I created a post endpoint that is triggered onClick and the props are passed. Works fine.

[2022-11-16 17:16] JonnyBurger commented on #1475
And a `<Loop>`!

[2022-11-16 19:06] RezaRamezanisani opened #1491 "How to insert the props of the component in the player tag"
Hello, don't be tired and thank you for your quick response  🥇
How to insert the props of the component in the player tag help me:
Is this method correct?
It gives an error that it does not recognize the props
My code:
`
export const Comp : React.FC<{
    color: string,
    width:number
}> = ({color,width}) => {
   return (<Sequence style={{width:width,color:color}}></Sequence>)
}
export const App

[2022-11-17 06:52] ThePerfectSystem commented on #1433
Sure @JonnyBurger, that sounds like a great idea! Will be doing that.

[2022-11-17 07:54] JonnyBurger commented on #1491
You can use the `inputProps` prop for the Player - here is an example: https://www.remotion.dev/docs/player/examples#interactive-player

[2022-11-17 07:54] #1491 closed

[2022-11-17 14:57] #1482 closed

[2022-11-17 19:02] L-TheG opened #1498 "Possible to use symlinked static files?"
Hi,

I have some pretty big files that I want to use in different remotion projects. Those projects have their own assets as well, which are in their respective git repositories.
Since I don't want to copy the large files into the remotion public directory of every project, everytime I re-clone and re-render a project, I came up with a different solution.

I symlink the directory with the large fi

[2022-11-17 22:59] Leland-Takamine commented on #1394
@JonnyBurger Ah ok I think I mistakenly thought that the font was not loading correctly because the output looked so different in the rendered video output. Note the spacing between lines and different kerning (top=preview, bottom=rendered video):

<img width="870" alt="image" src="https://user-images.githubusercontent.com/847683/202577869-3a3b93bd-b5c6-4f02-842b-146b6678a2dc.png">

Is this just d

[2022-11-18 09:12] RezaRamezanisani opened #1499 "How to hide part of the element that comes out of the composition during video output"
Hi remotion
How to hide part of the element such as a sequence when it exceeds the size of the composition or by giving a position greater than the size of the composition during video rendering or video output.
Thank you.

[2022-11-18 09:49] JonnyBurger commented on #1394
I think that is the difference between macOS and Linux rendering unfortunately 😑

Maybe a Chrome flag can help, if you let me know the font name, I will do a quick test. But it looks like while one font is thinner than the other and the kerning is bad, it is the same font.

[2022-11-18 09:51] JonnyBurger commented on #1499
Hi @RezaRamezanisani!

When an element exceeds the canvas, it should be default be cut off in the output.
Can you elaborate the question?

[2022-11-18 11:41] JonnyBurger commented on #1498
Hey @L-TheG, great point thanks for raising it!

We did not support symlinks but we can. I just implemented it and you'll be able to use it in v3.3.3 which will probably come out by Monday.

[2022-11-18 18:18] RezaRamezanisani commented on #1499
yes.
Suppose my composition has a width of 1920 and a height of 1080. Then I give the sequence element a css style for example:
position=absolute, left= 1918px, top=1070px
In a way that exceeds the width and height of the composition.
 when I type the npm run build command, the element that I positioned is not cut for the final output.
my code:
`
const Comp: React.FC<{
    property: object
}> = ({

[2022-11-18 19:33] RezaRamezanisani commented on #1499
The problem was solved.
Thank you.

[2022-11-19 06:06] ThePerfectSystem commented on #1433
Hi, I'm terribly sorry for this delay but I have been unwell and had to take care of some other deadlines on top of that, will be opening the draft PR by today

[2022-11-19 11:52] #1499 closed

[2022-11-20 02:00] alexfernandez803 commented on #1433
@JonnyBurger From the description of the issue at hand. I have created a project in here.
https://github.com/alexfernandez803/remotion-dataset. If you are happy with it, I will create a pull request.

Looks like I am late on the party

[2022-11-20 20:39] ThePerfectSystem commented on #1433
might as well share what i'd been working on ^

[2022-11-21 09:47] JonnyBurger commented on #1498
Fixed by #1500!

[2022-11-21 09:47] #1498 closed

[2022-11-21 09:47] JonnyBurger commented on #1470
Fixed by #1500

[2022-11-21 09:47] #1470 closed

[2022-11-21 09:48] JonnyBurger commented on #1461
Fixed by #1496

[2022-11-21 09:48] #1461 closed

[2022-11-21 14:25] #1433 closed

[2022-11-22 08:08] micartey opened #1504 "Changing content will be rendered falsely"
The rendering will not produce the same output as previewed in the web view.

# Bug Report 🐛

I tried to make a countdown, however once exported, the countdown doesn't work, which is also expected since the rendering is faster than the video time. However, an option to enable `real time rendering` would be nice for such use cases

[2022-11-22 09:54] JonnyBurger commented on #1504
Hey @micartey!

This is a deliberate design decision that we also mention pretty early in the getting started docs. You can read more about why it happens here: https://www.remotion.dev/docs/flickering

We don't want to change it because we think it is better to declare each frame idempotently in order to allow for data to load, allow to pause the animation, even play it in reverse if necessary.

[2022-11-22 09:54] #1504 closed

[2022-11-22 10:06] #1476 closed

[2022-11-22 16:57] JonnyBurger commented on #1475
Taken by @afzsalsayed96!

[2022-11-23 07:54] ndren commented on #50
A bit hacky, but I suppose you always have this:
`navigator.userAgent.substring(0,4) == "Deno"`

[2022-11-23 08:50] MehmetAdemi opened #1508 "Bounty for PR #1502 & #1503"
This issue is taken by @alexfernandez803

[2022-11-23 08:50] MehmetAdemi commented on #1508
/bounty 100

[2022-11-23 09:02] alexfernandez803 commented on #1508
/solution 1502

[2022-11-23 09:24] MehmetAdemi commented on #1508
Hi Alex,
You should create a new PR because Jonny already closed #1502.

[2022-11-23 09:30] JonnyBurger commented on #1475
/solution 1507

[2022-11-23 09:44] alexfernandez803 commented on #1508
/solution 1509

[2022-11-23 10:06] #1475 closed

[2022-11-23 11:36] MehmetAdemi commented on #1508
/reward 1509

[2022-11-23 15:10] #1508 closed

[2022-11-23 16:27] afzalsayed96 commented on #1475
Facing issues setting up Algora for UAE. Let me know if wire transfer or [wise.com](https://wise.com) would be feasible for you.
<img width="517" alt="Screenshot 2022-11-23 at 9 52 30 PM" src="https://user-images.githubusercontent.com/14029371/203598023-2cf10c09-118c-4f5d-8ec2-76146f02f271.png">

[2022-11-23 19:16] MehmetAdemi commented on #1475
Hi Afzal, just checked with Algora and they said it should work now. Can you try it again?

[2022-11-24 14:30] afzalsayed96 commented on #1475
@MehmetAdemi Ran into another issue. Contacted folks from Algora again.
Meanwhile rechecking feasibility of direct transfer.

[2022-11-24 15:19] uluhonolulu opened #1513 "Infinite loop structure created by bundler"
I'm trying to put the bundle into the public folder so that it becomes a part of the deployed React app. I'm trying to set `outDir: path.resolve("../public/bundle")` in the `bundle()` argument.

However, it causes an infinite directory structure to appear on my system which looks like `\public\bundle\public\bundle\...`.

This is caused by the `copyDir` function that copies `\public\` into '\public

[2022-11-24 15:28] JonnyBurger commented on #1513
Hi @uluhonolulu, great question!

The public folder is part of the bundle, so if you copy the bundle into the public folder, that is indeed recursive and not good.
We should indeed add some safeguards for this.

Maybe it would make sense for you to use a separate public/ directory for Remotion asset

I am questioning whether it's really necessary to put the bundle into the public folder of the Rea

[2022-11-24 15:41] uluhonolulu commented on #1513
Hi @JonnyBurger,

I'm using Azure Static Website deployment. It builds the React app and copies the contents of the `build` folder into the web root. It also has the API Functions feature (similar to Lambda) so that we are able to run serverside code.

I'm using it to render a video. But I can't run `bundle()` after the site is deployed because the entry point (`src/index`) is not there anymore. M

[2022-11-24 15:45] uluhonolulu commented on #1513
Now that I think of it, I could modify the `build` action to include the render stage after the build and use the `build` folder instead.

Do I need to set `publicPath` in this case? How do I set it to avoid the same issue?

[2022-11-24 19:33] MehmetAdemi commented on #1475
/reward 1507

[2022-11-27 14:01] uluhonolulu commented on #1513
I was able to have the bundle as a part of the deployed site, but I still can't render a video because the API functions that work with Azure Static can't run for more than 45s. This is not a problem with Remotion so I'm closing this.

[2022-11-27 14:01] #1513 closed

[2022-11-28 09:36] JonnyBurger commented on #1513
@uluhonolulu Thanks for self-closing the issue and apoligies for not following up on the latest comment.

For rendering, you could now also pass the hosted bundle URL that you have generated to Remotion Lambda and this would work, if you want to consider this. It is no problem to pass a 'site' that is hosted on a different cloud.

Unfortunately we don't have any guidance on Azure yet.

[2022-11-28 09:54] Grummfy opened #1514 "staticfile & non-ascii characters"
# Bug Report 🐛

When I use some path using non-ascii charactere like 'é' the static path is correctly generated, but not loaded.

Example
http://localhost:3000/static-778329f84875/remotion-lottie-resume/2-Journ%C3%A9e/02_Affiche_Match_Score.json
/var/www/src/resources/remotion-lottie-resume/2-Journ%C3%A9e/02_Affiche_Match_Score.json does not exist

so the conversion is properly made in the url (ur

[2022-11-28 10:47] JonnyBurger commented on #50
@ndren But we cannot use this for `import` statements, very clunky. We need a clean solution

[2022-11-28 12:20] jmaguirrei opened #1516 "Align Readme with default values"
Hello in the docs, you can read:

[code]

But, then the docs says that `memorySizeInMb` and `diskSizeInMb` defaults are 2048, so maybe this would be better?

[code]

I think this way we avoid confusion, cause the code reflects the defaults (and recommended) values?

[2022-11-28 13:57] JonnyBurger commented on #1516
Good point, thanks!

[2022-11-28 13:57] JonnyBurger commented on #1514
Very valid point, thanks!

[2022-11-28 14:36] #1514 closed

[2022-11-28 15:04] #1516 closed

[2022-11-28 21:22] JLarky commented on #50
I'm pretty sure you just do `typeof Deno` :)

[2022-11-29 13:15] JonnyBurger opened #1520 "Use the "packageManager" field after scaffolding a template"
Scenario:

If you create a project based on a template with Yarn (as an example, but also with npm or pnpm), it should detect the current yarn version (`yarn -v`, let's say it yields `1.22.19`) and add `"packageManager": "yarn@1.22.19"` to the package.json.

This will prevent someone from accidentally using pnpm or npm in that project and also force everybody to use the same version, so hopefully

[2022-11-29 15:56] JonnyBurger opened #1522 "Document how to invoke a Remotion Lambda render using PHP, Go, C# etc..."

[2022-11-29 19:32] MehmetAdemi commented on #1520
/bounty 100

[2022-11-30 00:42] alexfernandez803 commented on #1520
@MehmetAdemi can I take this?

[2022-11-30 07:57] alexfernandez803 commented on #1520
oh, all good @MehmetAdemi

[2022-11-30 09:07] JonnyBurger opened #1525 "renderStill() should also be able to return a Buffer"
As requested by @FelippeChemello

One unfortunate design decision we made in renderMedia() was that we returned the raw buffer, not an object. This led to us having to implement the "slowest frames" API in an unfortunate way. Let's not make that mistake again

[2022-11-30 13:08] RamiroMonte commented on #1520
Hi, if someone can give me a hint on how this can be done, maybe I can get

[2022-11-30 16:59] MehmetAdemi commented on #1520
Hi Ramiro, thanks for your interest! During Hacktoberfest, we try to give guidance and encourage new contributors whenever possible, but it's hard to give this guidance throughout the year. We assume that Jonny's description should be enough to solve it. Hope you don't mind. :)

[2022-11-30 17:59] aaronnuu opened #1527 "Latest stable chrome build seems to break aspect ratio for generated stills and videos"
Versions:
- Latest Remotion - `3.3.5`
- Google Chrome Stable (not Chromium) - `108.0.5359.71`
- Linux - Ubuntu 20.04
- Docker - `20.10.21`
- Container base: `node:16-slim`

When using the latest stable version of google chrome the aspect ratio of the rendered videos and stills seem to not be respecting the resolution that I have asked for in my `Composition`.

I am running Remotion from within a d

[2022-11-30 18:16] mykeels commented on #1520
Happy to take this if possible

[2022-11-30 19:02] JonnyBurger commented on #1520
Good luck @mykeels! :)

[2022-11-30 19:04] JonnyBurger commented on #1527
Hi Aaron!

Sounds concernign indeed, I just tried updating my Chrome on Mac and I could not reproduce it with 1080x1080 and 1920x1080 videos.

Could you share everything that is easy for you to share (Docker image, resolution, description of how the output is malformed) so I can try to dig into it?