[2021-09-15 09:41] JonnyBurger commented on #584
Thanks a lot for the benchmarks and the updates!

We are certainly interested in these kind of PRs, they can also contain some breaking changes and we'll merge them for Remotion V3.

Right now we are busy with Lambda and few other smaller projects but we'd love to revisit the rendering pipeline before the next major release.

Always happy to look at your experiments in the meanwhile.

Also we may

[2021-09-15 17:45] johann04 commented on #547
mmm no...

and sorry if this is a "basic" question...

I would like to create an endpoint in my server.tsx something like "/html?titleText=Hello" that renders something similar to the "npx remotion preview" but without the controls... only the html animated as the video...

I want to quickly render a preview of the video (with the specific parameters)...

does that make sense?

(I am pretty sure y

[2021-09-16 05:43] JonnyBurger commented on #547
@johann04 First regarding the IFrame thing - maybe you are looking for @remotion/player?

https://remotion.dev/docs/player
It's a component that you can include in any React App to play a Remotion video.

Regarding your second question, an example for exactly that is included in your template - just run `npm run server` in your Remotion project!
You can open server.tsx to edit the source.

[2021-09-16 09:39] yuyuyzl commented on #584
Yes, the difference of performance depends highly on the thread count of the cpu and the complexity of the project itself.
I did read that issue while benchmarking lol.

The PR branch is mostly done, and i have some good results to share.
![image](https://user-images.githubusercontent.com/14276008/133588588-c056f510-2884-41d6-8041-5022f9117bd5.png)
Original (86s)

![image](https://user-images.gith

[2021-09-17 14:25] yuyuyzl commented on #200
Using canvas is a great idea in browser scenario.
But it might be better to simply render large videos(eg. a background video from screen recorder) with ffmpeg...

[2021-09-17 16:01] JonnyBurger opened #595 "autoplay solution does not work in Firefox"
Repro for codepen.io:

[code]

[2021-09-20 09:24] #595 closed

[2021-09-20 15:03] JonnyBurger commented on #593
Closing due to no response.

[2021-09-20 15:03] #593 closed

[2021-09-22 12:28] JonnyBurger opened #600 "Document how to scale `<Player />`"
Very unclear that you have to pass compositionWidth and `style.width` props at the moment. what happens if you don't specify a style.

[2021-09-24 09:50] marcusstenbeck opened #601 "Possibility to use twin.macro"
# Feature Request 🛍️

Add setup example of using `twin.macro` with Remotion.

## Use Case

[twin.macro](https://github.com/ben-rogerson/twin.macro) improves greatly on the the developer experience when working with TailwindCSS.

## Possible Solution

The main issue is that `twin.macro` uses `babel-loader`, and for Remotion 2.0 the decision was made to move to `esbuild`. I'm not familiar enough wit

[2021-09-24 13:02] marcusstenbeck opened #603 "Remotion Preview: Play sub range of longer clip (working area)"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%24112%20Rewarded-%237E24E3.svg" />](https://issuehunt.io/r/JonnyBurger/remotion/issues/603)

# Feature Request 🛍️

Be able to set an in/out point for the looping playback that is shorter than the viewed composition.

Here's a screenshot from Adobe After Effects illustrating their "Work Area" feature.

![image](https://user-i

[2021-09-24 13:57] JonnyBurger commented on #601
Thanks for filing the issue!

We already make it possible to use babel-loader: https://www.remotion.dev/docs/legacy-babel
So it should be possible to add the twin.macro plugin by using the babel-loader in combination with overrideWebpackConfig().

To make the twin.macro plugin work with esbuild is IMO outside the scope of our project! So I don't see something actionable in regard to this and would

[2021-09-24 13:58] JonnyBurger commented on #603
I like that idea!

[2021-09-24 15:12] arthurdenner commented on #603
Very cool idea indeed! Thanks for the suggestion!

[2021-09-25 07:58] marcusstenbeck opened #604 "Timeline Viewer: Global CSS affects timeline UI"
# Bug Report 🐛

There are certain parts of the UI that are affected when setting global CSS rules on `html` and `body`.

In my particular use-case I'm setting a larger-than normal base font size since it simplifies working with TailwindCSS and `rem` units in general. Video dimensions are rather large so a base font size should be larger than "normal" in web dev.

I've attached an image and a CSS f

[2021-09-25 09:55] sohamsshah opened #605 "Nitpick in `remotion/init.ts` for create-video package."
# Bug Report 🐛
https://github.com/remotion-dev/remotion/blob/6472f8820cee03fcbaa29b6289bed002fdb3040b/packages/create-video/src/init.ts#L215

In `short` attribute, shouldn't we have `template.shortName` instead of `template.name`?

Was actually trying to understand the codebase; had a question around if this is a bug or not.

[2021-09-25 11:37] iamkhalidbashir commented on #584
![Screenshot from 2021-09-25 16-33-18](https://user-images.githubusercontent.com/27646811/134770016-d6e55cad-80ed-4006-bde5-9b766a19f353.png)

Also, the original repo doesn't open a server to load pages, rather hit an HTML file directly

as compared to remotion
![Screenshot from 2021-09-25 16-36-40](https://user-images.githubusercontent.com/27646811/134770086-07522529-d125-4de0-8813-aea3a67d103a.p

[2021-09-25 14:41] iamkhalidbashir commented on #584
![Screenshot from 2021-09-25 19-39-47](https://user-images.githubusercontent.com/27646811/134775339-c435e8d9-18c9-484e-8efe-00916daf68e2.png)

Also, I think we should remove the guards, rather add a warning

because for concurrent mode browser I am reaching 70% CPU utilization with all cores used
and I would like to increase it further to use maximum CPU utilization which it seems I cant

[2021-09-25 14:52] iamkhalidbashir opened #606 "CPU utilization high"
# Bug Report 🐛

![Screenshot from 2021-09-25 19-48-52](https://user-images.githubusercontent.com/27646811/134775622-b28b07cc-6002-4110-b54d-d5bd360dc0a8.png)

Before running a render process the CPU utilization is under 1 percent

But after that its around 55% even wehn no render is in process

This happens when I get timeout Error 30000ms which also doesn't stop the render.

[2021-09-26 09:09] JonnyBurger commented on #605
Thanks for pointing this out! Based on this code https://github.com/terkelg/prompts/blob/d7d2c37a0009e3235b2e88a7d5cdbb114ac271b2/lib/elements/select.js#L29

My investigation led me to believe that the `short` option has no effect at all. I will remove this property.

[2021-09-26 09:09] #605 closed

[2021-09-26 09:22] JonnyBurger commented on #606
@iamkhalidbashir Thanks a lot for filing!

I just did some testing and artificially caused a timeout. In neither main branch nor PR #594 a zombie Chrome process was staying after the render failed. So I could not reproduce it.

Can you see a Chrome process remaining in task manager? Are you using normal release or #594 PR?

[2021-09-26 12:21] JonnyBurger commented on #547
I investigated it (see branch `iframe-testing`) and while it could be possible to add the imported CSS styles into the iFrame instead of into the global scope using Webpack hacks, that would not work in the `<Player />`. We would make it harder to create videos that look the same in the <Player/> and in the preview, therefore I think we are not actively pursuing this idea.

[2021-09-26 12:21] #547 closed

[2021-09-26 12:33] JonnyBurger commented on #604
Thank you for reporting!

I considered putting the video into an iFrame to remediate this but found it to be not a viable solution (see comment in #547). But I am fixing this issue in #602 with the latest few commits by overriding all custom styles everywhere outside of the video.

[2021-09-27 07:10] marcusstenbeck commented on #601
OK, I'll close.

Will `babel-loader` support continue, or is there a plan to only support esbuild in the long term?

[2021-09-27 07:10] #601 closed

[2021-09-27 07:13] marcusstenbeck commented on #604
Sounds good! I was pleasantly surprised that the dropdown was the only place where the UI "broke".

[2021-09-27 08:03] sohamsshah opened #607 "`index.js` doesn't exist for `create-video` package"
# Bug Report 🐛

A small nitpick. In the `package.json` of the `create-video` package, the main field suggests to use `index.js` file. While, the index.js doesn't exist in the project.

https://github.com/remotion-dev/remotion/blob/b4686244b64ddc732924ed92a06cf4e35f7ed420/packages/create-video/package.json#L5

Tried to fetch https://unpkg.com/create-video@2.3.3/index.js from unpkg, it showed same e

[2021-09-27 08:50] #604 closed

[2021-09-27 08:58] JonnyBurger commented on #601
We'll still support it for the foreseeable future, but if it will block us massively in the future, we'll consider dropping it as the adoption of ESBuild has been super successful.

That being said, I don't see a roadblock in front of us right now that would cause us to drop support for babel-loader.

[2021-09-29 08:56] sashee opened #608 "Css reset overwrites inherited properties"
I've updated to 2.4.0 and all texts disappeared from the videos. I drilled down and it seems like the css-reset overwrites inherited properties.

Here's a screenshot of a component:
![image](https://user-images.githubusercontent.com/82075/135235535-c3cd9e4f-c78d-4549-9201-d4619833f989.png)

Notice that the ```color: var(--color-foreground);``` is crossed (~bottom right corner). It is overwritten b

[2021-09-29 09:42] #608 closed

[2021-09-29 09:47] JonnyBurger commented on #608
Thanks a lot for reporting! Indeed an annoying regression, sorry for it! Just published v2.4.1 to fix it.

[2021-09-29 10:53] sashee commented on #608
That was fast:) Thanks!

[2021-09-29 13:37] marcusstenbeck opened #609 "`useCurrentTime()` hook"
# Feature Request 🛍️

Time-oriented helpers, for example `useCurrentTime()`.

## Use Case

I understand the technical reasons why most of everything in Remotion revolves around frames, but there's a good reason to use time in most things that should be re-usable. If a template or helper uses frames then it's locked to that frame rate, so I suggest that there should be helpers for working with time

[2021-09-29 16:10] marcusstenbeck opened #610 "Remotion Preview: Change dimensions in preview"
# Feature Request 🛍️

Toggle between composition size and custom size.

## Use Case

I'm making videos that targets the usual sizes (16:9, 1:1, 9:16). In order to speed up my work I'd love to be able to toggle between different sizes to "check my template". My need is very similar to testing different screen sizes in web dev. 😄

## Possible Solution

- Add toggle between custom size (user defined)

[2021-09-29 16:23] marcusstenbeck opened #611 "Preview: add JKL keyboard shortcuts"
# Feature Request 🛍️

Add keyboard shortcuts:

- `J`: decrease playback speed by 1x
- `K`: pause playback at playhead
- `L`: increase playback speed by 1x

Maximum playback speed is usually 3–4x (reverse or forward).

Pressing `K` will immediately stop playback.

Test it out in Quicktime Player!

## Use Case

Most major video editing suites have the JKL playback keyboard shortcuts. It would be nic

[2021-09-29 16:25] Iamshankhadeep commented on #610
this is definitely a nice idea. I think we should implement in the future. what do you say @JonnyBurger ?

[2021-10-01 08:03] #607 closed

[2021-10-01 08:04] JonnyBurger commented on #607
Thanks a lot for reporting!

[2021-10-01 08:10] sohamsshah commented on #607
No problem!

[2021-10-01 08:38] JonnyBurger commented on #610
We already have a way to do it, to duplicate the composition for each resolution that you would like to test. I'll give an example of what you could render in `src/Video.tsx`:

[code]

Now you can switch between different resolutions with 1 click.
I don't want to add a feature in the editor to change the dimensions dynamically, because then it will not be reflected back into the code and source co

[2021-10-01 08:38] #610 closed

[2021-10-01 08:49] JonnyBurger commented on #611
Great idea, we are actually completely missing a way to control playback speed, for both the Preview and also for the Player!

In order to achieve it, we would need:
- In `use-playback.ts`, have a speed state that can update the current frame number slower or faster than usual
- In the Preview, have a UI for selecting playback speed
- In the `<Player />` component, have a prop `playbackRate`
- Mul

[2021-10-01 09:40] JonnyBurger commented on #603
🎃  This issue is eligible for **Hacktoberfest**!
In addition to helping you get a contribution towards your [Hacktoberfest](https://hacktoberfest.digitalocean.com/) reward, Remotion pays a $100 bounty for it!

**Read**: [How to contribute to Remotion](https://github.com/remotion-dev/remotion/blob/main/CONTRIBUTING.md)

- Let us know when you are interested in this issue, and we'll assign you!
- In

[2021-10-01 09:48] JonnyBurger commented on #526
🎃  This issue is eligible for **Hacktoberfest**!
In addition to helping you get a contribution towards your [Hacktoberfest](https://hacktoberfest.digitalocean.com/) reward, Remotion pays a $100 bounty for it!

**Read**: [How to contribute to Remotion](https://github.com/remotion-dev/remotion/blob/main/CONTRIBUTING.md)

- Let us know when you are interested in this issue, and we'll assign you!
- In

[2021-10-01 10:05] JonnyBurger opened #612 "```diff blocks in Docs are not rendered"
Previously, `diff` blocks in the docs would work well.
But now, see for example https://remotion.dev/docs/javascript#upgrading, the diffs are rendered as plaintext. We need to go through the commits and see where it broke, and fix it (this might need a fix in a third-party package!)

![image](https://user-images.githubusercontent.com/1629785/135602172-df87d69b-66dc-4872-a39a-e5f96e1798ae.png)

---

[2021-10-01 10:17] JonnyBurger opened #613 "Update to Lerna 4"
We struggle a bit to upgrade our monorepo to Lerna 4. Who can help us?

---

🎃  This issue is eligible for **Hacktoberfest**!
In addition to helping you get a contribution towards your [Hacktoberfest](https://hacktoberfest.digitalocean.com/) reward, Remotion pays a $100 bounty for it!

**Read**: [How to contribute to Remotion](https://github.com/remotion-dev/remotion/blob/main/CONTRIBUTING.md)

-

[2021-10-01 10:24] JonnyBurger opened #614 "Autocomplete for Fig Terminal (Fig.io)"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%24112%20Rewarded-%237E24E3.svg" />](https://issuehunt.io/r/JonnyBurger/remotion/issues/614)

[Fig](fig.io) is a really nice Terminal extension.

We should contribute autocomplete suggestions for Remotion to. https://github.com/withfig/autocomplete

---

🎃   This issue is eligible for **Hacktoberfest**!
In addition to helping

[2021-10-01 11:18] marcusstenbeck commented on #610
@JonnyBurger I did actually test that solution, and it's the way I'm doing it right now.

It's very tedious to switch composition, sync playheads, and then flip back and forth. Then change playhead position, sync with the other comp. Since I'm checking 4 different dimensions (1920x1080, 1080x1080, 1080x1920, 1280x720) I have to sync 4 different playheads in order to check things.

I was thinking a

[2021-10-01 11:44] zelmaru commented on #611
Hey, I would like to be assigned to this issue :)

[2021-10-01 12:15] JonnyBurger commented on #611
@zelmaru: Sure! Good luck and feel free to write if there are any questions! 😃

[2021-10-01 13:10] JonnyBurger opened #616 "Template "Empty""
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%24112%20Funded-%2300A156.svg" />](https://issuehunt.io/r/JonnyBurger/remotion/issues/616)

For those people who already know Remotion, it might be useful to skip the "Hello World" and start with an "Empty" template. This template should be the default Typescript template but a blank Canvas.

---

🎃  This issue is eligible fo

[2021-10-01 15:48] semoal commented on #613
I think I'm able to fix this one @JonnyBurger, if you want to assign this to me ;)

[2021-10-01 15:55] JonnyBurger commented on #613
Yes for sure! Will take a look soon 😊

[2021-10-01 16:28] ahmadrosid commented on #518
Hi @JonnyBurger I would like to work on this issue.

[2021-10-01 16:33] JonnyBurger commented on #518
@ahmadrosid sure! Assigning you.

[2021-10-01 16:58] JonnyBurger commented on #614
Yep! I'm assigning you, good luck! 😊

[2021-10-01 17:06] MatteoGauthier commented on #614
Thanks a lot ! 😁

[2021-10-01 17:41] khalid283 commented on #526
@JonnyBurger Just gone through the Sequence compoent and some tests, I can take this.

[2021-10-01 17:49] JonnyBurger commented on #526
@khalid283 You got it! Good luck 🎃

[2021-10-01 18:27] aneeshrelan commented on #616
I'd like to give this a try. Can you please assign this to me?

[2021-10-01 18:30] ahmadrosid commented on #518
Hi @JonnyBurger pull request created here https://github.com/remotion-dev/remotion/pull/618 would you mind to review it? Thank you

[2021-10-01 18:30] Iamshankhadeep commented on #616
@aneeshrelan I am assigning it to you. all the best

[2021-10-01 18:56] bbudd commented on #570
I've had a bit of experience with ffmpeg.wasm, and if the node side works like the browser side, aside from the processing speed issue there's a whole lot of opening workers and not closing them when the work is finished, so you'll have a pretty severe memory issue. So even if speed weren't an issue I wouldn't suggest using it on a server until that problem has been fixed.

[2021-10-01 20:59] ankeshp03 commented on #612
Hi, I would like to work on this issue.

[2021-10-01 21:58] danilhendrasr commented on #500
Hi!, I'd like work in this issue.

[2021-10-02 06:15] JonnyBurger commented on #500
@danilhendrasr Sounds good, good luck!

[2021-10-02 06:17] JonnyBurger commented on #612
@ankeshp03 Sure! Good luck 🥨

[2021-10-02 07:02] #616 closed

[2021-10-02 08:16] MatteoGauthier commented on #614
@JonnyBurger Do you want the auto-completion for `npm init video` ?

[2021-10-02 09:42] erogleva commented on #334
Hi, I'd like to work on this

[2021-10-02 10:25] MatteoGauthier commented on #614
Hi @JonnyBurger i've created the pull request with the autocompletion works done 😁. Let me know if you have comments. Thanks for this opportunity

[2021-10-02 14:24] JonnyBurger commented on #614
Wow 👏  This is nice! Looking at the schema, it looks correct and complete! Thanks a lot for making it!
- Lambda: I thought about it and the schema will probably change still, and you cannot use it in the current release anyway. So we can skip it!
- `npm init video` / `yarn create video`: I didn't even think about it, but if it's possible that would be sick! Looks like for `yarn` two suggestions ar

[2021-10-02 14:25] JonnyBurger commented on #334
@erogleva Sure, I'm assigning you! Good luck 🎃

[2021-10-02 14:55] #518 closed

[2021-10-02 15:19] #526 closed

[2021-10-03 13:26] dnnsjsk opened #623 "Still image is black when using @react-three/postprocessing <DepthOfField/>"
Hey, first of all: thanks for this awesome tool! It works wonderfully!

I have been using Remotion with great success in combination with React Three Fiber. Even the post-processing is working wonderfully, however, it seems like when the ```<DepthOfField />``` [component](https://github.com/pmndrs/react-postprocessing/blob/master/src/effects/DepthOfField.tsx) is used, the render output is just bla

[2021-10-03 19:10] sohamsshah commented on #254
Hey @JonnyBurger ! Can I take up this issue?

[2021-10-03 19:11] JonnyBurger commented on #254
@sohamsshah Sure thing! Good luck 🎃

[2021-10-03 19:13] JonnyBurger commented on #623
Hey Dennis!

Thanks a lot for the nice words, really glad to hear you are enjoying Remotion!

I never used that component before, so could you post an example or a snippet of how you use the component? Then we can evaluate whether it's an issue with Remotion, or try to help out in general.

[2021-10-03 19:17] JonnyBurger commented on #570
@bbudd Thanks a lot for sharing your experience too. This will make us push back FFMPEG wasm support further down the roadmap, since it still seems to have some issues. By waiting a bit, maybe those will get solved.

[2021-10-03 19:24] JonnyBurger commented on #610
@marcusstenbeck The main issue in essence then, from what I can gather is that the time shifts when switching between compositions, not that it's hard to switch between compositions. (To have a UI that changes the dimensions on-the-fly is IMO a very unnatural feature and I would rather not have it, since then a video is changed and that change will not be reflected in the code.)

What we could do

[2021-10-03 23:32] dnnsjsk commented on #623
I've created a minimal repo showcasing the problem here: https://github.com/dnnsjsk/r3fpp-remotion-bug

```npm run still``` will work

However, once you uncomment this bit here: https://github.com/dnnsjsk/r3fpp-remotion-bug/blob/main/src/Scene.tsx#L61-L66

The still from the command will be just black

[2021-10-04 07:39] MatteoGauthier commented on #614
Okay i will add `create-video` to fig autocompletion, the `npm init` command is not implemented in fig...

[2021-10-04 07:44] marcusstenbeck commented on #610
@JonnyBurger After having thought about it for a bit I've realized that syncing on time isn't a great solution since it makes too many assumptions about the two compositions being compared. And really, it's the comparison of two things that I'm after.

I believe both the suggestions you made and my idea about syncing playheads are the wrong path to take to solve this. It makes implicit assumptions

[2021-10-04 12:19] JonnyBurger commented on #610
I like that we don't make any assumption about any connections between two compositions, but wouldn't it be even more complicated to show two compositions at the same time? If we don't assume any connection between them, we also need two timelines and the problem is not really solved then either.

[2021-10-04 12:59] marcusstenbeck commented on #610
Keeping track of two individually uncoupled timelines has some technical complexity to it, but I think it's more straightforward than making assumptions about how time is connected between two compositions (there's framerates to consider then too!).

I still think the original suggestion I made is the cleanest way of doing things, but I respect that you have a strong opinion against it.

I'll leav

[2021-10-04 14:17] MatteoGauthier commented on #614
@JonnyBurger Thanks a lot for your work, remotion is a great product ! ✨
(The PR is submitted to IssueHunt)

[2021-10-04 14:20] JonnyBurger commented on #614
Thanks a lot! 🙌🏼 one last thing, can you mark the PR as ready to review? Right now it's still a draft.

[2021-10-04 14:36] MatteoGauthier commented on #614
Done ✅

[2021-10-04 15:59] JonnyBurger commented on #614
Nice!! Now let's hope for the best 😃
Thanks a lot once again!

[2021-10-04 19:13] ayatkyo commented on #612
Hi, how is it going? i have fixed this problem on my local repo, if you don't mind i can make a PR for this issue.

[2021-10-04 19:16] JonnyBurger commented on #612
@ayatkyo OK, feel free to make a PR! 😃 If the solution is good, then we'll prioritize it.

[2021-10-04 19:31] JonnyBurger commented on #200
Created a Chrome issue to see what's up:
https://bugs.chromium.org/p/chromium/issues/detail?id=1255923

also the bug is fixed on linux and windows, only remains on macos (!!). See #624

[2021-10-04 19:31] #623 closed

[2021-10-04 19:44] JonnyBurger commented on #623
Thanks a lot for the repro!
Very glad you raised this issue. It turns out it's a behavior of Chrome that only activates in headless mode. After playing around with flags, I merged #624 which will solve your issue and some other ones too!

[2021-10-04 20:14] JonnyBurger commented on #610
Sounds good to me, before we make any change, let's be sure it holds up for many years.

Once we have good ideas, we can implement those.

[2021-10-04 20:16] ankeshp03 commented on #612
I found where the issue was but, didn't know the theme.
I was checking why twoslash applies its theme to the code blocks even when twoslash is not mentioned on the block.
 My bad. 🤦‍♂️

[2021-10-04 22:58] dnnsjsk commented on #623
Legend, thank you!!

[2021-10-05 14:47] ayatkyo commented on #612
Supported themes are stored in `node_modules/shiki/themes` directory.

The reason is because syntax highlighting actually done by Shiki, so even without twoslash mentioned on the code block, it will still be color themed, in this case using `min-light` or `min-dark` theme which has no info about how to color diff (`markup.inserted` - `markup.deleted` - `markup.*`) so the code block colored look li

[2021-10-05 16:14] ankeshp03 commented on #612
Thank you so much for the info @ayatkyo. I didn't know anything about shiki or twoslash. 🙈
Now I understood what they are doing. Learnt something new. 😄

[2021-10-06 09:46] JonnyBurger commented on #612
Thanks a lot for the investigation @ayatkyo!
Since your PR is ready to merge and looks good to me, I am going to assign the issue to you and reward the bounty as well.

Hope this is understandeable @ankeshp03 and feel free to look for another issue! 😊

[2021-10-06 11:21] ayatkyo commented on #612
@jonnyburger Thanks a lot! This is my first time getting dollars btw 😄

[2021-10-06 12:23] JonnyBurger commented on #612
🤑 💸

[2021-10-06 12:26] JonnyBurger commented on #600
Yes, we could add explicit class names to various player elements to allow for some easier custom styling. @evancloutier is also interested in this feature.

[2021-10-06 13:05] #614 closed

[2021-10-06 17:19] sergiomensing commented on #603
Hi! I think I can help with this and would like to be assigned this issue/feature.

[2021-10-07 02:45] LoganArnett commented on #609
Opened a PR around this with an attempt to use minimal overhead

[2021-10-07 16:07] zelmaru commented on #611
Hey, I unassigned myself, so someone else could take this issue, I am not able to fit into the 7-day limit right now :)

[2021-10-08 12:06] marcusstenbeck commented on #609
I'll let this issue rest for a bit, even though I still think time is a better measure from the human perspective. I understand the desire to use whole-number frame rates from a technical standpoint.

[2021-10-08 12:09] marcusstenbeck opened #632 "Discussion: US region (non-integer) frame rates?"
The most common frame rates used in video are the following.

[code]

Is it possible to choose a non-integer frame rate in Remotion?

Since most footage in the US is the non-integer variant, how is the seek-time of `<Video />` assets calculated?

In practice 99% of users will probably be fine with exporting one version of a video, and then incorporating it in their NLE video editing suite without

[2021-10-08 12:13] marcusstenbeck commented on #632
The question arose from the @JonnyBurger's response regarding floating point precision here: https://github.com/remotion-dev/remotion/issues/609#issuecomment-937714504

[2021-10-08 22:07] razn-v commented on #334
Hi, I would like to work on this issue, if possible, since it has been stucked for 7 days.

[2021-10-09 00:18] bpedersen commented on #611
I'd like to signup for next in line for this issue.

[2021-10-09 08:04] erogleva commented on #334
Hi, from my side, please go ahead instead of me if you'd like. I don't have a proper solution yet for this.

[2021-10-09 09:42] AudreyKj commented on #344
I'm interested in this issue! Could you expand on it? @JonnyBurger

[2021-10-09 20:04] razn-v commented on #334
Thanks for letting me know, I will make a PR then.

[2021-10-10 16:06] JonnyBurger commented on #334
Thank you both for coordinating, I'll assign it to Raznov then!

[2021-10-10 16:21] JonnyBurger commented on #344
@AudreyKj yes!

right now if there is an error in the video code, we use an error boundary and show an ⚠️ emoji in the player. However it is not customizable at all, so the task is to allow to customize what is shown when an error occurs.

https://github.com/remotion-dev/remotion/blob/main/packages/player/src/error-boundary.tsx

[2021-10-10 17:25] JonnyBurger commented on #632
It should be supported!
We tested with 29.97 and it worked well. That value is passed into FFMPEG without any mathematical operations being done.

While playing the video in the browser, we calculate currentFrame / 29.97 which might cause some minor floating point incorrectnesses, but I didn't see any problem in practice.

For any further calculations, it's the users responsibilities to handle non

[2021-10-10 17:25] #632 closed, assigned to nobody

[2021-10-10 19:00] JonnyBurger commented on #344
It would be awesome! Absolutely 😊 Assigning you now!

[2021-10-11 14:06] tohutohu opened #635 "Using local ffmpeg"
I would like to be able to use local, not just ffmpeg that exists in the PATH.

# Feature Request 🛍️

## Use Case
I'm working on an application that uses Remotion in Electron to generate videos from templates. So I would like to ask users to provide ffmpeg and place it in tmpDir and use it to render the video. (Due to licensing issues with ffmpeg)

## Possible Solution
Add an option to Config to s

[2021-10-11 14:48] dnnsjsk opened #636 "Remotion still image is blank unless <Video/ > element is present"
Hey,

I am not sure this is a bug or me doing something wrong. While reproducing the issue I noticed that it worked in the standard Remotion R3F template. However, it only works if Remotions ```<Video />``` element is present.

The repo is here: https://github.com/dnnsjsk/r3fpp-remotion-bug/tree/video

```npm run still``` will result in a blank image.

Uncomment this line: https://github.com/dnnsj

[2021-10-12 07:20] JonnyBurger commented on #636
Thanks a lot for filing! We just finally released v2.4.3 which should resolve your previous bug. Can you do a check whether the bug is also fixed with the new release?

[2021-10-13 02:43] bpedersen commented on #254
I would like to take this issue if there is no one working on it

[2021-10-13 19:42] JonnyBurger opened #640 "Audio/Video tag can appear multiple times if `currentSrc` changes"
A small regression in the newest `<source>` feature.
A more detailed bug description can be found here: https://github.com/remotion-dev/remotion/pull/597

[2021-10-13 19:48] JonnyBurger opened #641 "Player in Firefox: The fetching for the media resource was aborted by the user agent at the user's request"
This error can happen in Firefox when playing a video in a `<Player />`. Currently no more information is available.

[2021-10-14 10:08] wcandillon opened #642 "Sequences, Hot reloads, and custom Renderers"
I am running `<Sequence>` into a custom render, exactly like three-fiber. Because I need some warmup to be done, I want to use Sequence within my renderer (thanks to `<Internals.RemotionContextProvider contexts={contexts}>`), which works great. But fast refresh doesn't seem to be supported. Maybe there is something wrong in my renderer setup since I am clueless about how hot reload works.

https:/

[2021-10-15 09:57] wcandillon opened #643 "useCurrentTimelineFrame() ?"
I have a background noise that uses useCurrentFrame() and it is outside sequences (so it's doesn't blink when switching sequences). However I've just hit a use-case where I need to overlay a clipped part of this background on top of is (to do the translucency effect from apple). Here the noise will be out of sync since frame numbers will be different. Using the frame number from the timeline conte

[2021-10-16 07:27] JonnyBurger opened #645 "-buildconf is not there for ffmpeg 2.x"
# Bug Report 🐛

With FFMPEG v2, the following can happen:

![image](https://user-images.githubusercontent.com/1629785/137578163-c5a3c5cb-fd47-4a68-8693-6934ef63461e.jpeg)

[2021-10-16 16:49] #603 closed

[2021-10-18 07:30] JonnyBurger opened #646 "Cannot render an MP3 file with h264-mkv codec"
In the example repo, run `npx remotion render --codec h264-mkv src/index.tsx audio-testing out.mp4`, the conversion will fail because MP3 cannot be included in a `pcm_s16le` audio codec

[2021-10-18 11:46] #640 closed

[2021-10-18 14:22] JonnyBurger opened #650 "visualizeAudio - smoothing parameter is not documented"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%2425%20Rewarded-%237E24E3.svg" />](https://issuehunt.io/r/JonnyBurger/remotion/issues/650)

# Bug Report 🐛

---

<details>
<summary>
<b>IssueHunt Summary</b>
</summary>

#### [<img src='https://avatars.githubusercontent.com/u/616906?v=4' alt='marcusstenbeck' width=24 height=24> marcusstenbeck](https://issuehunt.io/u/marcusst

[2021-10-18 15:54] #636 closed, assigned to nobody

[2021-10-18 16:28] JonnyBurger opened #652 "Media tag duplicates if volume is interpolated"
![image](https://user-images.githubusercontent.com/1629785/137771931-ecb467e4-d99d-450b-8478-3d3827bd0a0a.png)

![image](https://user-images.githubusercontent.com/1629785/137771943-3a42e3fd-070e-4eb3-aa2e-11a530d30702.png)

[2021-10-18 17:35] ThatNerdUKnow opened #653 "Dynamic durationinFPS for Audio"
I was looking through the docs and you can parametrize pretty much everything using the delayrender and continuerender hooks. The example on the website shows how to wait until the metadata for a video is loaded then continue rendering to load the full video. Is there a way to dynamically set the duration for audio as well?

[2021-10-19 17:49] JonnyBurger commented on #653
Hi Brandon!

Yes indeed, you can use the function [`getAudioDuration()`](https://remotion.dev/docs/get-audio-duration) from `@remotion/media-utils` and use the same technique - delay the render, fetch the duration, and use it as an input prop to parametrize the video.

Hope this helps!

[2021-10-19 17:49] #653 closed

[2021-10-20 06:26] Muhammad-Ashik opened #655 "Render video on button click"
# Feature Request 🛍️

I want to render the video on button click. Currently the video renders on command which is npm run build. I have a react project. I whatever I did with Remotion then I want the video to be render on button click like onClick event. Is it possible

[2021-10-20 13:17] tohutohu opened #657 "Audio tags can't load audio from URL"
# Bug Report 🐛
[The documentation](https://remotion.dev/docs/using-audio) says that the Audio tag can be used to pass URLs to Prop.
However, when I write the following code, I get an error.

OS: Windows 11
Node.js: v15.4.0
Remotion: 2.3.2

[code]

[code]

[2021-10-20 13:21] JonnyBurger opened #658 "Player custom playback buggy behavior"
Reported by `@krlk89` on Discord:

[2021-10-20 13:32] #657 closed, assigned to nobody

[2021-10-20 14:15] JonnyBurger opened #659 "backdropFilter blur() doesn't apply in rendering mode due to ANGLE renderer"
to be confirmed and fixed

[2021-10-20 14:58] nandorojo commented on #659
In my case, it works but only sometimes.

One thing to keep in mind if you fade in a component: be sure to apply `opacity` to the same element that has the blur

[2021-10-20 16:10] JonnyBurger opened #660 "⚠️ Oct 21 - Oct 23: Lower level of support"
Hey 👋

During October 21st and October 23rd, I'll have other duties and the level of support might be lower than usual. Feel free to open pull requests and issues nonetheless and if nobody from the community handles them, I'll answer with a few days delay.

A special heads-up to those who have already filed an issue or PR @audreykj @bpedersen @wcandillon and are waiting for a response: Sorry for t

[2021-10-21 20:21] JonnyBurger commented on #659
Updated the repo with green text as suggested.
While the blur works, it disappears fast as you decrease the opacity.

But, same in preview as in render :(

If no repro can be done, I suggest the closing of the issue.

[2021-10-21 20:24] nandorojo commented on #659
Yeah just go ahead and close fhen

[2021-10-21 20:31] #659 closed

[2021-10-21 21:50] hicay commented on #641
Because of Autoplay policy videos can't shown in mobile. If we add `autoPlay={false}` to `<Player />`, error in the title is gone.
But there is one more issue. Play triggered without user interaction is **autoplay**.
So that in mobile browsers any javascript call to **play()** must be in the same call stack as a user initiated click event.

![image](https://user-images.githubusercontent.com/399641

[2021-10-23 02:15] C-o-d-e-C-o-w-b-o-y opened #662 "Error: error:0308010C:digital envelope routines::unsupported"
Steps to reproduce:

* yarn create video
* cd my-video
* yarn start

[code]

[2021-10-23 03:09] M4FFS opened #663 "Unnecessary Compositions in Video.tsx"
Using the `Hello World` template, a file is generated called `Video.tsx` which contains some compositions, however only the first composition is required as it imports the others

The following can be removed and preview still works:

[code]

[2021-10-24 02:56] #663 closed

[2021-10-24 13:06] #660 closed, assigned to nobody

[2021-10-25 08:19] #635 closed, assigned to nobody

[2021-10-25 15:36] JonnyBurger opened #667 "Force all Remotion versions to be the same"
We should fail hard if `remotion`, `@remotion/player` etc. are not all the same version. Subtle bugs will eventually come up.

[2021-10-25 17:58] #662 closed, assigned to nobody

[2021-10-26 06:51] JonnyBurger opened #669 "Allow to deploy Preview to show off"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%240%20Funded-%2300A156.svg" />](https://issuehunt.io/r/JonnyBurger/remotion/issues/669)

# Feature Request 🛍️

Allow to deploy the preview you get when running `npx remotion preview` so you can show it off to your team

## Minimum features

- Should implement a new CLI command that bundles the preview in production mode
- Sh

[2021-10-27 07:07] VirenMohindra opened #671 "Lambda generated videos takes time before its completely ready to download"
I'm currently using remotion-lambda (v. `3.0.0-lambda.25+9573ee628`) to generate videos on AWS.
After awaiting the `renderVideoOnLambda()` I display the video on the frontend.
The problem is, the area inside `renders/{renderId}/out.mp4` gets reserved, but it takes time for either the video to get stitched up or to completely propagate (not sure exactly).

If I try and go to the url before everythi

[2021-10-27 09:47] #671 closed, assigned to nobody

[2021-10-27 19:35] JonnyBurger opened #673 "Can happen that "volume array must have at least 1 number""
Let's do some off-by-one-testing to see if we can reproduce a case where it crashes

[2021-10-27 20:03] JonnyBurger opened #674 "Show in preview if delayRender() is being called"
Would be nice to visually indicate that a delayRender() handle is being open.

[2021-10-27 20:09] JonnyBurger opened #675 "Have a way to import static assets locally via URL (not via import)"
This is a pretty popular usecase, all kind of assets get imported that way.. .glt, .ttf...

[2021-10-27 20:28] JonnyBurger opened #676 "Wrapping a Three.JS component in <Suspense> causes a silent timeout"
Because we already wrap it in Suspense. Probably not so obvious for the user why this happens...

[2021-10-29 09:38] #673 closed, assigned to nobody

[2021-10-31 09:55] JonnyBurger commented on #676
You are right @dnnsjsk! Sorry for the repeated trouble with the Three integration. Now it was broken when there was no component suspending.

Will fix it with #679 and will be in the next release, you can install `2.6.0-alpha.1+ec1b2dd3e` to get the bugfix right now.

[2021-10-31 10:05] #676 closed

[2021-10-31 11:36] JonnyBurger commented on #652
@nandorojo

This is a case where Remotion cannot gather enough context to display a good timeline in rich timeline mode.

So we are suggesting to use a callback function for the volume prop instead. To educate users better, we are adding a console warning + ESLint rule for this case: #680

[2021-10-31 11:39] #652 closed

[2021-10-31 11:50] #645 closed

[2021-11-01 01:23] nandorojo commented on #652
I think that works! That API was solid for me.

[2021-11-02 15:54] blakebullis opened #682 "PlayerUI Uncaught Error. Dynamic Import -> Mentions React.lazy()"
Here is a screenshot of my Chrome console.  It looks like the error boundary inside the remotion/player is being fired off.  Not sure what or where it is exactly being fired from.  I am using the player inside a next@12 and react@17 setup.

I just started getting the error after a large upgrade across multiple packages.

https://res.cloudinary.com/missilemedia/image/upload/v1635868293/Screen_Shot_

[2021-11-02 17:19] blakebullis commented on #682
Issue is resolved.  It was not a PlayerUI issue.  There was an error within from a component that was being passed into the PlayerUI and captured by the ErrorBoundary of the PlayerUI.

[2021-11-02 17:19] #682 closed

[2021-11-03 09:08] JonnyBurger commented on #682
Glad it got resolved!

[2021-11-05 08:45] wcandillon opened #684 "Series.Sequence cannot be nested"
I love `Series.Sequence`, it just makes things so much easier.
I used to rely on nested sequences. For instance:
[code]

Not a big deal at all but I wasn't able to build the same nesting with `Series.Sequence`

[2021-11-05 13:30] JonnyBurger opened #685 "We should add @types/web to default template"
It has important types like `requestVideoFrame()` and `document.fonts.add` that you don't get out of the box

[2021-11-06 06:59] andrei-zgirvaci opened #686 "Confusing validation for startFrom and endTo props"
I am passing my own `startFrom` and `entAt` props to `remotion preview`. The props I am passing are actually objects and not numbers:
[code]

Later I use these props to calculate the actual `starFromFrame` and `entAtFromFrame`.

While I didn't see any problems with this approach, I was really surprised to see that the preview actually fails because it's expecting these props to be actual numbers a

[2021-11-06 15:30] JonnyBurger commented on #686
Hi Andrei!

Need some clarification, from what I understand you are passing an object of shape `{minutes: number; seconds: number; milliseconds: number}` to either an `<Audio />` or `<Video />` tag and are expecting it to work?

We designed these props to be numbers and documented it this way, so I see it as expected that it throws an error if you pass an object. Am I missing something? Is it rele

[2021-11-06 16:37] JonnyBurger commented on #658
Hi @krlk89, regarding 1. I find that calling `.toggle()` after the `ended` event will start the video from the beginning, no matter if done immediately, or with a timeout.

[code]

Do you have the `loop` property and so the video never even stops?

#2 was a race condition which we fixed already in the meanwhile in #631.

Regarding #3, I agree and have opened a fix here: #688

[2021-11-06 16:43] JonnyBurger commented on #685
Added everywhere!

[2021-11-06 16:43] #685 closed

[2021-11-07 05:00] andrei-zgirvaci commented on #686
Hi Jonny!

Sorry if I wasn't clear enough.

So, I am not using these props for <Audio /> or <Video /> components, I just need them passed from the cli to the app so I can compose the actual `startFromFrame` & `endAtFrame` for the <Audio /> & <Video /> components.

Maybe it will be clearer if I just add my code:

[code]

[2021-11-07 13:56] JonnyBurger commented on #686
@andrei-zgirvaci I did not try it myself, but I see we are calling the function `validateStartFromProps` exclusively from inside the `<Video/>` or `<Audio/>` component.

Therefore I am wondering if you did not accidentially pass the props in form of an object to the Video element, for example using `{...props}`?

[2021-11-07 14:00] #658 closed

[2021-11-07 14:01] JonnyBurger commented on #658
I merged fixes for 2 and 3, for 1) if you have a better repro I am happy to reopen the issue!

[2021-11-09 11:10] andrei-zgirvaci commented on #686
@JonnyBurger I double-checked and made sure that my props are indeed numbers. Yes, I am using a Video and Audio component in my composition, but I made sure the props are numbers.

Would be good if you could replicate my code and see if you have the same issue as me.

[2021-11-10 09:21] JonnyBurger commented on #684
On the contrary, I was able to nest a series inside a series and it worked:

![image](https://user-images.githubusercontent.com/1629785/141085635-c7fb9d15-5726-488a-84ed-5eb5741ed9b7.png)

You can nest another `Series` or just a `Sequence` inside a `Series.Sequence`. Need a better repro or I'll need to close the issue unfortunately.

[2021-11-10 09:24] wcandillon commented on #684
Thanks a lot! My issue was that I never used `<Series>` standalone. My apologies.

[2021-11-10 09:24] #684 closed

[2021-11-10 11:05] #534 closed

[2021-11-10 11:10] JonnyBurger opened #693 "Support pnpm as first-party package manager"
- [ ] Add it to the docs as a third option
- [ ] Add it to `create-video` template, detect when `pnpx` was used to create the video

[2021-11-10 12:31] JonnyBurger commented on #686
Thanks for double-checking! I see it now and for a while, I got just as confused as you even.
However, as it turns out, the behavior is correct and in a way where it is not possible to change in a backwards-compatible way.

Although you are passing in a number as `defaultProps`, this gets overwritten by the data you passed via the CLI.
`defaultProps`, as the name says, are only the default, but ma

[2021-11-10 12:31] #686 closed

[2021-11-12 04:48] giraffekey commented on #79
Hey. If you want framework-agnostic web components, I've heard the [Stencil](https://stenciljs.com/) library is capable of this.

[2021-11-12 06:20] nestorconde opened #694 "TimeValue component does not show time but a combination of time and frames"
# Bug Report

TimeValue shows minutes:seconds before the decimal point and after it shows the number of frames after the second. For example, when showing 00:43.17 this is in fact 00:43.{17*fps}. This is a screenshot of the place in the interface I'm talking about.

<img width="408" alt="Screenshot 2021-11-12 at 07 51 32" src="https://user-images.githubusercontent.com/201103/141417024-c79efe3e-796

[2021-11-14 16:04] JonnyBurger commented on #694
Hi there! Thanks for bringing this up. I actually never thought about it as much.
While I don't necessarily have a specific preference for one way or another, I think it makes sense to keep it in the same format as other video editing programs. I checked how other vendors (Davinci, Adobe and Apple) do it and it seems like everybody encodes the time in the same format as we do.

Davinci Resolve (op

[2021-11-14 16:04] #694 closed

[2021-11-15 10:21] JonnyBurger opened #700 "Loop button is shown for still compositions"
we should hide it for stills.

[2021-11-16 11:39] marcusstenbeck opened #702 "Background in Blank template is white in export"
If a background is not specified, the fallback color in the preview is black but it's white in the export.

Would be nice to have the same fallback colors. I tripped on this today.

Workaround is to set a background in the composition.

[2021-11-16 20:44] JonnyBurger commented on #702
Very true, thanks for reporting this!

[2021-11-17 09:09] JonnyBurger opened #703 "Error message for composition outside player is bad"
`You are probably calling useVideoConfig() from a component which has not been registered as a <Composition />`.

Doesn't make sense when you are using the player 😄

[2021-11-18 18:58] krlk89 commented on #658
thank you for the fixes!
i could not reproduce 1) anymore, so it's all good from my side.

[2021-11-22 12:24] #702 closed

[2021-11-24 01:50] dnnsjsk commented on #676
Hey @JonnyBurger
I've just tried this project with 2.6.0-alpha.3 and now it renders without problems.

However, uncommenting https://github.com/dnnsjsk/r3fpp-remotion-bug/blob/video/src/Phone.tsx#L30 will render a blank image.

[2021-11-25 09:28] JonnyBurger opened #710 "StackBlitz template"
StackBlitz seems nice. Would be cool if we can preview it online

[2021-11-25 09:29] JonnyBurger opened #711 "Github Light / Dark mode images for templates"
Just announced: https://twitter.com/github/status/1463556704436637707

[2021-11-25 09:29] JonnyBurger opened #712 "README.md for `remotion-dev` Github Org"

[2021-11-25 09:30] JonnyBurger opened #713 "Ensure each npm package has a suitable `README.md`"
For those who find e.g. Remotion via npmjs.org

[2021-11-25 09:53] #700 closed

[2021-11-25 13:24] JonnyBurger commented on #676
@dnnsjsk Thanks for reporting! We've fixed this as well, and sent you a PR

[2021-11-30 10:12] loicnestler commented on #675
Any updates on this?
Or at least workarounds?

[2021-11-30 13:42] JonnyBurger commented on #675
The best workaround is to host it publicly, e.g. in a S3 bucket.

I realize this is annoying, I'll make sure to prioritize it higher!

[2021-12-01 03:10] rafaelramalho19 commented on #50
Currently there's no way to allow Deno support while still using typescript (More info here: https://github.com/microsoft/TypeScript/issues/37582)

Basically, you cannot have something like:

[code]

Because the TS compiler will just throw: `An import path cannot end with a '.ts' extension. Consider importing './any-component' instead.ts(2691` and deno requires the import to specify the file exten

[2021-12-01 09:31] coryoso opened #716 "Expose `deviceScaleFactor` from puppeteer to create pixel perfect videos"
Remotion is a great tool, especially for creating interface mockups/demo videos of either existing code or by being faster at writing code. While creating a demo video of a mobile web software I faced an issue regarding the resolution, as I needed the video dimensions to exactly match those of a smartphone. Creating the mobile phone scenes with a greater width/height would work as well but is unne

[2021-12-01 23:42] sulco commented on #710
Let me know if the StackBlitz team can be of any help!

I love the idea behind Remotion, but/and that would be an interesting stress test for WebContainers! :)

[2021-12-02 12:33] JonnyBurger commented on #716
Thanks for the detailed feature request!

Since video formats don't know anything about pixel densities, I am thinking you are asking for a general scale feature, where e.g. you compose the video on a 1000x1000 canvas, and pass a scale=2 factor to render a high resolution 2000x2000 video, is that correct?

Generally I think it is not the ideal approach to create a video like this. Let's say you wa

[2021-12-02 13:22] JonnyBurger commented on #710
Thank you @sulco! I will look forward to playing around with it. As a starter, we can get web preview working, which is super useful already, if rendering a video works as well, I will be pleasantly surprised!

[2021-12-03 13:19] loicnestler commented on #675
Would you be fine with a solution like:

Add an argument to remotion's run / dev command that runs `vercel/serve` in parallel to webpacks build steps?
I might find the time to create a small PR for this.

[2021-12-03 18:39] Iamshankhadeep commented on #675
hey @loicnestler if you want do consider sending a PR for it. We would be happy to implement this feature. thanks

[2021-12-04 11:39] JonnyBurger opened #718 "Render as GIF"
Provide GIF as an output format

[2021-12-04 11:46] JonnyBurger commented on #50
I think a complete migration to only Deno is out of the question, with Node being the much bigger platform.

If it is sure that it's not possible to support Node and Deno at the same time with one codebase, I would close this issue as the effort to support Deno is too much. Personally I haven't invested time into it yet, and the priority is rather low, although I see it as a nice feature.

[2021-12-06 09:46] JonnyBurger opened #719 "Get compositions from CLI"
$ npx remotion comps src/index.tsx
my-comp-1 my-comp-2

then you can script it with a bash loop to render all compositions at once

[2021-12-10 11:01] JonnyBurger opened #721 "Mute button in the timeline"
Let's say I don't care about the audio right now and want to listen to my own audio during coding. Would be a nice to have!

[2021-12-11 22:32] JonnyBurger opened #722 "toggle() in <Player/> does not fire 'play' event"

[2021-12-11 22:36] JonnyBurger commented on #722
never mind... xD

[2021-12-11 22:36] #722 closed

[2021-12-12 17:06] JonnyBurger opened #723 "Player audio issues in <StrictMode>"
Strict mode renders everything twice, which breaks the logic in here:

https://github.com/remotion-dev/remotion/blob/51967dbadbf74a1d06d356ba2f1d7571b6857407/packages/core/src/audio/shared-audio-tags.tsx#L178-L179

This often occurs as audio playing twice.

Current workaround: Disable Strict mode.

[2021-12-12 17:08] JonnyBurger opened #724 "toggle() Player API method should accept event parameter"
To make it consistent with play() and to avoid autoplay restrictions

[2021-12-13 10:19] JonnyBurger opened #725 "Font changes in ProRes Render"
Hello World project:
in preview:
![](https://cdn.discordapp.com/attachments/817306238811111454/919717772739633232/preview.png)
after render
![](https://cdn.discordapp.com/attachments/817306238811111454/919717947549831208/rendered.png)

Command used: `npx remotion render src/index.tsx HelloWorld out/video.mov --codec=prores --prores-profile=4444-xq`

Reported by Rüt the Spider Slayer on Discord.

[2021-12-13 15:39] #724 closed

[2021-12-15 22:51] gorhom opened #730 "Compositions grouping"
Introduce compositions grouping on the side bar.

# Feature Request 🛍️

The request is to provide a way to group compositions on the side bar which will help users to focus on selected groups that they are working on.

## Use Case

For mid to large scale projects, we would en up with a lot of compositions that makes it difficult to find them, for example:

having multiple compositions that serve u

[2021-12-16 11:31] AbdulBsit opened #731 "Get all props/inputProps associated with composition on server-side"
Helper Function to get the all inputProps from bundle associated with particular composition or global on server-side, structure may be looks like
[code]

# Feature Request 🛍️

What i want is the key/fields/inputProps associated with the composition, as they are the placeholder for parameterized/dynamic rendering.

## Use Case

Can be used in creating forms for dynamic parameterized rendering, we

[2021-12-19 12:40] JonnyBurger commented on #731
Thanks for the feature request! This is a good idea, although currently the schema is defined nowhere, except for in Typescript, which compiles away.

But what we can do is to return the `defaultProps` you defined for each composition, when you call `getCompositions()`. Would that solve your problem?

[2021-12-19 12:43] JonnyBurger commented on #730
Thanks a lot for the feature request @gorhom and sorry for responding only now!

I like the idea in general and would be interested in implementing a `<Folder />` component:

[code]

I prefer this explicit way rather than doing it automatically using the prefix. Would this also work for you?

[2021-12-19 12:49] AbdulBsit commented on #731
Yes, that would solve my problem, thanks 👍

[2021-12-20 10:42] AbdulBsit opened #733 "Error Configuring complex filters, Invalid Argument"
# Bug Report 🐛
While rendering the video on window server it renders the frames but throws error while stitching in ffmpeg, while it works fine locally
**Logs**
[code]

[2021-12-20 12:10] JonnyBurger commented on #733
Hi! Thanks for filing. Looks like you are using FFMPEG version 3.2, while the minimum required is 4.1.

Theoretically you should see a warning in your terminal that says that your FFMPEG version is too low.
I will only consider it a bug if that's not the case. To resolve the problem, you need to upgrade your FFMPEG!

Hope that helps!

[2021-12-20 12:13] JonnyBurger commented on #725
This is because Firefox and Chromium have different default fonts for `monospace`.
I do not consider it a bug in Remotion then, and am going to close it.

[2021-12-20 12:13] #725 closed

[2021-12-20 12:46] JonnyBurger commented on #731
Thanks for the offer! It's kinda trivial, already opened a PR. Will do some testing and looking forward to a release in the next few days.

[2021-12-20 12:48] AbdulBsit commented on #731
Okay, That's great

[2021-12-20 12:48] #731 closed

[2021-12-20 12:51] AbdulBsit commented on #733
Yeah got it!

[2021-12-20 12:51] #733 closed

[2021-12-21 14:52] sboli opened #737 "Compatibility with Tailwind CSS v3.x"
Support version 3.x of TailwindCSS

# Feature Request 🛍️
As of now, following the guide on how to integrate TailwindCSS leads to build errors. I figured maybe it was not compatible with 3.x yet. And indeed, setting tailwind to 2.x it did work;

## Use Case

Command line instructed in the docs should work (will install tailwind 3x.)
https://www.remotion.dev/docs/webpack/#enable-tailwindcss-support

[2021-12-21 20:30] JonnyBurger commented on #737
Thanks for filing! This is a valid issue.
We'll look forward to updating the docs, for now we added a warning that this documentation concerns V2 of Tailwind.

[2021-12-22 10:17] JonnyBurger opened #738 "Improve explanation of the difference between `<Sequence>` and `<Composition>`"
The docs for these fundamental components could use an overhaul and maybe a more visual explanation.

[2021-12-22 19:54] vincsb opened #739 "Minor visual regression on current composition"
# Bug Report 🐛

Hello there,

In the player, i think there is a minor visual regression on current composition overview. I tag it as bug but it's really not a big deal.

Here is the issue, no margin between image and metadatas:

<img width="1382" alt="current" src="https://user-images.githubusercontent.com/8859537/147146884-3aa6c76d-8f43-425a-9831-bd6463984a6c.png">

Find a screenshot on Remotion

[2021-12-23 10:43] JonnyBurger opened #740 "Allow to customize the Player UI more, e.g. the Play button"

[2021-12-23 14:44] JonnyBurger commented on #739
Thanks a lot for reporting! 😊

[2021-12-23 14:44] #739 closed

[2021-12-23 20:36] jpsjanuario opened #741 "[iOS] Video playback issues and no sound"
# Bug Report 🐛

I've created a simple project containing a Remotion player to test some features and use cases. The Player includes just an Audio tag as a background sound and a sequence of three videos inside a Series.

https://github.com/jpsjanuario/remotion-player/blob/main/src/PlayerComp.tsx

[code]

It works pretty smoothly on desktop browsers and Android phones, but I'm having some issues wh

[2021-12-27 17:03] JonnyBurger commented on #641
We fix this in #743:

- Fix the error occurring in Firefox
- Videos now play based on the same call stack and can have sound if they play in the beginning.

I was wrong @hicay! Sorry and thanks for reporting 🙏

[2021-12-27 17:07] JonnyBurger commented on #741
Thanks @jpsjanuario for reporting and for your patience!
I managed to fix a few issues:

- The first video now plays with sound, when interacting with the player
- The video will not continue to play when pause is pressed or the video ends.
- Fixed an issue causing the video to lag.

The following issue remain and do not work in Safari:
- Playing Audio and Video at the same time (not supported in

[2021-12-27 17:07] #641 closed

[2021-12-27 17:07] #741 closed

[2021-12-28 18:10] raphibolliger opened #745 "Many mp4 videos in Sequenze"
# Bug Report 🐛

I have a Sequenz with 1 or n `.mp4` videos. The following code is more or less in the `RaceClips.tsx` file
[code]
This will always play all videos at the same time at the start of the Sequenze. My idea was that each video is playing after the previous one. I am not sure if this is a bug or it is not possible to play more then one video inside a Sequenze.

![image](https://user-imag

[2021-12-29 09:11] lgh06 commented on #399
see also:

[2021-12-29 11:07] JonnyBurger commented on #745
Hoi Raphi!

This prop defines how much of the beginning of the video should be cut off, not where in the timeline it should start.

You could therefore refactor code as follows:

[code]

or more concise:

[code]

I assume this will solve it, let me know if not!

[2021-12-29 11:07] #745 closed

[2021-12-29 11:08] JonnyBurger commented on #675
Fixed by #736 !

[2021-12-29 11:08] #675 closed

[2021-12-29 13:24] #341 closed

[2021-12-29 14:53] JonnyBurger commented on #600
Fixed by adding documentation in 7f5b9c58a5b696ef4fdcac00c05e7fac46c34748

[2021-12-29 14:53] #600 closed

[2022-01-02 11:27] JonnyBurger opened #749 "Should "cd" into the new directory after running npm init video"
So often you type "npm start" and then realize you are not yet in the right directory!

[2022-01-02 11:28] JonnyBurger commented on #749
Also, it could ask if you want to open it in the editor! :O that would be an unique feature.

[2022-01-02 13:20] PaddyWitzigmann opened #750 "@remotion/player problems (gabs between videos, repeated data fetching)"
I want to build a web app where I play multiple videos in a row. As a video source, I use urls / videos in the cloud.

I am facing the following problems and would be super thankful if you could help me with this.

1) The videos are not played smoothly after each other as specified. There is always a gap between the videos.
2) The videos are loaded every time during play. Even when replaying video

[2022-01-02 14:56] JonnyBurger commented on #750
Hi Patrick!
Good to see you are working on something!

Preloading the assets is currently the responsibility of the user, although we might add native APIs for it at some point.
The basic example of a preload would looks something like this:

[code]

Unfortunately your scenario is a special case, because that URL redirects to another URL and then it doesn't work. So for it to work in your scenario

[2022-01-04 06:27] tomByrer commented on #738
`<Composition>` = acts in a play ? (only 1 at a time, in sequence)
`<Sequence>` = a 'track' in the timeline
?

[2022-01-05 03:37] tomByrer opened #754 "Provide error warnings in timeline UI"
# Feature Request 🛍️

Have a pop-up box or something in the timeline-player, when bad React programmers like myself make an error.  Console does provide errors, but took me a minute to think of looking there.

## Use Case

Console.log :
`Uncaught Error: Groupings(...): Nothing was returned from render. This usually means a return statement is missing. Or, to render nothing, return null.`
oops

edi

[2022-01-05 04:33] tomByrer opened #755 "<Group> & <Groupings> for <Sequence>s"
# Feature Request 🛍️

Similar to how [Rive has 'Groups'](https://help.rive.app/editor/fundamentals/groups), helpful to collect

## Use Case

If you have many Sequences, having them all inside a single Composition would be hard to handle.  Also, being able to time-offset a group of sequences at once would be helpful.

## Possible Solution

### Nested `<Sequence>`

[code]
The above works great, but

[2022-01-05 04:34] tomByrer commented on #730
Seems good for me.
I like the `Folder` term, I was hoping to use [`Group` elsewhere](https://github.com/remotion-dev/remotion/issues/755)

[2022-01-05 10:08] kss943 opened #756 "React Native Support"
Hello!

Are you planning to add remotion support for react-native?
Looks like it could be useful in some of my projects.

[2022-01-05 17:53] JonnyBurger commented on #754
You are right, it is fixed in 2.6 😃 Same idea as I had!

[2022-01-05 17:53] #754 closed

[2022-01-05 20:36] tomByrer commented on #756
Do you mean [Remotion `<Player>`](https://www.remotion.dev/blog#player-is-now-stable) to be used in RN?

I'm sure rendered MP4s will work fine in any mobile platform. ;)

[2022-01-06 12:10] wcandillon opened #757 "Custom renderer doesn't work in the latest version"
After upgrading to the latest version, I am getting the following issue:

[code]

[2022-01-06 13:17] JonnyBurger commented on #755
The problem here is that Remotion will only display a timeline based on what is rendered currently in the canvas.
A nested sequence is indeed shown in the timeline, if you are inside the time range of the parent sequence.

If you are outside that parent sequence, we render `null` and therefore don't render the child sequences. Why? Because the return value for `useCurrentFrame()` could become nega

[2022-01-06 13:19] JonnyBurger commented on #756
For now, I think it would work in a WebView.

We did not experiment with it yet, but before we decide to do or not do it, we should definitely hack a demo. So I'll leave this issue open for now!

[2022-01-06 13:51] #757 closed

[2022-01-06 13:52] JonnyBurger commented on #757
thanks! just pushed a fix, will be in 2.6.1 and also you will need to install `path-browserify` as a dependency. we made remotion much lighter and that it only worked by coincidence because it was already in the dependency tree. So you need to add it manually since canvaskit uses the Node.JS `path` module.

[2022-01-06 13:55] PaddyWitzigmann commented on #750
Thanks for your help Jonny!! :)

[2022-01-06 13:55] #750 closed

[2022-01-07 09:18] flowforfrank opened #760 "TimelineSliderHandle is not draggable"
# Bug Report 🐛

Thank you for the awesome tool @JonnyBurger!

Usually, in video editors, the user can drag the seek bar around in the timeline by grabbing the knob at the top. This is not possible in Remotion as it grabs click events:

![seeking](https://user-images.githubusercontent.com/7797154/148521251-0fa9b392-a10c-465f-99bd-9d415f8d9216.gif)

The issue likely could be fixed by applying `point

[2022-01-07 10:14] tomByrer commented on #755
Thanks for the feedback!

I still feel the need to organize `<Sequence>` since the number of them can easily grow into 100+ for a longer or more complicated video.

For half o my use cases (adding some motion to a song, podcast, etc) what you have now is perfect.  But if I take clients on for more video work, I will hit that barrier.  I could chop up my editing to shorter clips, but that could be

[2022-01-07 13:46] JonnyBurger commented on #760
Hey Ferenc!

Thanks a lot for the report, I love these issues coming from attention to detail 🙂  Will be fixed soon!

[2022-01-07 14:05] JonnyBurger commented on #755
I see the need for it, we need to find a way to send better signals to the editor on how to display child sequences.

Actually, to solve this, we implemented the [Rich timeline](https://remotion.dev/docs/timeline) which does display the child sequences. Are you already familiar with it?

I don't think it's that easy to work around it: Let's say we define a sequence with `startFrom={10}`. If the cu

[2022-01-07 14:06] #760 closed

[2022-01-07 16:38] arthurdenner commented on #737
I was testing this today and have some things to share.
I added Tailwind v2 to a new project and then updated it to v2.

On v3, the config file seems to be required, so I had to run `npx tailwind init` to create it. After doing that, Remotion's preview loaded but the styles were not applied.

To fix that, I had to add `content: ['./src/**/*.{ts,tsx}']` to the Tailwind config, so it knows where to

[2022-01-07 16:43] arthurdenner commented on #737
But if you're okay with this, the steps are:

- Update Tailwind to the v3 (e.g `npm i tailwindcss@latest`)
- Run `npx tailwindcss init` to create the config file
- Add `content: ['./src/**/*.{js,jsx,ts,tsx}']` or similar to the config file

[2022-01-07 17:38] arthurdenner commented on #710
I did a quick try and the HelloWorld and ThreeJS templates just worked with `npm start`! 🤩

I imported them directly from GitHub with the following URLs:

- https://stackblitz.com/github/remotion-dev/template-helloworld
- https://stackblitz.com/github/remotion-dev/template-three

I had issues linking my forks to a GitHub repo.

<details>
<summary>More details if you're interested:</summary>

It di

[2022-01-09 10:19] JonnyBurger commented on #710
That's sick! We are probably going to link StackBlitz containers in #478 so people can test it in the web.

What doesn't work is rendering. I think we cannot add native FFMPEG binaries or launch Puppeteer because everything runs in the browser (let me know if I am wrong about this @sulco) but it is still very useful for quickly experimenting!

[2022-01-09 12:46] JonnyBurger commented on #749
It's impossible as it turns out to modify the parent process, but I implemented the "Open in Editor" feature.

[2022-01-09 15:16] #693 closed

[2022-01-09 15:16] #749 closed

[2022-01-09 18:40] tomByrer commented on #754
I think I saw the new in-UI error report once of the past 2 days.  I keep seeing the "White Screen of Death" & have to open DevTools:Console to figure out the cryptic errors to find my typos.

[2022-01-10 09:17] JonnyBurger commented on #754
@tomByrer can you give an example of how to trigger an error that does not pop up the overlay?

[2022-01-10 22:51] michaelGregoire opened #768 "Render with audioData and visualization"
First I want to say thanks for such a terrific framework! This is something I've long needed. So far everything's been working beautifully when previewed. However, when it comes time to rendering it, that's another thing altogether.

When I try to build, I get the following error, with the frame number being anywhere between 3 and 6:

`The following error occurred when trying to render frame 5:
Er

[2022-01-11 06:42] tomByrer commented on #768
How long is long?  What is your system & renderer memory usage before & during this?

One of my main use cases is to use Remotion with podcasts.

[2022-01-11 06:48] tomByrer opened #769 "refactor to remove fat arrow functions =>"
Normal `function` functions use less heap/memory & are slightly faster than 'fat arrow' `=>` functions, due to fat functions needed to be re-instanced every time they run.  Since functions & components can be ran several times per second, would be better to use the least CPU & memory as possible, unless you need to avoid `this`.

Usage scenarios improvement: low powered mobile devices, underpowere

[2022-01-11 06:50] tomByrer commented on #769
Workaround, use a build script to translate fat-arrow into classic functions, but then the build time will lengthened...

[2022-01-11 12:49] michaelGregoire commented on #768
Good questions. I've updated the details.

[2022-01-11 14:24] #667 closed, assigned to nobody

[2022-01-11 14:34] JonnyBurger commented on #768
Hi Michael!

Thanks a lot for the detailed writeup 👌  very helpful.
The API is designed that it needs to fetch the full audio file and process it, for which 25 seconds is probably too little in your case. For your scenario I don't see any solution other than increasing the timeout.

This is something we want to support anyway, I'll work on adding this to unblock you hopefully as soon as possible.

[2022-01-11 15:03] michaelGregoire commented on #768
Hi Jonny! Thanks so much! Yeah, increasing the timeout was one thing that I looked into doing and did see that's currently not configurable. So, yeah, if you could add support for that, it would be fantastic! Thank you!

[2022-01-11 21:24] JonnyBurger commented on #768
Possible in Remotion 2.6.3!

https://www.remotion.dev/docs/timeout#increase-timeout

[2022-01-11 21:24] #768 closed

[2022-01-11 21:32] michaelGregoire commented on #768
That was fast! Thanks Jonny!

[2022-01-11 21:49] michaelGregoire commented on #768
100000 was the magic #! Thanks again.

[2022-01-11 21:52] michaelGregoire opened #772 "remotion upgrade command does not update package.json"
I just used the `remotion upgrade` command to upgrade to 2.6.3, but the versions in my `package.json` were not also updated to match the newly installed version. Fixing that might prevent any confusion.

[2022-01-11 22:15] michaelGregoire commented on #768
And here's a snippet… https://www.dropbox.com/s/aoauuzl1osqs77x/BSBCTBR0041.mp4?dl=0

[2022-01-12 05:17] tomByrer commented on #769
Interesting @JonnyBurger why did you refactor to use MORE fat arrows, when I suggested to NOT use fat arrows for optimization reasons?

It's your codebase, you can do what you want, but to close an issue with a PR the does the opposite either means you misunderstood, I didn't explain well, or there is a passive-aggressive thing going on?

[2022-01-12 07:50] JonnyBurger commented on #769
I misunderstood the issue and did the opposite. When I realized I closed the PR.
The issue is still open, please hold while I see if it's worth it. There are 10 times more arrow functions so it's a different scale.

[2022-01-12 12:15] jamfive opened #773 "Any Charts Library support?"
It would be great if there was a consistent support for any Charts library. Especially for the animations within. Thanks.

[2022-01-12 19:13] JonnyBurger commented on #773
I'm sure Remotion works with various chart libraries, but +1 for adding some examples / documentation / tutorials for it!

[2022-01-12 19:25] JonnyBurger commented on #772
It just runs `npm update remotion @remotion/cli ...` under the hood and this is the behavior that it does.

However, maybe we can change the command so it does `npm install remotion@^2.6.3 @remotion/cli@^2.6.3 @remotion/renderer@^2.6.3`  and this would update + be less confusing 😃. Good idea!

[2022-01-12 19:35] michaelGregoire commented on #772
Yeah, that'd be great! I was so confused after running that and the package.json still showing the previous version. 😂

Doing the npm install would be a good idea so that when you push the project to a remote repo and another dev pulls it down, npm ci will install the most recent version and the other dev doesn't have to run the upgrade command, too.

[2022-01-13 04:43] tomByrer commented on #769
Maybe I should do some refactoring myself, & see what the performance difference is?
Might be better if I can find a tool to discover the 'hot paths'....

Ref: a [new bind per fat arrow invocation](https://www.reddit.com/r/javascript/comments/9f3hhf/bound_function_vs_arrow_function_performance/e5tmwts/?utm_source=reddit&utm_medium=web2x&context=3), & [JustJS codebase](https://just.billywhizz.io/bl

[2022-01-13 08:05] JonnyBurger commented on #768
@michaelGregoire Dope! 🔥

[2022-01-13 08:08] JonnyBurger commented on #769
Would be glad if you did!
Important detail from that article: This only applies to classes.
It does not apply to function declarations `const myFn = () => {}`. So the scope of the issue is much smaller, as we only have a handful of classes.

[2022-01-13 08:10] JonnyBurger commented on #772
Sounds good! I'll try that soon and also make it package-manager-agnostic (npm / yarn / pnpm).
Just to clarify: What it currently does is an actual upgrade though, because it updates the lockfile. So the other dev will also get the newer version.

[2022-01-13 11:47] michaelGregoire commented on #772
Cool. Thanks! Oh, I never checked the lockfile.

[2022-01-14 10:17] TiborUdvari commented on #399
There could be a way of replacing the module responsible for the next frame with webpack. Although I'm not sure how it could then be connected with getting the current animation frame on remotion.
https://webpack.js.org/plugins/normal-module-replacement-plugin/

[2022-01-14 17:59] tomByrer commented on #769
I did a smaller test using the [ToneJS example](https://github.com/remotion-dev/tone-js-example/commit/67a1b5b2b00491547ae15a6fe1a26d66b71b6f1d).  Seemed to be a good candidate; several smaller loops using `=>` arrows.   After changing all those to classic `fucntion`, I did notice smaller heap & blocking time using DevTools on average, removing both extreme results.

[src-func.zip](https://github.

[2022-01-15 01:11] michaelGregoire commented on #768
Another couple snippets…

https://www.dropbox.com/s/b0s3w7vwpsep3b3/BSBCTBR0041-a.mp4?dl=0

https://www.dropbox.com/s/m2y28huer9nd169/BSBCTBR0041-b.mp4?dl=0

This framework is blowing my mind and I know I'm just beginning to scratch the service!

[2022-01-15 14:48] JonnyBurger commented on #769
Thanks @tomByrer for researching!

I am surprised by it, since the articles you link say that the memory difference only applies to class methods defined as arrow functions. There are no classes at all in the Tone.JS example. I'm concerned it might be a coincidence, also considering the spread of the results.

I would suggest we refactor the handful of class methods defined as arrow functions in t

[2022-01-15 15:27] JonnyBurger commented on #737
thank you for the research @arthurdenner, I also tried it and came to the same conclusion. Tailwind works on the first load, and will recompile once you change the className once, but always fails on the second attempt. I don't have more info right now, in the worst case we create a repro and file it with the Tailwind team to get advice.

[2022-01-15 15:32] arthurdenner commented on #737
No worries. I hope we can find a proper solution. Feel free to fork or use the one I created if you decide to file an issue on Tailwind:

https://github.com/arthurdenner/remotion-tailwind-v3-test

Would you like the update the instructions for v3 on the docs with a disclaimer or not at the moment?

[2022-01-15 15:37] JonnyBurger commented on #737
Thanks, will do for sure 😊

I think better not support v3 at the moment. I wouldn't like the experience of it to always have to restart...

[2022-01-15 16:50] michaelGregoire opened #778 "CLI --quality option support for environment variables"
So, I'm adding a couple custom scripts to my package.json to make rendering a little more configurable via environment variables. One of the scripts I added is the following:

[code]
As you can see, I'm making the `--frames` and `--quality` configurable via environment variables in the command line. `--frames` works perfectly. However, `--quality` complains that the value provided by the environme

[2022-01-16 04:19] tomByrer commented on #769
Seemed to be a bit too big for me to start, so instead I worked on packages/player.  It is a smaller code base, & still has user impact.  I did more deeper testing, taking about an hour.  Here are the results:

HeapMin: -3.76%, HeapMax -4.33%, Blocking time: -37.48%
Blocking Time improvement seems a bit large too me, but the heap improvements is about what I expected.

How ever, my translations fr

[2022-01-16 18:52] mindbugg opened #781 "validateOutname error on Lambda Rendering via Node.js API"
We tried rendering using Lambda function with Node.Js API and getting this error

`{"chunk":null,"frame":null,"stack":"TypeError: The `outName` property must be a string. Passed an object of type undefined\n    at validateOutname (/var/task/index.js:137695:11)\n    at innerLaunchHandler (/var/task/index.js:139197:3)\n    at processTicksAndRejections (internal/process/task_queues.js:95:5)\n    at a

[2022-01-17 09:19] JonnyBurger commented on #781
As you mentioned in Discord, you solved the issue.

Resolution for those facing this problem: Upgrade to the newest version of Remotion Lambda.

[2022-01-17 09:19] #781 closed

[2022-01-17 09:25] JonnyBurger commented on #778
Hi @michaelGregoire! Thanks for filing the issue.

After some tinkering, I find that this is purely a behavior of the shell / npm scripts and not with Remotion - you cannot define env variables this way. For example:

[code]

`npm run quality` will yield an empty string (this is also why you got this error message).

But what would work is `QUALITY=50 npm run update`. This probably makes more sens

[2022-01-17 09:25] #778 closed

[2022-01-17 09:32] JonnyBurger opened #782 "Error overlay does not open on bad imports"
1.

[code]

does not trigger the error overlay.

2.

[code]

does not trigger the error overlay.

[2022-01-17 11:20] #721 closed

[2022-01-17 12:23] tomByrer commented on #769
Note: the test above used the attached files.  Results were from my i5 Win10 laptop, interacting with the <Player> & `[packages/player-example](https://github.com/remotion-dev/remotion/pull/780#issue-1104943644)' controls for 15-20 seconds:

[remotion_packages_player_src-function.zip](https://github.com/remotion-dev/remotion/files/7881787/remotion_packages_player_src-function.zip)

[2022-01-17 13:08] JonnyBurger commented on #769
@tomByrer If this is a performance improvement, I am surprised, because there are no arrow function class methods in the `player` package. This is an example of an arrow function as a class method:

[code]

The article you reference says that this performance optimization is specifically for methods in a class, not for all arrow functions, and that makes sense because if you instantiate the class

[2022-01-17 14:52] michaelGregoire commented on #778
Thanks @JonnyBurger. It turns out I was doing what I wanted to do initially wrong.

I had started with the following and it seemed to work for FRAMES, but when I added QUALITY, it failed:

[code]

…so I moved on to what I previously showed you:

[code]

However, what I needed to do was the following, which works:

[code]

Now, I can override with environment variables like so:

[code]

[2022-01-17 14:55] JonnyBurger commented on #778
Perfect, glad the problem is resolved!

[2022-01-17 15:20] michaelGregoire commented on #768
@JonnyBurger I thought you might like to see the final result! https://www.youtube.com/watch?v=UnXHmCV7NRE

[2022-01-17 21:42] sohcah opened #783 "Disable Puppeteer Headless Mode"
# Feature Request 🛍️

Add a config option to disable headless puppeteer, and correctly handle using puppeteer headlessly.
Currently, I'm able to add a `headless: false,` line within `open-browser.js` inside the remotion package to handle do this, however this isn't optimal.
Additionally, just having that `headless: false` flag in the puppeteer call doesn't work fully. You also then need to manuall

[2022-01-18 05:27] tomByrer opened #785 "docs/player/integration is confusing & semi-broken"
1st issue for [/docs/player/integration](https://www.remotion.dev/docs/player/integration)

# Bug Report 🐛

defaultProps in Player example doesn't render

For both a new NextJS project & Astro, I can get the [example tutorial](https://www.remotion.dev/docs/player/integration) to work, somewhat.  I see the player that displays `Hello !`, but it is missing "World" from the `<Composition ... defaultP

[2022-01-18 05:50] tomByrer commented on #785
OK, I figured it out; the `<Player>` in the example was missing `inputProps`, which is called `defaultProps` in `<Composition>`.  I fixed the example in the docs, so short-term problem solved.

But having 2 different prop names for the same thing is confusing to me; could there be a single name, either `inputProps` (preferred) or `defaultProps` for both `<Player>` & `<Composition>`.  My brain can

[2022-01-18 13:20] tomByrer commented on #785
Seems the files `index.tsx` & `Video.tsx` are only needed when running [Remotion preview](https://www.remotion.dev/docs/player/integration#using-remotion-preview) from inside the app's 'monorepo'.  Likewise, installing the bundler, cli, & renderer are unneeded dependencies if all one wants to do is just install the `<Player>`?

I think there should be separate web pages, or at least clear, distinc

[2022-01-19 10:22] JonnyBurger commented on #783
Thanks for the idea!

We can do that, but I think the underlying issue is that Chrome uses a different OpenGL renderer when in headless.

The next Chrome version that comes out in February changes that actually, and possibly fixes the visual issue you are seeing.

So I'd suggest to just wait a bit. If you like, maybe you can download Chrome Canary and set the custom browser executable in the confi

[2022-01-19 15:07] JonnyBurger commented on #785
Thanks for the report!

- 1st/2nd: It's always `inputProps` for all rendering purposes, but while starting the preview, you would have to restart the server to pass `inputProps` (which you can actually), but there can be default props, for when you pass no input props. I think it makes sense to keep them as two different prop names as they are two different things. I am however adding a validation

[2022-01-19 15:33] #785 closed

[2022-01-19 15:36] JonnyBurger commented on #768
@michaelGregoire Indeed! Super nice usecase, now I see why the timeout increase function had to happen 😊

The visuals look awesome, I'm happy to see you're live with an awesome project 🙂  Congrats 🎉

[2022-01-19 17:26] michaelGregoire commented on #768
Thanks @JonnyBurger!

[2022-01-20 09:00] psociety opened #789 "[FEATURE-REQUEST] Ignore SSL certificate errors"
ty for making remotion!! It makes video creation really easy!!!

When playing in localhost, SSL certs are usually self signed and chrome likes to cry about it (breaking all images in the process) .

# Feature Request 🛍️

I would be cool to add `--ignore-certificate-errors` to puppeteer, so localhost development isn't affected by SSL.

## Use Case

Request an image under a selfsigned SSL host like

[2022-01-20 17:19] #789 closed

[2022-01-20 17:50] JonnyBurger commented on #783
Even though it might not be needed in the future, it is possible through #790!

[2022-01-20 17:50] #783 closed

[2022-01-20 17:51] JonnyBurger commented on #789
Good idea! Implemented.

Please wait for the 2.6.5 release and then look here: https://www.remotion.dev/docs/chromium-flags

[2022-01-20 17:56] psociety commented on #789
**GOD LIKE**
https://www.youtube.com/watch?v=i23s-i3C-nU

[2022-01-20 17:57] #769 closed

[2022-01-20 17:57] JonnyBurger commented on #769
Replaced all instances of class method arrow functions by normal functions, I believe this should address the concern.

[2022-01-22 11:41] White-Green opened #792 "Bug related to <Sequence> and <Freeze>"
Thanks to useful tools!

I use following environment.
- Remotion: "^2.3.2"
- Google Chrome: 97.0.4692.71 (Official Build) （64 bit） (cohort: Stable)
- OS: Windows 10 Version 21H1 (Build 19043.1469)

In the following code, I expected the Test component displays "100", but in fact it displays "-100".

[code]

I tried some combinations of SequenceFrom and FreezeFrame, and the result is shown in the be

[2022-01-23 10:13] JonnyBurger commented on #792
Woah thanks for reporting and the clear reproduction!

Will fix this with #793.

[2022-01-23 10:27] #792 closed

[2022-01-23 10:53] JonnyBurger opened #794 "Symbolicate production errors"
After working on the error overlay, I think we can provide a better user experience by also symbolicating production errors and provide a proper stack trace instead of just showing `bundle.js:32432:43` as the stack trace.

Adding source maps to production should not be as bad as it usually would be because bundle size concerns don't affect us when all we want is to render a video.

[2022-01-23 11:06] #782 closed

[2022-01-23 12:02] JonnyBurger commented on #606
I'm closing this because we cannot take any action based on the provided information.

[2022-01-23 12:02] #606 closed

[2022-01-23 12:10] #772 closed

[2022-01-23 13:22] JonnyBurger commented on #212
Not doing this because:

- You can now increase the timeout
- It's very rare that a timeout error gets fixed by a retry
- For Lambda, there is already a retry mechanism for failed chunks
- If it is a concern, you can increase the timeout and add your own retry mechanism.

[2022-01-23 13:22] #212 closed

[2022-01-23 17:54] JonnyBurger opened #798 "Mention in docs that `<Video />` accepts a URL"
![image](https://user-images.githubusercontent.com/1629785/150691355-bbe7ff0b-8c97-44f4-a967-f926a936dcf4.png)

[2022-01-24 10:28] #798 closed

[2022-01-25 08:03] JonnyBurger opened #802 "Update puppeteer to resolve "vulnerability""
13.1.2 was released and fixes a snyk report.

[2022-01-26 23:04] Caleb335 commented on #713
Hi @JonnyBurger,

If this is still up for grabs, I can work on it. Perhaps you could put me through the necessary things that can be done.

[2022-01-27 17:42] JonnyBurger commented on #713
Hi @Caleb335 thank you so much! 😊 Appreciate it!

So each package (such as `cli`, `bundler`, `player`, `renderer`) has a separate page on npm, like this: https://www.npmjs.com/package/@remotion/player

Often times the description is very spare, or there is no README.md file at all. The goal would be to improve it by briefly describing what the package does, mentioning it is part of the Remotion Su

[2022-01-27 18:04] Caleb335 commented on #713
Thank you so much for your feedback @JonnyBurger. It is very detailed. 😎

I get the concept of adding docs for each package, can you point me to the repository where the readme files of the packages that I'll be interacting with are?

Thanks, and I look forward to your response.

[2022-01-27 18:10] JonnyBurger commented on #713
Yes for sure!

For the example of the @remotion/player, you find the README here: https://github.com/remotion-dev/remotion/blob/main/packages/player/README.md

In this example (@remotion/gif), the package has no README at all and the goal would be to add a new file in this directory: https://github.com/remotion-dev/remotion/tree/main/packages/gif

[2022-01-28 10:28] SkyezerFox opened #805 "CLI incompatible with yarn workspaces"
# Bug Report 🐛

When running `yarn start` on a project created with `yarn create video` inside a yarn workspace, the CLI launches, but crashes once the bundle has been built:

[code]

I am running yarn workspaces with a root project, a frontend editor, and the video package.

#### Details

- OS: macOS 11.6.2
- Node: v16.16.1
- Remotion: remotion@2.6.5
- Yarn: v1.22.17

From the stack above, the cu

[2022-01-28 10:45] SkyezerFox commented on #805
I have created a PR #806 that should fix this issue.

[2022-01-28 11:06] #802 closed

[2022-01-28 11:10] SkyezerFox commented on #805
Fixed by #803

[2022-01-28 11:10] #805 closed

[2022-01-28 11:12] JonnyBurger commented on #805
Fix is now released in 2.6.6. Thanks again 🤗

[2022-01-28 14:09] JonnyBurger commented on #669
Currently reserved for @VirenMohindra

[2022-01-28 15:41] Caleb335 commented on #713
Thank you for this.

I'll get on to it ASAP.

[2022-01-29 09:18] rebotnix opened #807 "Problem with `--single-process` and concurrency on Linux"
Hi, i´m not able to render any demo on ubuntu 18.04, i try to render it via remote ssh shell.

npx remotion render src/index.tsx Audiogram out.mp4
📦 (1/3) [====================] Bundled code 625ms
🖼  (2/3) [                    ] Rendering frames (6x) 0/900
The following error occurred when trying to render frame 0:
Protocol error (Runtime.callFunctionOn): Target closed.

Chromium engine was instal

[2022-01-29 14:53] JonnyBurger commented on #807
Hey Gary!

This is an error with Google Chrome where the tab crashes when you are trying to render. Given that you said you followed the installation instructions and the Audiogram template is a very computationally heavy template, you might have to decrease the concurrency for it to work on your system:

npx remotion render src/index.tsx Audiogram out.mp4 -- --concurrency=1

Let me know if this w

[2022-01-29 22:41] rebotnix commented on #807
@JonnyBurger Wow, it works and i got my first rendering in 4k done. Powerful that you made here.

Demo:
https://www.youtube.com/watch?v=oGfhyrKcZO8

Can now play and test more thanks to your help and sure it can help other devs as well.

[2022-01-31 01:45] tomByrer opened #808 "Dynamically set `width` and `height` & FPS"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%24167%20Rewarded-%237E24E3.svg" />](https://issuehunt.io/r/remotion-dev/remotion/issues/808)

_Edit by @JonnyBurger:_

**🎃 This issue is part of our Hacktoberfest campaign!**
📚 [Read more about Hacktoberfest here](https://remotion.dev/hacktoberfest)
✅ This issue is currently assigned to @exitflynn!

## Hacktoberfest acceptan

[2022-01-31 09:01] JonnyBurger opened #809 "Example Next.JS app and docs for rendering on Next.JS"
After 3.0, have a more thorough example with Remotion + Player + SSR, and also have some docs about it. I'll take this one.

[2022-01-31 09:14] JonnyBurger commented on #807
Nice 😁 Looks clean!

Yes, the concurrency means how many tabs are being opened in the headless browser at the same time. Normally every tab runs in a separate process, **but there is a special case in Linux: The browser doesn't open in headless mode without the `--single-process`** flag. So the render crashed because it did try to use a high concurrency, but ended up doing everything in one proces

[2022-01-31 09:35] JonnyBurger commented on #808
I'll break the issue down into it's parts:

- Dynamically changing the dimensions of the video at render time is something we are exploring to support. It already works with the Node.JS APIs, but it would be cool to do it via the CLI as well.

_Note: For now, you can create two compositions with the same component but different dimensions. If you want to create a responsive video, this is cool, be

[2022-01-31 12:22] rebotnix commented on #807
I also think also that this is a problem beyond Remotion and we have a way to run it on ubuntu. As soon as i have more infos, i come back with the result.

[2022-01-31 13:21] #716 closed

[2022-01-31 17:22] JonnyBurger opened #810 "--frames=10-100 fails"
Seems to be kind of an edge case with FFMPEG file name conventions

[2022-02-01 00:34] tomByrer commented on #808
I'm trying to avoid this, but sometimes might be needed, eg if the aspect ratio changes radically between YouTube & FaceBook/Instagram/TickTok.

The other suggestions are good, but I might have different ideas, so I guess I'll have to build demos.

[2022-02-01 02:45] tomByrer commented on #809
I just did Remotion in a (local only for now) NextJS project.  `<Player>` was very easy to set up.  In fact, I'd recommend NextJS to newbies to try Remotion player in a 'real' web page/app.

[2022-02-01 02:53] tomByrer commented on #808
I changed the title due to one of my use cases, which is actually **my** primary concerns:

But I failed in being too vague.  My main use for Remotion is to use it along with typical videos (eg from YouTube, Vimo, etc):

* transcript/captions player, either as overlay on top of video, or outside the video.
* dynamic web pages, which will have to also be responsive

I do have use cases for _renderi

[2022-02-01 03:04] tomByrer opened #811 "Minor: Sometimes <Series.Sequence> lanes 'fold in Preview, sometimes doesn't"
# Bug Report 🐛

Very minor bug: I just tried to use <Series.Sequence> with several sub-<Sequence> inside 3 times.  All 3 <Series.Sequence> use the same component that hold the 3 <Sequence>.  But only 1 (middle) of their lanes will 'fold' in the preview.

Here you can see the middle SeriesSequence unfolded, while the other 2 don't have to arrows to fold/unfold:
![image](https://user-images.githubus

[2022-02-01 07:25] JonnyBurger opened #812 "API to cancel a render"
Should tear down Puppeteer and stop all rendering. Possibly return the frames already rendered. Possibly use AbortController.

[2022-02-01 07:28] JonnyBurger commented on #807
You're right thanks for self-closing the issue! I'm interested in improving this though by opening multiple Chrome instances instead to allow multi-core. So I'm reopening it!

[2022-02-01 11:24] Caleb335 commented on #713
Hi @JonnyBurger,

Sorry that this is taking a while. I've not been close to my machine for a while now. When I am. I will definitely send a PR.

[2022-02-01 20:17] JonnyBurger commented on #713
@Caleb335 Don't worry, thanks for the update 😊 Enjoy your time off the keyboard 😃

[2022-02-02 15:40] tomByrer commented on #754
Works better now; cheers!

[2022-02-02 15:48] tomByrer opened #815 "preview doesn't refresh window"
# Bug Report 🐛

I have some issues with the preview not refreshing the window:

* errors in overlay: `Rendered fewer hooks than expected. This may be caused by an accidental early return statement.`  & `Rendered more hooks than during the previous render.`, typically when changing the array length of a `.map` that builds jsx.
* no error when there should be one, sometimes when I change an import.

[2022-02-02 17:12] JonnyBurger opened #816 "Limit maximum amount of `scale`"
Right now you can set the scale to `1000`, completely destroying your system.
We should set a maximum scale of 16x

[2022-02-02 17:13] JonnyBurger opened #817 "Test out "native headless" mode of Chrome"
New Chromium features:

https://bugs.chromium.org/p/chromium/issues/detail?id=1237546
https://chromium.googlesource.com/chromium/src/+/833543a511a970f44fb074b9f30c6b6268e0be71

[2022-02-03 07:11] tomByrer commented on #808
Past my bedtime so sorry for being terse, but here is a demo I've worked on: https://github.com/tomByrer/remotion-demo-compose

Quick code examples:
[code]

[code]
[code]
[code]

[2022-02-03 14:21] michaelGregoire opened #821 "macOS Monterey"
This is just to see if anyone else is having issues rendering on macOS Monterey?

After upgrading to it, I just tried rendering a video and it fails miserably at about the 3000 frame mark, crashing my system. That's regardless if I set concurrency to just 1. The minute I start rendering, memory usage on my system climbs to 13G, that's even if I quit all other applications that are a little heavier

[2022-02-03 15:36] #816 closed

[2022-02-03 16:04] JonnyBurger commented on #811
Seems odd. I think the issue has to do with the fact that the cursor is at the time of the sequence that is collapsed.
But I don't know why that one can be collapsed and the other ones don't. Will investigate when I get some time.

[2022-02-03 16:28] JonnyBurger commented on #821
@michaelGregoire you can send it to hi@jonny.io or share it on our Discord or invite me to the repo.

I'm gone this weekend and got some things to do until then, so might become early next week until I can look. Just as a disclaimer!

[2022-02-03 16:55] michaelGregoire commented on #821
Thanks @JonnyBurger. Emailed you.

[2022-02-04 12:52] JonnyBurger opened #824 "Remotion homepage shows `<img>` tag"
It should of course be an `<Img>` tag! or another example!

[2022-02-04 13:20] JasterV commented on #824
@JonnyBurger
I've created a new image with carbon

![carbon](https://user-images.githubusercontent.com/49537445/152535885-67a468e3-414b-4d67-8996-34e2eaa7fabc.png)

[2022-02-04 13:40] JonnyBurger commented on #824
@JasterV Thank you so much! I wonder if it picked up that the syntax should be JSX?

BTW, we should also add an import: `import {Img} from "remotion"`

[2022-02-04 15:04] AbdulBsit opened #827 "Remotion as organization in GSOC 2022"
### Discussed in https://github.com/remotion-dev/remotion/discussions/826

<div type='discussions-op-text'>

<sup>Originally posted by **AbdulBsit** February  4, 2022</sup>
Is there anyplan for GSOC 2022 ?
I wiill love to apply as a contributor</div>

[2022-02-04 15:22] JasterV commented on #824
Perfect in fact they have support for .jsx :smile:

Last thing I would have to check is the font, I think you used a different one when creating the current image

Now it looks like this:

![Remotion code example (1)](https://user-images.githubusercontent.com/49537445/152554658-2f350b83-d797-4856-9abb-a732a2316e89.png)

[2022-02-05 20:59] JasterV commented on #824
@JonnyBurger I've open a PR but idk how to link it to this issue :(

[2022-02-05 22:40] JonnyBurger commented on #824
All good, I can take care of the rest on Monday! 😊 thanks a lot

[2022-02-07 02:33] tomByrer commented on #821
Maybe when you upgraded, you lost some installed dependencies (or their references), like FFMPEG?
More similar bugs in search:
https://trac.ffmpeg.org/ticket/9505

[2022-02-07 02:35] tomByrer commented on #815
(Still on v2.6.6)
This mostly happens when I add or delete a function that uses a Remotion Hook, eg if I reference an helper like this:
[code]

[2022-02-07 02:43] tomByrer commented on #811
More testing with my [timeline arrangement](https://github.com/tomByrer/remotion-demo-compose/blob/main/src/arrangements/AboutRemotion.jsx)

It is always & only the second Sequence that will fold.  I can copy/paste more sequences before & after it, & still what ever is the second, it alone will fold.

[2022-02-07 03:11] tomByrer commented on #470
I have a use case: I use fractions of the parent's <Sequence> duration to determine the children's duration. eg:
[code]
[code]
Low priority; there are workarounds.  But I prefer to decouple sub-components as much as possible.

[2022-02-07 15:27] JonnyBurger commented on #827
See discussion for reply.

[2022-02-07 15:27] JonnyBurger commented on #824
Fixed in #828.

[2022-02-07 15:27] #824 closed

[2022-02-07 17:40] JonnyBurger opened #831 "Add integration tests to turborepo"
IT can live inside it's own package and we can speed up CI times by triggering it immediately once the other builds are done.

We should only do it after V3 is merged though

[2022-02-07 21:15] JonnyBurger commented on #821
I can reproduce the issue in the project sent to me.
Unlikely to be the OS - I'll get back to it this week!

[2022-02-07 21:26] michaelGregoire commented on #821
Oh, ok, I'm glad you were able to! Thanks again for taking a look.

[2022-02-08 18:13] Iamshankhadeep opened #832 "`ENAMETOOLONG` error on windows"
having multiple asset with multiple composition causing `ENAMETOOLONG` error on windows

[code]

[2022-02-08 22:00] sulco commented on #710
That's correct, @JonnyBurger – unless we can use something like [ffmpeg.wasm](https://github.com/ffmpegwasm/ffmpeg.wasm) at some point?

[2022-02-09 16:49] #442 closed

[2022-02-09 16:49] #821 closed

[2022-02-09 16:50] JonnyBurger commented on #710
@sulco Yes, I think it's not ready and Puppeteer is the bigger problem - hope some dope web tech comes to the rescue in the future! :)

[2022-02-09 17:03] #832 closed

[2022-02-09 17:33] michaelGregoire commented on #821
Thanks for finding the problem! I'm currently rendering with 2.6.7 and it seems to be stable again.

[2022-02-09 18:05] JonnyBurger commented on #821
Nice! Also glad we managed to find the bug 😊

[2022-02-09 19:03] #831 closed

[2022-02-10 07:09] reshma651999 opened #837 "i have following issue in yarn to create a video"
# Bug Report 🐛

Error [ERR_PACKAGE_PATH_NOT_EXPORTED]: Package subpath './lib/cjs/puppeteer/node/install' is not defined by "exports" in /Users/kite/my-video/node_modules/puppeteer-core/package.json

[2022-02-10 08:14] JonnyBurger commented on #837
Fixed in v2.6.8!

You can run `npx remotion upgrade` to fix your project. Sorry for the problem!

[2022-02-10 08:14] #837 closed

[2022-02-11 17:09] SkyezerFox opened #841 "<Freeze> component does not function properly in conjunction with @remotion/player and <Video>"
# Bug Report 🐛

The `<Freeze>` component does not function as expected when used with the `@remotion/player` package, when used with the `<Video>` component. The player often continues to play underlying video elements when the player is paused on a frame the Freeze component is active.

This makes it exceedingly difficult to construct any form of live video player, or custom video editor (in my c

[2022-02-11 17:31] JonnyBurger commented on #841
Hi @SkyezerFox! Thanks for filing, I'm gonna try to reproduce it this weekend.

Since you mention it's acting weird in the @remotion/player, can you tell me if you are using Next.JS and whether your next config file has strict mode enabled (this is the default)?
I could imagine it as a potential issue.

[2022-02-11 18:59] SkyezerFox commented on #841
Good point, I have that on atm, I'll try turning it off and see what happens.

[2022-02-11 19:03] SkyezerFox commented on #841
I can't see any difference if I'm honest? It still jumps around and will play when it should be paused, unfortunatley :(

[2022-02-11 19:04] SkyezerFox commented on #841
I imagine this is probably to do with how freeze handles videos? Perhaps the buffering is causing some problems when the timeline tries to sync it. It is *quite* a big video (70mb or so), I'll try re-encoding it on Monday and test a smaller video.

[2022-02-12 10:22] TomSeldon opened #842 "getVideoMetadata: Obtain FPS"
First of all, big thanks for creating Remotion! It's awesome! 🥳

# Feature Request 🛍️

We have a utility function for getting video metadata- can we expand this to include the FPS?

## Use Case

I want to take a source video of arbitrary resolution, duration, and FPS and add some overlays to it. This means a composition that loads in the source video via the `Video` component, and adds some `Seque

[2022-02-12 14:21] JonnyBurger commented on #842
Hi Tom!

Thanks for the thoughtful issue!
I see it similarly as you. It would be useful, but I would not add it to @remotion/media-utils which at the moment is a lightweight package with no dependencies.

To get the FPS, we would make another package (maybe: https://mediainfo.js.org/, maybe: FFMPEG.wasm). I think the API could still be similar to `getVideoMetadata`.

Important for us is that docum

[2022-02-12 14:56] #841 closed

[2022-02-12 14:57] JonnyBurger commented on #841
I found the bug and managed to fix it! Thanks a lot for the good repro 😊

Making a new release which includes the fix.

[2022-02-18 10:15] JonnyBurger opened #846 "Document how to import GLSL files"
add this to the webpack config docs:

[code]

[2022-02-18 10:19] JonnyBurger opened #847 "Show the CWD in the Preview window title"
Have two different Remotion windows open, they could display the folder name of where the package.json lies so it can be distinguished:

![image](https://user-images.githubusercontent.com/1629785/154663407-e03b62b1-5be9-4983-8876-0860852a2dc0.png)

[2022-02-22 01:11] tomByrer commented on #842
Is there an existing CLI tool that can find FPS?  If so, then use Node to call or CLI script & pipe to text file.

[2022-02-22 08:24] JonnyBurger commented on #842
On Linux I use this to determine FPS: `ffprobe out.mp4 2>&1 | grep fps`

[2022-02-22 16:58] #846 closed

[2022-02-24 19:40] loraderon commented on #643
I found this issue when experimenting with sequences and I think it would be good idea to add a note on https://www.remotion.dev/docs/use-current-frame with the workaround/workarounds you mentioned.

[2022-02-26 11:04] kave-me opened #852 "ZlibError: ... Error with template cloning"
When I try to create a template using `yarn create video` command, the template I choose is `Audiogram` the following error appears but when I choose another template like `react three Fiber` it's fine and I don't get any error like when I choose the other template.

# Bug Report 🐛
kave@me:~/Creativity$ yarn create video
yarn create v1.22.17
[1/4] Resolving packages...
[2/4] Fetching packages...
[

[2022-02-26 19:28] JesperHalvorsen opened #853 "Problem with measureText (from canvas) using other font than Times"
When using svg texts, I have to do a number of calculations to get size of texts (height & width). Using code like this works fine in the preview/player:

[code]

But when I render stills/videos using the CLI, there is a problem with the first frame: size returned is not correct - from what I can figure out, the font being used is Times, not the fontFamily I specify (and I believe that the default

[2022-02-26 19:34] JesperHalvorsen commented on #853
Forgot to add, that the font paramenter for context.fort is something like "bold 100px SomeFancyFont"

(https://developer.mozilla.org/en-US/docs/Web/API/CanvasRenderingContext2D/font)

[2022-02-27 09:14] JonnyBurger commented on #853
Hi Jesper!

Since the fonts are loaded asynchronously, you will need to wait until the fonts are loaded until you can measure the text. Try using the `document.fonts.ready` API:

[code]

or the `document.fonts.check()` API:

[code]

You can also tell Remotion to wait for the fonts to be loaded before it should render: Call `delayRender()` at the beginning, and `continueRender()` when the fonts hav

[2022-02-27 10:10] JesperHalvorsen commented on #853
Hi Jonny

First of all: thanks for the very quick reply. I did try using delayRender() like this:

[code]

But I did get the same result. I'll try to use the fonts.ready solution, and then update the status of the issue.

[2022-02-27 10:31] JonnyBurger commented on #852
Hi @kave-me, thanks for reporting the issue! It looks like an upstream issue (https://github.com/Rich-Harris/degit/issues/313).

I put a workaround in #854 now and will follow the original issue and upgrade in case a fix will surface.

[2022-02-27 10:34] JonnyBurger commented on #853
Hi Jesper,

it's good that you are waiting for the font measurement to be done. Remotion also waits for the fonts to be loaded itself automatically. From what it looks like to, what would be appropriate in this case is to 1. wait for the fonts to be loaded 2. **then** measure the text, 3. then call continueRender.

[2022-02-27 10:45] JonnyBurger opened #855 "Input Props has a maximum size of 5MB because of Local Storage"
One option could be to refactor so localStorage is not needed, or use something else like IndexedDB

[2022-02-27 18:41] #852 closed

[2022-03-01 12:36] JonnyBurger commented on #855
Fixed  by #857

[2022-03-01 12:36] #855 closed

[2022-03-01 12:36] JonnyBurger commented on #853
Closing the issue because I think the question is answered. In case of doubts, just ask!

[2022-03-01 12:36] #853 closed

[2022-03-02 18:31] JesperHalvorsen commented on #853
No need to update the status of the issue @JonnyBurger [JonnyBurger](https://github.com/JonnyBurger), just some details that might help others:

I think the issue here is some kind of "optimization". When I ```return <></>``` on first render, the font is never loaded (this is the only component in the composition), because Chrome figuresout, that there is no use for it. And Remotion waits for the

[2022-03-04 23:42] tomByrer commented on #79
[Mitosis is built to transpile](https://mitosis.builder.io/?outputTab=vue) into other frameworks.

I'm more interested in [SolidJS: JSX without React headaches](https://typeofnan.dev/solid-js-feels-like-what-i-always-wanted-react-to-be/).

This is the key!  I am considering using [TheatreJS](https://docs.theatrejs.com/getting-started/#animating) for SolidJS/Mitosis, but maybe I'll see if I can use

[2022-03-05 10:37] JonnyBurger commented on #853
@JesperHalvorsen Glad to hear the issue is resolved! That makes sense that the render is cleared when the font is not rendered indeed. Good catch! You could use the `document.fonts.check()` method I gave an example of above to figure out explicitly once a font is done rendering without needing a dummy element.

In any case, glad you got unblocked!

[2022-03-05 10:53] JonnyBurger commented on #643
@loraderon Good idea! I documented the proper way in #860.
We don't document inofficial APIs as they might break at any time.

[2022-03-05 21:29] Baegus opened #861 "UI: Dropdown menus not updating their position properly"
# Bug Report 🐛

When I open the Zoom/Playback speed dropdown menu, then resize the timeline window and open one of the dropdowns again, it still has its original position and doesn't adjust for the new configuration.

[2022-03-06 10:36] Baegus commented on #861
This could be fixed by adding `window.dispatchEvent(new Event('resize'))` in the [`cleanup()` function for SplitterHandle](https://github.com/remotion-dev/remotion/blob/5b5893862d1070ea65114e894c9a2b80bde9a789/packages/cli/src/editor/components/Splitter/SplitterHandle.tsx#L95).

[2022-03-06 11:20] JonnyBurger commented on #861
Thanks for filing! I was able to reproduce the bug and hope to fix it in one of my next sessions.

[2022-03-06 14:14] JacopoPatroclo opened #863 "Use of the cli apis from JS"
# Feature Request 🛍️

I'm working on a plugin for [Nx](https://nx.dev/)  that will enable the use (without managing a lot of custom configs) of this amazing product inside an Nx monorepo.
The request that I'm making is related to the use of the functionalities exposed by the cli throught javascript.
Like Vite for [example](https://vitejs.dev/guide/api-javascript.html).

## Use Case

The issue is t

[2022-03-08 09:20] #861 closed

[2022-03-08 09:26] #847 closed

[2022-03-08 09:32] JonnyBurger commented on #863
Hey Jacopo!

Thanks a lot for filing the issue! We do expose most of our functionality as Node.JS APIs. See: [`bundle()`](https://www.remotion.dev/docs/bundle), [`getCompositions()`](https://www.remotion.dev/docs/get-compositions) [`renderFrames()`](https://www.remotion.dev/docs/render-frames) etc.

You can override the webpack config using the `webpackOverride` option: https://www.remotion.dev/do

[2022-03-08 10:49] JacopoPatroclo commented on #863
Hey Jonny,
thanks for the quick response.

Seems like the functionality exposed by bundle is the one I was lookin for. Looks like I will need, in order to have a full video, to integrate that with the renderFrames call. Seems like a straightforward thing to do. Thanks.

The issue with the missing "preview" apis is that if I want to "develop the video" (so cool that we can use this expression; than

[2022-03-08 13:39] JonnyBurger commented on #863
Hi Jacopo,

Wouldn't it be better we figure out the package resolution issues rather than develop a new API?
From what I understand, you are having trouble reading the config file when you start the the Remotion Preview.

You can put the config file anywhere on your disk and specify a webpack override.
Then you can run `npx remotion preview [absolute-entry-point-file] --config=[config-file-locatio

[2022-03-08 15:29] JacopoPatroclo commented on #863
That's exacly my issue.

Is impossible in the same context of calling the preview npx script and providing a dynamic webpack config (with options depending on information aviable only during that execution). The solution (on the nx-plugin side) could be to put somewhare in a temporary directory the "just in time" create config file and execute the preview script targeting that config file but is n

[2022-03-08 16:43] JonnyBurger commented on #863
I have realized that this API is (inofficially) accessible:

[code]

This could become an official documented API indeed. Very few users will have a use for it that it will not be worth the effort for us to implement, however I'd be happy to accept a PR if you want to turn this into a public API, given that it has the same quality level and documentation as the other APIs.

[2022-03-08 19:03] tharpooljha opened #868 "Puppeteer fails to launch, can't build video Windows"
Node.js v17.6.0
PS C:\code\demo-1-alpha> npm run build

[code]

Node.js v17.6.0
Deps:
[code]
Replicate
- Using node 17.6.0
- npm init video
- default blank TS template
- Get error above

remotion.config.ts
[code]

[2022-03-09 13:30] SaboAceLuffy opened #869 "No local browser could be found. Downloading one from the internet..."
<img width="585" alt="1646832622(1)" src="https://user-images.githubusercontent.com/11792984/157451348-2df5f88e-abba-40c7-939d-c7cb702c6609.png">

[2022-03-09 13:59] JonnyBurger commented on #868
Hi @tharpooljha! Sorry you are having this issue. I need a bit more information to help.

- Do you have a regular Chrome installation or a custom one (Beta, Chromium, Canary, Self-built?)
- If you remove the following lines:

[code]

does it allow you to run?

[2022-03-09 14:14] JonnyBurger opened #871 "Docker Alpine server does not start render without gl = angle"
Report from Anon1m on GitHub:

- Render worked well until 2.5.5
- With 2.6.9 it did not start consistently
- Adding `--gl=angle`, ~`--font-render-hinting=none`, `--disable-gpu` and `disable-software-rasterizer`~ (probably not relevant) did help resolve the issue.
- Using node:alpine base image

https://discord.com/channels/809501355504959528/817306238811111454/951038165060304936

[2022-03-09 14:17] JonnyBurger commented on #869
Hi @SaboAceLuffy! I assume this is because you have blocked Google DNS network requests and redirected them to localhost. Correct me if I am wrong.

You will have to download a Chrome browser yourself, e.g. https://github.com/Eloston/ungoogled-chromium and set it using the browser executable setting: https://www.remotion.dev/docs/config#setbrowserexecutable

[2022-03-09 14:23] SaboAceLuffy commented on #869
@JonnyBurger alright, thank you very much

[2022-03-09 14:23] #869 closed

[2022-03-09 14:56] BrunoQuaresma commented on #191
That is awesome! Some questions:
- Does Remotion deploy the lambda for me?
- I see it renders the video by calling `npx remotion lambda render <serve-url> <composition-id>` but how could I pass the parameters to update the dynamic content?
- Instead of CLI, is that possible to use a URL like https://mylambdaip.com?title=Hi

[2022-03-09 15:02] JonnyBurger commented on #191
@BrunoQuaresma

- We provide a framework that manages the infrastructure via CLI commands or Node.JS APIs. However, you deploy this to your own AWS account!
- You can pass `--props` to define a JSON payload you want to be used by the video. Most often you would use the `renderMediaOnLambda()` API though rather than the CLI commands.
- Not directly, but you can use a Node.JS environment (e.g. Expre

[2022-03-09 15:42] tharpooljha commented on #868
Removed the lines, chrome launches, but puppeteer acts like something has failed.
Windows 10 64bit
Might file a bug at puppteer-core?

[2022-03-09 22:29] BrunoQuaresma commented on #191
Nice, I went through all the steps, and looks like I was able to deploy it. Is there a way to use the CLI to get the deployed lambda function URL?

[2022-03-09 22:35] BrunoQuaresma commented on #191
Also, is that possible to automate all these AWS steps?

[2022-03-10 13:16] JonnyBurger commented on #191
@BrunoQuaresma You can use `npx remotion lambda functions ls` to get the deployed function name. It also supports a `-q` flag to only print the name.
It is only automateable via scripts - either bash, or all the actions that are possible via CLI are also available as Node.JS APIs!

You have to setup the AWS accounts and their policies yourself though, maybe that can be automated in other ways like

[2022-03-10 17:29] rnangia opened #872 "Can't compile on Linux : Error: Root has not been registered."
Can't compile on Linux
      **remotion.js reads**
[code]

**script.js reads**
[code]

**Package.json reads**
`"scripts": {"make-remotion-video": "remotion render remotion.js NeonArk out.mp4",
                     "start-prod-server": "node client.js",
                     "prod": "npm run start-prod-server"}
....
    "remotion": "2.6.11",
    "@remotion/bundler": "2.6.11",
    "@remotion/cli": "2

[2022-03-11 01:09] BrunoQuaresma commented on #191
@JonnyBurger that is great! I'm almost there haha. How can I update a site or function after updating my compositions?

[2022-03-11 11:17] JonnyBurger commented on #191
Yes, you can! Pass a site name:

https://v3.remotion.dev/docs/lambda/deploysite#sitename
https://v3.remotion.dev/docs/lambda/cli/sites#--site-name

and it will overwrite the previous deploy, therefore updating the site!

[2022-03-11 13:10] BrunoQuaresma commented on #191
Thanks, just a minor thing: I missed something like `update` or `deploy`. Maybe having an alias like:
[code]
 could be worth a try.

[2022-03-11 13:21] JonnyBurger commented on #872
@rnangia

Create a new file `index.js`:

[code]

then change in your package.json:

[code]

and it should fix the issue! 🙂

[2022-03-11 14:04] rnangia commented on #872
I made those changes. I even deleted the package-lock.json, but I can't shake the error .. What is the "NeonArk placefiller" meant to be?

[2022-03-11 15:30] abjeroen opened #873 "<Sequence> after previous (instead of timing manually)"
# Feature Request 🛍️

I spend a lot of time adjusting each sequence from-value when I add something at the beginning of the video. Is it possible to have the start of a sequence kick in when the previous sequence is done, so I don't have to tweak the starting position manually? 9 out of 10 times my sequences are "sequential" :)..

[2022-03-11 16:17] rnangia commented on #872
Had to change to functional components: but now I have this error: Any ideas what causes this?
[code]

[2022-03-12 12:26] JonnyBurger commented on #873
Hi @abjeroen!

I think you'll enjoy the `<Series>` component, which was made exactly for that :)

https://www.remotion.dev/docs/series

[2022-03-12 12:26] #873 closed

[2022-03-12 13:14] JonnyBurger commented on #191
@BrunoQuaresma Thanks for the feedback, it is noted that it's hard to figure out how to update it. We'll consider an alias or a new command!

[2022-03-12 21:22] BrunoQuaresma opened #879 "Chained sequences with transitions"
Would be interesting to have a built-in wat to chain sequences + transitions like the video below:

https://user-images.githubusercontent.com/3165839/158035225-ff1eb6bd-45fe-4180-a324-d5b8331dfd71.mov

Here is the code that I used for it:

**Scene.tsx**
[code]

**Usage**
[code]

[2022-03-13 09:00] JonnyBurger commented on #872
@rnangia The error occurs, when what you return is not React markup, but something else.

Probably the following code causes the problem:

[code]

You forgot to close the tag, change it to this:

[code]

[2022-03-13 09:32] JonnyBurger commented on #879
Good idea! We still want to provide first-party transition support. Do you think it can be treater together with #35 or is it a different idea?

[2022-03-13 12:33] JonnyBurger opened #880 "Add JSDocs documentation to common APIs"
Just like we do on the Lambda APIs, the core APIs would be nicer, if we put JSDoc comments with brief descriptions, and link to the full documentation.

[2022-03-13 12:51] #815 closed

[2022-03-13 15:03] #719 closed

[2022-03-14 08:09] JonnyBurger opened #882 "Clarify meaning of `startFrom` and `endAt` parameters for Audio and Video"
We don't do a good job of explaining it in the docs and don't give any examples.

[2022-03-15 08:39] Cruz-Azul commented on #738
I'm on it 😉

[2022-03-15 09:13] JonnyBurger commented on #738
@Cruz-Azul 🙌

[2022-03-15 09:16] JonnyBurger commented on #880
Hi @Slashgear! Absolutely! Thanks a lot for stepping up!

Here is an example of how we do it with the new Lambda APIs that are coming out soon:

https://github.com/remotion-dev/remotion/blob/e218958c9db0e127407caa240c0cc29b3282b4f6/packages/lambda/src/api/deploy-site.ts#L34-L43

This is all that's needed for helpful tooltips to show up when you hover over the function name:

![Screenshot 2022-03-1

[2022-03-15 09:25] Slashgear commented on #880
Ok ! I am on it 😄

[2022-03-15 09:36] #863 closed

[2022-03-15 09:43] JonnyBurger commented on #880
@Slashgear 🙌

[2022-03-15 20:18] Slashgear commented on #713
Maybe we could use https://github.com/kefranabg/readme-md-generator to generate packages README ?

[2022-03-15 22:09] Caleb335 commented on #713
Oh wow!

This is a very nice suggestion  @Slashgear. 🔥

I could give this a try, if you don't mind @JonnyBurger

[2022-03-16 10:09] #880 closed

[2022-03-17 17:05] multimokia opened #888 "Passing paths via env variables for audio fails to import"
When passing the path to an audio file to be used in a composition, Remotion has trouble importing it
# Bug Report 🐛

Using the following code:
[code]

and passing either an absolute path or relative path in for `REMOTION_AUDIO_TRACK` (example: `./public/song.mp3`) yields a `Cannot find module` error, even if the path passed in is relative to the file (`../public/song.mp3`)

Additionally, even if

[2022-03-19 12:28] JonnyBurger commented on #888
Hey @multimokia! Thanks a lot for filing and explaining the issue very well.

Unfortunately, it's not a bug, but an expected behavior of Webpack.
During bundling, Webpack will take all the assets that are needed and put them in a separate folder. That folder can also be deployed into the internet and you can make cloud renders based on the bundle that Webpack creates.

The problem is - how does We

[2022-03-19 12:28] #888 closed

[2022-03-19 12:28] JonnyBurger commented on #713
Would be nice! Happy if you go for it @Caleb335 🙂

[2022-03-19 19:59] multimokia commented on #888
I've actually tried
[code]

using it yields the unknown content type issue as before, the files were in `public` too

[2022-03-21 04:39] kave-me commented on #868
Hi @tharpooljha 👋
Do you still have the issue?

[2022-03-21 08:13] JonnyBurger commented on #888
@multimokia If you want this to be investigated, can you provide some example values that you used for `process.env.REMOTION_AUDIO_TRACK`, and the file tree you have? For example:

[code]

I could not reproduce this with a basic example.

[2022-03-21 08:54] Caleb335 commented on #713
Awesome! I'll do just that.

[2022-03-22 07:09] JonnyBurger opened #892 "Streamline FFMPEG Windows installation"
The instructions for when you don't have FFMPEG on Windows could be improved.
Also, the instructions tell you to go to this site:

![image](https://user-images.githubusercontent.com/1629785/159426151-a2fcd82e-e50d-44d6-9afb-b0f8782532cd.png)

but it's very hard to find the right download link. The other steps are also not easy, but not sure if it can be improved.

[2022-03-22 07:18] JonnyBurger commented on #868
Apologies for looking into it late (I only occasionally use Windows to test).
For me everything is fine with those flags 🤔 Node 17.7.2, Remotion 2.6.11, Windows 10 Pro Version 21H2.

Sorry about this, but I cannot do anything about this unless I get more information about the environment 😞

![image](https://user-images.githubusercontent.com/1629785/159427121-92dc3bf9-08ee-4e24-8ed0-b442722939dd.pn

[2022-03-22 07:26] JonnyBurger opened #893 "Add .mov files to Webpack loader"
# Feature Request 🛍️

## Use Case

## Possible Solution

[2022-03-22 10:43] JonnyBurger commented on #710
A small blocker that degrades the UX a bit: https://github.com/stackblitz/webcontainer-core/issues/643

Other than that, everything is in place to provide StackBlitz links for the future!

[2022-03-22 10:46] #872 closed

[2022-03-22 18:32] Ivraj commented on #871
Hi @JonnyBurger. We also run Remotion with an express server in an alpine docker container and started running into a similar issue as Anon1m. Suddenly our video rendering started hanging on the `renderFrames()` function, before `onStart` was called. It was difficult to predict when it would happen, but anecdotally, it was occurring roughly 9 out of 10 renders.

I can confirm that adding `chromium

[2022-03-23 09:36] JonnyBurger opened #894 "The "Open in Editor" functionality does not work on Windows"
The functionality is in 2 places: In the Error overlay and after the project creation in the CLI.

In the latter case, I tried to open is and it would not open it. To be investigated.

[2022-03-23 09:40] JonnyBurger commented on #871
Hi @Ivraj, thanks a lot for adding more information!
We should default to --angle in that case. It's weird that Chrome doesn't recognize it automatically.

I'll not prioritize this issue at the moment since it has a relatively easy workaround, but will investigate it once I have more time!

[2022-03-23 10:56] #893 closed

[2022-03-25 09:28] JonnyBurger opened #897 "Rendering video on Linux without proprietary codecs does not throw a helpful error"
As seen here:
https://github.com/marcusstenbeck/remotion-template-audiogram/issues/1

The error message is not very helpful. Some detection whether Chrome has that feature would be helpful

[2022-03-29 08:44] JonnyBurger opened #901 "Emphasize `staticFile` and remote URLs in /docs/assets"
Usually it is more flexible than the webpack imports, however we emphasize the Webpack imports too much. Also some don't realize you can pass remote URLs.

[2022-03-29 11:34] JonnyBurger opened #902 "Handle redirects for getAudioData()"
- Call `useAudioData(  "https://player.vimeo.com/external/291648067.hd.mp4?s=94998971682c6a3267e4cbd19d16a7b6c720f345&profile_id=175&oauth2_token_id=57447761")`
- Vimeo will redirect to the actual MP4
- Only if you use the redirected URL, the  audio data can get read

Idea: We can handle this in Remotion to use the resolved version instead if it redirects:

[code]

[2022-03-29 12:40] EricLiclair opened #904 "Chrome download should include proprietary codecs"
I've been trying to generate videos using the ssr feature in remotion. Now, my components contains \<Video /> and \<Audio /> tags from `remotion`. But the `stitchFramesToVideo()` in `@remotion/renderer` doesn't stich those frames.
Help me if I am doing it in a wrong way.

While using `yarn build` is working fine and generates the video with audio and attached video file, but not working for the ap

[2022-03-29 12:59] JonnyBurger commented on #904
Hi @EricLiclair!

Thanks for the detailed issue!
I could see a few reasons for it:

- You are using a different browser for rendering, that does not support the proprietary MP4 and MP3 codecs. I've heard this is often the case inside Docker containers
- Also check for the following scenario: The input props (that are the URL parameters `req.body` in this case) did change the video in a way that br

[2022-03-30 04:32] EricLiclair commented on #904
I can confirm for the input props to be working fine with the api because I've tested it on the same data in the dev environment.
Also, I receive a timeout with the following error.

[code]

[2022-03-30 04:40] EricLiclair commented on #904
This is the browser it downloads by default
[code]
![image](https://user-images.githubusercontent.com/65639964/160752340-eefa5408-3b6d-4c79-84dc-ba0b7338970b.png)

I am unsure why it works using the CLI and generates the video with audio but doesn't work via the api.

[2022-03-30 08:48] JonnyBurger commented on #904
Thanks @EricLiclair!

i can confirm this is most likely a bug that it downloads a browser that doesn’t have the codecs. We’ll try to improve that. Can you name the exact OS and CPU architecture that you are on?

In the meanwhile, you need to get a Chromium browser executable manually and tell Remotion to use it: https://www.remotion.dev/docs/cli#--browser-executable

Sorry for the inconvenience!

[2022-03-30 09:45] EricLiclair commented on #904
Sure. Also, I found out a work-around for my use case, as mentioned in the docs [here](https://www.remotion.dev/docs/timeout#importing-mp4-videos-in-chromium).
Because I knew my server was using a chromium browser, I converted the assets (video and audio) into webm, and then it worked all fine.

As for the system details:
I am using Windows Subsystem for Linux with Ubuntu 20.04.3 LTS, on Window 11

[2022-04-03 16:57] JonnyBurger commented on #904
Thanks! I can confirm that the automatic download For Linux downloads a version of Chrome that doesn't support media codecs. We will fix that by supplying our own version of Chrome in that case. Leaving the issue open.

[2022-04-03 18:27] stevemurch commented on #583
@JonnyBurger and others -- I'm floored by this package! It's so fantastic. And very well documented!

I have the same issue as the parent thread here, but am not using server-side rendering; still trying to get this to fully work on my own local development machine. Everything works great except for final .mp4 rendering output -- it's not respecting tailwindcss classes. (Inline styling works great

[2022-04-03 19:04] stevemurch commented on #583
More to the point -- I've followed the instructions here (see TailwindCSS section: https://www.remotion.dev/docs/webpack) to create a "remotion.config.ts" file, but when I try to npm run render (which in turn executes an npx remotion render command), the compiler is barking at me: "SyntaxError: Cannot use import statement outside a module."

[2022-04-03 20:06] ValentinHLica opened #908 "staticFile wont load MP3 file"
I have audio file in public path (public/audio/0-0-0.mp3), i am trying to import it into my project using staticFile(public/audio/0-0-0.mp3) and the returned value use as a prop for Audio component, in dev works fine but when i try to render it, it crashes.

`$ npm run build

 aaaa@1.0.0 build
 remotion render src/index.tsx Empty out/video.mp4

📦 (1/3) [====================] Bundled code 742ms
🖼

[2022-04-04 00:12] stevemurch commented on #583
Aha, I'm beginning to grok this a bit more now.

Yes, I'll need to use server-side rendering, because my Next.js app will be hosted statically. So I'll need to use a runner app to render the composition. Your example in server.tsx is very helpful, thank you. Looks like the "SyntaxError: Cannot use import statement outside a module" may in fact be related to NextJS's pickiness about module loading,

[2022-04-04 05:48] JonnyBurger commented on #908
Hi Valentin! You should not pass the public/ part:

staticFile('audio/0-0-0.mp3')

will work!

I’ll keep the issue open because we can introduce a helpful warning in this case.

[2022-04-04 08:12] ValentinHLica commented on #908
sorry typo on my part i have set staticFile('audio/0-0-0.mp3')
<img width="946" alt="aaaa" src="https://user-images.githubusercontent.com/74852397/161501975-56a3e8ec-3769-4194-b809-8e33c5d0365e.PNG">

[2022-04-04 13:46] #738 closed

[2022-04-04 15:51] stevemurch commented on #583
Update: Figured it out! Thanks for your truly superb documentation and help here above, in this thread.

[2022-04-04 17:30] CruuzAzul commented on #882
I'm on it 😉

[2022-04-04 20:28] JonnyBurger commented on #908
I see, bug is confirmed! I made a candidate PR #911 that fixes it. I have yet to check for security regressions, but hope to merge it soon and release a new version that fixes the bug!

[2022-04-05 08:04] JonnyBurger commented on #882
@CruuzAzul 🙌

[2022-04-05 12:52] JonnyBurger opened #913 "JSON.stringify issue on Windows 10"
As reported on Discord, `npx remotion lambda policies role` gives an incorrect JSON:

![image](https://user-images.githubusercontent.com/1629785/161757769-903f98da-6a2a-4ed6-b6fe-1bf5d03d630a.png)

[2022-04-05 15:05] JonnyBurger commented on #908
@Devinpennings I tried to implement it a bit more securely - if you are on Windows right now, can you see if that works as well?

[2022-04-05 18:57] JonnyBurger commented on #908
@Devinpennings Thanks a lot for testing! Will release momentarily. Gave you a contribution credit as well in the latest commit!

[2022-04-06 09:06] JonnyBurger commented on #583
@stevemurch Sorry for the late response, but I am glad you figured it out in the end!
If there are things in the docs that kept you confused, happy if you file an issue or point it out.

[2022-04-06 11:17] #908 closed

[2022-04-06 11:59] #703 closed

[2022-04-07 21:26] karlmacklin opened #917 "ffprobe Failed to read frame size: Could not seek to 1479 - tts template build fail, file copying fail."
# Bug Report 🐛

I tried the text to speech template. I have AWS and Azure set up properly, as I can view the example video when running `npm run start`.

However, when I try `npm run build` I get the following error:

[code]

The asset being downloaded (correct url here is redacted for privacy reasons) contains the correct mp3 file. It's 31kb of correct audio, the same heard when previewing the vi

[2022-04-08 07:15] #894 closed

[2022-04-08 08:13] JonnyBurger commented on #913
Unfortunately unable to reproduce on Windows 10, nothing we can do here I think.. probably an issue with the terminal emulator but not in our scope.

[2022-04-08 08:13] #913 closed

[2022-04-08 08:20] JonnyBurger commented on #917
Thanks for filing the issue and sorry for the trouble 😌
Would you be willing to share the troubled MP3 file link privately? (hi@jonny.io)

I would take a look at it and see what I can do.

Some suspicions: Could it be that the `Access Denied` page from S3 was downloaded by any chance and put into an MP3 file? That would approximately match the 456 byte length of the file.

[2022-04-08 08:56] karlmacklin commented on #917
Ok so this is awkward.

Without even rebooting my system or closing anything, I tried the same command today and it worked.
Can't think of a single thing that has changed other than the passing of time.

It builds the video fine now. I can also run `npm run server` and have it build video via http get request as per instructions. This did not work either, it could never find the .env variables.

I

[2022-04-08 09:09] JonnyBurger commented on #917
@karlmacklin Ok, whatever the reason, glad it's resolved 🥳

I can download all assets from your email fine. It's probably not worth investigating now if the problem is gone, but should one appear again, feel free to open a new issue.

[2022-04-08 09:09] #917 closed

[2022-04-08 19:29] khalidahmed1101 opened #919 "TypeError: results.flat is not a function"
I am getting error while building or converting to out/video.mp4
Can anyone help me out what I am doing wrong? thanks

![image](https://user-images.githubusercontent.com/78547959/162511157-8026131e-a041-4227-afd4-7d9355971815.png)

[2022-04-08 19:35] arthurdenner commented on #919
`Array.flat` was only added in Node v11.0.0 - see [MDN page](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array/flat#browser_compatibility).
However, you should update your Node to >=12.10.0 as described in the first two lines on the screenshot.

[2022-04-08 19:39] khalidahmed1101 commented on #919
Thank you so much @arthurdenner,
You saved me a a lot of time :)

[2022-04-08 19:51] #919 closed

[2022-04-10 07:40] woshichuanqilz opened #920 "Error when preview the example scene"
My situation:
[code]

I follow the instructions here: https://www.remotion.dev/docs/#installation

After that I get a "my-video" folder. Then I check the `Preview your video` by command `npm start` but get error.

* The output of my `npm config get ignore-scripts` is `false`.
How to solve my problem?

[code]

[2022-04-10 08:42] JonnyBurger opened #922 "Allow to start a video in the <Player /> from an offset"
# Feature Request 🛍️

From Shaun Trennery on Discord:

[2022-04-10 13:09] JonnyBurger commented on #920
Hi @woshichuanqilz!

Thanks for reporting. I tried to reproduce it myself on Ubuntu with Node17/NPM 8 and while this configuration worked for me, I suspect that on other Linux distros the `esbuild` package is less tested.

I am hopeful that the issue will be fixed in our V3 version which will be released this month, since we removed the esbuild-loader and upgrade to a newer version of ESBuild, tha

[2022-04-10 13:39] winner106 opened #923 "can remotion work with D3 perfectly?"
[D3](https://d3js.org/) is a JavaScript library used to create bespoke, interactive charts and maps on the web.

I love to make visualizations on [observablehq](https://observablehq.com/), d3 is very powerful in animation visualizations, and I really hope to combine Remotion and D3 perfectly, i.e. using remotion to render D3 animated videos directly.

## D3 Animation Reference:
[https://observable

[2022-04-12 07:57] #923 closed

[2022-04-12 14:37] winner106 opened #924 "how to work with `d3.js`?"
[D3](https://d3js.org/) is a JavaScript library used to create bespoke, interactive charts and maps on the web.

I used `d3.js` set all the transition, some code as follows, but I don't know how to connect `frame` with my react componet, could you please give some advice? thank you very much!

[code]

[2022-04-12 17:25] JonnyBurger commented on #924
Thanks for the question!

We made an example for D3: https://github.com/remotion-dev/d3-example

It is advised to keep the scale static so it does not animate, but animate the bar width based on Remotion's `useCurrentFrame()` value.

[2022-04-12 17:26] #924 closed

[2022-04-12 17:26] JonnyBurger commented on #773
We made an example for D3! https://github.com/remotion-dev/d3-example

[2022-04-12 17:26] #773 closed

[2022-04-13 15:11] winner106 commented on #924
Thank you very much for your guidance. I tried for a day today, but still failed to achieve it. I made a more complex animation using many years of data, I look forward to your more guidance. Thank you very much!

the repo address : [https://github.com/winner106/remotion-d3.git](https://github.com/winner106/remotion-d3.git)

[2022-04-15 15:47] SamVerschueren commented on #710
That issue is now fixed so it's working as it should be 🔥 🎉 !

[2022-04-15 16:14] sulco commented on #710
Wow, I've just tried several templates and it works crazy well! 😍 Can't wait to play with it more!
And now a "before you buy" experience [like this](https://github.com/faker-js/faker#try-it-online-%EF%B8%8F) should be super easy to add to your readme! :)

Btw. I think we should put one of them on our official starters list on StackBlitz.com too – this could be https://stackblitz.com/github/remotio

[2022-04-15 17:57] JonnyBurger commented on #710
Super sick! Incredible how well it works, and how fast! Definitely the best solution out of of all the ones I’ve tried 😃

We’re gonna build a template selector on our homepage and will give the option to clone or use StackBlitz, therefore leaving this issue open 🙂

@sulco This template is the ideal one to use! Thanks for featuring us as well! 😊

[2022-04-18 05:23] yuvraj108c opened #930 "Video volume increases abruptly at the end + audio mixing cracks"
I have rendered the following video for a project using remotion. It consists of a background music, alongside with some voice overs played at different time frames.

https://user-images.githubusercontent.com/42040906/163758279-b2966d76-4e3a-4b1a-9205-847a821d3c50.mp4

- If you listen carefully, there is an audio crack when the second voiceover (audio_2) starts playing. The same problem occurs if

[2022-04-18 09:51] JonnyBurger commented on #930
Hi @yuvraj108c! Thanks for the report.
I can understand the issue arising due to how FFMPEG works.

To investigate, I need the 3 MP3 files, can you share them as well? If you want, privately under jonny@remotion.dev - I'll take a look at what we can do to improve the mixing in your scenario!

[2022-04-18 10:18] yuvraj108c commented on #930
Thanks for replying. I have zipped the 3 audios here: [audios.zip](https://github.com/remotion-dev/remotion/files/8505038/audios.zip)

[2022-04-18 18:56] JonnyBurger opened #931 "getInputProps() can not be called outside of a component"
https://v3.remotion.dev/docs/dynamic-metadata calls getInputProps outside of a component, even though it seems to resolve to undefined when doing that (in the V3 branch)

Reported by ataken in Discord

[2022-04-20 09:15] JonnyBurger commented on #931
Regression introduced through #857, will fix in #933

[2022-04-20 09:33] #931 closed

[2022-04-21 08:25] yuvraj108c commented on #930
No worries Jonny, I will use FFMPEG for now until the issue is resolved.

Looking forward for the v3 launch.

[2022-04-22 06:16] JonnyBurger opened #934 "getVideoMetadata() should be concurrency-limited"
When trying to call getVideoMetadata() in high concurrency, Chrome will stall and the render leads to a timeout. We can limit the concurrency ourselves to prevent that.

[2022-04-22 12:32] JonnyBurger opened #935 "Non-existing file in public/ folder should return 404, not the main page"
`<Audio src={staticFile('doesnotexist.png')}>` returns the Remotion Player page which is confusing!

[2022-04-24 11:10] JonnyBurger opened #937 "file-loader has a 2GB video limit"
That we could increase!

[code]

might throw an error if too big.

[2022-04-24 11:24] dolphinxyz opened #938 "Suggestion panel about Large Files using staticFile API"
Hi Team,

would be nice to have on the [assets](https://www.remotion.dev/docs/assets) section a suggestion panel about loading large files using Remotion [staticFile API](https://www.remotion.dev/docs/staticfile)

So we can't stop bothering you about this on Discord ;)

Thanks a ton.

[2022-04-24 15:54] winner106 commented on #924
Thanks, but if I want scale animate，could you please give me some probable solutions direction？

[2022-04-24 17:10] JonnyBurger opened #939 "Not handling CORS error in timeline when displaying waveform"
Sometimes we cannot display the waveform, but then we should not spam the console with CORS errors

[2022-04-24 17:11] JonnyBurger opened #940 "getAudioDuration() should include a unit"
It should be `getAudioDurationInSeconds()` or include a JSDoc comment that it is in seconds

[2022-04-24 17:14] JonnyBurger commented on #924
Let's say you want to animate from scale 0 to 1:

[code]

Afterwards, you need to find the property in D3 that defines the scale and replace it with the property you just defined.

Unfortunately I don't have the time to explain everything step by step, I recommend you learn these techniques from the beginning of the docs or ask the Discord community for help.

[2022-04-24 19:07] #584 closed

[2022-04-24 19:07] #920 closed

[2022-04-24 20:35] Slashgear commented on #940
Ok, I am on it 🙆🏻‍♂️

[2022-04-24 21:28] khalidahmed1101 opened #941 "Access video file"
Hi,
I need to get video file of the rendered video on the reactjs tsx component after rendering to upload it to server through API,

Can anyone help with this issue please, thanks

[2022-04-25 00:27] winner106 commented on #924
Thank you very much for your guidance

[2022-04-25 07:31] JonnyBurger commented on #940
@Slashgear Legend 🙌

[2022-04-25 08:39] uditkumar01 opened #942 "Module '"remotion"' has no exported member 'Audio'"
# Bug Report 🐛

![Screenshot (2)](https://user-images.githubusercontent.com/55291327/165051956-cbfc6aed-4e36-4193-935d-084a39851602.png)

- I am using `Remotion v3`

[2022-04-25 08:47] uditkumar01 commented on #942
It is exported, my ts server wasn't working properly.

[2022-04-25 08:47] #942 closed

[2022-04-25 08:48] JonnyBurger commented on #942
<img width="1158" alt="image" src="https://user-images.githubusercontent.com/1629785/165054077-398f1ac3-65e5-42b3-809b-75600afbf7ee.png">

I could not reproduce this, how does it look in node_modules/remotion? Is it there?

[2022-04-25 08:48] JonnyBurger commented on #942
I see. 👍

[2022-04-25 08:48] JonnyBurger commented on #941
You cannot render inside the browser due to a limitation.

See: #655
Use server-side rendering instead: https://remotion.dev/docs/renderer

[2022-04-25 08:48] #941 closed

[2022-04-25 08:50] khalidahmed1101 commented on #941
I want to export basically videos of graphs with different data, there is may be 20 to 30 videos with the graph data,
What approach would be good?
@JonnyBurger

[2022-04-25 08:56] JonnyBurger opened #943 "<Img> tag should potentially wait for `e.target.complete`"
User `Anon1m` reports in Discord that screenshots are taken before image is rendered, and that this methodology might be better:

[code]

[2022-04-25 08:58] JonnyBurger commented on #941
If you are fine with rendering locally, just use the `npx remotion render` command a bunch of times and parametrize the video render differently each time: https://www.remotion.dev/docs/parametrized-rendering

[2022-04-25 09:00] khalidahmed1101 commented on #941
Can I use this command with loop on a script? with params of each array item?

[2022-04-25 09:35] JonnyBurger commented on #941
@khalidahmed1101

Yes, e.g. bash loop, something like this

[code]

Or write a node.js script that calls SSR APIs https://remotion.dev/docs/ssr

[2022-04-25 09:44] khalidahmed1101 commented on #941
Thank you so much @JonnyBurger ,
Will try these

[2022-04-25 18:38] uditkumar01 opened #944 ""DropDots" Component exported twice"
https://github.com/remotion-dev/remotion/blob/2131354ee58e122097114002b77d6aa7e67c60e4/packages/example/src/DropDots/DropDots.tsx#L19

https://github.com/remotion-dev/remotion/blob/2131354ee58e122097114002b77d6aa7e67c60e4/packages/example/src/DropDots/DropDots.tsx#L159

[2022-04-26 07:45] tomByrer commented on #937
Is this an OS or NodeJS issue?

[2022-04-26 07:48] JonnyBurger opened #945 "ESLint Plugin should have `@remotion/recommended` preset"
ESLint config could then call `extends: ["@remotion/recommended"]` instead of listing all the rules

[2022-04-26 08:04] #944 closed

[2022-04-26 08:04] JonnyBurger commented on #944
Thanks!

[2022-04-26 08:26] JonnyBurger opened #946 "Update Fig.io autocompletions for Remotion Lambda"
# Feature Request 🛍️

## Use Case

## Possible Solution

[2022-04-26 10:20] JonnyBurger commented on #191
We have now made the source code for githubunwrapped.com available: https://github.com/remotion-dev/github-unwrapped

Showing an AWS Lambda + Next.JS integration!

[2022-04-26 10:20] #191 closed

[2022-04-26 10:20] #940 closed

[2022-04-26 12:29] JonnyBurger commented on #794
Supported in Remotion 3.0!

[2022-04-26 12:29] #794 closed

[2022-04-26 14:55] JonnyBurger commented on #902
False alert, it does follow redirects. However, it does not render correctly, which we will address

[2022-04-27 07:41] #902 closed

[2022-04-27 07:41] #934 closed

[2022-04-27 07:41] #939 closed

[2022-04-27 08:35] #935 closed

[2022-04-27 08:35] #937 closed

[2022-04-27 08:35] #938 closed

[2022-04-27 09:02] JonnyBurger commented on #901
Fixed in #947

[2022-04-27 09:02] #901 closed

[2022-04-27 11:49] vsotreshko opened #952 "Failed to read frame size: Could not seek to 1486."
Failed to read frame size: Could not seek to 1486.

# Bug Report 🐛

I am just starting with remotion and I have a problem with text-to-speech template. When I am trying to render a video I am receiving this error:
[code]

[2022-04-28 07:28] JonnyBurger opened #953 "False statement in docs"
It does not fully reload but merely update the component.

[2022-04-28 07:50] JonnyBurger commented on #868
I'm closing it due to no response and no guidance on how to debug. Let us know if you still suffer from the problem.

[2022-04-28 07:50] #868 closed

[2022-04-28 15:05] JonnyBurger opened #954 "3.0 regression: `Rendering frames (1x) 0/0`"
It should not be `0/0` IMO :)

[2022-04-29 15:07] #953 closed

[2022-04-30 13:04] danistefanovic opened #957 "<Player /> audio keeps playing after reaching the video end"
# Bug Report 🐛

When an audio track is longer than the total video duration, the audio is still playing after <Player /> has reached `durationInFrames`. Reproduction repository: https://github.com/danistefanovic/remotion-player-audio-issue

[2022-04-30 13:13] danistefanovic commented on #957
Disabling the strict mode in React seems to fix the issue.

[2022-05-01 10:19] JonnyBurger commented on #957
Indeed, we have already filed it. Sorry and we'll put our minds towards solving this soon!

[2022-05-01 10:19] #957 closed

[2022-05-01 15:11] JonnyBurger commented on #730
Added in v3.0.1! https://remotion.dev/docs/folder

[2022-05-01 15:11] #730 closed

[2022-05-01 15:12] JonnyBurger commented on #954
Fixed in 37659cf8c2ceac0fb950019b4a99733d6ce26258

[2022-05-01 15:12] #954 closed

[2022-05-02 20:43] sammarks opened #962 "Don't re-upload assets to S3 if they're already present."
# Feature Request 🛍️

Whenever using `deploySite()`, it would be nice if existing files were not re-uploaded.

## Use Case

Some projects I work on have very large video assets (2GB), so it's a pain to have to wait for those to be re-uploaded every time.

## Possible Solution

Perhaps compare existing files inside the `public` folder of the deployed site (if there is one) based on file size, and d

[2022-05-03 11:24] jspantheonlab opened #963 "Error: Volume array must have at least 1 number"
# Bug Report 🐛

When doing render, throw an error of `Volume array must have at least 1 number`, receive an empty array on the video asset's volume.

I tried to debug the function `splitAssetsIntoSegments`, there is an issue on slice on the video asset volume.

[code]

[code]

the issue found here is `amountOfFramesThatGetCut` is less than 0 and the second argument of slice array will be in wrong

[2022-05-03 14:35] JonnyBurger opened #966 "Add link to timeout tweaking when lambda is timing out"
could be more helpful:

![image](https://user-images.githubusercontent.com/1629785/166474306-5bcbf469-3f4a-4403-807d-c2fe8a2182fd.png)

[2022-05-03 18:08] JonnyBurger commented on #963
Thanks for filing and even researching it further! Appeciate the quality issue! 😊  I'm taking that into account in my audio pipeline refactor: #965

[2022-05-03 18:20] JonnyBurger opened #968 "Improve Code sharing docs"
Very crucial part of Remotion - should be better documented!

Here are some thoughts and struggles from samdoeswork on Discord:

do you have a setup guide on how to share components between a regular app (playing them with <Player>) and the Remotion dev player environment. I've got a Next app and trying to share the components between both is challenging (tried placing the entire remotion director

[2022-05-04 08:57] JonnyBurger commented on #962
Thanks for the issue, and I understand the desire!
To do it correctly, we'd have to get a hash of the file that is in the S3 bucket.

I've done some quick research and it seems, this is tricky especially for large files. While normally files have an ETag that is the MD5 hash, for large files uploaded using the Multipart API, this is not the case.

This is an interesting project: https://github.com

[2022-05-04 13:40] sammarks commented on #962
Sounds good! For additional information, here looks like the criteria `s3 sync` uses to determine if something needs to be re-uploaded:

I think it would be fine if this was the logic (thus avoiding having to use something like s3md5), as long as there is some sort of flag to override this behavior and force a sync each time. Could even make it opt-in instead as well.

[2022-05-05 01:51] winner106 commented on #924
Thanks for your guidance last time. Now I can make the D3 animation in Remotion, but the effect is not smooth, and there will be some lag. I have been trying these days, but I still can't find a solution. I hope you can have a look at my animation effect. I really hope to combine Remotionand D3 perfectly.

[https://github.com/winner106/remotiond3](https://github.com/winner106/remotiond3)

![image]

[2022-05-05 13:06] JonnyBurger opened #972 "Add link to source code for each function in docs"
E.g.: https://www.remotion.dev/docs/audio-buffer-to-data-url/

Would be nice if in the `audioBufferToDataUrl()`, you could click and see the source code of said function!

[2022-05-06 07:54] helkaroui opened #973 "Player - doesn’t work in storybook"
# Bug Report 🐛
I integrated storybook in my remotion project, so that I get a preview of my assets and compositions.
Unfortunately the Player doesn't seem to work inside storybook stories.

I've used the HelloWorld component to demonstrate the bug, here is the code :
[code]

In storybook, the player is showing and functional. But  the rendering area is blank.
![image](https://user-images.githubuse

[2022-05-06 08:08] JonnyBurger commented on #973
Thanks for the report! Will investigate it.
What would be helpful to know:
Do you see any errors in the console, and is the markup inside the player, when you inspect it, empty?

[2022-05-06 08:12] helkaroui commented on #973
No errors in the console.
I replaced the Composition object with a simple Component and now it's working :
[code]
So now the error only happens when using <Composition> with player.

[2022-05-06 08:43] #973 closed

[2022-05-06 10:56] helkaroui opened #974 "Add Storybook to project example"
# Feature Request 🛍️
I would like to add Stroybook to project example by default. Asking for your opinion before making a PR.
## Use Case
- Demonstrate static and animated assets
- Enlist sequences and compositions
- Be able to test customization on the fly for elements without adding them to the final composition

Here is a working example of the suggested feature :
![remotion_storybook(1)](https

[2022-05-06 12:54] JonnyBurger commented on #973
Makes sense! Glad you figured it out! 🙌

[2022-05-07 09:16] helkaroui commented on #974
My plan is to add storybook integration as follow :
# In project example
https://github.com/remotion-dev/template-helloworld
- Add stories to all components and compositions
- Update Readme

# Core project :
- Update docs with commands and screenshots : https://github.com/remotion-dev/remotion/tree/main/packages/docs

What do you think ?

[2022-05-07 12:34] #930 closed

[2022-05-07 12:34] #963 closed

[2022-05-08 08:15] winner106 commented on #924
I have link `frame` to the `rect` element's y and width attribute, but the effect is not smooth, I tried `spring` function , but failed too😢

part of code as bellow:
[code]

[2022-05-08 15:45] JonnyBurger opened #980 "Add docs: How to install Remotion in an already existing project"
npm init video should not be the only way. Explain how to install remotion, @remotion/cli etc.

[2022-05-08 16:33] JonnyBurger commented on #974
Hi Hamza!

I would prefer if we forked the Hello World template and made a new template that has Storybook preinstalled. When creating a new project, the user can pick from multiple templates, and we would add it to the list.

The reason I prefer this is that the template is the default and most people don't need Storybook when making a new video, since Remotion also has a sidebar that allows to s

[2022-05-08 16:44] JonnyBurger commented on #924
Hi @winner106,

unfortunately due to high demand I cannot review every request for potential bugs.
It also does not look like a Remotion bug but like a miscalculation due to opaque data structure.

I'd like to recommend once again to ask on Discord, or a general-purpose help site like StackOverflow.

Some general advice, your animation looks simple enough that it might not need D3.js at all.
You c

[2022-05-08 17:06] JonnyBurger opened #981 "CRA app logs warning about source maps if Remotion is imported"
Init using CRA v5

Install Remotion as a dependency - you get these:

[code]

[2022-05-09 03:58] winner106 commented on #924
OK，Thanks.

[2022-05-10 09:40] #981 closed

[2022-05-10 14:25] JonnyBurger opened #984 "Migrate stills template to Next.JS"
Since Heroku is basically killing itself by removing GitHub integration, let's migrate the stills template and use Next.JS!

[2022-05-10 17:44] JonnyBurger opened #985 "Audiogram template is not thread-safe"
Some flickers can be observed when rendering on Lambda.

Also the audio is over 1 hour, making the render very slow.

[2022-05-11 02:54] jakerr opened #986 "@remotion/gif Doesn't play nicely with remotion's `staticFile`"
Using Gif like so:

[code]

Fails with a message:

[code]

Even though I can get Chrome to fetch the gif with a `fetch('/static-ada075bddc8f/logo.gif')` in the console and see the correct gif loaded in the Network tab of DevTools.

[2022-05-11 09:27] JonnyBurger commented on #986
Thanks for reporting! Solved in 65188e83a74b0ce81f61ba58d4be1200f9b0627a

[2022-05-11 09:27] #986 closed

[2022-05-11 09:46] #710 closed

[2022-05-11 09:57] jakerr commented on #986
Awesome, thanks for the quick solve!

[2022-05-13 17:37] JonnyBurger commented on #985
Fixed in audiogram repo

[2022-05-13 17:37] #985 closed

[2022-05-14 13:16] HelloKashif commented on #737
@JonnyBurger @arthurdenner fyi: I was able to run v3 without any issues for rendering.

Actually you don't need any of the custom webpack config because you can simply generate the tailwindcss output file before render (even minification isn't needed, because bundle size is not a concern during render)

Simply call `tailwindcss -i <input-css> -o <output.css>` to create the css file and then just i

[2022-05-16 09:06] JonnyBurger opened #989 "How to un-preload an asset"
Add here how to clean up the preloading: https://www.remotion.dev/docs/player/preloading

https://discord.com/channels/809501355504959528/817306238811111454/975681221092864040

[2022-05-16 18:22] nandorojo opened #990 "Disk size"
using DaisyDisk to reduce my `node_modules` size, I found that remotion adds a lot of disk size. It's mostly from recursively nested babel dependencies I think.

<img width="789" alt="image" src="https://user-images.githubusercontent.com/13172299/168657711-4bc4f51b-8aea-47bc-bf45-98e653634591.png">

[2022-05-17 00:10] Ivraj opened #991 "Flickering when using `<Video>` with multiple `<Series.Sequence>`s on Lambda"
# Bug Report 🐛

Hi @JonnyBurger! We just finished our move to Remotion Lambda and our team is loving it. However, we've been seeing minor flickering issues with videos rendered with Lambda.

## Background and Issue Description

Our use case is creating a sports highlights clip from a single source video. In order to accomplish this, we use a set of `<Series.Sequence>`s to sequentially display play

[2022-05-17 11:52] #990 closed

[2022-05-17 11:52] JonnyBurger commented on #991
Thanks a lot for providing this excellent reproduction. I'll dig in now!

[2022-05-18 00:03] Ivraj commented on #991
Awesome. Thanks for the quick response! We'll try that workaround to see if it does the trick.

[2022-05-18 00:18] Ivraj commented on #991
Our team got a chance to test out the workaround of increasing the memory dedicated to the function. It works well!

When generating test videos (we used the same test videos from the [replication repo](https://github.com/Ivraj/multi-seq-lambda-repro) mentioned in the initial issue comment), we got the following results:

**3072MB**: Out of 10 videos...
- 8 render with no issue
- 1 renders with 1

[2022-05-18 02:30] skinandbones opened #993 "Poor rendering performance when using several concurrent `<Video>` elements"
When a composition contains many `<Video>` elements within the same frame, rendering performance degrades as more `<Video>`s are added to the frame.

Test rendering a 10s composition on a Mac M1 Pro (16GB)

| Number of videos | Render time |
| --- | --- |
| 1 | 54s |
| 4 | 77s |
| 8 | 92s |
| 12 | 106s |
| 16 | 122s |

Note: increasing render concurrency makes the rendering unreliable due to timeo

[2022-05-18 14:54] JonnyBurger commented on #991
Hey guys, I've been digging a bit today and I think I got a good hint! The flicker always happens on the first frame of the chunk and it might be due to a bug.

I have to run off, but I'll verify that tomorrow and keep you up to date!

[2022-05-18 16:25] khalidahmed1101 opened #995 "Animation issue in graph"
Hi, I'm trying to build and render video of a Linegraph, it shows good locally in reactapp, but after building or rendering the video, the animation stops, can you please help or tell any work around to fix this? thanks

Reactapp video:

https://user-images.githubusercontent.com/78547959/169093645-5b2d88ed-c411-4be4-8c9b-59ceb45f47d7.mp4

Render video:

https://user-images.githubusercontent.com/78

[2022-05-18 19:16] skinandbones commented on #993
Rendering time can be improved by rendering the videos at a FPS lower than the composition.   For example, if we use `<Freeze>` and only update our video every other frame (effectively 15fps) then the render time improves 2x.   The relationship seems linear.   So, lowering the effective FPS of the videos may be a workaround to slow renders if you can tolerate it.

| Number of videos | Render time

[2022-05-19 20:10] JonnyBurger commented on #991
Hi! I released 3.0.8 which I think vastly improved on the flickering. I rendered 8 videos with 1024MB of RAM and only 1 video had a flicker at the 150 frame mark (where the <Sequence/> seam is).

Still, this is not perfect and I'm going to leave this issue open. Since you've been unblocked, I'm going to revisit the issue within the next few weeks and maybe use a completely different approach like

[2022-05-19 20:26] JonnyBurger commented on #810
This is not a problem anymore with Remotion 3

[2022-05-19 20:26] #810 closed

[2022-05-19 20:27] JonnyBurger commented on #995
Hi there!

You are most likely facing an issue as described here: https://remotion.dev/docs/flickering

Unfortunately I can not give any more advice without knowing more information about the project, such as which framework you used.

[2022-05-19 20:29] khalidahmed1101 commented on #995
Hi @JonnyBurger I'm using recharts Line graph in reactjs, please help what should I do to fix this? Thanks

[2022-05-20 08:10] JonnyBurger opened #998 "Set poster image for output video"
This is possible apparently: https://superuser.com/questions/1357459/add-poster-frame-artwork-to-mp4

[2022-05-20 13:44] khalidahmed1101 commented on #995
Hi @JonnyBurger ,
Ok I will disable the animation, but can you help how can I achieve animation of the line as it is shown in the first video aka reactapp video, from left to right?
I will be thankful

[2022-05-21 07:03] Ivraj commented on #991
Incredible! We'll upgrade to `3.0.8` as soon as we get a chance. Best of luck with those browser issues.

Haha, thanks man! It warms my heart to know that the reproduction was so easy to use. But, of course, such a repro is only possible when the original API is so well written 😃 .

Once again, thanks for the quick responses and fixes!

[2022-05-21 10:13] JonnyBurger commented on #995
We have some demo code at https://github.com/remotion-dev/d3-example
Also here is a similar issue: https://github.com/remotion-dev/remotion/issues/924

As I've mentioned in that one, I don't have time to help everyone individually anymore :( but I hope you can find these resources helpful!

[2022-05-21 11:56] JonnyBurger opened #1001 "Remove @remotion/bundler and @remotion/renderer from templates"
- These are implicitly installed as dependencies of @remotion/cli. It's better if you don't have to worry about the version of it and let the version of @remotion/cli handle it.
- Docs should remove any mention of needing to install it

[2022-05-21 14:08] JonnyBurger commented on #980
Fixed in #1002

[2022-05-21 14:08] #980 closed

[2022-05-21 14:23] JonnyBurger commented on #817
I tried it out and it's slower than the non-headless version :( not pursuing it further!

[2022-05-21 14:23] #817 closed

[2022-05-24 14:49] JonnyBurger opened #1006 "Call a webhook when a Remotion Lambda render is done"
This was request by two Discord members: mindbugg and Allfather.

[2022-05-24 15:01] #966 closed

[2022-05-24 17:22] JonnyBurger commented on #946
PR sent https://github.com/withfig/autocomplete/pull/1243

[2022-05-27 08:01] #943 closed

[2022-05-27 08:01] #991 closed

[2022-05-27 08:01] #993 closed

[2022-05-27 08:05] JonnyBurger commented on #991
We have a new component called `<OffthreadVideo />` that behaves correctly even under low resources: https://remotion.dev/docs/offthreadvideo

[2022-05-27 08:06] JonnyBurger commented on #943
A cause for this was when the `src` was changing. This was also fixed in #1008

[2022-05-27 08:07] JonnyBurger commented on #200
Fixed by introducing a new component: `<OffthreadVideo>`: https://remotion.dev/docs/offthreadvideo

[2022-05-27 21:08] peduarte opened #1013 "Question: Render multiple Compositions via `npm run build`"
Hey! Finally I've had some time to play with Remotion. Still just scratching the surface, but I can already tell it's an amazing library. Thanks for all the work!

I just have a question, I was unable to find the answer by searching issues — maybe using wrong terms.

I want to make about 10 videos, and have them each being exported (rendered) as unique `mp4` files. I've done that by using 10 `Comp

[2022-05-31 12:23] #989 closed

[2022-05-31 14:26] JonnyBurger commented on #1013
Hey Pedro!

Thanks for trying out Remotion and sorry for the late response!

What you are doing is one way of doing it, another way is to make one composition and render it multiple times with different input props: [Parametrized rendering](https://www.remotion.dev/docs/parametrized-rendering)

Going further than that, you can then use the Node.JS APIs to for example loop over an array of composit

[2022-05-31 14:26] #1013 closed

[2022-06-01 17:33] morgankenyon opened #1023 "Cannot Run "npm start" On Brand New Remotion Project (potential 3.0.14 port issue)"
I wanted to create a new remotion project, so I ran `npm init video` to set it up. The project was created successfully. But now when I run `npm start` in the project I am met with the following error.

[code]

![image](https://user-images.githubusercontent.com/4063086/171464955-ab7df3d6-dd08-409c-a7bf-4b2188c24365.png)

# Bug Report 🐛

To reproduce:

1. Create new project
2. Attempt to run the pr

[2022-06-02 13:27] #1023 closed

[2022-06-02 13:30] #812 closed

[2022-06-05 01:32] thomasasfk opened #1026 "Lambda: S3 public folder upload broken on Windows"
When calling the following:
[code]

It creates and uploads files to S3 successfully, however instead of creating a `public` folder, it prefixes the files with `public\` instead.  This means rendering with `staticFile()` will fail as it's looking for `public/file_example` instead of `public%5Cfile_example` (%5C is \ encoded).

# Bug Report 🐛

To reproduce, run `remotion lambda sites create src/inde

[2022-06-05 13:16] #1026 closed

[2022-06-09 13:11] JonnyBurger opened #1036 "Allow to customize `public/` folder location"
Could be useful for scenarios like these:

[2022-06-12 07:54] tomByrer opened #1039 "build step outputs to CLI"
# Bug Report 🐛

1: git clone https://github.com/remotion-dev/tone-js-example.git
2. pnpm i
3. working: npm run start
4. npm run build outputs video to CLI

I'm fairly certain you don't want me to copy/paste the result? ;)

## info

On version: 3.0.18
- @remotion/bundler
- @remotion/cli
- @remotion/eslint-config
- @remotion/renderer
- @remotion/media-utils
- remotion

✅ Great! All packages have the

[2022-06-12 07:58] tomByrer opened #1040 "remotion versions include node & environment version"
# Feature Request 🛍️

Would it be helpful to include the node version & environment (OS, memory, Chromium, etc)

## Use Case

bug reports

If it is not helpful to _you_, please close & disregard.

[2022-06-12 08:02] tomByrer commented on #972
Fast solution: create a search URL:
https://github.com/remotion-dev/remotion/search?q=audioBufferToDataUrl

[2022-06-12 08:45] tomByrer commented on #922
Simple solution; provide in the [`<Player>` demo](https://github.com/remotion-dev/remotion/blob/main/packages/player-example/src/App.tsx) an example on how to do it:

[code]

(I haven't tested in your environment, but works in [my weird setup](https://tombyrer.github.io/remotion-aspectratio-demo/).)

[2022-06-12 15:48] leapofazzam123 commented on #79
Any updates in this project? Is the Vue bindings finished? Does it support vanilla JS? I want to use Remotion (player) on Svelte so I don't have to deal with the pain of JSX

[2022-06-13 10:41] minarainbow opened #1043 "setState in timeupdate event handler"
While I am trying to setState inside the event handler of timeupdate, for the purpose of showing the current progress of the video in custom timeline bar, the video flickers when playing and shows this message everytime:

[code]

I couldn't find the source code related to use-media-playback.js
Do you have any idea why this is hapeening?

[2022-06-14 07:12] JonnyBurger commented on #1043
Hey Mina!

Thanks for raising an issue. It seems like somehow a full re-render of the Remotion player is happening, which would explain the flicker. Could you paste the component to diagnose the issue?

[2022-06-14 07:12] JonnyBurger commented on #1043
For reference: The code for use-media-playback.ts is here: https://github.com/remotion-dev/remotion/blob/main/packages/core/src/use-media-playback.ts

[2022-06-14 07:18] JonnyBurger commented on #79
@leapofazzam123 No progress beyond the current state in the `vue` branch.

My concern at the moment is that all the components such as `Video`, `Audio`, `Sequence`, `Series`, `Loop` etc. also need to be rewritten for Vue and I don't see a good strategy for sharing the code between React and Vue implementation yet.

If we have to do this, I am not keen on supporting other frameworks as it will be a

[2022-06-14 07:18] JonnyBurger commented on #1040
+1 I'm gonna implement it!

[2022-06-14 07:24] #1039 closed

[2022-06-15 08:31] wcandillon opened #1050 "defer registerRoot call"
## Use Case

We are using remotion and webassembly together. Ideally we would like to wait for the web assembly to be loaded because even invoking. It would look like this:

[code]

but it looks like the `registerRoot` call cannot be deferred. We are curious to find the best practice there.

[2022-06-15 08:45] JonnyBurger commented on #1050
React only supports default export for React.lazy:

(https://reactjs.org/docs/code-splitting.html)

I'll look into whether it's possible to defer registerRoot()!

[2022-06-15 10:24] wcandillon commented on #1050
this recipe is awesome ❤️ Thank you for that, this is actually pretty useful.
fixes #1051

[2022-06-15 18:51] Iamshankhadeep commented on #1050
fixed by #1051

[2022-06-15 18:51] #1050 closed

[2022-06-18 06:08] ansarizafar commented on #79
@JonnyBurger https://github.com/BuilderIO/mitosis can be used to write components once, and run everywhere. Compiles to Vue, React, Solid, Angular, Svelte, and more.

[2022-06-19 04:50] tomByrer commented on #1039
Yes, much better!  cheers
[code]

[2022-06-19 05:59] tomByrer opened #1053 "prevent constant re-downloading of Chromium"
# Feature Request 🛍️

I'm constantly re-downloading Remotion projects &/or updating then rendering old repos.  I'm contently having to re-download Chromium to render.

Good thing at home I have fast Google Fiber, but if I had to work remotely off my cell phone, local rendering could get ugly.

## Possible Solution

* Provide the Chromium you use as a npm package.  (I use pnpm, so re-installing is

[2022-06-19 06:14] tomByrer opened #1054 "backgroundColor don't change"
# Bug Report 🐛

I'm testing out changing the background color, but seems not to work.
https://github.com/tomByrer/remotion-simple-demo/blob/master/src/HelloWorld.jsx#L22

In Brave & Firefox *Private* window, the HelloWorld background is transparent.
In Firefox normal view, the background is black, though the small previews (icons in the upper-left & start of the component tracks are white (or what

[2022-06-19 09:55] JonnyBurger commented on #35
This is now WIP: https://github.com/remotion-dev/remotion/pull/1057

[2022-06-19 09:55] JonnyBurger commented on #879
Started working on it: https://github.com/remotion-dev/remotion/pull/1057

[2022-06-19 10:08] JonnyBurger commented on #1054
You're right, this is a bug surfaced in Remotion v3.0.18 and already fixed in 3.0.19!
Sorry for not mentioning this in the release notes!

`npx remotion upgrade` will fix it!

[2022-06-19 10:08] #1054 closed

[2022-06-19 10:13] JonnyBurger commented on #1053
Agree. This behavior is actually inherited from Puppeteer, and we want to inline it to make it better.
Another similar problem is #904 that those binaries don't support `<Video>`, so to solve 2 problems at a time, we should supply our own Chrome binaries for all platforms.

Workaround for now is to of course install Chrome, if you have it but it is not recognized, you can help us by adding it to t

[2022-06-19 12:57] tomByrer commented on #1053
Should I add to `local browser executables` Chrome Canary, Edge, Brave, & other Chromium based browsers?
Or too much support headaches? (which would be a fair response)

[2022-06-19 13:24] tomByrer commented on #1054
Oh thanks, & that fixes a rendering bug I thought I found.

For some reason I thought `pnpm i` upgrades, but I guess I need to do `pnpm up`.

[2022-06-19 14:19] JonnyBurger commented on #1054
`pnpm i` does not upgrade,
`pnpm up` upgrades everything,
`npx remotion upgrade` upgrades only Remotion. I recommend the last one, it even works with pnpm!

[2022-06-19 14:20] JonnyBurger commented on #1053
We'd appreciate that actually 🙌🏼

[2022-06-19 20:09] Bardent opened #1058 "Additional Timeline Scrubbing Controls"
As an alternative to space bar causing the timeline scrubber to pause at its current position, use enter to pause playback and return the scrubber to where it was last played from.

# Feature Request 🛍️

Say the timeline scrubber is currently on frame 50 - the user hits space/enter and playback starts. At frame 200, if the user hits space playback is paused and the scrubber now sits at frame 200.

[2022-06-19 21:59] tomByrer commented on #1053
Good news, Brave Beta works to build videos!
Bad news, I could not get Canary nor Edge to work
[code]
I found logging the used EXE helpful:
[code]

[2022-06-20 05:05] tomByrer commented on #1058
So basically set up a loop?

It would be handy!

Workaround: Make a custom component that wraps a [<Sequence>](https://www.remotion.dev/docs/sequence#trim-start) to trim the start & end times.

[2022-06-20 07:46] JonnyBurger opened #1059 ""Open in VS Code" is slow"
I wonder why there is a 10sec delay for that!
When creating a new video

[2022-06-20 08:19] JonnyBurger commented on #1058
I'm okay with this, adding it to the roadmap!
It's different from a loop as I understand, for looping a certain part of a video, you can use the In/Out markers feature.

[2022-06-20 08:24] JonnyBurger commented on #1053
Super nice!
I'm happy to add everything, though I think we cannot resolve `%USER%` like that Node.JS.
Will `path.join(os.homedir(), "Local\\Google\\Chrome SxS\\Application\\chrome.exe")` resolve the right directory?

[2022-06-20 08:41] JonnyBurger commented on #79
@ansarizafar Thanks, I will give it a shot at least!

[2022-06-20 14:34] tomByrer commented on #1053
I forgot the AppData:
[code]
works fine!

[2022-06-20 14:40] tomByrer commented on #1053
I'm wondering if abstracting getting browser paths out to a separate package would be helpful?  Could also use a list of verified browsers installed with [remotion versions](https://github.com/remotion-dev/remotion/issues/1040) to help users/bug-fixers.

[2022-06-20 15:04] FelippeChemello opened #1061 "Download Chromium automatically on ARM"
When running Remotion on ARM architecture for the first time, it shows that chromium isn't available and should be installed manually, however it is already available to lambda, that runs on ARM.

Maybe it should be added to install/build script and download automatically during install/build, instead of throwing error.

[2022-06-20 20:30] JonnyBurger opened #1063 "Prevent `#` character in staticFile()"
It will lead to problems, let's only allow characters that are also allowed in an S3 key

[2022-06-20 20:42] JonnyBurger commented on #1061
Good idea, relevant issue as well: #904

Are you referring to Linux on ARM or Windows on ARM?

[2022-06-20 20:58] #1040 closed

[2022-06-21 13:28] greendesertsnow commented on #737
I added postcss.config.ts file to the root, with the following code in it:
[code]
And it builds the Hello world template with tailwind classes perfectly fine on Tailwind 3

[2022-06-22 03:51] tomByrer commented on #1059
I've use it only 1 time per 10 hours of coding; I usually have the file(s) open already that broke the code, since I just broke it ;)

[2022-06-22 03:54] tomByrer commented on #1061
Local machine or remote?  If local, or as a workaround, can you [declare a local browser to use](https://github.com/remotion-dev/remotion/issues/1053)?  One advantage; use a beta browser version.

[2022-06-22 07:49] JonnyBurger commented on #1061
WIP with #1066

[2022-06-22 13:48] JonnyBurger commented on #1043
Because there was no update, I'm going to close it.
If you still need help, just let us know!

[2022-06-22 13:48] #1043 closed

[2022-06-22 13:54] JonnyBurger commented on #755
Unfortunately, since I don't see a good way to solve this from a technical perspective, I'm going to close the issue.

As explained in the last comment, since everything is declaratively, Remotion does not have a full vision of the timeline, but only sees the markup at the current time.

A `<Grouping>` component may make writing syntactically simpler, but does nothing can not also be achieved with

[2022-06-22 13:54] #755 closed

[2022-06-22 14:11] JonnyBurger commented on #642
We have in the meanwhile revamped the Fast Refresh quite a bit:

- All Fast Refresh code is now inlined in the Remotion repository
- Changed the order of entries in which the different entry points get loaded.

The gotcha here is that your custom renderer must call `injectIntoDevTools()` from 'react-reconciler' for it to work. It's the responsibility of the renderer, not of us.
Are you doing that?

[2022-06-22 14:16] wcandillon commented on #642
The problem was still happening a few weeks ago, but I would be happy to try on a more recent version.
https://github.com/Shopify/react-native-skia/blob/main/package/src/renderer/Canvas.tsx#L33 is that any good? What does it do?

[2022-06-22 14:23] #315 closed

[2022-06-22 16:26] #972 closed

[2022-06-22 16:27] JonnyBurger commented on #972
Good idea, though it yields not just the source but also all the usages and the source is not always at the top. I applied some naming conventions no and don't plan on doing random renames going forward.

[2022-06-22 17:38] JonnyBurger commented on #1001
Done!

[2022-06-22 17:38] #1001 closed

[2022-06-22 18:40] wcandillon commented on #642
The issue in the video above is only reproducible by using a `<Series>` within the Skia renderer (tested with v3.0.4).
Now that we have react native web support part of Skia, we will be able to provide a small repo to reproduce the issue.

[2022-06-23 08:58] JonnyBurger commented on #984
Not gonna do it in the end, Next.JS has a 50MB max lambda size and although it works, we are exactly hitting 50MB. Doesn't really scale...

And also, it does not work with Node 16 or Node 18, but just Node 14... will just make a Next.JS template that uses lambda - closed in favor of #809

[2022-06-23 08:58] #984 closed

[2022-06-23 13:28] Just-Moh-it opened #1069 "Incorrect filename in Brownfield Installation docs"
![Screenshot 2022-06-23 at 6 54 07 PM](https://user-images.githubusercontent.com/48997634/175309638-01bad718-0aaf-472c-b9b1-4e2647d4296d.png)

Though the source code of this doc specifies `Video.tsx` in the `// @filename: Video.tsx`, the docs still display it as `index.ts` somehow, due to parsing errors, maybe.

This got me thinking for a second...

Doc Link: https://www.remotion.dev/docs/brownfie

[2022-06-23 13:43] #1069 closed

[2022-06-29 07:17] JonnyBurger commented on #50
Some thoughts:

- We can get closer to Deno support by removing as many npm dependencies as possible and inlining them into Remotion. This makes it easier to replace calls to native Node.JS modules (path, os, child_process etc.)
- Besides Deno, there's also https://bun.sh/ which I also find very promising. So it's not just about supporting one more runtime, but being runtime-agnostic possibly.

[2022-06-29 19:32] JonnyBurger opened #1076 "Should be able to control concurrency within a single Lambda render function"
Currently it is hardcoded to 1x

[2022-06-29 19:35] JonnyBurger opened #1077 "Fast refresh `--props` in preview when passed a filename"

[2022-06-30 08:22] JonnyBurger opened #1078 "Add instructions for how to setup Lambda with CloudFormation"
I got a very handy CloudFormation template, need to add it to the docs as well

[2022-06-30 21:22] Seruf-Che opened #1081 "`npm init video` throws an error"
# Bug Report 🐛

There is an issue when execute `npm init video`

Error:
[code]

The same with `yarn create video`

#### versions
OS: Ubuntu 20.04
Node: 16.15.1
npm: 8.13.1
yarn: 1.22.19
ffmpeg version 4.2.7-0ubuntu0.1

[2022-06-30 22:17] rfoel commented on #1081
Try using `yarn`, it worked for me.
[code]

[2022-07-01 06:32] JonnyBurger commented on #1081
It seems to work now, no more 404 when visiting the URL, I think the npm registry still had a caching problem.

See also: https://stackoverflow.com/questions/72821229/how-should-i-resolve-this-error-that-occurs-when-using-ng-new

[2022-07-01 06:32] #1081 closed

[2022-07-01 09:51] Seruf-Che opened #1082 "Is it possible to get Stream by renderMedia() method?"
As I can [see](https://www.remotion.dev/docs/renderer/render-frames#outputdir) it is possible to get Buffer when you use `renderFrames()` method but [stitchFramesToVideo()](https://www.remotion.dev/docs/renderer/stitch-frames-to-video) or [renderMedia()](https://www.remotion.dev/docs/renderer/render-media) methods don't have such option.
I would use it to upload video directly to s3, if there were

[2022-07-01 17:46] #1082 closed

[2022-07-02 08:14] JonnyBurger commented on #1059
Investigated a bit and the curlprit was using the `x86` version of Node.JS on my M1. When changing to the ARM version, it's super snappy!

[2022-07-02 08:14] #1059 closed

[2022-07-02 15:08] AbdulBsit opened #1087 "`getComposition` api in `@remotion/renderer` not working as expected on ec2 instance"
# Bug Report 🐛
Upgrading remotion to v3, every thing work like a charm locally in my machine, but when i deployed every thing to windows ec2 instance, `getComposition` not work as expected, it wait too long for a server to start to `getComposition` from webpack (downloaded on ec2 ) and finally throws the error ```net::ERR_ADDRESS_INVALID at http://localhost:0/index.html```
It seems related to port

[2022-07-04 08:41] JonnyBurger commented on #1087
Hey Abdul!

It is a problem with port selection where none of the ports between 3000 and 3100 are available. I now changed it so it does not default to port 0 if none are available.

I also tried to reproduce by spinning up a `Windows_Server-2019-English-Full-Base-2022.06.15` instance on AWS, and running the following Node.JS script on it:

[code]

Which would log `3000`.

I also ran `npm init vid

[2022-07-04 10:51] AbdulBsit commented on #1087
@JonnyBurger
**I narrowed down further behaviour, It is happening because of this timeout, I try after commenting it, It starts working** https://github.com/remotion-dev/remotion/blob/4d42381b4a0db42b4e3db48a92c512105ba356db/packages/renderer/src/get-port.ts#L16

Can we increase it a lil bit more, `1100` works fine, or I can submut a pull request regarding adding option for **timeout to check port

[2022-07-04 15:57] JonnyBurger commented on #1087
Thanks a lot for pinning it down! I increased the timeout to 3000 now.
This should not make things slower I hope, since if the OS is responsive, it responds eventually with nothing or response.

I'm gonna release a new version now, let me know if it helps!

[2022-07-04 16:45] #1087 closed

[2022-07-04 17:09] ruspaull opened #1092 "Player won't work when using Audio tags"
# Bug Report 🐛

`@remotion/player` will throw an error and won't start when you are using an `<Audio>` tag in your components: `Uncaught Error: No video config found. You are probably calling useVideoConfig() from outside the component passed to <Player />`

Sample reproduction code:

[code]

If you remove the  `<Audio>` tag, the player will work just fine

[2022-07-04 19:47] JonnyBurger commented on #1092
Hey Rus!

That looks like a Remotion version mismatch between remotion and @remotion/player.

Do you see a warning in the console and are you able to resolve it?

[2022-07-05 06:43] ruspaull commented on #1092
@JonnyBurger that was it! amazing! Thanks for the prompt help

[2022-07-05 06:43] #1092 closed

[2022-07-05 12:20] #1077 closed

[2022-07-06 20:04] wcandillon commented on #1050
Just tried it, and I love it, really cool, thank you

[2022-07-07 06:10] JonnyBurger commented on #50
Remotion does not currently run on Bun at the moment at least because of `child_process`.

I'm continuing to eliminate dependencies and try to avoid runtime-specific APIs so when the new JS runtimes mature, we are ready!

[2022-07-07 14:43] patsalv opened #1097 "Remotion/Player provided no feedback when component which returns composition is passed"
This is my Video.tsx file

[code]

This is my RemotionPlayer.tsx file
[code]

This does not work, but there is no error message pointing out this mistake.

[2022-07-09 19:04] #1058 closed

[2022-07-10 07:35] yashness commented on #737
Kindly update the docs, if this is supported now

[2022-07-10 12:11] #1076 closed

[2022-07-11 19:54] #1097 closed

[2022-07-11 21:24] Iamshankhadeep commented on #1097
On Tue, 12 Jul 2022 at 01:25 Jonny Burger ***@***.***> wrote:

P

[2022-07-12 01:17] ptrkcsk opened #1109 "`notifyAssetIsDownloaded` calls listeners before marking files as downloaded"
# Bug Report 🐛

in a video which sequences the same media multiple times, i frequently get the following error :

[code]

when this happens, it's because [`downloadAsset`](https://github.com/remotion-dev/remotion/blob/v3.0.30/packages/renderer/src/assets/download-and-map-assets-to-file.ts#L138) resolves to `undefined` [here](https://github.com/remotion-dev/remotion/blob/v3.0.30/packages/renderer/s

[2022-07-12 07:23] JonnyBurger commented on #1109
Hi Patrik!

Thanks a lot for the very good reproduction and sorry for the bug! I believe this is is fixed in #1106, but was not yet released. I just released 3.0.31! 10 renders of your repo seem to render out fine now.

[2022-07-12 07:23] #1109 closed

[2022-07-12 11:42] JonnyBurger commented on #737
It does indeed seem to work now without any changes, so I suppose the Webpack or Tailwind update made it possible!

I've created a new template and will add it to `npm init video` as well as our website with #1110! This PR also includes updated documentation.

[2022-07-12 12:56] #737 closed

[2022-07-12 14:28] MehmetAdemi opened #1112 "open in VScode does not work during installation"
[code]

[2022-07-14 07:59] JonnyBurger opened #1113 "`--muted` flag during render"
This would be a handy flag during render - if we don't care about the audio!

[2022-07-14 12:37] AbdulBsit opened #1116 "Render sometimes failing with ffmpeg/ffprobe exit code 1"
**Problem**

ffprobe exits with code 1 as no file at location exist.`C:\Users\ADMINI~1\AppData\Local\Temp\2\remotion-assets-dirfw0701mg13\371949071995914.mp4: No such file or directory`
My question is why ffprobe is searching at this location while I have passed the output location of video, also sometimes it renders fine with no error means it is able to find this file, but it is so random behavi

[2022-07-14 12:53] AbdulBsit commented on #1116
I just compare the time in logs, it seems it freez/stuck for sometime and when resumed files got cleared at that location, `line 32` time is `5:51` and
`line no 33` is at `6:11` , its been freezed for almost `20 minutes`
[code]

[2022-07-14 13:36] #718 closed

[2022-07-14 14:49] patsalv opened #1118 "Video duration displayed in mm:ss instead of hh:mm:ss for videos > 60 minutes"
# Bug Report 🐛
For example: The duration of a 70 minutes long video gets displayed as 70:00.0 instead of 01:10:00.0 in the Remotion Preview

[2022-07-14 21:23] hayley opened #1119 "3.1.0 upgrade only renders the first frame of a video for the video's duration"
# Bug Report 🐛

I have 3 videos I've tested this on so far. I originally thought that it was just rendering a blank video, but with further testing, I'm almost positive that the issue is just that it's rendering whatever is the first frame of the video for the entire length of the video. So if there's a fade-in initially, that would give the impression of a blank video.

Renders are working for me

[2022-07-15 07:57] #1119 closed

[2022-07-15 07:57] JonnyBurger commented on #1119
Thanks for the excellent reproduction steps and for filing! 🙌

[2022-07-15 15:12] patsalv opened #1123 "RemotionPlayer component should accepts css class"
# Feature Request 🛍️

[2022-07-17 08:29] Ranjbar1 opened #1125 "puppeteer issue : i cant render out my video facing this error: Chrome headless doesn't launch on Windows"

[2022-07-17 09:09] JonnyBurger opened #1126 "Ubuntu 22.04 installing dependencies can uninstall Desktop"
Claimed reproduction steps:

- Ubuntu 22.04 ISO image from website
- Install FFMPEG
- Install the other dependencies as mentioned on https://remotion.dev/docs

If confirmed it will uninstall the Ubuntu desktop.

[2022-07-17 09:12] JonnyBurger commented on #1116
Hi @AbdulBsit!

Sorry for the long time to respond to the issue.

I thought this was fixed in a recent release, can you confirm that the version of `@remotion/renderer` is also up to date with the `remotion` version?

You can best confirm this by pasting the output of `npx remotion version`.

If provided, I'll investigate this tomorrow!

[2022-07-17 09:14] JonnyBurger commented on #1125
Hi @Ranjbar1, thanks for filing the issue!

This error does not seem to come from the Remotion codebase, can you provide the full error message you see in the terminal?

As of now, there is not enough information to investigate unfortunately.

[2022-07-17 09:21] JonnyBurger opened #1127 "Audio mixing files do not get cleaned up"
<img width="447" alt="Screen Shot 2022-07-16 at 12 34 14" src="https://user-images.githubusercontent.com/1629785/179392015-4eb51045-b20b-44d0-b14f-460f90782697.png">
<img width="569" alt="Screen Shot 2022-07-16 at 12 27 27" src="https://user-images.githubusercontent.com/1629785/179392017-6c66d3ac-de2a-4aeb-91c9-f52ca24c4fd1.png">
<img width="590" alt="Screen Shot 2022-07-16 at 12 27 51" src="https

[2022-07-17 09:32] AbdulBsit commented on #1116
Hey, @JonnyBurger , I am using `3.0.31`, which i think is the latest

[2022-07-17 09:43] AbdulBsit commented on #892
@JonnyBurger  May be this will help, let me know I can try submitting a PR.

Have a look at this source, here we have binaries for ffmpeg [https://github.com/eugeneware/ffmpeg-static/](url)
And we can do like this ...
[code]

[2022-07-17 15:02] gexin1 opened #1128 "When I use the everynthframe option, I cannot output dynamic GIF"
# Bug Report 🐛
[get-duration-from-frame-range.ts](https://github.com/remotion-dev/remotion/blob/74446abd36a95eada61f063fdf642cb6f47a73e0/packages/renderer/src/get-duration-from-frame-range.ts#L1)
when i set everynthframe=2 ,getFramesToRender  function will filter out some frames，
https://github.com/remotion-dev/remotion/blob/74446abd36a95eada61f063fdf642cb6f47a73e0/packages/renderer/src/render-fra

[2022-07-17 18:30] JonnyBurger commented on #1128
Good catch! Will try to solve this tomorrow.

[2022-07-17 18:37] JonnyBurger opened #1129 "Better error message if calling Remotion Lambda API from another Lambda function and has bad env variables"
Discord issue:
<img width="1078" alt="image" src="https://user-images.githubusercontent.com/1629785/179420093-9871dea1-dad9-457c-892e-c2482246338f.png">

[2022-07-17 19:58] samdoeswork opened #1130 "Audio tags not cleaned up in player, leading to player crashing with 6+ audio elements even in a sequence"
Hi,
When adding multiple audio tags in the player, there's significant limitations:

a. When the player-head is moved back to the start, all audio clips will immediately play over the top of each-other
b. When more than 6 audio tags are used it causes an error (your settings only allow 5 audio clips to me mounted at once)
c. You need to interact with the player explicitly before audio can play (th

[2022-07-18 07:04] JonnyBurger opened #1131 "Put `<Series.Sequence>` items next to each other horizontally"
Idea from Discord:
![Screenshot 2022-07-18 at 09 04 15](https://user-images.githubusercontent.com/1629785/179459838-625a5397-02d0-4667-97ad-f71e2d1fbc94.png)

[2022-07-18 07:13] JonnyBurger commented on #1130
Hi @samdoeswork!

a.) Could it be that you have Strict mode enabled? This is indeed a bug with us, see here: https://www.remotion.dev/docs/player/autoplay#use-the-numberofsharedaudiotags-property
Issue to track: https://github.com/remotion-dev/remotion/issues/723

The workaround at the moment is to disable strict mode, but that is high on my priority list!

b.) You may customize that number to be

[2022-07-18 08:24] RobinLindhout opened #1132 "Delay with transform"
Is there a property that can specify a delay for the transformations?

For example: I want to transform line 20 to 65 in the first second of the sequence and then line 66 to 108

![Schermafbeelding 2022-07-18 om 10 21 43](https://user-images.githubusercontent.com/79744544/179471863-cfa6570e-c432-4ad8-a6b1-bfbf3ee7c155.png)

[2022-07-18 08:41] #1132 closed

[2022-07-18 09:03] #1128 closed

[2022-07-18 09:06] JonnyBurger opened #1134 "`<Gif fit="contain">` does not work"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%240%20Funded-%2300A156.svg" />](https://issuehunt.io/r/JonnyBurger/remotion/issues/1134)

I find this to be wrong:

[code]

The GIF should be contained, not stretched out

---

<details>
<summary>
<b>IssueHunt Summary</b>
</summary>

### Backers (Total: $0.00)

#### [Become a backer now!](https://issuehunt.io/r/JonnyBurger/r

[2022-07-18 10:08] samdoeswork commented on #1130
@JonnyBurger  thanks. I hadn't seen that, sorry. (I did look & search all around player and audio, but didn't realize it was documented under AutoPlay).

For my use case (a lot of audio elements mostly in-sequence) the shared-audio-tags seems to cause issues. Opting out by setting them to 0 helps - thank you.

I think for my specific use-case setting the number of SharedAudioTags={0} and doing aud

[2022-07-18 13:11] JonnyBurger commented on #1130
@samdoeswork Alright!

Do you have strict mode enabled in your app?
I'd like to know whether this issue can be considered a duplicate of #273.

[2022-07-18 13:51] JonnyBurger commented on #1116
@AbdulBsit

1. Sorry for being sticky with it - is the `@remotion/renderer` package also updated to that version?
I ask because there are often version mismatches and a similar bug got fixed very recently.

2. If that is being the case that you are on 3.0.31 - are you able to provide a snippet for how you use `renderMedia()` or other SSR APIs?

So far I'm not sure where to investigate, so it'd be

[2022-07-18 14:00] JonnyBurger commented on #892
That sounds reasonable indeed!

I'm happy for PR it and if it does not come in a while, I might take a stab at it myself.
Important note: We also need `ffprobe` binaries in addition to `ffmpeg` (this could work: https://github.com/chrislearn/ffprobe-static)

[2022-07-18 14:02] pooooriya opened #1138 "Could not play audio with src /static-f03a0c550524/audio.wav: [object MediaError]"
hi
i am new user
i cant use audio tag in my code its get me an error
i didnt install ffmpeg cause i didnt need to render my video
please help me here is my code
[code]

[2022-07-18 14:06] pooooriya commented on #1138
pervious code isnt compatible with my description cause i use CTRL+Z
yes i can able to use it in my chrome and my local machin player

[2022-07-18 14:07] JonnyBurger commented on #1138
@pooooriya Alright! What happens if you open `http://localhost:3000/static-f03a0c550524/audio.wav` in your browser?

Maybe the `audio.wav` is not inside the `public/` folder.

[2022-07-18 14:09] pooooriya commented on #1138
![image](https://user-images.githubusercontent.com/65160744/179530104-8d63cf47-4d3e-4988-af05-3d3f66392e99.png)
i got this issues in my console

[2022-07-18 14:12] pooooriya commented on #1138
its get me 404 error
[Captive 60s.zip](https://github.com/remotion-dev/remotion/files/9132609/Captive.60s.zip)

[2022-07-18 14:14] pooooriya commented on #1138
this error also occur when i use absolute url from intenet !

[2022-07-18 14:20] JonnyBurger commented on #1138
Audio works for me if I put it in public and import it via audio tag.
It should not return 404, therefore please check the following:

Which error message do you get alongside 404? `The static/ prefix has been changed, this URL is no longer valid.` or `/Users/jonathanburger/remotion/packages/example/public/audio.wav does not exist`?
  -> Is this true? Does it not exist on the filesystem?
  -> Do y

[2022-07-18 14:25] pooooriya commented on #1138
![image](https://user-images.githubusercontent.com/65160744/179532598-ed503a6c-fad4-4f05-a06f-6a055ff1da56.png)

I edit my previous comment and restart my project and check new URL as you said and it's just starting to download my audio and not play it the URL is valid because IDM shows me a file with a 5mg volume
for your other questions
i use chrome
I change my audio name to "audio" to avoid spa

[2022-07-18 15:33] #1123 closed

[2022-07-18 15:48] AbdulBsit commented on #1116
**1) - Dependencies as in package.json**

[code]

**2) - `renderMedia`  Usage** -

[code]

[2022-07-18 15:56] #1112 closed

[2022-07-18 16:28] nandorojo opened #1142 "Issue with `@sentry/node`"
I'm getting this error deploying my lambda: `Error: Module not found: Error: Can't resolve 'fs' in ...node_modules/@sentry/node/esm/integrations`.

If I don't import `@sentry/node`, it gets fixed. What's weird, is, I tried adding an alias of `@sentry/node` → `@sentry/browser` in my `webpackConfig`, but I still get this error. Does the `alias` field require any additional setup? This alias is what