[2020-07-17 09:48] JonnyBurger opened #1 "Handle FFMPEG not installed"

[2020-07-17 09:48] JonnyBurger opened #2 "Handle error in production bundle"

[2021-01-31 15:34] #2 closed, assigned to nobody

[2021-01-31 15:34] #1 closed, assigned to nobody

[2021-02-08 20:21] pomber opened #9 "Allowing to edit Webpack config"
First, congrats on the launch, this project is amazing.

I was wondering if there is any hook or any plan to let the user extend the webpack config. I'm particularly interested in importing markdown/mdx files.

Thanks!

[2021-02-08 21:20] StefanWerW opened #13 "Windows support"
I am having some problems running the `npx create-video` command on windows.

'mv' is not recognized as an internal or external command, operable program or batch file.

![image](https://user-images.githubusercontent.com/12717998/107282101-d6e70f80-6a5a-11eb-941d-cb36ed8ebe25.png)

Could we use some universal strategy? Maybe the [mv](https://www.npmjs.com/package/mv), [cp](https://www.npmjs.com/pa

[2021-02-08 21:33] kacemws commented on #13
Hey, ran through the same problem, the issue is that mv is a unix command, so to overcome this, i opened git bash then executed yarn create video ( or npx create-video)
good luck !

[2021-02-08 22:30] JonnyBurger commented on #13
Thanks for reporting!
Windows support at the moment is not really good right now. I plan on installing Windows to be able to test Remotion in the near future!
In the meanwhile, I opened #15 to fix the issue you mentioned 👍

[2021-02-08 22:41] JonnyBurger opened #16 "Closed captions"
Closed captions would make a lot of sense and help improve accessibility.
Need to think about how to correctly use React APIs for this to make it as dynamic as possible!

https://twitter.com/Neoperitus/status/1358907007827406852

[2021-02-08 22:44] JonnyBurger commented on #9
Seems to make sense to allow people to customize the Webpack Config, this is not the only request for this: https://twitter.com/HamedMamdoohii/status/1358834914993569799

I'll consider this feature!

[2021-02-08 23:09] zapplebee opened #17 "License is not permissive"
The license field in package.json is UNLICENSED

[package.json | npm Docs](https://docs.npmjs.com/cli/v6/configuring-npm/package-json)

[2021-02-08 23:15] zapplebee commented on #17
To be clear, I have read the license file, but is there a more appropriate package.json value to represent a custom license?

[2021-02-08 23:28] JonnyBurger commented on #17
Good point, in the root package.json I put `SEE LICENSE IN LICENSE.md` which is valid SPDX.
I'm gonna put it in each package.json 👍

[2021-02-08 23:31] JonnyBurger commented on #17
Hopefully solved by https://github.com/JonnyBurger/remotion/pull/18, gonna be in the next release, which is gonna be soon!

[2021-02-08 23:31] #17 closed

[2021-02-09 02:39] dy opened #21 "FFMPEG: simplify dependency"
Hey!
Just a couple of great libs that can come useful for rendering, instead of pretty shaky FFMPEG dependency from the docs.
* https://ffmpegwasm.github.io/
* https://github.com/mattdesl/mp4-h264

[2021-02-09 03:24] rainy-25Ghz opened #22 "just wondering how you render react components to images?"
do u use SSR render react to html then convert html to image by puppeteer?

[2021-02-09 03:38] avindra commented on #21
Shaky? [ffmpeg is widely available in various repos](https://repology.org/project/ffmpeg/versions). The WASM versions may present more problems actually (is multi-threading stable yet?)

[2021-02-09 07:58] filiptronicek commented on #13
@JonnyBurger would it be possible to include a Docker image to support Windows? I think it would be easier to also execute on some Linux systems.

[2021-02-09 08:08] nico-martin commented on #9
I guess it would be possible to allow custom configuration to be injected here, right?
https://github.com/JonnyBurger/remotion/blob/main/packages/bundler/src/webpack-config.ts

We could create a cutsom webpack config for plugins and loaders in the project root that will be parsed and injected.

[2021-02-09 08:30] steakscience opened #24 "Using javascript frameworks with Remotion"
How trivial would it be to, for example, start using d3.js (data visualization) with this?

The potential for Remotion is actually incredible

[2021-02-09 11:37] dy commented on #21
Ah, ok. Because docs link points to some internet-archived bundle https://github.com/adaptlearning/adapt_authoring/wiki/Installing-FFmpeg

[2021-02-09 12:59] mooyoul opened #25 "Stitcher improvement ideas - Add H/W acceleration support, Support 4:4:4 subsampling"
Hello there,
I really love this project, Because i tried to build similar personal project about 6 years ago - capture each frame then communicate to javascript runtime to render next frame using phantomjs, and stitched them using ffmpeg. but its performance wasn't optimized, hard to maintain, non-suitable for general purpose. So i'm so glad to see this project which is what i've been looking for

[2021-02-09 13:16] nicopace opened #26 "Livestreaming"
It would be great if remotion would allow to stream the video produced in a live fashion.
That would allow to send it to a livestream platform (like peertube, twitch, youtube, etc), or integrate it into OBS Studio.

[2021-02-09 13:28] nicopace opened #27 "LICENSE change?"
Do you plan to turn it into an open source project?
GPL or LGPL or AGPL would be ok.
Thanks!

[2021-02-09 13:33] nicopace commented on #27
There is a similar GPL3 project that might be interesting to use if you can't use the license of remotion, or if remotion wants to integrate with them: https://github.com/pankod/canvas2video

[2021-02-09 13:58] JonnyBurger commented on #27
I have carefully picked the license model I have right now, I don't see a reason to switch.

The problem with making it a completely free license would be that it would be a big burden for me to maintain the library, without me getting anything in return (I don't think OSS sponsorship models work very well). I don't wanna go down this path.

[2021-02-09 13:58] #27 closed

[2021-02-09 14:00] JonnyBurger commented on #26
Good idea!

I'll leave this ticket open for future work. The biggest problem right now I think is that rendering Remotion videos is slower than real-time, it needs to become a lot faster.

How would you imagine this to work? How would you declaratively code a livestream?

[2021-02-09 14:01] JonnyBurger commented on #24
Hey @steakscience! I'm pretty sure D3 will just work if you install it with NPM in your project. Give it a try! :)

Should there be struggles, glad to help!

[2021-02-09 14:03] JonnyBurger commented on #13
@filiptronicek This could be a solution, but I guess what makes it hard is that when you change your code, one would have to rebuild the docker image? Which would make Fast Refresh very slow?

Would consider this if someone has expertise on how to achieve it.

[2021-02-09 14:08] JonnyBurger commented on #21
This is worth considering. We could ship FFMPEG with Remotion, but then it should work on all platforms which is very hard to achieve. This is why right now it's an external dependency. If a universal binary can be shipped with Remotion, I am down for this.

MP4-H264 is also worth considering, I am keeping in mind though for later that I want to include Audio support and was hoping that FFMPEG can

[2021-02-09 14:33] JonnyBurger commented on #25
Thanks a lot, these are some great tips!

For 1.: Can we just add the `-hwaccel` to benefit from the speed gains?

For 2. I have very little knowledge, is the 4:2:0 determined by the `-yuv420p` flag? Will definitely accept if you suggest an optimization!

For 3. Great idea, this would make a lot of sense to specify codec and container via flag! When I get time (might take a bit, but I'll start wor

[2021-02-09 14:36] JonnyBurger commented on #22
You are wondering how it works technically right?

Yes, it takes screenshots using puppeteer. You could take a look at the source code: https://github.com/JonnyBurger/remotion/blob/c845c3937bed33468f9f788dbdc6967d665a40f3/packages/renderer/src/render.ts#L6

I'm closing this as there doesn't seem be something actionable remaining.

[2021-02-09 14:36] #22 closed

[2021-02-09 14:41] JonnyBurger opened #28 "Audio support"
Right now, the Audio does not get rendered in the output.

Ideally you can add as many <Audio> elements whereever you want, and Remotion will do the composition! Most likely this will use FFMPEG flags to do the composition, but I am not yet 100% sure.

You can subscribe to this issue to follow the progress.

[2021-02-09 14:43] nicopace commented on #27
Well... because the model you've picked might not be compatible with the FLOSS nature.
People might not contribute to the project if they don't know it is community owned.

On the other hand, as the project has some potential, your project could grow into a community developed project (like canvas2video) and get contributions all over the world.

Many FLOSS projects are very healthy (many I am par

[2021-02-09 14:46] JonnyBurger opened #29 "<Image/> component"
Using normal <img> HTML tags has the disadvantage that the image might not yet be loaded when Remotion is ready. I am thinking of adding a simple <Image/> component which will hook into the <img> onLoad event and wait for all images to be loaded using [delayRender](https://www.remotion.dev/docs/delay-render/).

You can subscribe to this issue to follow the progress.

Solution for now:

[code]

[2021-02-09 15:23] mooyoul commented on #25
Unfortunately No. `-hwaccel` flag is only applies to decoding. Hardware accelerated encoding requires explicit encoder selection (e.g. `-v:c h264_videotoolbox` for Apple T2 Chip, `-v:c h264_nvenc` for NVIDIA CUDA). So application should guess applicable encoder.

Yes. `yuv420p` means YUV 4:2:0 pixel format. so you can change YUV 4:4:4 by supplying `yuv444p`.
But please note that YUV 4:4:4 pixel fo

[2021-02-09 15:42] pomber commented on #29
Maybe `iframe`s have a similar problem? They consistently disappear in some frames. Here's an [example](https://twitter.com/pomber/status/1359163310940241924).

[2021-02-09 15:44] jalajcodes commented on #13
@JonnyBurger I think it's possible to make live reload work using docker volumes

[2021-02-09 15:48] JonnyBurger commented on #29
Good point! Let's also make an IFrame component then.

Can you try if this <IFrame> component solves your problem?

[code]

I'll then add it to Remotion Core, add documentation and improve DX by adding an ESLint Rule to the Remotion plugin!

[2021-02-09 16:00] filiptronicek commented on #13
We could start a nodemon instance in Docker, right? Maybe nodemon won't be the best thing for this, but something of this nature.

[2021-02-09 16:21] pomber commented on #29
Awesome, that fixed the iframe flickering, thanks!

For other cases, maybe you can hide the `handle`, `delayRender`, and `continueRender` details inside one hook:

[code]

or something like that.

[2021-02-09 17:25] linkstrifer commented on #26
Maybe just stream the video editor without controls?

I don't see any use-case for the actual rendered video to be streamable

[2021-02-09 17:42] JonnyBurger commented on #9
Work in progress: https://github.com/JonnyBurger/remotion/pull/30

[2021-02-09 17:44] JonnyBurger commented on #13
Would be worth considering, although I am thinking the nicest solution would be to just add native Windows support, and also the easiest, what do you think? Any other benefits of using inside Docker?

[2021-02-09 18:15] filiptronicek commented on #13
I think using Docker would improve some workflows just because of how easily deployable it is. No downloads and installs, just one simple command. @JonnyBurger

[2021-02-09 18:26] jeetiss commented on #29
Hey @JonnyBurger awesome project!

I think that suspense can help with this issue!

We can create custom `suspense` catcher  and `delayRender` inside, like this

[code]

it should be better, because we don't need to wrap components that already support suspense with remotion `delayRender/continueRender`, and can use existed ones

what do you think about that? I can help with implementation

[2021-02-09 19:47] JonnyBurger commented on #29
@jeetiss If that is possible using Suspense, then that's definitely preferrable!

But how does it work? Where does that promise come from? How do we hook into the `onLoad` function of img, iframe component?

[2021-02-09 20:30] JonnyBurger opened #31 "Document --overwrite flag"
I noticed there is no documentation for the --overwrite flag

[2021-02-09 21:28] #9 closed

[2021-02-09 22:28] zackradisic opened #34 "Using Web Audio API"
Hi, I would like to use this project alongside the web audio API to create audio visualizations. Before I start trying to implement this, are there any caveats or nuances that would prevent it from being possible?

[2021-02-09 22:35] BrunnerLivio opened #35 "Include Transition components as Helpers"
I‘ve seen you already created some awesome transitions in your example repositories, such as [Transition.tsx](https://github.com/JonnyBurger/remotion-trailer/blob/main/src/Transition.tsx) or [FadeTransition.tsx](https://github.com/JonnyBurger/remotion-trailer/blob/main/src/FadeTransition.tsx).
I think it could be a nice addition to have since it is something a lot of videos will need to use!

[2021-02-09 22:48] JonnyBurger commented on #13
I agree, would be nice. There is already a Dockerfile included for SSR, but we would need one for development as well. Do you want to create a separate issue for it?

On the Windows side, I got Parallels and a Windows license now, soon I'll be able to properly test on Windows!

[2021-02-09 22:50] filiptronicek commented on #13
I can make it into a separate issue, sure, @JonnyBurger!

[2021-02-09 22:54] filiptronicek opened #36 "Docker image for development"
After a quick discussion in #13, we realized that having a Docker image for development would be awesome.

The Docker image would have to have:
* A stable Linux distro (I don't have much experience with Alpine but Ubuntu has a lot of guides on installing stuff)
* FFmpeg
* Node (probably would be best to have v14)
* Yarn (`npm install -g yarn`)

[2021-02-09 22:55] JonnyBurger commented on #35
True!

I'm thinking since they are opinionated, they shouldn't be released in core. It would be nice to publish them in some way. Maybe @remotion/transitions or maybe I release them in a separate repo personally.

I'm leaving this open until I'll do it which I plan to 👌

[2021-02-09 22:57] JonnyBurger commented on #34
Hi @zackradisic!

The biggest limitation I think right now is that audio is not being rendered at the moment. You can see the current status here: https://www.remotion.dev/docs/audio/

And you can subscribe to #28 to get updates on the progress.

That being said, you should still be able to render the visuals! I don't see why not. For the moment you just have to add the audio afterwards in another

[2021-02-10 00:11] wafuwafu13 opened #38 "`npm run build` is failed because of `error TS2307`"
1. Fork this repository
2. Clone this repository
[code]
3. Add upstream branch and merge
[code]

Ref: https://github.com/JonnyBurger/remotion/blob/main/CONTRIBUTING.md#code-setup

4. `npm i && npx lerna bootstrap` (success)

<details>

<summary>log</summary>

[code]
</details>

5. `npm run build` (failed)

<details>

<summary>log</summary>

[code]

</details>

[2021-02-10 00:13] wafuwafu13 commented on #38
Should I have to add `// @ts-ignore`  in `packages/cli/src/render.tsx`?

<img width="935" alt="スクリーンショット 2021-02-10 9 08 42" src="https://user-images.githubusercontent.com/50798936/107445376-ae0c6a80-6b7f-11eb-8155-02c344b1dff2.png">

<img width="695" alt="スクリーンショット 2021-02-10 9 11 21" src="https://user-images.githubusercontent.com/50798936/107445614-27a45880-6b80-11eb-9be9-d66eacd6cbd6.png">

[2021-02-10 02:49] dqbd opened #39 "Apple Silicon support"
Hey! 👋  Having issues running `yarn create video` on M1 powered device w/out Rosetta 2.

![image](https://user-images.githubusercontent.com/1443449/107457575-9b2f7100-6b52-11eb-9e82-ed921357097b.png)

Node v15.6.0 (native ARM), npm 7.4.0, yarn 1.x

It seems like the issue is related to https://github.com/puppeteer/puppeteer/issues/6622, as Puppeteer does not find the proper installed binary during

[2021-02-10 02:50] dqbd commented on #39
It seems like the issue is not yet resolved as of `puppeteer@^7.0.4`, cannot install and launch Chromium without specifying `executablePath` in `packages/renderer`

[2021-02-10 07:15] JonnyBurger commented on #29
Since a lot of people are affected, I am going ahead with the original plan and will merge #32. There is now also an ESLint rule enabled which will warn you if you use the native <img> or <iframe> component!

[2021-02-10 07:16] JonnyBurger commented on #29
Fixed by #32

[2021-02-10 07:16] #29 closed

[2021-02-10 07:24] JonnyBurger commented on #38
Sorry about this! I managed to reproduce and it's now fixed. The problem was a tsbuilinfo file being committed to the repository which messes with the Typescript cache.
With the newest main branch the problem doesn't occur.

Fixed by #32

[2021-02-10 07:24] #38 closed

[2021-02-10 07:27] JonnyBurger commented on #39
Thanks for reporting! In that case, we must provide the option to specify an executable yourself. I just noticed that there is an `puppeteer-core` package which doesn't install the browser on installation. Would also be good because Puppeteer is not required for the preview, so the installation will be much faster.

Plus so many people already have Chrome installed!
Will tackle this soon.

[2021-02-10 08:16] jeetiss commented on #29
@JonnyBurger, yes ofc! i am going to open new issue for suspense

I'm not the best explainer) super simple scheme:
- `Component` loads some resource and throws a promise
- `ErrorBoundary` catch this promise and wait until it resolves and continue render

Components throw them:
- https://github.com/vercel/swr/blob/master/src/use-swr.ts#L801
- https://github.com/mbrevda/react-image/blob/master/src/u

[2021-02-10 08:28] jeetiss opened #41 "Suspense support"
Remotion allow pause render with `delayRender/continueRender` but it can be implemented with `Suspense`

previous discussion: https://github.com/JonnyBurger/remotion/issues/29

[2021-02-10 10:17] JonnyBurger opened #45 "Random values"
Using `Math.random` in a state will work during preview but not during render.

- [x] Should Remotion offer a pseudo-randomness API which will generate deterministic entropy? With configurable seed?
- [x] Should the ESLint plugin warn about this when using Math.random, use useState?
- [ ] Docs

[2021-02-10 13:39] mahmoodfathy opened #46 "Npx Create-video doesnt Work on Windows"
Problem Description :  When running  npx create-video it exits with the following error code

npx create-video                                                                                                                                                                                               npx: installed 24 in 3.292s

[2021-02-10 15:42] cubu commented on #46
I have the same error

[2021-02-10 17:24] joepie91 opened #47 "Incorrect wording in license document"
The [license document](https://github.com/JonnyBurger/remotion/blob/main/LICENSE.md) says:

However, this is incorrect; the license conditions violate points 3 and 5 of the [Open-Source Definition](https://opensource.org/osd-annotated), and therefore it cannot be called open-source. Something being open-source is about more than just being able to look at the source code, and so several additional

[2021-02-10 19:28] IAndreaGiuseppe commented on #46
same here

[2021-02-10 23:14] eperedo commented on #46
Looks like the problem is in the [dotfiles.ts file ](https://github.com/JonnyBurger/remotion/blob/main/packages/create-video/src/dotfiles.ts#L18). Not sure why the code search for a **_gitignore** with the underscore in front. If you replace for a dot it throw an error [in the copy process](https://github.com/JonnyBurger/remotion/blob/main/packages/create-video/src/init.ts#L43).

A workaround in w

[2021-02-11 04:03] JLarky opened #50 "Bun Support"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%240%20Funded-%2300A156.svg" />](https://issuehunt.io/r/remotion-dev/remotion/issues/50)

Asking for Deno support is new "asking for typescript support". So I've done it.

[code]

example of the expected result:

[code]

actual result:
[code]

---

<details>
<summary>
<b>IssueHunt Summary</b>
</summary>

### Backers (Total: $

[2021-02-11 06:16] nitinthewiz commented on #35
From what I understand, transitions are used only in Sequences and not with Compositions, right? They certainly make sense to be a part of a separate package for those who need them... Just my two cents! 😃

[2021-02-11 10:14] Utkarshbhimte opened #51 "GIFs are action weird"
I am adding GIF to an img tag, it looks normal in the dev preview but on build it seems to flicker
I have configured the Composition to be in 60 FPS

https://user-images.githubusercontent.com/13379773/107623372-3d4c7780-6c7f-11eb-96b8-045864f035b7.mp4

I am using windows WSL with node v14

[2021-02-11 11:07] tomisu opened #52 "Support for JSX (not TSX)"
I love this project, but I find typescript cumbersome to work with.

Would it be possible to a default setting for disabling TS?

I'd love it.

[2021-02-11 12:13] LetsMelon opened #53 "Add .dockerignore in create-video"
Can you please add a `.dockerignore` file to create-video and ignore the folder `node_modules`?

[2021-02-11 12:15] mahmoodfathy commented on #46
@eperedo  can confirm that this workaround does work , thanks , i will experiment more on this today

[2021-02-11 13:43] JonnyBurger commented on #51
Thanks for the report! I could imagine two causes:

- Is it an animated GIF? That's not supported directly, but you could convert it to a video and [sync it with the timeline](https://www.remotion.dev/docs/video/).
- Is it a static GIF from a remote location? The flicker could be fixed if you use the new [`<Img/>` component](https://www.remotion.dev/docs/img).

If it's neither of those, please pos

[2021-02-11 13:44] JonnyBurger commented on #52
Sounds good, @pomber also wanted this. Should be a relatively easy Webpack tweak, expect this to land soon 👍

[2021-02-11 13:45] JonnyBurger commented on #24
I'm closing it as there is nothing actionable here, feel free to ask if something comes up!

[2021-02-11 13:45] #24 closed

[2021-02-11 14:12] JonnyBurger opened #57 "Truncate repository"
The repository is quite big and takes a long time to clone. That's because there were media files that are now deleted. Need to find a way to somehow purge them so the repo is lightweight.

[2021-02-11 14:51] pluma commented on #57
I think this is what you're thinking of? https://docs.github.com/en/github/managing-large-files/removing-files-from-a-repositorys-history

[2021-02-11 15:03] JonnyBurger commented on #47
Thanks for reviewing! See the PR #58 for my response 👍

[2021-02-11 15:39] #47 closed

[2021-02-11 16:36] letoribo opened #61 "WSL npm start error"
[
![start-error](https://user-images.githubusercontent.com/4941581/107667138-f5861a00-6c97-11eb-8a1b-5b731d4263d6.PNG)
](url)

[2021-02-11 16:40] #13 closed

[2021-02-11 16:40] #46 closed

[2021-02-11 16:40] JonnyBurger commented on #46
Sorry about that! I now have properly setup Windows on my computer and can test it in the future! Plus, in the next release, these issues will be resolved 🎉

[2021-02-11 16:41] JonnyBurger commented on #13
Windows support will be available in the next release!

[2021-02-11 16:44] JonnyBurger commented on #61
We don't directly invoke Powershell, could it be this issue? https://github.com/expo/expo-cli/issues/2617#issuecomment-700630128

[2021-02-11 17:00] letoribo commented on #61
I saw it yesterday too, but it didn't help

[2021-02-11 17:05] JonnyBurger opened #62 "Video frame rate sync issues"
@pomber reported that video frames don't perfectly sync over time in this example.
https://github.com/pomber/record-talk-with-remotion

Something to take a look at and see if it can be optimized.

[2021-02-11 17:06] JonnyBurger opened #63 "Add Splitbee analytics"
I told @timolins and @tobiaslins I'd try out splitbee.io for the docs!

[2021-02-11 17:06] #53 closed

[2021-02-11 17:11] JonnyBurger commented on #41
Thanks for bringing it up!

I am looking through the examples but would like to understand the use case more. It seems like if you use Suspense, you still need a custom hook, or a custom <Img/> component... is it supposed to bring a benefit over the current implementation of <Img/> component?

Btw, Remotion currently supports Suspense in a way that you can lazy load compositions. https://www.remot

[2021-02-11 17:13] JonnyBurger commented on #50
Haha, true that!

I have no experience with Deno, but it is super cool. Realistically, it is probably not the top priority for me personally, other more important features are, but if someone wants to pick it up we can consider it!

[2021-02-11 18:02] etienne-dldc opened #64 "Use humpf as a spring engine"
Hi 👋

I'm the author of [Humpf](https://humpf.etienne.tech/), a spring library and I think this project could benefit from using it instead or alongside of the current `spring()` function.
The main advantage of `humpf` compared to the current `spring()` is that `humpf` is time based and does not need to compute every past values to get the current one. This also mean that the framerate does not ma

[2021-02-11 19:29] lucaspelloni2 commented on #57
I would rather use https://docs.github.com/en/github/authenticating-to-github/removing-sensitive-data-from-a-repository

[2021-02-11 20:59] mahmoodfathy opened #67 "npm run build didn't work on windows"
hey there when i ran npm run build after installing ffmpeg as advised by the console log , it didn't want to render my video as well despite having ffmpeg appear when i run ffmpeg -version , so after some digging in the code base i found out that it checks for the ffmpeg module with the where command which can only be ran inside  C:\Windows\system32 , so to work around this if anybody is facing th

[2021-02-12 07:18] jezell commented on #27
License choice is unfortunate for something that wouldn't exist without FFMPEG doing the heavy lifting.

[2021-02-12 09:32] JonnyBurger opened #69 "Occasional crash "Session closed. Most likely the page has been closed""
I occasionally get the error from Puppeteer "Session closed. Most likely the page has been closed", especially when heavily multithreading. Wondering if it can be fixed by upgrading puppeteer, retrying etc.

[2021-02-12 09:44] JonnyBurger commented on #27
To be clear I don't want it to be compatible with the FLOSS nature.

I did foresee this library becoming a maintenance burden and I've been working on it full-time since launch. So I am very glad that I did this license, otherwise there would be no perspective for me other than a lot of free work for other people (who in turn may make a profit out of it - remember I only charge big companies).

I

[2021-02-12 16:04] Iamshankhadeep commented on #52
@JonnyBurger assign this task to me. I'll work on it.

[2021-02-12 17:31] JonnyBurger opened #73 "Show bundling progress when rendering"
Just saw this genius tip by @sibelius on Twitter:

https://twitter.com/sseraphini/status/1360276475086307329?s=21

[2021-02-12 21:09] yuta0801 commented on #50
It seems to be an issue with dev.jspm.io, it can import successfully with jspm.dev which is the new replacement for dev.jspm.io.

[code]

[2021-02-12 22:16] mahmoodfathy commented on #69
@JonnyBurger  it's actually erroring that puppeteer can't take a screen shot after some time during building my video , this error happened when my video got slightly bigger , i don't know why , the bundling renders the first 15% only
![faliure](https://user-images.githubusercontent.com/71036818/107828012-9952f100-6d90-11eb-8c74-4423e192fc11.JPG)

[2021-02-12 22:56] timhaywood commented on #25
Personally I think the option to either:
- Specify a custom configuration to FFMPEG, or
- skip the encoding step and only output the PNG sequence

Would be better than adding another single purpose option.

I think 4:2:0 is a sensible trade-off in file size for most people, and those who need a higher quality output or custom settings could pass their own options to FFMPEG (including specifying a

[2021-02-12 23:00] mahmoodfathy commented on #69
@JonnyBurger  After some further investigation turns out this error due to the Img component in remotion , it kept not bundling and failing to screenshot cause of that component when i changed it to a normal img tag it worked as expected , dont know why tho it's pretty weird

[2021-02-13 00:05] yuta0801 commented on #61
It's probably this issue of `open` dependency of `better-opn` used for open browser. https://github.com/sindresorhus/open/issues/218

At the moment, we can set `BROWSER` env to `none` like `BROWSER=none npm start` to prevent execute that and open browser manually.

[2021-02-13 00:14] letoribo commented on #61
but WSL version isn't 2
[
![WSL-v](https://user-images.githubusercontent.com/4941581/107835097-04a4bf00-6da1-11eb-94e2-626e4b90a883.PNG)
](url)

[2021-02-13 00:17] arengoh commented on #61
Try change the browser

[2021-02-13 00:20] letoribo commented on #61
[
![npm start](https://user-images.githubusercontent.com/4941581/107835400-0b800180-6da2-11eb-83c7-c147134051c0.PNG)
](url)

[2021-02-13 02:20] JLarky commented on #50
@yuta0801 thanks! but this is just one step on the way there :) I created this issue for general Deno support :) but just to continue playing into Deno whack-a-mole I have this:

[code]

[2021-02-13 10:31] JonnyBurger commented on #64
Hi Etienne!

Thanks a lot for the idea, Humpf looks a lot more advanced, thank you for making this project!
What I find cool is that you can change the direction of the animation and it will look natural because you seem to take the velocity of the previous animation into account, something I am not quite understanding conceptually but want to learn.

If we want to replace the current spring funct

[2021-02-13 10:52] JonnyBurger commented on #25
Thanks for weighing in @timhaywood!

+1 for allowing to customize the format instead of hard-coding it.
Many more important issues came in but I will tackle it in the next days hopefully.

PNG output is supported btw, using the `--png` flag! 🥳

[2021-02-13 11:22] #52 closed

[2021-02-13 11:38] JonnyBurger commented on #69
Very interesting, don't know why it could be, but I use it as a pointer in my investigation! Thank you!

[2021-02-13 11:45] mahmoodfathy commented on #69
when i used it in my development it appeared normally in the video , but kept failing the video rendering , i suspect that it didn't load so puppeteer couldn't  take a screenshot of the image

[2021-02-13 15:29] tomByrer commented on #34
Actually, it would be neat if a separate but compatible tool would be built to compose audio.  It could use timecodes from WebVTT or some other captions standard to help edit & add multiple audio sources.

I'm not sure how the audio & video get stitched together; I've done video-first then audio overlays (Ableton Live) & audio-first then video graphics.  But an audio-only composing would be helpfu

[2021-02-13 15:31] 43081j opened #79 "Support for other frameworks (e.g. Vue)"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%240%20Funded-%2300A156.svg" />](https://issuehunt.io/r/remotion-dev/remotion/issues/79)

Hello,

cool little project, have had a read through the source and seems like a nice concept. good work on pulling it together nicely 👍

one question i have is about your architectural choice of opting for react lock-in.

given that you

[2021-02-13 17:25] Iamshankhadeep commented on #73
@JonnyBurger assign it to me. I'll work on it.

[2021-02-13 19:08] JonnyBurger opened #82 "Missing class property transform"
The webpack config doesn't include a class property transform.

[2021-02-13 23:10] #73 closed

[2021-02-14 09:50] JonnyBurger commented on #51
I'm marking it as closed because no response and I assume it's one of the reasons above, feel free to reopen it if it needs taking a closer look.

[2021-02-14 09:50] #51 closed

[2021-02-14 09:55] #63 closed

[2021-02-14 10:45] JonnyBurger opened #86 "Document or remove Easing"
There is some easing code but it's not documented and can't be used in a meaningful way.
Document it or remove it? And the more important question is, shouldn't all animations be spring animations?

[2021-02-14 10:46] JonnyBurger opened #87 "Option to skip Webpack bundling"
Imagine you render a video multiple times, you don't wanna bundle Webpack every time. Add some way to achieve it

[2021-02-14 12:04] #69 closed

[2021-02-14 12:06] JonnyBurger commented on #69
After upgrading Puppeteer, the error is gone!
Will be fixed in the next release. You can try the newest alpha on NPM `1.3.0-alpha.39ecd4ef` (Upgrade `remotion`, `@remotion/bundler`, `@remotion/cli`, `@remotion/eslint-config`, `@remotion/renderer`)

[2021-02-14 13:09] JonnyBurger commented on #79
Hey @43081j!

Good idea, I think you are correct in that most parts of Remotion are independent of React.
It's not completely agnostic yet, for example the `<Sequence>` component uses React Context, the `lazyComponent` feature makes use of React Suspense, and all the hooks like `useCurrentFrame` also make use of context and they also hook directly into the editor that is written in React.

So it's

[2021-02-14 14:37] zackdotcomputer opened #89 "PNG output - zero-pad output indices"
## Issue:

Because the render `--png` mode outputs images without leading zero-padding, `ls` outputs them in the wrong order (using alphabetical rather than numerically aware order). This means that using ImgMagick to convert them into a gif fails because the frames are out of order.

## Fix:

The indices should be padded with leading zeroes so that ls -a of the output folder is in frame order.

[2021-02-14 15:14] zackdotcomputer commented on #89
Ah - I think I get it - you're using the %d selector in ffmpeg's `-i` flag to tell it to use numeric sort for that... I wonder if ImageMagick (which I'm using to compile the pngs into a gif) can do the same...

[2021-02-14 15:23] #31 closed

[2021-02-14 15:28] JonnyBurger commented on #25
Now you can change the pixel format if you like using configuration file or CLI flag.
Will ship in next version or you can try `1.3.0-alpha.88363356` on NPM.

https://www.remotion.dev/docs/config#setpixelformat

Would you mind giving me some guidance on the algorithm for guessing hardware acceleration support?
Adding more output codecs is also planned!

[2021-02-14 15:29] JonnyBurger commented on #89
We will also fix it on Remotions side 👍

[2021-02-14 15:39] zackdotcomputer commented on #89
Ha well... since you wrote this in TS and I know that well enough to dive in and make a mess of things, I did take a quick stab at it. I'll PR my draft over and you can use or ignore it as you wish. 👍

[2021-02-14 18:32] #89 closed

[2021-02-14 18:58] #86 closed

[2021-02-14 19:09] #82 closed

[2021-02-14 19:31] #57 closed

[2021-02-14 19:39] JonnyBurger commented on #61
Thanks for tracking the bug down! 💙  I upgraded the dependency.
I will release 1.3.0 tomorrow morning - if the problem persists, let me know.

[2021-02-14 19:39] #61 closed

[2021-02-14 19:51] JonnyBurger commented on #57
I went with the sensitive data tutorial from @lucaspelloni2!

Thanks a lot for the help 💙 The repo is now much more lightweight

[2021-02-14 20:18] JonnyBurger commented on #67
Hey @mahmoodfathy thanks a lot for the instructions! The same happened to me. I just opened #98 to hopefully improve the error message by a lot.
The steps are not exactly as you described, I am running on Windows 10, hope that everything is correct.

Thanks for the great contribution! 💙

[2021-02-14 20:18] #67 closed

[2021-02-14 20:53] mahmoodfathy commented on #67
@JonnyBurger  Nice , i just read the commits looks great with detailed explanations , the messages do the same thing yes as here , it's just a different way around it , <3 ,  Thanks

[2021-02-15 03:19] jcblw commented on #39
I got this project working on  Mac M1. You just need to disable the auto-download of Chromium and install it manually.

I have this in my `~/.zshrc` since I run a few projects that use puppeteer.

[code]

Got this info from puppeteers issues. More info here.
https://github.com/puppeteer/puppeteer/issues/6622#issuecomment-749069120

[2021-02-15 07:54] lucaspelloni2 commented on #57
<3

[2021-02-15 13:10] JonnyBurger opened #101 "Stitching is broken on Windows"
As reported on Discord:

![image](https://user-images.githubusercontent.com/1629785/107950725-70507d00-6f97-11eb-9bd4-b5245a052c38.jpeg)

[2021-02-15 21:31] JonnyBurger opened #103 "Submit to Discord vanity URL github"
If we prepare some assets we can submit to Discord OSS repo and get a vanity URL.

[2021-02-16 12:54] JonnyBurger opened #104 "Allow to select frames you want to render"
It would be nice in some cases to only render the first n frames, or get a still frame at a certain position. Thinking about an API like `--range=1-10` or `--range=50`.

[2021-02-16 17:43] joshlatimer opened #107 "Supplying string to <Img/> src causes screenshots issues on render"
Amazing project, thank you :)

I've just been stuck for an hour as I stupidly changed all my <img/> tags to remotion's <Img/> tag but I only changed the src to use requires for some of them. When I rendered the project I was getting the error
`Error taking screenshot TimeoutError: waiting for function failed: timeout 30000ms exceeded`

It seems that if you stupidly supply a traditional string path

[2021-02-16 20:12] JonnyBurger opened #108 "Enforce minimum node version"
Users need at least Node v12.10.0 for Remotion to work. Let's enforce that or at the very minimum show a warning

[2021-02-16 20:24] #45 closed

[2021-02-16 20:44] JonnyBurger opened #109 "When timing out, Chromiums are left opened on Windows"
![image](https://user-images.githubusercontent.com/1629785/108119435-1687aa00-70a0-11eb-981b-9829a158257e.png)

As reported on Discord

[2021-02-16 20:52] pierreminiggio commented on #109
Actually it's more subtle than that :
When I run npm run build  while my branch is on this commit : https://github.com/pierreminiggio/youtube-likes-recap-video-maker/commit/7b15213f7287dd6770de37685526b72864331a88, I get this trace and Chromiums are closed correctly :
npm run build

📦 (1/3) Bundling video...
📼 (2/3) Rendering frames (8x concurrency)...
Error taking screenshot TimeoutError: waiting

[2021-02-16 21:29] JonnyBurger opened #111 "Rendering artifact in WebM"
Can be reproduced here:

https://github.com/JonnyBurger/youtube-likes-recap-video-maker/commit/7b15213f7287dd6770de37685526b72864331a88

Should send a PR once the issue is fixed

[2021-02-16 22:04] jacobp100 opened #112 "Sequence wraps component in AbsoluteFill"
I'm not sure I get the logic behind sequences changing the layout.

For example, I wanted to make a component that staggers its children, each in its own sequence. Then each child can have its own entrance animation.

[code]

[2021-02-16 22:22] pierreminiggio commented on #109
@JonnyBurger found issues in my code on top of updating the library.
This PR fixed the issues I had
https://github.com/pierreminiggio/youtube-likes-recap-video-maker/pull/1

[2021-02-16 22:35] pierreminiggio commented on #111
Confirming on that on this repo https://github.com/pierreminiggio/youtube-likes-recap-video-maker/commit/ac60775fd0bed16596dcb5846127fa0ef96b520a I see no artefact at concurrency = 1 and 2
I start noticing artefacts at concurrency = 4

[2021-02-16 23:52] pierreminiggio opened #113 "What happens if you forget to set "durationInFrames" in Sequence"
If I ever forget to set "durationInFrames" prop for my Sequence (and It did happen :D), the video preview and rendering will play just fine, but the timeline will look weird (the clips won't be stretched and will be look far apart from one another).
I think it should throw an exception in my face to remind my dumb ass to set it.
![image](https://user-images.githubusercontent.com/35456349/108136303

[2021-02-17 04:01] SatoshiKawabata opened #114 "Could not start example"
I execute `yarn start` on `/packages/example` directry. But I can't start it with below error. Please help me.
[code]

[2021-02-17 04:41] Iamshankhadeep commented on #114
Did you run

npm i && npx lerna bootstrap

And

npm run build

On root folder?

[2021-02-17 07:35] JonnyBurger commented on #109
Cool, so my PR solved it?

Thanks for the report nonetheless, we should make sure to clean up all Chromiums if this happens nonetheless. Let's leave it open.

[2021-02-17 07:36] JonnyBurger opened #115 "Showing floats st 59.97 fps"
![image](https://user-images.githubusercontent.com/1629785/108170998-28e30180-70fb-11eb-9fd5-112197c83597.png)

As reported in Discord

[2021-02-17 07:37] JonnyBurger commented on #113
Good idea! Especially now that we support plain JS, those people don't even have the type error! Let's throw an error if it happens.

[2021-02-17 07:54] JonnyBurger commented on #112
This is a fair point. I think often times it turns out useful, but it is very opinionated and in your case it's undesired.

Backwards-compatibility is a headache here, probably have to add a new prop to control the behavior.
Moving this to the roadmap!

[2021-02-17 22:29] JonnyBurger opened #119 "Better API for --props which is more convienient for windows"
Windows removes all `"` from the command line, so `--props` is just unusable on Windows. Need to improve the API!

[2021-02-17 22:30] #111 closed

[2021-02-17 22:50] #108 closed

[2021-02-18 19:04] Iamshankhadeep commented on #107
you can just pass `<Img src={require('./logo.png')}>` it will solve the issue.

[2021-02-19 07:32] #115 closed

[2021-02-19 07:38] JonnyBurger commented on #114
I also assume this is the problem and it's already documented in CONTRIBUTING.md

Monorepo is a bit tricky I know :/

Closing this, if further problems arise, let me know.

[2021-02-19 07:38] #114 closed

[2021-02-19 07:48] JonnyBurger commented on #62
I'm confident the problem is solved now and will be gone in v1.4!

[2021-02-19 07:48] #62 closed

[2021-02-19 08:52] yun8boo opened #123 "useVIdeoConfig sometimes returns null"
Looking at the type of useVIdeoConfig, it is a type that return () => VideoConfig, but sometimes it return null

code
<img width="528" alt="スクリーンショット 2021-02-19 17 48 29" src="https://user-images.githubusercontent.com/32152877/108481186-3656e200-72db-11eb-9701-a6faf9040fa7.png">

log
<img width="721" alt="スクリーンショット 2021-02-19 17 49 11" src="https://user-images.githubusercontent.com/32152877/108481

[2021-02-19 10:59] JonnyBurger commented on #123
Good point! Are you calling it outside a composition? Should probably be an error I agree!

[2021-02-21 10:19] JonnyBurger opened #126 "Delete bundle in /tmp dir"
After every run,the bundle stays in a tmpdir. Not crucial since it's temporary but would be better if Remotion cleans it

[2021-02-22 10:26] JonnyBurger opened #131 "Ubunutu on WSL2 - npm run build gets stuck"
Default project gets stuck unless X server is running

[2021-02-22 11:57] #123 closed

[2021-02-22 18:02] JonnyBurger opened #133 "@remotion/player package for embedding Remotion videos in websites"

[2021-02-22 18:10] #126 closed

[2021-02-23 06:58] TiborUdvari opened #134 "Sequence positioned in absolute?"
I want to use flexbox to size my sequences, but once it is in a Sequence it seems to add an absolute position to the component. How can I fix this?

[2021-02-23 09:37] TiborUdvari opened #135 "Video component jagged / jumpy in export"
I have added a video a webm video to the project as per documentation. Once I export it misses frames and isn't smooth. Is there any special way to encode the video to make it work? Or is this a known problem?

[2021-02-23 09:40] jonlambert commented on #135
Dupe of https://github.com/JonnyBurger/remotion/issues/62 but the good news is this appears to be fixed in an upcoming version 🙂

[2021-02-23 10:35] pierreminiggio opened #136 "Can we add --no-sandbox arg to puppeteer calls ?"
Hello ! had this issue before on others of my projects in which I used puppeteer, so I usually add --no-sandbox arg on every puppeteer project I run. Is it possible to add that to remotion ?

Example : https://github.com/pierreminiggio/youtube-channel-links-crawler/blob/b079fdbeeee789b4b3b482c49082b41d96a0a1ac/src/scraper.js#L17

Trace :
![image](https://user-images.githubusercontent.com/35456349/

[2021-02-23 11:05] pierreminiggio commented on #136
PR Here : https://github.com/JonnyBurger/remotion/pull/137

[2021-02-23 17:44] pahund commented on #133
I'm trying to find out the minimum code for a player component that lets you preview embedded Remotion videos. Here's what I have so far:

* https://codesandbox.io/s/remotion-car-slideshow-001-fnpqh

Currently, it only works if you add `/car-slideshow` to the URL in the Sandox preview panel. This is because the `RemotionRoot` component sets the current composition by parsing the URL.

So the test

[2021-02-24 07:25] JonnyBurger commented on #135
Probably solved in main branch, thanks @jonlambert!

Can you try out 1.4.0-alpha.2777f01c on NPM (upgrade all packages that have remotion in the name, make sure to have no `^` tilde in the package.json) and see if the problem is solved?

It would give some confidence that this problem is indeed solved in 1.4 (which should come out this week still).

[2021-02-24 07:49] pahund commented on #133
✅ fixed it: https://codesandbox.io/s/remotion-car-slideshow-002-p2vzu

[2021-02-24 07:55] JonnyBurger commented on #133
Wow, that's fire @pahund! Great proof of concept. I think this fits in well in the vision of Remotion that you can embed a video, customize it and then render it on the server. And looks like we are already closer than I thought!

I need to take care of some of the fundamentals like audio support and a few bugs that are on this tracker, but then I would love to tackle this and make the use case mo

[2021-02-24 10:23] RohovDmytro opened #138 "Audio Support Quest"
While having a great plans for this lib, the lack of audio support is a big thing for me.

@JonnyBurger, can you share the biggest issues and challenges with audio support? Or any ETA about this. Maybe share the roadmap of this issue or is there is anything people could help.

[2021-02-24 10:27] JonnyBurger commented on #138
Experimental Audio support has been submitted as a PR! https://github.com/JonnyBurger/remotion/pull/128

The roadmap is basically to make some bugfixes and then ship it as v1.4 this week. After that, I'll review the audio PR, make some changes if necessary and write docs, soo hopefully it will ship soon!

If you can't wait, you can even clone it and try the PR out today, feedback on it would be aw

[2021-02-24 10:27] #138 closed

[2021-02-24 12:01] pahund commented on #133
Thanks for the kind feedback! Here is the latest version, that shows a slide show of car pictures:

https://codesandbox.io/s/remotion-car-slideshow-005-hx8w7

[2021-02-24 12:02] pahund commented on #133
Btw. I've noticed you used `setTimeout` to time the animation frames in the preview player that's bundled. I think `requestAnimationFrame` would work better, no?

[2021-02-24 13:44] jonlambert commented on #135
No luck on my end unfortunately @JonnyBurger. I'm still getting jagged/jumpy frames on export (and timing drift in preview).

@TiborUdvari may have better luck, though. I'll see if I can dig out a public video to reproduce the issue with later.

[2021-02-24 20:39] Dragomir-Ivanov opened #139 "FFMPEG export wrong element-* pattern"
Greetings,
First, amazing project, just what I needed.
Using it on Linux/Ubuntu with installed ffmpeg from the app center(works just fine).

Having a clip length of 100 frames. Naturally they are all exported to

[code]

however following command is used to exec `ffmpeg`:
`ffmpeg -r 60 -f image2 -s 1920x1080 -i element-%02d.jpeg -vcodec libx264 -crf 16 -pix_fmt yuv420p outro.mp4`
which fails.

If

[2021-02-24 22:35] cnnrhill commented on #135
I can also confirm this is still an issue with the alpha version.

[2021-02-25 08:18] JonnyBurger commented on #134
Good point, I'll add some prop soon to opt out of that! See also: #112

[2021-02-25 09:14] yuta0801 commented on #139
It would be caused by a bug here.
As the element file index is zero-based, it need to calculate length of frames count - 1 for max index.

https://github.com/JonnyBurger/remotion/blob/0d2aab19ed42bf85db2764e512fe7a1e58fbd5c0/packages/renderer/src/render.ts#L59

[2021-02-25 09:24] #139 closed

[2021-02-25 09:25] JonnyBurger commented on #139
Thanks @Dragomir-Ivanov for the excellent bug report and @yuta0801 for tracking it down! Will be released in 1.4.0, probably later today :)

[2021-02-25 13:21] JonnyBurger commented on #25
Just merged support for HEVC (and VP8/VP9 as well)!
Will make a release today for v1.4.

Regarding hardware acceleration, I have played a bit around with it and there's a wide variety of methods and a huge amount of differences between platforms. If enabled, other features such as CRF don't work and hardware encoding apparently gives worse performance than CPU encoding.
Detection of when hardware

[2021-02-25 13:21] #25 closed

[2021-02-25 14:14] ant-hnikolov commented on #101
Hi @JonnyBurger, I'm still getting this issue on the latest branch :(

[2021-02-25 14:15] JonnyBurger commented on #101
Good point, need to upgrade Spotify Wrapped example 👍

[2021-02-25 15:08] JonnyBurger commented on #41
Do you still want to proceed with this idea? @jeetiss?

As I mentioned I don't quite understand the motivation. I'll close it soon if no more comments come.

[2021-02-25 16:12] #112 closed

[2021-02-25 16:12] #134 closed

[2021-02-25 16:13] JonnyBurger commented on #135
@jonlambert @TiborUdvari I've tested it myself recently too and didn't notice it, so it would be great if you can send a video where the problem appears! You can also send privately to hi@jonny.io and I'll take a look!

[2021-02-25 17:07] Dragomir-Ivanov opened #145 "FEATURE: adding `none` as `extrapolate` config for `interpolate`"
It would be good if we can chain several `interpolate` functions like:
[code]
For this to work, `interpolate` needs to return `undefined` for frames outside range specified.
This will allow us to make start/end transitions with much less complexity and code.

[2021-02-25 18:19] #107 closed

[2021-02-25 18:21] JonnyBurger commented on #136
Fixed by #137

[2021-02-25 18:21] #136 closed

[2021-02-25 18:26] JonnyBurger commented on #113
This is now an error and will be released in 1.4.0 :party

[2021-02-25 18:30] #113 closed

[2021-02-25 18:57] JonnyBurger commented on #101
@ant-hnikolov The project should now use the newest Remotion version and therefore work on Windows!

[2021-02-25 18:57] #101 closed

[2021-02-25 21:31] TiborUdvari commented on #135
Just updated, works for me 🎉

[2021-02-25 23:36] monophthongal commented on #135
I had this issue with 1.3 (and the alpha version) but it seems to be resolved in 1.4. I tried rendering a video that had previously been having major jitter / frame skipping issues and it looks great now. Will let you know if it happens again.

[2021-02-26 06:46] JonnyBurger commented on #135
That’s great to hear! Then I'm closing the issue. I’m sorry the alpha didn’t work, I suspect it could be how NPM resolves versions and you didn’t get the correct alpha from my instructions. Trying to learn from that for next time 😄

[2021-02-26 06:46] #135 closed

[2021-02-26 11:22] JonnyBurger commented on #145
Thanks for bringing this up!

What would you think about supporting the following?:

[code]

Because your method seems prone to someone acidentially introducing a bug: If you interpolate to 0, then it will fallback to the next interpolate function. Let me tweak your example:

[code]

Now it will evaluate like this:

[code]

You could use `??` expression to avoid it, but still can become tricky. Bu

[2021-02-26 11:50] Dragomir-Ivanov commented on #145
Well, it doesn't click for me :)
Also if you make it as your proposal, `extrapolate[Right/Left]` will be set for all ranges. And this might not be desired.

You are right about the `falsy` values, though. `??` is one good solution.

You have such a lovely API, will be shame to spoil it:) We can leave this issue for a while, maybe someone with better idea will pop up.

Thanks a ton!

[2021-02-26 13:15] sakthisaran65 opened #149 "use vite/esbuild"
would help improve hmr speed and rendering speed..

[2021-02-26 14:45] JonnyBurger opened #150 "Some way to let the video start at a certain time"
Discussed with @jonpacker on Discord, it would be cool to have a more obvious API for starting a video at 2 seconds:

<img width="974" alt="way to video" src="https://user-images.githubusercontent.com/1629785/109314188-55a8be80-7849-11eb-8c0d-af761e997fa3.png">

[2021-02-26 14:50] yuta0801 commented on #150
It would be nice audio also has the same one!

[2021-02-26 14:52] JonnyBurger commented on #150
@yuta0801 Good point, I will test it on your PR and ensure it works!

[2021-02-26 15:54] ant-hnikolov commented on #101
@JonnyBurger hahah I'm not sure how updating an unrelated example fixed my issue, but thanks for whatever magic you did, it worked!!

[2021-02-26 19:36] yuta0801 commented on #133
I've also noticed that, and tried that here #148

[2021-02-26 20:59] monophthongal commented on #150
Related question - `<Video>` seems to be always synced to the current frame of the Composition/Sequence, so that if you add a `<Video>` component at frame = 150 (for example), the embedded video will also start from frame 150.

Would it be more intuitive (and in line with how standard React for the web works) for the default to be that `<Video>` components always start at the beginning of the embe

[2021-02-28 12:37] JonnyBurger opened #154 "Sequencing bug"
Reported by yuta on discord:

 this reproduce it (it's a bit strange but working)
[code]

[2021-02-28 13:23] jeetiss commented on #41
Hey, I wanna improve remotion's resource management overall

Remotion should have track ability for all heavy videos, audios, images, thats help build better ux for preview / embedded player and maybe be helpful for audio support. So `Suspemse` is one way how to achieve better RM

Strong Suspense parts:
- this isn't Remotion's specific feature like `delayRender/continueRender` and can be used in a

[2021-03-01 07:59] JonnyBurger commented on #149
I am a big supporter of that!
I even [made a video](https://twitter.com/JNYBGR/status/1274386531096989696) about this topic before 😁

It might be not very easy and urgent, but I definitely want to explore this.

[2021-03-01 08:18] JonnyBurger commented on #41
I have played around with it and there is some support for Suspense in Remotion for loading components. If you add an import with `lazyComponent` (https://www.remotion.dev/docs/composition/), it will load it with Suspense and I even enabled the new Webpack lazy compilation feature so it even only compiles the composition when it's accessed.

I support the vision of expanding this to more things 👍

[2021-03-01 08:23] JonnyBurger commented on #150
@monophthongal

This would be a nice idea, but it seems incompatible with how Remotion works.

One idea is that every frame can be independently rendered, without having context or relying on side effects from previous or next frames.

For frame 160, your code will just resolve to:

[code]

which doesn't leave Remotion with enough info to figure out that it should render frame 10 at the current po

[2021-03-01 08:30] JonnyBurger commented on #145
@Dragomir-Ivanov
It's the same type of interpolation that React Native / Reanimated also supports, it at least feels intuitive for me. Here is some explanation better than mine: https://reactnative.dev/docs/animations#interpolation

I am not against introducing your approach as well, it shouldn't make the API too confusing since you have to explicitly opt into it 👍

[2021-03-01 08:33] JonnyBurger commented on #64
I am closing this because it doesn't seem likely there will be more activity on this in the near future.
If someone is motivated to work on improving the spring function, let me know and we can coordinate!

[2021-03-01 08:33] #64 closed

[2021-03-01 13:45] Kiesco08 opened #155 "Reanimated 2 support"
Since React Native web is supported, would it be doable to support the Reanimated 2 library in Remotion? I got to the point where the compiler complains because it is not able to detect the platform. I'm new at this and I'm not sure whether there is a limitation or if I'm missing something.

![Screen Shot 2021-03-01 at 8 43 39 AM](https://user-images.githubusercontent.com/2665475/109505079-3d63ba0

[2021-03-01 16:30] somebody32 commented on #135
Just for anyone who would find that issue: I've managed to solve it but scaling down concurrency to 1. As soon as my animation was using React's state, I assume that race conditions caused the "jumpiness."

[2021-03-01 17:10] JonnyBurger opened #156 "Sequence is 1 frame too long"
A sequence with `durationInFrames = 100` is 101 frames long.
We may need to collect these breaking changes and make a major release.

[2021-03-02 04:48] timhaywood commented on #131
Thanks for planning to work on this!

On behalf of all WSL2 users, it's much appreciated.

[2021-03-02 08:59] JonnyBurger commented on #135
@somebody32 I think the better solution is to upgrade to the newest version! `npm run upgrade` in your project. Then you don't need to slow down the render process.
If there is still an issue with the newest version, please report it.

[2021-03-02 09:19] somebody32 commented on #135
@JonnyBurger, unfortunately, that happened with the latest version. Will open a new issue then, thanks!

[2021-03-02 09:20] JonnyBurger commented on #135
Ok, thanks for reporting!
If you can attach the video with which it's happening it would be great. You can also email it to me hi@jonny.io if you don't want to post it publicly.

[2021-03-02 09:29] somebody32 opened #159 "Video is jumpy when exported with concurrency > 1"
Following up our discussion in https://github.com/JonnyBurger/remotion/issues/135

I've found out that when I'm using React's state to create an animation and exporting with concurrency > 1 (4 by default on my machine) I'm getting a jumpy output.

**What I'm trying to achieve (export with concurrency = 1)**

https://user-images.githubusercontent.com/25742/109627155-9e11f600-7b41-11eb-8091-fa0bf40e

[2021-03-02 12:29] JonnyBurger commented on #159
Hi @somebody32! Thanks for posting the example.

This is somwhat expected, and I think you have already realized yourself what is going on.
The problem is that frames rely on the state of other frames, ideally every frame is independent.

But I think you can solve the problem without too much effort!

I would define an array with percentages

[code]

And then calculate the steps inbetween.

[code]

[2021-03-02 12:29] #159 closed

[2021-03-02 12:30] #39 closed

[2021-03-02 12:30] #109 closed

[2021-03-02 12:30] #131 closed

[2021-03-02 13:06] somebody32 commented on #159
@thanks @JonnyBurger! I think the main source of confusion was that everything was working perfectly inside the browser but then broken in the export. But I agree that it is a more userland problem, and the only "solution" to it could be a mention in the docs

[2021-03-02 13:44] JonnyBurger commented on #155
Hey @Kiesco08!

It's probably not the best idea to want to use Reanimated 2 in Remotion, because the animations are not dependant on the frame number. Basically, Reanimated is a way to opt out of using React to do animations and to run them imperatively for performance reason in React Native.

Remotion however embraces doing animations by making a lot of rerenders. It's just a different usecase.
S

[2021-03-02 13:44] #155 closed

[2021-03-02 13:49] JonnyBurger opened #160 "Write documentation about state / concurrency issue"
Often users create bugs because the components are not pure / rely on side effects or the order of the frames being rendered.

Need to write a docs section articulating the issue and explaining what to do and what not to do!

[2021-03-02 13:49] JonnyBurger commented on #159
@somebody32 +1 on that, planning to write some documentation about that! Created an issue https://github.com/JonnyBurger/remotion/issues/160

[2021-03-02 14:39] Kiesco08 commented on #155
Incredibly helpful! Thanks @JonnyBurger

[2021-03-02 14:57] JonnyBurger commented on #103
Closing because one of the requirements is "The open source project has an OSI-approved open source license: https://opensource.org/licenses", for which we don't qualify. Wanna respect that!

I realized it too late, at least we have a monochrome logo now: https://github.com/JonnyBurger/remotion-logo/blob/main/monochromatic/element-0.png

[2021-03-02 14:57] #103 closed

[2021-03-02 19:04] Dragomir-Ivanov commented on #145
@JonnyBurger
Oh, didn't knew about this.
In this case, let's go with it, probably I am not as smart as those guys :)

[2021-03-03 04:13] mifi opened #162 "Possible performance improvement: capture raw frames instead of PNG/JPEG?"
First of all really awesome work on this! And really clean, functional code, I love it! I've been thinking about making a react video editor myself but I never got to it.

So I can see that it is rendering to JPEG/PNG before stitching the images together:

https://github.com/JonnyBurger/remotion/blob/3226ce10e15a2d3342518da6da98c52e80fb8007/packages/cli/src/render.tsx#L149

I may be wrong, but I t

[2021-03-03 04:30] mifi commented on #27
Maybe there could be a "Similar projects" section in the readme listing open source alternatives for people looking for that? I have a similar open source project [editly](https://github.com/mifi/editly), I will definitely put remotion in my "See also" section.

[2021-03-03 10:27] slorber opened #164 "Interpolate with arrays of any size"
As I'm used to RN, I wanted to do something like:

[code]

Unfortunately, only arrays of 2 are supported  for now.

This is not very convenient as we  need to create multiple smaller interpolations to obtain the final result you want.

I'm using something like `const opacity = Math.min(opacityIntro, opacityOutro);`

[2021-03-03 10:33] sashee opened #165 "Can't stop video playing"
I've just updated to 1.5.0 and I noticed that if I start the video playback either with the space key or the play button under the video I can's stop it anymore. I click on the pause button and that changes state, but the video is still playing.

[2021-03-03 10:36] JonnyBurger commented on #165
Thanks for the report - you are referring to using the <Video> component?

[2021-03-03 10:37] sashee commented on #165
I start the server with ```npm start``` then open the localhost:3000 in a browser. Then I see the timeline, the video, and the controls below the video. I use the play button to start playback, and can't stop it anymore

[2021-03-03 10:38] slorber opened #166 "Video of dynamic duration,"
I'd like to generate a video based on dynamic data.

It was not very clear to me how to fetch  that data before rendering the composition, so that I can compute the duration in frames.

[code]

I tried to render null, or play with delay/continue in the hook but it didn't really work

I'd like to fetch all the data I'll need ahead of time before even starting to render the video, instead of lazy lo

[2021-03-03 10:39] sashee commented on #165
It's strange, I've tried again and it's working now. Seems like it's not happening every time.

I'll investigate a bit more and let you know if I can figure out when this issue happens

[2021-03-03 11:04] JonnyBurger commented on #165
@sashee got it thanks! I think i know what it is, bugfix release hopefully coming later today 🙂 from what i can tell it happens only every so often fortunately

[2021-03-03 11:05] sashee commented on #165
Great:) It seems like it's happening more often when the playback framerate is low, but it's only a hunch.

[2021-03-03 11:34] JonnyBurger commented on #165
@sashee Should be resolved by upgrading. Run `npm run upgrade`, you should get

[code]
If not it's still rolling out. I think this fixes it, but it not, comment here I'll reopen it!

[2021-03-03 11:34] #165 closed

[2021-03-03 11:36] sashee commented on #165
Thanks! I'll check it later.

[2021-03-03 11:36] JonnyBurger commented on #164
Totally with you on this one! Also mentioned it on #145 though it's not exactly the same.
Looking forward to implement this soon.

[2021-03-03 11:42] JonnyBurger commented on #166
Yes since 1.4.0 it's possible using `delayRender` and `continueRender`.

[code]

*Caveat*: It's not yet possible to determine the duration based on the `--props` that you pass in on the CLI because they will be undefined at this stage. Planning to make this possible but it requires a breaking change. So this will be the goal for 2.0, whatever and whenever that means.

So leaving this open, also as

[2021-03-03 11:46] JonnyBurger commented on #162
Great idea! It sounds like it would improve the performance but the problem seems to be Puppeteer:

https://github.com/puppeteer/puppeteer/blob/v8.0.0/docs/api.md#pagescreenshotoptions

which only supports PNG and JPEG. So unfortunately I think there's nothing we can do to optimize even though it would be really awesome! 😌
Closing it but if you have ideas or think otherwise, comment and I'll reope

[2021-03-03 11:46] #162 closed

[2021-03-03 11:50] JonnyBurger commented on #27
Thanks a lot @mifi for including Remotion on your "See also" list! I'm also for the idea of having one for Remotion.
I like a lot how @react-navigation is doing it, making a page about alternatives in their docs: https://reactnavigation.org/docs/alternatives/

They even have an anti-pitch telling what the weaknesses are of their library: https://reactnavigation.org/docs/pitch

If we make such a pa

[2021-03-03 12:40] slorber commented on #166
Thanks, will try to do that!

[2021-03-03 16:39] bcjohnblue opened #167 "Wrong position of canvas when using react-three-fiber"
I want to apply [react-three-fiber](https://github.com/pmndrs/react-three-fiber) in `remotion`. However, when I follow the [official tutorial](https://codesandbox.io/s/rrppl0y8l4?file=/src/App.js) to create two cubes. I find the position of canvas is not set correctly. (The two cubes will show on the upper left instead of showing on the middle)

![image](https://user-images.githubusercontent.com/2

[2021-03-03 17:55] JonnyBurger commented on #167
Hey @bcjohnblue! Great question!

I think it's probably a bug from an external library, not in Remotion. Remotion renders a canvas with width 1920, height 1080 and applies a scale, like 0.66.

When we pass 100%/100% to the canvas, some logic in react-three-fiber wants to make the width 1267px. But since Remotion applies scale 0.66 again, it becomes too small.

But I am very interesting in react-th

[2021-03-03 17:55] #167 closed

[2021-03-05 14:33] #104 closed

[2021-03-06 21:09] #145 closed

[2021-03-06 21:09] #164 closed

[2021-03-06 21:57] slorber commented on #164
🙏

[2021-03-08 01:48] ltcaosj opened #175 "[Feature request]: Support Lottie export"
Hi Jonny,

It should be awesome if remotion can support exporting animation video to Lottie JSON.

Regards,
Long Cao

[2021-03-09 14:12] #87 closed

[2021-03-12 13:47] JonnyBurger commented on #175
Hi Long Cao!

Thanks a lot for the featur e request, but after thinking about it a bit, I've came to the decision that I don't want to implement it, mostly because technically it's too hard to make it work well.

Lottie is completely vector based format and it's animations are just JSON files. Remotion tries to make video creation possible on a higher level - it supports almost all web technologie

[2021-03-12 13:47] #175 closed

[2021-03-13 00:11] ltcaosj commented on #175
Thanks @JonnyBurger for your response. It's clear now :)

[2021-03-13 13:21] ankan1811 opened #184 "awesome"

[2021-03-13 13:21] #184 closed

[2021-03-13 13:28] JonnyBurger commented on #184
Thank you!

[2021-03-14 07:53] JonnyBurger opened #185 "Remotion 2.0 Breaking changes"
What breaking changes would you like to see? We are introducing audio support in a major release and that's the chance to change stuff you don't like about Remotion.

I want to change these things:

- [x] Fix bug of sequence being 1 frame longer than it should (#28)
- [x] `--overwrite` is true by default
- [x] ~You have to pass props and composition name to `getCompositions` as well, so that you c

[2021-03-14 15:55] JonnyBurger opened #187 "Put introduction video on website"
We should embed https://www.youtube.com/watch?v=gwlDorikqgY&t=1s on the website :)

[2021-03-14 15:56] JonnyBurger opened #188 "Webpack has deoptimized the styling of XXX warning"
Let's get rid of this warning by changing the webpack config. we don't care so much about bundle size for videos.

[2021-03-14 15:59] JonnyBurger opened #189 "Looser Typescript component types"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%240%20Funded-%2300A156.svg" />](https://issuehunt.io/r/JonnyBurger/remotion/issues/189)

I was in @jlengstorf's stream and I noticed that depending how you use Typescript components, you get a warning.

The following should be an acceptable way to define a React component and use it in a `<Composition/>` and it shouldn't tri

[2021-03-15 11:25] JonnyBurger opened #191 "Serverless example"
Many people ask, can you render a video using serverless? If it works, let's provide some documentation or an example!

[2021-03-15 19:57] #154 closed

[2021-03-15 19:57] #156 closed

[2021-03-18 16:58] FelippeChemello opened #196 "How to set duration in frame of Composition dinamically?"
I would like to set durationInFrame of Composition dinamically.

I thinked about using fetch in Video.tsx, however for this I will need to receive in props an Id to search this data in my API. At the moment I can't find any solution for receiving data with props on root component, is there any solutions?

I have already forked remotion and I am trying to implement something like this, but it looks

[2021-03-19 01:15] FelippeChemello commented on #196
After some work on it, I realized that I was not getting userProps because it was stucking at `getCompositions`.

This method check whats compositions are correctly configured and allowed to render, however I was passing a prop to the composition and at this moment it wasn't passing the props to this validation, so I made it because it was needed for my case use.

What do you think about it @Jonny

[2021-03-19 09:44] JonnyBurger commented on #196
Hey @FelippeChemello! Thanks a lot for bringing it up and yes I am 💯 % on you with this, I also mentioned it in #185 that I want to do this for Remotion 2.0 (it's a breaking change since we change the function signature of `getCompositions`). The fact that you sent a PR will only speed up the release of 2.0, so thank you very much! I'll take a look soon 🙌

[2021-03-20 11:29] JonnyBurger opened #200 "Fast frame-perfect seeking [Help needed]"
Problem: During render, we want to precisely capture each frame of a `<Video>`. Meaning frame 10 in the source video is frame 10 in the rendered video as well. This works, but the browser might not immediately show the correct frame after seeking to that position and emitting the `seeked` event. There is always some delay until the frame is actually displayed. This led to some frame jumping in Rem

[2021-03-20 22:36] JonnyBurger opened #202 "Improve timeline drag handling"
Great suggestion from Discord:

A user will almost always expect to be able to move the mouse a little less precise and remain its hold on the slider as long as the mouse button remains pressed. Especially when it comes to navigating timelines, you are not likely to keep your mouse inside the boundaries of the timeline element. In a similar way when you select text on a page  and move the mouse ab

[2021-03-21 12:15] #187 closed

[2021-03-23 13:49] #202 closed

[2021-03-23 17:08] #119 closed

[2021-03-23 18:23] #166 closed

[2021-03-23 18:23] #196 closed

[2021-03-23 21:22] JonnyBurger commented on #149
Vite doesn't yet have support for fast refresh, so I would say it's a nogo.
ESBuild bundler doesn't even have a watch mode.

We are too early for it, but in the next release we are going to take a step into the right direction: Transpile code using ESBuild, bundling using Webpack!

This already speeds it up significantly, if a bundler shows up that is really good and fulfills our needs, I think we

[2021-03-27 13:53] JonnyBurger opened #209 "need to include react-dom in the create-video template"

[2021-03-27 19:51] JonnyBurger opened #210 "Webpack bottleneck when importing large files"
Importing large video files leads to slow bundling and timeouts during render.

[2021-03-28 13:39] JonnyBurger opened #211 "[Audio] Sound plays if playing and clicking on layer after sound has ended"

[2021-03-28 17:49] JonnyBurger opened #212 "Retry on timed out frames"
I did a render of 60000 frames and one frame just randomly dropped. The next time it worked. Maybe it should retry 1-2 times before failing hard.

[2021-03-29 11:42] apopiidoru opened #214 "TimeoutError: waiting for function failed: timeout 30000ms exceeded"
First of all I want to congratulate you for this project, it's really awesome!

I have a small issue when I try to render my video, I get this error from Puppeteer: TimeoutError: waiting for function failed: timeout 30000ms exceeded.

I usually get this when I have a video file in the background, what can be done?

[2021-03-29 12:43] JonnyBurger commented on #214
Hey @apopiidoru,

this happens when a `delayRender` call is being made and never being cleared - this means Remotion will wait forever until it marks itself as ready to render.

Can you copy a snippet how you include your video, I'll gladly help you out.

[2021-03-29 13:39] apopiidoru commented on #214
Hi @JonnyBurger

It's a little bit more complicated, but I'll simplify it to exemplify:

`**Video.tsx**

import {Composition} from 'remotion';
import {MainScene} from './MainScene';

const fps = 30;
const videoConfig = {
  width: 1920,
  height: 1080,
	duration: Math.round(52 * fps) // nr of seconds * fps
};

export const RemotionVideo: React.FC = () => {
  return (
	<>
		<Composition
			id="MainS

[2021-03-29 13:48] apopiidoru commented on #214
And this is the output:
[code]

[2021-03-29 13:55] JonnyBurger commented on #214
Thanks for the repro!

Can you test the following for me?

- Does decreasing the concurrency work better? `npm run build -- --concurrency=2`

And can you tell me, does it always happen at frame 333? (you can tell from `at async Promise.all (index 333)`)

[2021-03-29 14:08] apopiidoru commented on #214
I've done two tests with concurrency at 2 and it still happens :( they failed at:
1. ` at async Promise.all (index 1277)`
2. `at async Promise.all (index 1377)`

[2021-03-29 14:11] JonnyBurger commented on #214
I see! I think Webpack might have trouble loading larger MP4 files correctly.
I have noticed it myself this weekend and will initiate a fix soon.

A workaround for the moment is to `cd assets && npx serve` it.

Afterwards, instead of importing the video, pass src="http://localhost:5000/dev-video.mp4".

Can you tell me if this works? Would help me include a fix in a future version of Remotion 🙂

[2021-03-29 14:26] apopiidoru commented on #214
I've done as you've requested and here's the error:

[code]

[2021-03-29 14:28] JonnyBurger commented on #214
@apopiidoru I meant not importing the video with an `import` statement, just passing the URL as the `src` and not importing anything.

Might have to verify with `yarn start` if it still works in the player too.

[2021-03-29 14:33] apopiidoru commented on #214
I've just realized that too 🤦

[2021-03-29 14:34] apopiidoru commented on #214
The workaround works as a charm! Thank you very much @JonnyBurger!

[2021-03-29 15:36] JonnyBurger commented on #214
Awesome!
But on the other hand a real bug I also just noticed yesterday. Related to #210, I'll make sure that in a future release this is better handled!

[2021-03-30 00:40] jmarlena opened #216 "[Feature request/question] Table of contents supported"
Hello!

I'm just wondering if this project supports a table of contents so viewers can more easily navigate the video's contents.

Thanks for your time. 💛

[2021-03-30 10:42] JonnyBurger opened #217 "Add interpolate to auto import"

[2021-03-30 10:43] JonnyBurger opened #218 "Shift + arrow key to jump more than 1 frame at a time"

[2021-03-30 10:43] JonnyBurger opened #219 "Allow to zoom in + out timeline"

[2021-03-30 11:01] JonnyBurger opened #220 "interpolateColor helper function"

[2021-03-30 11:01] JonnyBurger opened #221 "measureSpring() helper function"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%2450%20Rewarded-%237E24E3.svg" />](https://issuehunt.io/r/JonnyBurger/remotion/issues/221)

It's hard to figure out the length of a spring() function. So I propose a measureSpring() function that calculates based on a spring configuration and the FPS how long it takes for the spring to settle.
It can for now just recursively

[2021-03-30 11:14] JonnyBurger commented on #216
Hey @jmarlena!
Interesting question. As far as I know there is no way to include a table of content in the MP4 format, which is the format of the end artifact. This would be more player specific (like the YouTube feature where you can jump to chapters).

But I am interested to hear what sort of thing you are trying to build. Maybe I can give a more specific input on it.

[2021-03-30 11:16] JonnyBurger commented on #214
@apopiidoru You are right, that was only my initial suspicion but there are problems occurring with much lower file sizes as well. The bottleneck seems to be `file-loader`, I'm trying to come up with a solution for it soon.

For now I corrected the issue description.

[2021-03-30 18:23] jmarlena commented on #216
I want a way to show a table of contents next to the video like from this egghead.io course:  https://egghead.io/lessons/javascript-introduction-to-github

![image](https://user-images.githubusercontent.com/6732600/113034785-5fbf2500-9147-11eb-9857-d4856e09793e.png)

[2021-04-01 08:59] #216 closed

[2021-04-01 09:14] JonnyBurger commented on #220
@sashee Nice thanks for researching it!

It would be nice to copy the code over to Remotion so we don't have to import a dependency. Looking at the source code of `chroma.js` is a very good start for us.

I am prioritizing other issues at the moment, if anyone wants to work in it, it's up for grabs!

[2021-04-01 22:41] nandorojo opened #226 "Static images"
Hey @JonnyBurger, incredible work here.

Is there a way to use Remotion to generate an image, instead of a video? I assume this would just be a single frame, exported as a JPG/PNG, but I wonder what you think the best way is. Thanks so much!

[2021-04-02 00:50] nandorojo commented on #28
@JonnyBurger I'm interested in using a youtube video's iFrame in my video. Will it be possible to take the audio from another video and use it here?

[2021-04-02 09:18] Iamshankhadeep commented on #226
hey @nandorojo we do have a way to generate a single image or multiple image in a range.
You have to use `--image-format` `--sequence` and `--frames`. if you pass a single frame number in `--frames=10` in cli then remotion will generate the 11th(10+1) frame.

More about cli options [here](https://www.remotion.dev/docs/cli)

Hope it helps.

[2021-04-02 09:32] JonnyBurger commented on #28
@nandorojo I think we can do a youtube video and sync it with the Remotion frame, but the audio seems to be inaccessible because we need to feed it into the ffmpeg command, so for that we need to download it.

Also if we include the YouTube player, we will always have a YouTube watermark which is not so nice.
The best way to achieve this and still stay completely programmatic is to use the `ytdl`

[2021-04-02 12:45] nandorojo commented on #28
Got it, downloading it makes much more sense.

[2021-04-02 12:48] nandorojo commented on #226
Thank you!

[2021-04-02 12:48] #226 closed

[2021-04-02 12:51] JonnyBurger commented on #226
Thanks @Iamshankhadeep a small note, this is only on `main` branch and not yet in the `1.5.3` release on NPM. You can either make a composition with duration of 1 frame and use `--sequence` to export it, or if you are feeling  dangerous, use the prerelease of V2 (update all Remotion packages to 1.6.0-alpha.74db7d81).

BTW great work with Moti! I might try it out soon too 🙂

[2021-04-02 12:54] nandorojo commented on #226
Got it, good to know. I'm still in my exploration phase with Remotion so I don't mind playing with the unreleased features. This thing is really cool, I'm impressed.

And thanks! I'd love for you to try it. Let me know if you have any questions.

[2021-04-04 11:54] #209 closed

[2021-04-04 11:54] JonnyBurger commented on #191
Should also give some guidance how much RAM / CPU is needed

[2021-04-04 19:18] #149 closed

[2021-04-04 19:18] #188 closed

[2021-04-06 08:37] xavijam commented on #28
It is likely a crazy and non-sense idea, but would it support something like [this](https://github.com/andrewkeig/react-speech)?

[2021-04-06 12:32] JonnyBurger commented on #28
@xavijam Not quite, I researched it and there is no way to render an audio generated by `SpeechSynthesis` to an audio tag or to save it. It's a feature that browsers are lacking at the moment.

However, using something like Google [Cloud Speech to Text](https://cloud.google.com/speech-to-text?hl=en), I'm confident it works!

[2021-04-06 12:34] xavijam commented on #28
That's fantastic, thank you!

[2021-04-11 07:02] JonnyBurger opened #231 "CLI should support —help flag"
https://discord.com/channels/809501355504959528/817306238811111454/830698846627692544

Should show the available commands and options. Can be 1:1 taken from the docs CLI section

[2021-04-12 10:47] sashee opened #232 "Add config to set speed for the <Video> element"
The ```playbackRate``` allows setting the video playback speed, but unfortunately it is not available as an attribute. Because of this there is no way to change the speed of embedded videos.

It would be a nice feature to add a ```speed``` property to the ```<Video>``` element. For development, it could set the ```playbackRate``` via code (see [this example](http://daniemon.com/tech/html5/playback

[2021-04-13 16:20] JonnyBurger commented on #232
+1, this would indeed a very useful functionality! Adding to backlog and hope we get to it not too far in the future! ✌️

[2021-04-13 17:03] sashee opened #234 "Make the preview server's port configurable"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%2450%20Funded-%2300A156.svg" />](https://issuehunt.io/r/JonnyBurger/remotion/issues/234)

Currently, the preview server chooses a port between 3000 and 3100 ([ref](https://github.com/JonnyBurger/remotion/blob/main/packages/bundler/src/index.ts#L67)). I use an express http proxy to make the preview page available and I can pr

[2021-04-13 19:39] JonnyBurger opened #235 "Weird Webpack dynamic imports"
![image](https://user-images.githubusercontent.com/1629785/114610960-c80e1a80-9ca0-11eb-85fd-d5d03c773ae7.png)

[2021-04-13 20:16] JonnyBurger opened #236 "<Sequence> example with negative offset in docs"

[2021-04-14 10:56] JonnyBurger opened #237 "after downloading asset, output is not nice"
![image](https://user-images.githubusercontent.com/1629785/114699614-d1d76280-9d20-11eb-9dd0-6c3d35d13e74.png)

[2021-04-14 11:08] JonnyBurger opened #238 "Error when rendering a still"
[code]

[2021-04-15 12:25] JonnyBurger opened #239 "should persist 100% / 50% / fit option"
In Preview Editor, currently this setting gets reset on every reload

[2021-04-15 15:09] JonnyBurger opened #240 "remotion 1.0 trailer audio doesn't sound perfect"
Need to check if it generates the right ffmpeg command

[2021-04-15 15:09] JonnyBurger commented on #185
Done!

[2021-04-15 15:09] #185 closed

[2021-04-15 15:10] JonnyBurger commented on #28
Released in 2.0!

https://remotion.dev/blog/2-0

[2021-04-15 15:10] #28 closed

[2021-04-15 15:10] JonnyBurger commented on #210
Fixed!

[2021-04-15 15:10] #210 closed

[2021-04-15 19:54] JonnyBurger commented on #34
Implemented now! https://www.remotion.dev/docs/audio-visualization

[2021-04-15 19:54] #34 closed

[2021-04-15 20:59] JonnyBurger opened #241 "enable checkerboard by default"

[2021-04-15 21:38] JonnyBurger opened #242 "Use forwardRef for Audio and Video"

[2021-04-16 10:52] JonnyBurger opened #244 "Should warn if FFMPEG version < 4.1"
Audio doesn't seem to be supported on those versions.

[2021-04-16 13:42] JonnyBurger opened #248 "Log levels in CLI"
Should have different log levels, including super verbose so we can see all info.
If log level is `verbose`, should be able to see console.logs of render.

[2021-04-16 15:11] Purus opened #249 "TTS example"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%24115%20Rewarded-%237E24E3.svg" />](https://issuehunt.io/r/JonnyBurger/remotion/issues/249)

Would be great if there is support for converting text to speech automatically and include as part of the video output.

---

<details>
<summary>
<b>IssueHunt Summary</b>
</summary>

#### [<img src='https://avatars.githubusercontent.

[2021-04-16 16:15] JonnyBurger opened #250 "Handle missing MP4 codec in Chromium better"
and missing audio codecs maybe?

[2021-04-16 16:16] #241 closed

[2021-04-16 16:16] #217 closed

[2021-04-16 18:00] JonnyBurger commented on #249
We discussed it a bit here:

https://github.com/JonnyBurger/remotion/issues/28#issuecomment-813941193

I found that there is non suitable browser API but of course you can use a cloud service from Google and AWS. I'm gonna leave this open because it's a great reminder to build a starter template for it and release it 🙂

[2021-04-16 18:03] JonnyBurger commented on #234
It's not a big priority for me (I don't understand why it's a problem that it uses 3000 or a higher one if available, maybe you can elaborate more on it), but I am happy to put it in the "backlog" and if someone wants this functionality fast, accept a contribution for it!

[2021-04-16 20:26] #248 closed

[2021-04-17 08:59] JonnyBurger opened #253 "`loop` should be removed from prop types"
It doesn't do anything at the moment

[2021-04-17 09:00] JonnyBurger opened #254 "Implement `loop` property for audio properly"

[2021-04-17 09:02] JonnyBurger opened #255 "Should open browser in advance before rendering frames"
Right now Chrome is spawned after bundling, we can launch it in advance to speed up rendering

[2021-04-17 09:40] #238 closed

[2021-04-17 09:44] JonnyBurger opened #257 "move all unnecessary dependencies to `devDependencies`"
Do a quick dependency review to make sure all packages are as slim as possible.

[2021-04-17 09:48] JonnyBurger opened #258 "No package should ship test files or src files"
Just making sure that on npm none of these files are published.

[2021-04-17 09:53] JonnyBurger opened #259 "Add `sideEffects` to packages"
This will optimize Webpack and allows it to tree-shake. No remotion functions should have any side effects

[2021-04-17 10:17] #244 closed

[2021-04-17 10:17] #253 closed

[2021-04-17 11:03] #257 closed

[2021-04-17 11:38] #258 closed

[2021-04-17 11:38] JonnyBurger commented on #258
Fixed by #261

[2021-04-17 12:02] #259 closed

[2021-04-17 14:23] #240 closed

[2021-04-17 15:52] #255 closed

[2021-04-17 15:55] JonnyBurger opened #266 "Put `yarn create video` on homepage"
Just like many other projects, put the get started command right on the website and not hide it in the docs section

[2021-04-17 15:55] JonnyBurger opened #267 "Refactor SSR docs"
Separate pages and document each parameter

[2021-04-17 15:58] JonnyBurger opened #268 "Should warn why you got a timeout."

[2021-04-17 20:21] JonnyBurger commented on #21
I have currently no idea how this could be optimized:

- Other projects don't have all the options that FFMPEG has - we've built a heavy reliance on many different FFMPEG features by now.
- Shipping an FFMPEG binary with Remotion is hard, there are tons of different operating system / architecture combinations, I don't want to get into the business of providing binaries for all of those, it's a he

[2021-04-17 20:21] #21 closed

[2021-04-17 20:22] JonnyBurger opened #269 "Fix ENAMETOOLONG issue on Windows"
Command generated is being too long, need to make the FFMPEG command more concise.

[2021-04-17 20:59] JonnyBurger opened #270 "Run tests on lower FFMPEG versions"
Would be nice if tests also run on FFMPEG version 4.1 (minimum supported) in addition to latest to give us some more safety when making changes.

[2021-04-17 21:19] #269 closed

[2021-04-17 21:28] #231 closed

[2021-04-18 07:41] Purus commented on #249
Would be great if we could not be dependent on third-party cloud services.. May be something like https://github.com/MikeyParton/react-speech-kit

[2021-04-18 07:57] sashee commented on #234
It's only a minor inconvenience for me, just wanted to document it somewhere.

I start the preview server like this:

[code]

I start other services and other ports and wire them to paths with express proxy. In effect, it allows me to call something like ```/audiogen``` and it will be routed to a separate service.

But as the preview server takes the 3000 port (and the main express the 8080), if I

[2021-04-18 18:15] JonnyBurger commented on #249
Here we are constrained by the APIs of the browser.
While you can trigger TTS, you cannot access the audio data, put it in an audio tag, export it as a file, etc. :( This makes it impossible to render in a video.

[2021-04-18 19:23] Tobijudah commented on #266
Hey Jonny. Wanting to hop on this! Any ideas on how you want it to be on the homepage? Or I should try some and you decide which is best?

[2021-04-18 19:43] JonnyBurger commented on #266
Hey @Tobijudah! Thanks a lot for this! 😊
I am open to it, I think it can be pretty simple! Here are a few ones I personally like:

![image](https://user-images.githubusercontent.com/1629785/115158464-86111a00-a08e-11eb-9a2b-63b95bb6ed0a.png)

![image](https://user-images.githubusercontent.com/1629785/115158469-90cbaf00-a08e-11eb-8fff-fa16115ed6da.png)

![image](https://user-images.githubuserconten

[2021-04-18 19:44] JonnyBurger opened #274 "Fix 2.0 migration guide"
- Mention @remotion/bundler
- Mention react-dom needs to be installed

[2021-04-18 20:13] Tobijudah commented on #266
okay, thanks. On it now

[2021-04-19 06:05] abhijit-hota commented on #266
@Tobijudah, I'm sure you'd have thought of something by now but this is a good place to put it according to me. Just suggesting.

![image](https://user-images.githubusercontent.com/8116174/115188832-230d9a80-a103-11eb-836b-869aa1cd312c.png)

[2021-04-19 09:52] abhijit-hota opened #276 "Using `yarn create video` installs the project using `npm`"
When I initialize the project using the command `yarn create video` , I expect it to use Yarn as the package manager, using `yarn.lock` file.

But it still installs all the projects' dependencies using npm and only the `create-video` binary is installed using Yarn.

[2021-04-19 11:26] sashee opened #277 "Assets with relative URLs fail the build"
I have an Audio file referenced with a URL relative to the page location:

[code]

The src is coming from a custom WebPack loader. It works fine in the preview mode.

But when I try to build it, Remotion gives an error:

[code]

I'm using remotion 2.0.2.

As a workaround I can prepend the url with ```window.location.origin```, as I've found that's the [check condition](https://github.com/JonnyBurg

[2021-04-19 19:19] ieric2 opened #280 "Sequence API for Audio fails when durationInFrames is non-integer"
Non-integer durationInFrames works when wrapping all other components besides {Audio}

Error below:

[code]

[2021-04-19 20:18] Tobijudah commented on #266
yeah, I put it there @abhijit-hota. Thanks!

[2021-04-19 20:52] Tobijudah commented on #239
After reload, do you mean hot-refresh or the user manually re-loading the page?

[2021-04-20 07:50] JonnyBurger commented on #239
@Tobijudah Thanks for your interest in this issue! 🙌

I mean after reloading the page, so it should work similar to other options such as the transparency toggle / rich timeline toggle where it just saves the option to local storage.

[2021-04-20 07:50] JonnyBurger commented on #266
Fixed by #281, thanks again!

[2021-04-20 07:50] #266 closed

[2021-04-20 08:00] JonnyBurger commented on #280
Thanks, good catch!
Non-integer durations for sequences should throw an error, just like in compositions.
I'll fix this shortly.

[2021-04-20 08:14] JonnyBurger commented on #277
Hey Tamás! Thanks for the report, I'll look if there is something that can be done better.

What kind of Webpack Loader are you using? Why not the default one?

We can assume that if this case occurs that we prepend window.location.origin (`new URL(props.src, window.location.origin).href`), but I wanna check that nothing breaks and understand the issue a bit better.

[2021-04-20 08:15] JonnyBurger commented on #276
This is a valid point, I think `yarn create video` can use `yarn` while `npm init video` can use `npm`. We don't have any lockfiles commited anyway in the template. I'll add this to the roadmap!

[2021-04-20 08:16] JonnyBurger commented on #234
@sashee Makes sense to me! I'll add it to the roadmap and intend to implement it.

[2021-04-20 08:37] JonnyBurger opened #283 "Move webpack-dev-middleware changes upstream"
I made some performance improvements to webpack-dev-middleware https://github.com/webpack/webpack-dev-middleware/pull/876

If I get time it would be great to finish the PR and send the optimizations to the main repo, and use their package again, many people could benefit

[2021-04-20 11:13] sashee commented on #277
I needed to run some normalization automatically for all imported audio files, but I since moved that to a different loader. Now it extracts the duration for the audio and returns it along with the file (it was before you added client-side support for audio duration).

If you are interested, this is the code for it (the interesting parts are the ```emitFile``` and the ```results```):

[code]

When

[2021-04-20 11:16] sashee opened #285 "Warning: Maximum update depth exceeded. This can happen when a component calls setState inside useEffect, but useEffect either doesn't have a dependency array, or one of the dependencies changes on every render."
I'm seeing this error when I run the preview server and open the browser console. It is repeated ~4 times / sec and it clutters the console. I'm using Remotion 2.0.2.

![image](https://user-images.githubusercontent.com/82075/115387111-84546d00-a1da-11eb-8662-c7bb4d5c2af8.png)

[2021-04-20 11:36] JonnyBurger commented on #285
Thanks for reporting this!
Looks like a pretty serious issue. I cannot reproduce it, do you have any hints how you get this to happen?

[2021-04-20 11:42] JonnyBurger commented on #285
OK managed to reproduce! It happens when I enable rich timeline. Investigating now...

[2021-04-20 11:48] #280 closed

[2021-04-20 12:36] #285 closed

[2021-04-20 12:50] Tobijudah commented on #239
Alright. On it

[2021-04-20 14:28] Aloysb commented on #159
@somebody32 How do you set the concurrency to 1 ?

[2021-04-20 20:43] #270 closed

[2021-04-20 20:46] #239 closed

[2021-04-20 20:46] JonnyBurger commented on #239
Solved by #289

[2021-04-20 21:40] #277 closed

[2021-04-20 21:41] JonnyBurger commented on #277
OK, I see no harm in doing it! Thanks for the report!
Will release 2.0.4 tonight, please report back if it doesn't solve the issue!

[2021-04-20 21:49] #274 closed

[2021-04-20 22:19] tohagan commented on #249
To do TTS well requires that it can coordinate with animation timing.  You’re likely to eventually combine automated translation with TSS and that means the audio lengths will vary in time so you need a means to time associated animation to the length of the resulting audio. You may also wish to display or highlight specific words (which may be translated) in sync with the matching audio.

[2021-04-20 22:24] tohagan commented on #249
If you’re combining word animation with translation, you want to perform the translation in one API call if possible, not just for performance but to provide the best translation context so, for example, the sequence of related words being animated are translated together.

[2021-04-21 07:03] Iamshankhadeep opened #294 "Homepage is not responsive on mobile device"
This is a screenshot of homepage on mobile device.
![image](https://user-images.githubusercontent.com/24645773/115510694-ae229800-a29d-11eb-904a-e3bc63405396.jpeg)

[2021-04-21 11:38] Tobijudah commented on #294
can hop on this

[2021-04-21 11:39] JonnyBurger commented on #294
Awesome, thank you!

[2021-04-21 13:51] arindam89 opened #296 "Handling Color Change Animations"
Hello Jonny,

Thanks for this great tool.

I have a question around handling animations. Mostly, any transform we want to apply should be explicit and tracked in someway via frame, fps, spring, interpolate etc.

But if I have a CSS transition say, color transition from value 1 to value 2, how do we handle this usecase or similar usecases where the property changing is non-numeric in nature.

Here

[2021-04-21 13:58] Iamshankhadeep commented on #296
Hey @arindam89 we do have `interpolateColors()` (available from remotion 2.0.3) to address this issue. read more about `interpolateColors()` [here](https://www.remotion.dev/docs/interpolate-colors).
Do let me know if it solves your issue.

[2021-04-21 15:10] arindam89 commented on #296
Super fast and super helpful. Thanks a ton @Iamshankhadeep worked like a charm.

https://user-images.githubusercontent.com/341988/115577139-c7e5ce80-a2e1-11eb-8ba9-cf788393f8de.mp4

[2021-04-21 15:10] #296 closed

[2021-04-21 20:53] pierreminiggio opened #299 "Render fails on Windows when trying to pull some remote asset with a dot in the URL"
Hello !
So I'm pulling assets (audio & video) from remote urls.
While rendering on Windows, one of these audio assets (always the same one), keeps failing to get downloaded :
This asset is this one : https://gtts-api.miniggiodev.fr/Ici+Japon+Corp.?lang=ja

This issue doesn't occur during preview, only while rendering.

Here is the error :
![image](https://user-images.githubusercontent.com/35456349

[2021-04-22 06:04] Iamshankhadeep opened #300 "`postinstall` script in `remotion/core` causing error in windows"
reported on discord [link](https://discord.com/channels/809501355504959528/817306238811111454/834667679302025225).

after running `npm init video`.
error message.
[code]

[2021-04-22 07:47] JonnyBurger opened #301 "Add performance tips to docs"
Great advice by @onion2k on Discord:

![image](https://user-images.githubusercontent.com/1629785/115676311-c0f5a500-a34f-11eb-916a-aebee702b1ce.png)

[2021-04-22 08:12] #300 closed

[2021-04-22 09:22] JonnyBurger commented on #299
Thanks for the excellent bug report! Fix will be merged and released by today evening, look out for v2.0.4!

[2021-04-22 09:24] #276 closed

[2021-04-22 11:31] kode-ninja opened #305 "Audio startAt: filter uses wrong values"
Hey guys!

The facts:

I'm rendering a video with an Audio track (remote URL) with startAt and endAt props.
I render a video with the same audio track a few times, each time with different startAt and endAt props.
At some point, Remotion ignores the startAt and endAt props and keeps generating the same ffmpeg filter string (for atrim), even for a different audio file.

This is the worst bug report

[2021-04-22 11:48] #299 closed

[2021-04-22 11:48] JonnyBurger commented on #242
Fixed by #304

[2021-04-22 11:56] kode-ninja commented on #305
`Config.Bundling.setCachingEnabled(false);` does not help

[2021-04-22 11:56] #242 closed

[2021-04-22 11:59] JonnyBurger commented on #305
Hey @kode-ninja! No problem, I think we can help nonetheless.

1. I recently fixed a bug (#293) that sounds like it could have been it. Can you try the freshly released version 2.0.5 and see if it is fixed?

2. If it's not fixed, then can you maybe post some React markup (can also be pseudo markup) showing what you render? Then I will investigate based off this.

[2021-04-22 14:08] pierreminiggio commented on #299
Okey thanks ! I'll try in v2.0.4 and report here if that fixes it.

[2021-04-22 15:07] kode-ninja commented on #305
my bad, I handled `--props` incorrectly in my code. thanks for the quick reply!

[2021-04-22 15:07] #305 closed

[2021-04-23 16:26] Tobijudah commented on #301
hey Jonny. where do you intend this should be added to?

[2021-04-23 16:27] Tobijudah commented on #294
@Iamshankhadeep can close 👌🏿

[2021-04-23 19:00] Iamshankhadeep commented on #294
@Tobijudah thanks.

[2021-04-23 19:00] #294 closed

[2021-04-24 10:47] JonnyBurger commented on #301
Hey @Tobijudah thanks a lot! I think it's most fitting in the "Techniques" section. You can add a new entry to the sidebar by adding it in the `sidebars.js` file in the docs package.

[2021-04-24 17:55] jonstuebe opened #309 "dev server error: unexpected token `static in(easing) {`"
## Error

![image](https://user-images.githubusercontent.com/156722/115966137-3349bf00-a4e1-11eb-8e7c-6f6c7dfdb453.png)

## Reproduction Steps

1. created new project via `yarn create video`
2. `cd <directory_name>`
3. `yarn start`
4. see error in both console and browser

[2021-04-24 18:41] Iamshankhadeep commented on #309
@jonstuebe can you create a blank remotion project once again using `yarn create video`? and let me know if the issue is still happening or not?

[2021-04-25 13:10] JonnyBurger commented on #249
I am adding a $60 bounty to whoever submits a text-to-speech example that works in preview mode as well as render mode and that uses a cloud TTS API.
(We should be able to release the example as part of Remotion but of course you will maintain credit)

[2021-04-25 13:16] JonnyBurger commented on #234
I am adding a bounty that gets paid to whoever would like to implement the feature - requirements: should be able to specify this option via CLI, config file and to `renderFrames()` API.

Also should be mentioned in the SSR docs page, the CLI options doc page and the config file docs page.

Should validate that the port is a valid number and if this option is passed but the port is busy, it should

[2021-04-25 13:20] JonnyBurger commented on #200
Added a bounty tho whoever can provide a solution for this problem!

Requirements: Remove the need for a timeout in `VideoForRendering.tsx` and still make the tests pass (`npx jest` in root).

But as a warning, this is very hard and might even be impossible.

[2021-04-25 13:20] JonnyBurger commented on #191
I am working on providing an official serverless library with docs and guidance!

[2021-04-25 13:36] JonnyBurger commented on #79
I am putting out a $100 bounty to whoever manages to demonstrate that Remotion can import a Vue 3 API! (Only targeting v3 because we mainly care about the future)

It would be nice to show that within Vue components you can access Remotions context (most obvious usecase is making useCurrentFrame() work).

[2021-04-25 13:45] JonnyBurger commented on #50
Added a bounty to whoever can demonstrate Remotion working on Deno!

I don't know how hard it is or what needs to be changed. This is a low priority issue for me, so putting out a small incentive.

[2021-04-25 18:40] natasha-93 opened #313 "getInputProps returning empty object, despite passing inputProps to renderFrames"
I'm trying to pass in some input props on the server like this:

[code]

But they're not accessible via `getInputProps` in my composition/root:

[code]

[2021-04-26 02:24] tohagan commented on #249
To get the timing of the words spoken, you can reverse the process and use STT APIs (Google supports 125 languages and accents). Their API gives you a list of phrases spoken (“alternatives” array) and then within each phrase the timing of each individual word. So you can use these as the basis of the text animation timing.  Of course STT AI is less reliable than TTS so the words may not always mat

[2021-04-26 06:47] JonnyBurger commented on #313
Thanks for reporting this!
I was able to reproduce this and started working on a fix #314.

I'll test it and release it this evening or by tomorrow latest!

[2021-04-26 10:14] pierreminiggio opened #315 "While rendering : Build caching incompatibility with file import that gets updated might need some documentation, or a best practice to do it"
Hello !
As you may have seen on my first project using remotion (https://github.com/pierreminiggio/youtube-likes-recap-video-maker),
I decided to get some of my data through reading a JSON file (using an import).

But then when I decided to run my project on my VPS, the first render went perfectly fine.
But when rendering for the 2nd time (after the file likes.json got refreshed), the final video

[2021-04-26 23:53] treyhoover opened #316 "Audio volume interpolation not working on server renders"
I've followed [these docs](https://www.remotion.dev/docs/using-audio) to have the audio fade out at the end of the video, but it only works in preview, not when rendered server-side.

[2021-04-27 12:32] sashee opened #317 "[Idea] Detect/fix font-display: swap"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%2450%20Funded-%2300A156.svg" />](https://issuehunt.io/r/JonnyBurger/remotion/issues/317)

I've just got bit by the ```font-display=swap``` property. It's mentioned in [the docs](https://www.remotion.dev/docs/fonts) that:

But it turns out it's not just keeping in mind to remove the query parameter when I copy-paste the font

[2021-04-27 12:52] sashee opened #318 "[Idea] Labels on the timeline"
I often find myself searching in the video when a specific thing happens, for example when a specific element appears. I usually have longer Sequences so all I see is a big block on the timeline and I need to jump around to find what I'm looking for.

![image](https://user-images.githubusercontent.com/82075/116243227-073f6f80-a767-11eb-8584-a0fe0b28251f.png)

I don't have an open-source video atm,

[2021-04-27 14:38] JonnyBurger commented on #317
This is a very nice idea! Thanks for explaining it!
I totally agree, we should at least put a warning, and actually this technique could also enable other nice DX features! Putting this onto the roadmap with the intent to implement.

[2021-04-27 14:48] JonnyBurger commented on #316
Hey @treyhoover! Sorry you're having this problem.

I could imagine two reasons for it:

1. You are using an outdated SSR template that has not been adjusted for audio rendering yet - are you passing `assetsInfo` to `stitchFramesToVideo`? Check the updated example for SSR: https://www.remotion.dev/docs/ssr/

2. You are using a different, incompatible version of FFMPEG on the server - it looks like

[2021-04-27 14:59] JonnyBurger commented on #318
It sounds hard to do it in a generic way, but we have planned some improvements to the timeline visualization: https://www.remotion.dev/docs/timeline/ The rich timeline is still a bit experimental, but it does a better job at visualizing the content and all the layers will always be visible no matter the cursor position.

If you want to highlight an element in the timeline, you can also wrap it in

[2021-04-27 15:00] #267 closed

[2021-04-27 15:00] #313 closed

[2021-04-27 15:07] sashee commented on #318
Adding a 0-length Sequence sounds like a good idea. I'll try it out and get back to you with the findings!

[2021-04-27 15:08] JonnyBurger commented on #313
There is a bugfix out now with version 2.0.6 of Remotion `npm run upgrade`.

You need to make 1 change to your code: Add the `inputProps` also to your `getCompositions()` call:

[code]

This was poorly documented and the extra `getCompositions()` parameter was not in the example or default template, so I just shipped an update to the template and documented the whole SSR flow much better, so `getC

[2021-04-27 15:10] JonnyBurger commented on #315
This sounds like a Webpack bug to me.
It will bust the cache if you change a .js file in your project, but not if you change a .json file, I assume this is because all files except .json are imported using a "loader" but JSON loading is built in.

I'll try to make a repro case soon and if my suspicion is confirmed, I'll make an issue in the webpack repo.

[2021-04-27 15:12] JonnyBurger commented on #309
I cannot reproduce this issue anymore, it looks like ESBuild has for a moment pushed a broken version and it's been fixed since. Closing but let me know if the issue comes up again!

[2021-04-27 17:10] romannotroman commented on #235
Ran also into this issue. After changing:
`const imgs = images.map((i) => require( "i"));`
to
`const imgs = images.map((i) => require( "../assets/" + i));`
A new error emmerged:

`Module parse failed: Unexpected character '' (1:4)
You may need an appropriate loader to handle this file type, currently no loaders are configured to process this file. See https://webpack.js.org/concepts#loaders`

[2021-04-27 17:36] treyhoover commented on #316
Thanks for the quick response!

I was able to get this working in a small example, so there must be some other issue with my code. I'll keep fiddling with it 😄

[2021-04-27 17:36] #316 closed

[2021-04-28 03:51] natasha-93 opened #320 "Audio issues when using videos with different frame rates"
When using different videos, the audio doesn't fade out as expected. When testing, I found that it faded out some 400 frames after it should have. This could be related to the videos having different frame rates?

When using the same videos, the audio works as expected.

[code]

[2021-04-28 07:13] JonnyBurger commented on #320
Thanks for the report!
I created a repo and indeed something the audio doesn't fade out for me. I'll investigate and provide a bugfix hopefully soon!

[2021-04-28 09:33] sashee commented on #318
It seems like adding multiple sequences even with the same name does not collapse them to a single row on the timeline.

Here's how it looks like:

![image](https://user-images.githubusercontent.com/82075/116381328-167cf680-a815-11eb-9a19-8a2f8d7d8867.png)

And this is the code (the labels is an array of frame numbers when the ticks are shown):

[code]

I think if the sequences could be collapsed

[2021-04-28 11:08] #320 closed

[2021-04-28 11:17] JonnyBurger commented on #320
Fixed in v2.0.7!

[2021-04-28 19:34] #301 closed

[2021-04-28 22:23] #237 closed

[2021-04-29 08:05] CoderNinja123 opened #325 ""Unrecognized option 'buildconf'" When rendering video"
Whenever I try to render a video, I am always getting the following output:

[code]

I don't remember how, but the first time I ran it, it installed pupeteer and actually made my video, but consequently I get the same output. I have installed `ffmpeg` and added it to path. It seems to be that the issue lays in passing some CLI parameter called `buildconf`.

Please do help me out with it.

Command

[2021-04-29 08:06] CoderNinja123 commented on #325
Also note that FFMPEG works all fine when I tried it out with `fluent-ffmpeg` or even did some coversion myself.

[2021-04-29 10:45] #221 closed

[2021-04-29 12:01] JonnyBurger commented on #325
Thanks for reporting this issue! It helps us better handle these FFMPEG versions that don't support the `-buildconf` command.

When #235 is merged, no error will be thrown but a non-dismissable warning will appear.
This version is from 2013 and doesn't have all the features Remotion needs. Audio will not work for example.
I suggest to upgrade to a newer version.

[2021-04-29 12:01] JonnyBurger commented on #325
Thanks for reporting this issue! It helps us better handle these FFMPEG versions that don't support the `-buildconf` command.

When #235 is merged, no error will be thrown but a non-dismissable warning will appear.
This version is from 2013 and doesn't have all the features Remotion needs. Audio will not work for example.
I suggest to upgrade to a newer version.

[2021-04-29 12:03] JonnyBurger commented on #325
Thanks for reporting this issue! It helps us better handle these FFMPEG versions that don't support the `-buildconf` command.

When #235 is merged, no error will be thrown but a non-dismissable warning will appear.
This version is from 2013 and doesn't have all the features Remotion needs. Audio will not work for example.
I suggest to upgrade to a newer version.

[2021-04-29 13:56] #325 closed

[2021-04-29 14:00] Iamshankhadeep commented on #268
fixed in #324

[2021-04-29 14:39] CoderNinja123 commented on #325
So... I have an *outdated* version of FFMPEG? If so, how can I upgrade the version?

P.S. I use Windows, so would `scoop` do the job?

[2021-04-29 14:56] JonnyBurger commented on #325
@CoderNinja123 I don't about Scoop, we link to this guide in our docs: https://github.com/adaptlearning/adapt_authoring/wiki/Installing-FFmpeg

I think if you uninstall your current version and follow this one you should be good to go!

[2021-04-29 15:24] JonnyBurger commented on #133
Progressing well, thanks @Iamshankhadeep for pushing it!

Quick checklist of what we should implement:

- Events: ‘seeked’, ‘error’, ‘pause’, ‘play’
- getCurrentTime()
- should be able to press space to play / pause
- need to check accessibility / keyboard controls
- `loop` property
- `autoPlay` property
- `requestFullscreen?`
- Controls should hide themselves when leaving hover state
- Apply the

[2021-04-29 16:28] JonnyBurger commented on #318
Ah got it @sashee! Yes, the new timeline doesn't work like that anymore.

I have to put this idea in the backlog for now, but exploring it in the future!

[2021-04-30 07:20] CoderNinja123 commented on #325
Oh. Thanks! Now I am able to render the videos.

Another issue I had was that because of `pip`, there were 2 `ffmpeg.exe` files in the path. If anyone else has a similar problem, run `where ffmpeg` and delete the other files.

[2021-04-30 17:50] mikaoelitiana commented on #234
Hi all. I want to give this issue a try

[2021-04-30 17:55] JonnyBurger commented on #234
@mikaoelitiana Thats awesome, thanks for letting us know! 🥳

[2021-04-30 18:41] JonnyBurger opened #327 "Does it work on npm 7?"
As brought up here: https://discord.com/channels/809501355504959528/809501355504959531/837752933629034506

[2021-05-01 09:35] JonnyBurger opened #329 "upgrade docusaurus"
apparently has pretty old dependencies. I saw the new features are cool

[2021-05-01 13:54] #327 closed

[2021-05-01 13:54] #329 closed

[2021-05-04 08:48] JonnyBurger opened #333 "Add Algolia DocSearch"

[2021-05-04 08:50] JonnyBurger opened #334 "Investigate windows / node v14 recursive bug"
Reported by Gully on Discord. At least warrants an investigation.

![image](https://user-images.githubusercontent.com/1629785/116980461-8c2a0c00-acc6-11eb-9113-6328c77d124f.png)

[2021-05-04 09:06] mikaoelitiana commented on #234
@JonnyBurger @sashee for the CLI part, I have been able to handle it. But for the `renderFrames` API, I am not sure to understand what I should add?

[2021-05-04 10:38] sashee commented on #234
@mikaoelitiana , I think that should be the ```startServer``` API.

[2021-05-04 10:41] sashee opened #335 "[Idea] Preserve the video position after a reload"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%240%20Funded-%2300A156.svg" />](https://issuehunt.io/r/JonnyBurger/remotion/issues/335)

I regularly see the hot reload stop working, I suspect if there is a compile error then all later updates are discarded. In these cases I need to do a full browser refresh. This is fast enough, but then the video is reset back to the beg

[2021-05-04 11:40] #250 closed

[2021-05-04 11:40] #268 closed

[2021-05-04 15:26] FelippeChemello commented on #249
@JonnyBurger What do you think about credentials for this TTS services? Should store in .env settings and, when running video and use TTS check if it is set?

[2021-05-04 17:16] JonnyBurger opened #336 "<Stagger> component"
It will render multiple components in sequence, without having to provide both from and durationInFrames prop to Sequence

[2021-05-04 17:17] JonnyBurger opened #337 "if browser can't fetch an audio file it will be duplicated in the editor"
Reported by maxou44 on discord

https://user-images.githubusercontent.com/1629785/117043294-52302880-ad0d-11eb-9205-09d43c8999aa.mp4

[2021-05-04 18:06] JonnyBurger commented on #249
Good question!

We don't currently have support for .env files (but this is a great idea, I will create another issue for this). So the best way for the moment I think is using input props: https://www.remotion.dev/docs/parametrized-rendering#input-props

[2021-05-04 18:11] JonnyBurger opened #338 "environment variables support / .env"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%2450%20Rewarded-%237E24E3.svg" />](https://issuehunt.io/r/JonnyBurger/remotion/issues/338)

Should be able to read environment variables (we can make it so it will only read those with `REMOTION_` prefix) in the browser app. This should be enough to also support `.env` files easily.

---

<details>
<summary>
<b>IssueHunt Sum

[2021-05-04 18:14] JonnyBurger commented on #335
Great idea! Putting this on the roadmap, I think this one can be implemented in just a few line of code, so I see a high chance of this being implemented soon :) I think I prefer localStorage though, as most settings are stored there already.

[2021-05-04 19:48] FelippeChemello commented on #249
Do you see any problem at using 2 different voices? One at preview (SpeechSyntesis) and another during render (Cloud Voice).
I was thinking about it and found some problem at this, because for render I need to download file, however I can't during preview since I haven't access to filesystem

[2021-05-05 01:41] tohagan commented on #249
Cloud Voice audio output can be saved to the cloud file system as a cache audio file or downloaded locally. Audio file name could be a hash of input text and voice params and so only recomputed when text/params change. You can then stream the local or cloud audio file.

[2021-05-05 02:44] tohagan commented on #249
## Swapping Chrome APIs with Cloud APIs

One thing to keep in mind as you plan the roadmap for TTS (and perhaps STT) features is that there are important differences between what you can achieve with [SpeechSynthesis](https://developer.mozilla.org/en-US/docs/Web/API/SpeechSynthesis) and a corresponding cloud service. For simple TTS they could be swapped.  Caching audio files generated from cloud s

[2021-05-06 10:40] JonnyBurger opened #341 "Better loading state for player than Loading.... and allow to customize"

[2021-05-06 10:40] JonnyBurger opened #342 "Keyboard controls for player"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%2440%20Rewarded-%237E24E3.svg" />](https://issuehunt.io/r/JonnyBurger/remotion/issues/342)

---

<details>
<summary>
<b>IssueHunt Summary</b>
</summary>

#### [<img src='https://avatars.githubusercontent.com/u/10515204?v=4' alt='ashikmeerankutty' width=24 height=24> ashikmeerankutty](https://issuehunt.io/u/ashikmeerankutty)

[2021-05-06 10:41] JonnyBurger opened #343 "Validate props of <Player />"

[2021-05-06 10:41] JonnyBurger opened #344 "Customize error UI of `<Player/>`"

[2021-05-06 10:41] JonnyBurger opened #345 "Volume slider for `<Player />`"

[2021-05-06 10:42] JonnyBurger opened #346 "Fix fullscreen icon in `<Player />`"
Currently the same when fullscreen and when it's not

[2021-05-06 10:43] JonnyBurger opened #347 "Double click to fullscreen in `<Player />`"

[2021-05-06 11:36] #133 closed

[2021-05-06 11:36] #218 closed

[2021-05-07 09:17] Salah856 opened #349 "init"

[2021-05-07 09:18] #349 closed

[2021-05-08 06:59] JonnyBurger opened #351 "Player - doesn’t work on iOS 12.5.3"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%2450%20Funded-%2300A156.svg" />](https://issuehunt.io/r/JonnyBurger/remotion/issues/351)

The `<Player>` doesn't show in iOS 12.5.3 - needs to be reproduced and fixed

---

<details>
<summary>
<b>IssueHunt Summary</b>
</summary>

### Backers (Total: $50.00)

- [<img src='https://avatars.githubusercontent.com/u/1629785?v=4' a

[2021-05-08 06:59] JonnyBurger opened #352 "Player - doesn’t work in NextJS"

[2021-05-08 08:44] #338 closed

[2021-05-08 17:16] Iamshankhadeep opened #353 "Player seekbar triggers `toggle()`"
I think that the if (dragging.wasPlaying) clause in the onPointerUp function inside PlayerSeekBar.tsx is being overridden by onSingleClick() in PlayerUI.tsx resulting in playing/pausing being toggled everytime you move the seekbar
Maby create a safe aera around the seekbar that does not trigger toggle()

reported in [discord](https://discord.com/channels/809501355504959528/817306414069710848/84063

[2021-05-09 12:05] #353 closed

[2021-05-09 12:06] JonnyBurger opened #357 "gl-transitions example doesn't work with Remotion 2.0"
https://github.com/JonnyBurger/remotion-gl-transitions

[2021-05-09 20:19] #234 closed

[2021-05-11 06:22] Maxou44 commented on #254
I can help with ffmpeg filters if needed 😉
But I don't have much knowledge of the remotion code base

[2021-05-11 08:19] JonnyBurger opened #364 "Allow <source> elements to be placed inside a <Video> or <Audio> element"
We should rely mostly on browser mechanisms, but it will require some tweaks from our side on the video and audio components to achieve this.

[2021-05-11 08:26] JonnyBurger commented on #254
@Maxou44 If you know how to implement loops with trimming support (start and end marker) and can give an example, it will help the implementation move forward faster for sure 😊

[2021-05-11 08:29] JonnyBurger commented on #333
I applied for access now!

[2021-05-11 09:28] #346 closed

[2021-05-11 10:10] kode-ninja opened #365 "Allow Player to fit parent (resize player to fit container)"
It'll be awesome to be able to resize `@remotion/player` - specifically to fit it's parent size

[2021-05-11 15:16] JonnyBurger commented on #365
@kode-ninja does adding `style={{width: '100%'}}` to the player component work for you?

We plan on documenting this for the final version of the player.

[2021-05-11 16:44] enesozturk opened #366 "FontLoadingError: Failed to check if font is ready"
Hi Jonny, thanks for great library 🙌🏽
I was trying to create an animation and render it. Firstly I rendered the initial Hello World example. That was totally ok. After that I created my animation example. When I try to render it I got the following error. **(FontLoadingError)** Do you have any idea what can cause it? I already deleted all other components in my repo.

[code]

Here is my components

[2021-05-11 18:08] enesozturk commented on #366
Looks like issue is because of the **framer** package. I was using framer for dynamic colors. This is not a good solution but I did not have to use framer and changed it with [color](https://www.npmjs.com/package/color-scheme) for my example project. Closing the issue. ✌🏽

[2021-05-11 18:08] #366 closed, assigned to nobody

[2021-05-11 18:15] Iamshankhadeep commented on #366
@enesozturk  I was trying to look into `framer` code to dig if `Color` does weird things but sad `framer` is not open sourced.

[2021-05-11 18:21] enesozturk commented on #366
Oh thanks for trying help man ✋🏽, I actually did not even noticed if they open sourced or not. 🙂 Just used them several times and creating animations with framer motion is easy. But Framer is out this time 🙂

[2021-05-12 09:52] kode-ninja commented on #365
yes, it works!

[2021-05-13 13:50] kode-ninja opened #368 "Rendered video does not play in Quicktime, Opera or Safari"
Chrome does play the rendered video.

Here's Quicktime's error message:
![image](https://user-images.githubusercontent.com/7857611/118135021-34e51380-b40b-11eb-8d5c-aac7a97cd600.png)

[2021-05-14 10:55] JonnyBurger commented on #365
OK, that's great! 😊

Gonna close this issue, if you find other problems regarding this, feel free to report it!

[2021-05-14 10:55] #365 closed

[2021-05-14 16:35] #345 closed

[2021-05-15 10:01] #335 closed

[2021-05-15 16:30] #232 closed

[2021-05-15 16:57] sheunglaili opened #371 "Remotion asset are stored using path name, making it hard for speech synthesis api"
I was playing with remotion with text-to-speech api recently. I came with with issue that when fetching assets from remote url, the path of the resource are being used as the file name. For example: when I call to `/speech?text=hello world`, remotion store it in file called `/var/folders/23/p6hvrd8s1416bf736mrlqkx80000gn/T/react-motion-graphicstwQAss/speech` which makes it unidentifiable by remoti

[2021-05-15 17:30] JonnyBurger commented on #371
Thanks for the report, this is indeed a bug and a valid idea! Putting it on the roadmap.

[2021-05-15 17:38] #189 closed

[2021-05-16 08:19] sheunglaili commented on #371
I've created a PR for this issue. https://github.com/JonnyBurger/remotion/pull/373

[2021-05-16 14:22] sheunglaili opened #375 "When using server-side rendering, assets download map are preserved across different requests."
When using server-side rendering, the download map for caching downloaded asset are preserved across requests. This lead to a bug that when calling render endpoint again with same asset url, Remotion thought that the asset are already downloaded with previous render. However, we are using different destination to store our remote assets in each render causing `No such files / directory` error when

[2021-05-18 09:22] JonnyBurger opened #377 "Audio doesn't play in preview unless you switch tab."
Reported by antoBit on Discord, he discovered a problem where the audio gets shifted by a few seconds if you use Sequences in a specific way. I've obtained the source files and need to debug

[2021-05-18 14:34] #236 closed

[2021-05-18 14:48] #371 closed

[2021-05-18 14:48] #375 closed

[2021-05-18 21:05] #368 closed

[2021-05-19 06:07] #333 closed

[2021-05-19 12:33] sashee opened #381 "[Idea] Add paused support for video"
I record screencasts and I usually want them to play a bit, then pause so that I can explain a concept, then play a bit more, then pause again. I made a Webpack loader that splits an input video at keyframes and also outputs still images ([ref](https://github.com/sashee/video-loader)). This works great, but I'm looking for a more Remotion-friendly solution.

With the support for changing the speed

[2021-05-19 14:54] natasha-93 opened #384 "No such file or directory - possible race condition?"
We're seeing an intermittent error where ffprobe appears to be attempting to process a file that hasn't finished downloading yet:

[code]

Rerunning the build usually resolves the issue (this seems to be happening about 20% of the time).

[2021-05-19 16:15] Iamshankhadeep commented on #384
what is the version of `remotion` you are using?

[2021-05-19 16:22] natasha-93 commented on #384
Currently running 2.1.2

[2021-05-19 16:26] Iamshankhadeep commented on #384
okay, can you do one thing? can you upload the code to Github so that we can debug.

[2021-05-19 19:19] JonnyBurger commented on #384
I think I found out what might be causing it:

We are using [`stream.pipeline`](https://nodejs.org/api/stream.html#stream_stream_pipeline_streams_callback) from Node.JS and waiting for it's callback. The changelog of Node.JS says:

`14.0.0 - The pipeline(..., cb) will wait for the 'close' event before invoking the callback. The implementation tries to detect legacy streams and only apply this beha

[2021-05-19 20:03] JonnyBurger commented on #381
Thanks for continuing to bring these awesome ideas!

I've drafted a concept of a `<Freeze />` component. You can use it in your project:

[code]

You can use it like this:

[code]

It's not yet tested and I just wrote this, but it should work.
What do you think about this? We are considering to add it to the core library.

[2021-05-19 20:35] natasha-93 commented on #384
Node v15.5.1 so that's not it unfortunately.

[2021-05-19 20:43] #343 closed

[2021-05-20 08:00] JonnyBurger commented on #384
@natasha-93 Ah, bummer! I am reopening it, but can you nonetheless try out v2.1.4 and see if it's fixed? Since we rewrote the whole statement, there might still be a chance.

[2021-05-20 11:29] sashee commented on #381
Yes, that would be a more generic solution that would support more use-cases. I haven't tried it yet, but two things came into my mind:

* As the ```<Video>``` element is using a native HTML5 video in development mode, wouldn't this ```<Freeze>``` component interfere with the player?
* And why stop here?:) Instead of a freeze, you could add a ```<Loop>``` with a start and an end frame and play the

[2021-05-20 17:23] natasha-93 commented on #384
v2.1.4 seems to have fixed it - thanks!

[2021-05-20 17:23] #384 closed

[2021-05-20 22:00] treyhoover opened #387 "H.265 videos aren't rendering (white screen)"
ffmpeg appears to be setup to support h.265 encodings, but they're just rendering as solid white backgrounds:

[code]

I'm just seeing this behavior on videos from my iPhone 12. As a workaround, changing my camera settings to use the "most compatible" format i.e. h264 seems to resolve the white screen issue, but I'm wondering if this is a problem with my instance of ffmpeg or remotion itself.

[2021-05-21 17:12] Iamshankhadeep commented on #387
@treyhoover is h.265 videos working on the preview? which os are you using?

[2021-05-21 17:21] treyhoover commented on #387
Good question. They don't appear to be working on preview either. I'm on macOS Big Sur 11.0.1.

[2021-05-21 18:10] Iamshankhadeep commented on #387
@treyhoover I see so chrome does not have HEVC (h.265) support yet, and we use chrome or chromium for rendering that's why you are getting blank video. best is to use h.264 or webm videos

[2021-05-22 11:51] JonnyBurger commented on #377
The problem reported was actually that the audio does not play unless you switch the tab in Chrome. I'll investigate this soon with the repro antoBit sent me

[2021-05-22 11:59] JonnyBurger commented on #381
@sashee

- You are probably right, since the video is still playing, it might cause the video to play but then jump back to the frame, which is not very optimal. I wrote an optimized version, now the video should think it's paused:

[code]

- I love the idea! 😍  we have an issue for the `loop` #254 property but I think a `<Loop>` component is even better because you can use it for anything. I'll r

[2021-05-22 12:01] JonnyBurger commented on #254
as mentioned in #381 it would actually be cooler to have a `<Loop>` high order component so you can loop anything, not just audio and video! It's probably easier to implement and more versatile. So I am now leaning more towards this.

[2021-05-22 12:29] JonnyBurger commented on #26
I am closing this issue because I think there is not a clear path forward and there has been little activity since the issue has opened.

It's unclear what the feature would actually do - similar to how iMovie. Premiere etc. don't support livestreaming either because they are linear editors where the video gets created on a timeline and then exported.

Livestreaming tools like OBS work fundamental

[2021-05-22 12:29] #26 closed

[2021-05-22 12:33] JonnyBurger commented on #387
Indeed, Chrome doesn't support playing H265 videos because it doesn't include the codec.

Our support for H265 concerns encoding, so you can output a video in HEVC format.
Importing it however, doesn't work and we cannot do much about it because it's a browser constraint.

So I'll close the issue, however still with an open ear if you think there's something we can do on our side about this. I wou

[2021-05-22 12:33] #387 closed

[2021-05-23 11:53] JonnyBurger commented on #351
Investigated it a bit and it looks like the problem is missing `EventTarget` global.
This construct has actually been troublesome in other places as well, we can probably fix this by switching to another lightweight event emitter construct.

[2021-05-24 08:18] JonnyBurger opened #392 "Plain JS starter template"
A plain JS starter template for people who don't like using Typescript. In my view it should just be a separate repository marked as template so Github shows the tag "Use this template".

[2021-05-25 08:04] JonnyBurger opened #395 "Maximum callstack size exceeded"
Hi all. I tried to render a very long video today (8 hours), and when it began encoding, there was this following error:
[code]
I tried looking through the stack trace to see where the call stack could have been maxed out, but currently don't understand. Was wondering if anyone else had run into this issue? Would it be simply because the video is too long? Thank you!

[2021-05-25 19:13] JonnyBurger opened #396 "template repository for remotion player"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%24100%20Rewarded-%237E24E3.svg" />](https://issuehunt.io/r/JonnyBurger/remotion/issues/396)

CRA or Next.JS (with SSR)

---

<details>
<summary>
<b>IssueHunt Summary</b>
</summary>

#### [<img src='https://avatars.githubusercontent.com/u/47717492?v=4' alt='sohamsshah' width=24 height=24> sohamsshah](https://issuehunt.io/u/so

[2021-05-25 21:14] #235 closed

[2021-05-26 18:58] #395 closed

[2021-05-26 23:04] TiborUdvari opened #399 "Overriding browser time at video render"
I'm using `framer-motion` for animations. I'd like to use remotion to be able to render some of the components as documentation. For timing they are using a library called `framesync` which uses the `performance` API to keep track of timing. This is the case for multiple animation libraries.

Instead of rewriting whole animation systems, I'm wondering if there is a way to spoof a browser API like

[2021-05-27 08:22] TiborUdvari commented on #399
I'm looking into this as a possible solution as well. Version 7 doesn't build with remotion config, version 6 is ok. https://github.com/sinonjs/fake-timers

[2021-05-27 10:00] TiborUdvari commented on #399
Trying to do something like this, not working though.

[code]

[2021-05-27 13:56] TiborUdvari commented on #399
I managed to get it working, here are the steps if somebody wants to do something similar. Very hacky for now, doesn't work with concurrency and breaks the preview.

In `index.js` start the fake timer which overrides all time related features. It has to be started before anything, like `framer` etc. Notice the hacky hoisting as well.

[code]

Then in the `Video.tsx`

[code]

This allows me to have

[2021-05-28 07:39] JonnyBurger opened #401 "Three Fiber - Investigate scaling bug"
Scaling a <Canvas> leads to problems. Before we announce @remotion/three we should fix this

[2021-05-28 08:21] larskarbo commented on #352
The player works in NextJS, but not the audio.

Only occurs when building and serving. Dev server is fine.

[2021-05-28 08:38] JonnyBurger commented on #352
@larskarbo

Hi Lars!
I'll investigate it. Can you give me some info (if necessary over DM) what audio you are trying to import and from where? With which tool are you serving the static site?

We've just found that some static hosts don't support the `Range` HTTP header, making it impossible to play audio not from the start: #402 therefore I am asking about this since it potentially can be a cause

[2021-05-28 08:50] larskarbo commented on #352
Thanks, of course!

We're building a simple video editor for Personate. I made a Remotion video quickly here: https://personate.ai/studio/0fac6ojc6ljky.

The images work great.

Audio doesn't work. The audios are a bunch of these: https://server.personate.ai/tempaudio/qz8fh18pdfe1zds8u51y.mp3 (voice) and https://server.personate.ai/bensound-creativeminds.mp3 (background music track).

All the audi

[2021-05-28 10:07] JonnyBurger commented on #352
@larskarbo Wow so cool!
I've already figured out the issue but happy to chat if you want to tell more!

The problem is that Next.JS sets process.env.NODE_ENV === 'production', so Remotion thinks it's in rendering mode. Will probably land a fix later today!

[2021-05-28 10:19] larskarbo commented on #352
Awesome! Appreciate it 🙌

[2021-05-28 16:08] n3oney commented on #401
Whoa, I was literally just running a build using three fiber... what a coincidence.

[2021-05-28 16:16] JonnyBurger commented on #377
Issue is described here: Nothing we can do on our side, but we catch the error and point to a support document: https://www.remotion.dev/docs/non-seekable-media

[2021-05-28 16:16] #377 closed

[2021-05-28 16:22] JonnyBurger commented on #351
We added an event target polyfill in 2.1.2, but apparently it's still broken because the issue was filed afterwards.. will test further when having access to a 12.5.3 simulator

[2021-05-28 16:34] JonnyBurger commented on #399
@TiborUdvari Thanks a lot for posting a problem many people wonder about and also posting a solution! We are interested as well to support Framer Motion through a bridge library if it's feasible, so I am going to reopen it.

It's really cool you've managed to build a solution, but does it also work if you pause the video and scrub back in the timeline?

[2021-05-28 16:36] JonnyBurger commented on #399
Ok, I see your comment now, apparently not! Still thanks for opening an issue with Framer Motion about it as well, very cool!

[2021-05-29 09:41] #352 closed

[2021-05-29 12:14] JonnyBurger opened #404 "Passing non-integer duration to `config.durationInFrames` causes hard to debug issue"
"Invalid array length"

[2021-05-29 14:32] 3tlam opened #405 "timeline preview images missing"
Hi Jonny!
Thanks so much for remotion!

I'm new to react and so this might be a stupid question / problem, but I'm out of my depth right now.
Everything works locally, but once I push it to glitch.me or a custom server running pm2 + nginx the timeline images are no longer displayed:
should be like this:
![image](https://user-images.githubusercontent.com/6067365/120074074-6f9dab80-c09b-11eb-9fbf-6a

[2021-05-29 19:15] JonnyBurger opened #406 "Should warn if multiple versions of Remotion are on the same page"
Now with the player, this is a real possibility and can lead to real problems

[2021-05-31 07:53] JonnyBurger opened #408 "`<Video />` is slower in player than in preview"
reported by antoBit on Discord, need to debug if there is a bottleneck

[2021-05-31 10:53] larskarbo opened #409 "Preload audio in player"
Is there any way to preload the audio in the player?

Right now the user misses the first second of audio when playing the video

[2021-06-01 09:38] JonnyBurger commented on #409
I guess the conventional APIs of the Web for Preloading apply:

- Add the `preload` attribute to the <Audio> tag, it will be passed through
- If you want to be sure that the user will not miss a beat, load it outside the player, and only mount the player once the audio has been loaded, or block playback for example by not showing any controls

[2021-06-01 13:35] JonnyBurger commented on #405
Hey Malte!

Sorry for the late response, I kind of lost track of the issues!

My suspicion is that when proxying, you are serving the preview on a different domain and the settings get reset since Remotion stores them in Local Storage.

The setting for showing the thumnail images is "Rich Timeline" and is by **default off**. That means you should be able to enable it again by toggling the rich tim

[2021-06-01 13:35] JonnyBurger commented on #408
Is now working properly for the reporter, no further action necessary 🎉

[2021-06-01 13:35] #408 closed

[2021-06-01 13:48] JonnyBurger opened #413 "Support yuva444p10le as valid pixel format"
_Originally posted by @wcandillon in https://github.com/JonnyBurger/remotion/issues/410#issuecomment-852138819_

[2021-06-01 14:00] JonnyBurger opened #414 "Light theme for code snippets looks not good"
![image](https://user-images.githubusercontent.com/1629785/120336193-678b7900-c2f2-11eb-9565-80c40ac28199.png)

Maybe we chose a weird theme? Bad contrast and weird theme, we might want to switch it out

[2021-06-01 14:31] JonnyBurger commented on #414
Indeed: https://github.com/FormidableLabs/prism-react-renderer/pull/100#issuecomment-846187872

Fixed by upgrading react-prism-renderer

[2021-06-01 14:49] JonnyBurger commented on #401
Will be addressed by #412

[2021-06-01 15:07] #401 closed

[2021-06-01 15:19] #406 closed

[2021-06-02 13:37] JonnyBurger opened #418 "Disable rule "Missing return type on function (@typescript-eslint/explicit-module-boundary-types)"?"
Maybe overkill for people to get started, the inference is most of the time pretty good

[2021-06-02 16:12] #413 closed

[2021-06-02 18:02] 3tlam commented on #405
Hey Jonny

no worries! Thanks for the answer anyway!
And for my stupidity of not being able to switch die timeline... works fine now ;)

Any idea how get by the proxy issue?
Is there a config option that I might've missed?

Thanks!

[2021-06-03 19:56] JonnyBurger opened #421 "Audio wave visualization"
There are two types of audio visualization, with bars and with wave, and we only support 1 right now. We should add the wave style for completeness too.

[2021-06-03 21:41] CryogenicPlanet commented on #352
Hey I can't seem to even get the example for the player from the docs to run on `next` using the alpha packages

Here is the link to the codesanbox https://codesandbox.io/s/suspicious-mclean-m2oon?file=/pages/index.tsx
https://m2oon.sse.codesandbox.io/

[code]

[2021-06-03 23:21] FelippeChemello commented on #249
I had working on it. Here is the example https://github.com/FelippeChemello/Remotion-TTS-Example.
At IssueHunt asks me for making a PR, however I think that it wasn't the purpose of it Issue. How can I proceed @JonnyBurger ?

[2021-06-04 10:15] JonnyBurger opened #422 "Environment variables get set too late"
Although you can read them from a component, it cannot be read from the top-level.

[2021-06-04 10:28] JonnyBurger commented on #249
@FelippeChemello Wow thank you! This looks super awesome!
I can only pay out if you submit a PR apparently, can you submit a bogus PR?

I will close it but pay it out immediately 🤝

Plus, it would be cool, if I could become a collaborator of the repository, so that should it be necessary, I can adjust the code, upgrade dependencies or change the README.
Our goal is to provide a streamlined set of

[2021-06-04 10:31] JonnyBurger commented on #405
@3tlam I don't quite understand the proxy issue you are having, sorry. The images gets reloaded more often than when running via `npm start`?

[2021-06-04 13:02] JonnyBurger commented on #352
@CryogenicPlanet You hit an internal React error because of an error mismatch. I upgraded both `react` and `react-dom` to 17.0.2 and the error went away!

[2021-06-04 21:15] abdielou opened #425 "Cannot render mp4. ffmpeg breaks when containerized"
Hi

I have a custom Docker container and server. Long story short, jpeg frames are generated correctly but `ffmpeg` breaks. If I run the same `ffmpeg` command directly in the container's console, the video is generated with no issues.

[code]

[2021-06-05 09:51] osamasayed opened #426 "error An unexpected error occurred: "https://registry.yarnpkg.com/create-remotion: Not found""
When trying to install remotion through yarn, it shows this error, I am using MacOs Big Sur v11.4:

[code]

And here are the logs inside yarn-error.log:

[code]

[2021-06-05 09:53] JonnyBurger commented on #426
We hopefully never put this command in our documentation, it should be `yarn create video` :)

[2021-06-05 09:54] osamasayed commented on #426
Oh my bad sorrrry :D

[2021-06-05 09:55] JonnyBurger commented on #426
No prob! 👍

[2021-06-05 09:55] #426 closed

[2021-06-05 09:56] JonnyBurger commented on #425
Hi Abdiel!

I suspect it is because the docker container is running out of memory. Are you running Docker Desktop by any chance? Then it is easy to increase the memory (https://docs.docker.com/docker-for-mac/). For other ways of running Docker I don't have a handy tutorial ready right now.

[2021-06-05 18:05] JonnyBurger opened #428 "—props doesn’t work in Preview Mode"
As reported by @saftipierreminiggio on Discord

[2021-06-05 18:15] #249 closed

[2021-06-05 18:16] #351 closed

[2021-06-05 18:18] JonnyBurger opened #429 "Player `timeupdate` event"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%2460%20Rewarded-%237E24E3.svg" />](https://issuehunt.io/r/JonnyBurger/remotion/issues/429)

Analogue to the HTML5 event, occasionally send events as the video progresses.

---

<details>
<summary>
<b>IssueHunt Summary</b>
</summary>

#### [<img src='https://avatars.githubusercontent.com/u/10515204?v=4' alt='ashikmeerankutty'

[2021-06-06 10:20] JonnyBurger commented on #409
I hope the answer is satisfactory! Closing the issue, if there are further questions, you know what to do.

[2021-06-06 10:20] #409 closed

[2021-06-06 11:04] JonnyBurger commented on #211
Could not reproduce in newest versions anymore 🎉

[2021-06-06 11:04] #211 closed

[2021-06-06 12:20] JonnyBurger commented on #283
PR made! https://github.com/webpack/webpack-dev-middleware/pull/876

[2021-06-06 12:20] #283 closed

[2021-06-06 16:12] #428 closed

[2021-06-06 16:13] #422 closed

[2021-06-06 16:14] #418 closed

[2021-06-07 13:37] abdielou commented on #425
@JonnyBurger I'll try increasing memory, but the command does runs fine if I execute it from command line inside the same containr.

[2021-06-07 14:51] abdielou commented on #425
@JonnyBurger Seems like it's not a memory issue. I increased to 8 Gigs and still the same error. Also, the error is immediate.

[2021-06-07 15:42] abdielou commented on #425
@JonnyBurger It was a memory issue. Thank you.

[2021-06-07 15:42] #425 closed

[2021-06-08 09:09] JonnyBurger commented on #425
Ok, glad you figured it out! 🙌
It makes sense that it works on the  normal CLI but not inside Docker, because Docker limits the memory, not necessarily to  the amount that is normally available on the system.

[2021-06-10 06:54] sohamsshah commented on #396
Hey can I work on this? I just came across this project and found it quite interesting to contribute to!

[2021-06-10 07:06] Iamshankhadeep commented on #396
@sohamsshah definately go ahead and if you face any issue just tag Jonny or me on discord or github.

[2021-06-11 00:29] tomByrer commented on #421
Looking for a lib that does this?  I have bookmarks from BBC & others...

[2021-06-11 00:55] tomByrer opened #437 "+ reduced-motion"
Reasons for `prefers-reduced-motion: reduce` compatibility
* good a11y web citizenship
  * I have a minor concussion, & flashy animation sometimes makes me close the tab, & I know others are worse than me.
* rendered videos likely smaller filesize
  * saves $$ in some situations
  * helpful for overview when building
  * my use case: educational videos for those likely to have poor or no internet

[2021-06-11 09:40] samdoeswork opened #438 "SASS as default"
Hi,
I really like Remotion. Thank you for this project !

I actually learned React just to use this library. (Coming from mostly Angular, some Vue/Svelte).

I tried following the docs to extend the webpack config to support SASS - but ended up with a ton of issues related to dependency version conflicts (I'm quite familiar with webpack etc.)

Is there a reason not to support SASS by default given

[2021-06-11 10:25] JonnyBurger commented on #437
Good idea!
I suppose this should only apply to the `<Player />` component? Otherwise it takes the preferred setting of the video developer rather than the viewer.

You can definitely already detect the reduce motion preference in JS, we could add a hook to make it easier by default.

But I also believe Remotion shouldn't tamper with the video if this setting is on, and we should delegate the respo

[2021-06-11 12:38] JonnyBurger commented on #438
Hi @samdoeswork! Thanks a lot for the kind words!

Sorry for the trouble with the docs for getting SASS / SCSS to work. I have just tried it myself and opened a PR to improve the docs: #440

We try to keep Remotion as modular as possible to keep it lightweight and reduce our maintenance burden. While I agree SASS is very popular, it also competes with LESS and CSS-in-JS solutions, so we don't want

[2021-06-11 12:46] #438 closed

[2021-06-11 13:37] tomByrer commented on #437
Thanks for the feedback; I appreciate your interest.

Well I do have 2 use-cases for rendered video also having 'reduced motion':
* an optional a11y video (helps agencies with compliance)
* smaller filesize but keeping higher resolutions (essentially video non-animated slideshow)

Yes "developer to implement a version of reduced motion" is one approach.  But I'm brainstorming a more lazy way to si

[2021-06-11 14:18] JonnyBurger commented on #421
@tomByrer The plan is to use the existing code in @remotion/media-utils and adapt it so that it also works with the wave visualization style rather than just the bar visualization style which we already have. I think no help is necessary, but I havent' started yet, sooo I'll keep this in mind!

[2021-06-11 15:26] JonnyBurger commented on #396
@sohamsshah Definitely!

To quickly elaborate the idea a bit further, the idea is to create a minimal template of a Next.JS project with the Remotion Player pre-installed.

If possible, we even add server-side rendering using our Node.JS APIs but I am not sure if it's even possible, so this can be an additional step later.

[2021-06-11 16:06] sohamsshah commented on #396
Thanks Man. Is it okay if I take a bit time to solve this issue (4-5 days) ? Actually I am not pro with NextJS, so gotta explore that; but surely I will keep you posted with updates on this task.

Also, can you also elaborate upon Node.js APIs? Quite interested on that!

[2021-06-11 17:23] JonnyBurger commented on #396
I also added a bounty so that if you work on it doesn't have to be for free 🙌🏼

[2021-06-11 17:24] sohamsshah commented on #396
Wow! This is super impressive. Actually I had a nice OSS project Idea that uses Remotion, and was exactly looking for something like this!

[2021-06-11 17:25] sohamsshah commented on #396
This is a real great motivation man. Appreciate it and thanks. Will be working on this :)

[2021-06-12 11:52] JonnyBurger opened #442 "Debug excessive memory consumption during stitching"
While rendering a 8 hour video:

[2021-06-12 16:48] ahgsql opened #445 "Hot Reloading For Js or Jsx Files"
Hi, when working with JS or JSX components, hot reloading is not working.
As soon as i chaned extension to tsx its working again.
Hot reloader should watch jsx iles also, please implement this.

[2021-06-12 22:52] pierreminiggio opened #446 "Line between shadow and element background shows on the preview"
Reproduced in versions 2.1.7 & in 2.1.9 :

A "gap" between the background and the box-shadow is present on the preview (it shoudn't be), and absent from the render (as it should be).

Preview :
![image](https://user-images.githubusercontent.com/35456349/121790578-1c6e4180-cbe1-11eb-8da2-5a082c2b8b00.png)

Render :
![image](https://user-images.githubusercontent.com/35456349/121790583-2132f580-cbe1-

[2021-06-13 04:14] tomByrer commented on #445
`tsconfig.json`
[code]
 https://www.typescriptlang.org/tsconfig#compilerOptions

 Does that work for you?

[2021-06-13 10:10] JonnyBurger opened #447 "Add twoslash to docs"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%24162%20Rewarded-%237E24E3.svg" />](https://issuehunt.io/r/JonnyBurger/remotion/issues/447)

This could be very cool for the docs

https://www.npmjs.com/package/docusaurus-preset-shiki-twoslash

---

<details>
<summary>
<b>IssueHunt Summary</b>
</summary>

#### [<img src='https://avatars.githubusercontent.com/u/17830687?v=4'

[2021-06-13 12:32] frencojobs opened #449 "How to use Remotion with TailwindCSS?"
Tailwind was mentioned in the Remotion intro video but I couldn't find an example or any mention in the documentation on how to use Remotion with Tailwind properly.

### What I've Tried So Far

Obviously, attempting to use Tailwind just by installing Tailwind and importing the CSS file won't work. So I tried to include PostCSS in the Webpack config and get it to work but *only with an angle*.

Aft

[2021-06-13 14:01] ahgsql commented on #445
nope, its not worked.

[2021-06-13 14:06] #445 closed

[2021-06-13 14:09] JonnyBurger commented on #445
Thanks for the report! I think I found a fix, can you try v2.1.10? Sorry for the missing feature!

[2021-06-13 14:21] JonnyBurger commented on #446
Hey Pierre!

Although I am able to reproduce it from your repo, this behavior including it's quirks is entirely controlled by the browser engine. Probably it occurs because the preview window is not at 1:1 scale (unless you set the dropdown from "Fit" to "100%").

Unfortunately these browser quirks also apply to Remotion automatically and there is nothing we can do about it. So I have to close it

[2021-06-13 14:21] #446 closed

[2021-06-13 14:32] ahgsql commented on #445
updated and working like charm Jonny, Thx!

[2021-06-13 14:47] pierreminiggio commented on #446
No worry, it doesn't bother me. I just though at first that the graphical issue was me sucking at CSS (I still suck at CSS though). :D

[2021-06-13 15:01] JonnyBurger commented on #449
Hey Frenco! Thanks a lot for raising this issue and explaining everything thoroughly - indeed we have not documented it and it's not necessarily super straightforward.

We have now added instructions and example configuration on how to add TailwindCSS to Remotion.
In the longterm we want to have a template for it as well, but for it we probably want to rewrite the whole Hello World to use Tailwind

[2021-06-13 15:01] #449 closed

[2021-06-14 08:24] JonnyBurger opened #451 "Mention remotion-lottie on website"
https://github.com/ahgsql/remotion-lottie

and tweet about it

[2021-06-14 08:39] mikaoelitiana commented on #364
Hello @JonnyBurger ,

I am interested to work on this one. So to be clear, we want to be able to do something like below?

[code]

[2021-06-14 09:38] samdoeswork opened #452 "CSS animations janky with concurrent rendering. (Proposed solution: parallel rendering by Sequence)"
Hi,
When rendering with parallelism enabled, I get janky results. The cause of this I believe is CSS animations.
I think when CSS animations are used - it's not precisely consistent between the different threads.
Rendering with --concurrency=1 does solve this, but obviously runs 8x slower.

Possible solution:
Perhaps we could have a flag which renders the _sequences_ in parallel, instead of assign

[2021-06-14 10:31] JonnyBurger opened #453 "`example` package is broken"
Probably broke because of the latest change to the webpack config where we added fast refresh

[2021-06-14 10:37] JonnyBurger opened #454 "Core API and Techniques should not collapse by default"
In docs sidebar. It's configurable actually

[2021-06-14 13:02] JonnyBurger opened #455 "Load local fonts"
Add support for `url('./myfont.ttf')`

[2021-06-15 07:25] JonnyBurger commented on #364
@mikaoelitiana

Hi Mika,

thanks a lot for wanting to work on it! Yes you are correct, this is exactly the idea. You probably need to allow the video component to pass some children, and allow to not pass the `src` prop directly. I think there is a `registerVideo` call somewhere which also requires the source, so maybe you need to figure out programmatically for which `src` the browser has decided

[2021-06-15 07:30] JonnyBurger commented on #437
@tomByrer

I can't quite visualize in my head how it would work. Is there a complicated algorithm to determine the essential frames? How can it be generic for it to work on all cases?

I am very happy to see a demo though, and to then understand it better.

[2021-06-15 08:41] sashee opened #457 "Error reporting in getVideoMetadata"
I tried get the length of an mp4 video using the ```getVideoMetadata``` function and the render process threw an error. It took me a while to realize my mistake.

The problem was that the error had no indication what went wrong, all I saw was that the ```getCompositions``` call failed. After a bit of investigation, I could see that the call is rejected with [ev.error](https://github.com/remotion-d

[2021-06-15 09:28] #160 closed

[2021-06-15 09:28] #451 closed

[2021-06-15 09:28] #452 closed

[2021-06-15 09:32] JonnyBurger commented on #452
Hi @samdoeswork!

Thanks a lot for bringing it up. Questions about janky rendering or flickering come up from time to time, so I thought it would be a good time to document it properly.

In the new document: https://www.remotion.dev/docs/flickering I try to explain why the issue is happening, the solution in general, and a possible workaround for CSS animations (https://www.remotion.dev/docs/third

[2021-06-15 10:00] JonnyBurger commented on #454
Fixed by #458

[2021-06-15 10:00] #454 closed

[2021-06-15 10:06] JonnyBurger commented on #457
Wow, thanks a lot for digging this up! 🙌

I initiated a PR #459 to fix it, will do some testing beforehand to make sure it's all good and then ship it!

[2021-06-15 12:24] #457 closed

[2021-06-15 12:45] #453 closed

[2021-06-15 12:49] #455 closed

[2021-06-15 22:39] tomByrer commented on #437
I'm thinking it won't be possible.  Hard to know if where the important frame is; due to sometimes said frame animates in, sometimes not.  Would have to be part of the code to what frame to tag.

I see similar concerns with time-tagging in [TOC](https://github.com/remotion-dev/remotion/discussions/225), though a chapter start-time may have an intro, but with reduced-motion you want minimal to no i

[2021-06-17 05:12] frencojobs commented on #447
While working on this, I've found out that there are certain things that need to be fixed before we add twoslash to the documentation. For example, implicit `React` imports in `tsx` and `jsx` code blocks, `jsx` blocks not being highlighted properly, etc. I've already opened a bunch of issues on the twoslash repo. Before then, this feature is probably blocked.

I've also submitted a PR (#465) that

[2021-06-17 11:29] JonnyBurger opened #466 "Idea: See sequence time in Timeline"
![image](https://user-images.githubusercontent.com/1629785/122388351-188b4800-cf70-11eb-8dfa-b16933539685.png)

[2021-06-18 11:37] JonnyBurger commented on #447
Oh ok, thanks a lot for investigating it! That means JSX is not well supported yet then?

No problem, let's integrate it when it's stable.
In the meanwhile, your other PR was merged 🤝

[2021-06-18 12:57] ahgsql commented on #466
#468

[2021-06-18 21:45] ahgsql opened #470 "Feat: useSequenceConfig hook"
Similar to useVideoConfig, we need a hook that retrives **from** and **durationInFrames** props from sequence config if component inside a Sequence

[2021-06-19 09:05] JonnyBurger commented on #470
The `durationInFrames` of a sequence you can retrieve with

[code]

because Sequence overrides the video config context.

What kind of usecase do you have for knowing the `from` value of the sequence? In my view, the purpose of the <Sequence> is that you can shift around the content in time without it changing. If the sequence depends on `from`, it's not guaranteed anymore.

For development, there

[2021-06-19 21:37] JonnyBurger opened #472 "Rendering fails in plain JS project if no `remotion.config.js` exists"
It should work without the config file, it should be optional.
Let's also test if the same bug occurs with .tsx file.

[2021-06-20 06:31] sashee commented on #381
@JonnyBurger , the ```Freeze``` component works great! I had time to experiment with it and it renders a paused video. Thanks!

[2021-06-22 08:26] #472 closed

[2021-06-22 17:20] JonnyBurger commented on #466
Fixed by #468

[2021-06-22 17:20] #466 closed

[2021-06-23 08:16] JonnyBurger opened #477 "—sequence CLI flag is confusing"
--frames=0 renders a video

--frames=0 --sequence out.mp4 returns "Pass another argument". It parses as {sequence: "out.mp4"}.

[2021-06-23 10:24] JonnyBurger commented on #470
Just FYI, I'll close this soon unless you'll disagree with what I wrote above.

[2021-06-23 10:26] JonnyBurger commented on #405
Just as an FYI, Unless I get a response, I'll close this soon!

[2021-06-23 10:28] JonnyBurger commented on #41
All Remotion videos are automatically wrapped in <Suspense>, therefore you should be able to use it without problems. I'll close this soon unless someone wants to bring up a suggestion what we should do.

[2021-06-23 16:01] brandonpearcy opened #479 "Memory leak"
We just started using Remotion in server mode (e.g. via server.tsx in a Google Cloud Run instance), and noticed that it leaks memory on every render task.

The two peaks in the chart below show out-of-memory crashes (the memory cap is 4 GB). The third plateau shows that we almost crashed a third time, but the render tasks stop. Eventually the instance was cleaned up, so the data ends. Not sure if

[2021-06-23 16:24] frencojobs commented on #447
Hi @JonnyBurger, let me work on this. I've been keeping myself a tad active on the twoslash repo and have pointed bugs to and fixed, to work best with current docs.

[2021-06-23 16:51] Iamshankhadeep commented on #447
@frencojobs I am assigning you this issue. All the best :fire:

[2021-06-23 18:58] ahgsql commented on #470
Right now i did not actually remember what was my needs. But yeah durationInframes is ready. I can open new issue when i remembered why i need from attribute

[2021-06-23 20:18] JonnyBurger commented on #479
Thanks for filing the issue! Together with #479, I believe there is indeed an issue, and I'll investigate it later this week.

Will keep you updated here.

[2021-06-23 21:18] brandonpearcy commented on #479
I *think* you meant to link to #442 , but just guessing!

[2021-06-24 07:11] JonnyBurger commented on #479
Yes you are right! Sorry and thanks for linking it now.
Maybe it's not the same since you are stitching it together.

I just tried a memory profile (used the following script if you want to compare: https://gist.github.com/JonnyBurger/1b51dd3513ae311e24cd0fa4f90580b0 - it's not necessary to bundle in every loop, but I tried to see if that would cause a problem)

and after 100 iterations, the memor

[2021-06-24 09:41] #405 closed

[2021-06-24 12:33] JonnyBurger commented on #470
Alright, yes always feel free! 🙌  thanks nonetheless for raising the issue!

[2021-06-24 12:33] #470 closed

[2021-06-24 17:03] brandonpearcy commented on #479
Thanks for the suggestions. I did a little experimentation, and was able to quickly narrow down where the memory leak is. I don't know the exact cause of it, but I'd say the memory leak is in `getCompositions`.

Is it possible that `getCompositions` is spinning up a new browser instance on each render task without cleaning up the old ones?

✅ We are bundling once as part of our deployment process,

[2021-06-24 17:55] JonnyBurger commented on #479
Yes you are right! Thanks for tracking that down 🙌

I merged a fix and released a new version: `v2.1.12`. Now the browser gets closed after calling getCompositions().

By the way, yes it's sensible to not call it at all, or at least don't call it more than once (same with `bundle()`). It'll work just as fine!

[2021-06-24 17:55] #479 closed

[2021-06-29 07:37] sohamsshah opened #483 "Add Github Templates to the repository"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%2420%20Rewarded-%237E24E3.svg" />](https://issuehunt.io/r/JonnyBurger/remotion/issues/483)

Github Issue Templates are quite useful for better communication of the users, developers and the community to report bugs, request features or share views to the community.

We can have 4 issue templates.
- Bug Report
- Feature Reque

[2021-06-30 18:15] #447 closed

[2021-06-30 20:02] arthurdenner commented on #317
@JonnyBurger, I spent many hours investigating this issue today and I have some notes:

It looks like browsers have a Promise-based way to notify when fonts are ready: [`document.fonts.ready`](https://developer.mozilla.org/en-US/docs/Web/API/Document/fonts).

<details><summary>Demo (wait until the end)</summary>

https://user-images.githubusercontent.com/13774309/124020618-ca079000-d9ea-11eb-9cd8-

[2021-07-02 09:43] JonnyBurger commented on #317
Thanks a lot for digging into this! 😍  that looks awesome!

I have an idea what might be the issue, `document.fonts.ready` is always truthy because it's a promise. That doesn't mean that the fonts are already loaded necessarily.

See my other comment, maybe it's helpful?

[2021-07-02 10:16] #483 closed

[2021-07-02 15:00] arthurdenner commented on #317
Hey, thank you for the reply and link. I read that article a few days ago, it certainly helped my investigation.

[code]

The line of code above seems to work fine from what I've debugged and from the GitHub blog post - they needed a custom solution for images only.

Sorry, I wasn't clear - I was about to go to bed when I wrote the previous comment - but my issue is reproducing the font swap behav

[2021-07-02 16:43] sashee commented on #317
Hey @arthurdenner ,

my 2 cents: you can use request interception in Puppeteer ([ref](https://github.com/puppeteer/puppeteer/blob/main/docs/api.md#pagesetrequestinterceptionvalue)) to stall requests to certain urls. With this, I believe you can postpone requests loading fonts to be able observe the font swap effect.

[2021-07-02 23:02] arthurdenner commented on #317
@sashee, your two cents were very valuable!

I tried that approach before but it didn't work. I tried to use a "delay proxy site" (https://deelay.me) and it didn't work.

So I debugged this a lot more today and noticed that I wasn't working on the correct file. I was modifying the process for the `evaluation` file not the `composition` 😄

The approach you suggested worked fine in the new file and

[2021-07-03 13:39] JonnyBurger commented on #334
It can be seen in the CI:

Error: ENOTEMPTY: directory not empty, rmdir 'C:\Users\RUNNER~1\AppData\Local\Temp\react-motion-graphics9o9K3v'
Do you have minimum required Node.js version?
Could not clean up directory.

[2021-07-05 14:54] samdoeswork commented on #191
Hi, any progress on this? I'd be interested in trying to run this on Google Cloud Functions which seems to have ffmpeg available & I'm happy to share my experience for the docs

[2021-07-05 17:01] JonnyBurger commented on #191
@samdoeswork We are actively working on it and have a preview available, which you can test by joining our Discord and coming into the #lambda channel! 🙂

[2021-07-06 06:29] sohamsshah commented on #477
Hi, I would like to work on this :) Can you elaborate this a bit (or some way I can reproduce it?)

[2021-07-06 07:23] JonnyBurger commented on #477
Hi @sohamsshah! Thanks a lot for offering it!
I think it's pretty simple, we are using minimist, https://www.npmjs.com/package/minimist

and we need to tell minimist that `--sequence` is a `boolean` flag, otherwise it will think that `--sequence out.mp4` is a key-value pair.

I see in the minimist documentation there is support for passing an array of values that should be treated as boolean!

[2021-07-06 14:21] JonnyBurger opened #489 "Fix issues templates"
Looks like with the config we had commited it was not possible to open an issue. Deleted it for now

[2021-07-06 14:22] JonnyBurger opened #490 "Fix issues templates"
Looks like with the config we had commited it was not possible to open an issue. Deleted it for now

[2021-07-06 14:22] JonnyBurger opened #491 "Migrate away from Sendgrid without static IP"
Very bad deliverability

[2021-07-07 04:52] sohamsshah commented on #490
Just saw it right now. Can't understand why this happens🤔 Will get back with a solution soon!

[2021-07-07 05:48] sohamsshah commented on #490
https://docs.github.com/en/communities/using-templates-to-encourage-useful-issues-and-pull-requests/configuring-issue-templates-for-your-repository

Probably a workaround for now would be to create issue templates directly from the `settings` tab. I guess it is breaking because of the recent feature release by Github to also support template creation from `settings` and also `yml` files for issues

[2021-07-07 08:53] JonnyBurger commented on #490
@sohamsshah Thanks! For now I just did an emergency delete. Of course you cannot test it in a PR so no problem, I'll probably figure it out myself by just committing to main often.

It would only show the option to create a discussion with the previous template.

[2021-07-07 09:03] sohamsshah commented on #490
Yes, perfect. Again apologies from my end😅 Didn't see that coming.

[2021-07-07 09:23] JonnyBurger commented on #490
No problem. "if it breaks we fix it".

now looking good again :)

[2021-07-07 09:23] #490 closed

[2021-07-07 19:26] JonnyBurger opened #496 "Copy button does not copy"
In documentation

[2021-07-07 19:34] JonnyBurger opened #497 "Docs should suggest to install @types/three"

[2021-07-09 07:35] JonnyBurger commented on #496
It seems to be not the same always, it works on my Mac Mini but not on my laptop 🤔

[2021-07-09 08:06] JonnyBurger opened #499 "Rename Remotion Preview window"
Right now it says Remotion Player, but this is confusing, as the Remotion Player is our @remotion/player library.

[2021-07-09 08:20] #429 closed

[2021-07-09 08:22] ashikmeerankutty commented on #342
@JonnyBurger  I would like to pick this up If you can provide me some context about what all things have to be done

[2021-07-09 08:25] JonnyBurger commented on #342
Thanks again for the previous PR! This one is mainly being able to hit the space button to pause and play the video.

The main challenge is probably what happens if multiple players are on the page, there needs to be some kind of focus management.

Also there should be a prop to disable it if you want to use the player on the website and handle the space bar separately.

Thinking of it, there are

[2021-07-09 08:30] ashikmeerankutty commented on #342
The focus part seems to be a bit tricky rest is fine. I will try to figure out what kind of focus management is used in such cases   and let you know what can be done.

[2021-07-09 08:31] JonnyBurger commented on #342
We also welcome an initial draft PR without the focus management. Any help is appreciated 🙌

[2021-07-09 08:32] #489 closed

[2021-07-09 08:34] ashikmeerankutty commented on #342
Sure, I will start with the keyboard controls then and once everything works fine we can try the focus management.

[2021-07-09 09:12] #381 closed

[2021-07-09 10:07] JonnyBurger opened #500 "Recommend onError() handler for renderFrames() in docs"
Also should check if unhandled exceptions are reported correctly, someone on Discord had a bit of struggle with it

[2021-07-09 14:43] #317 closed

[2021-07-09 15:16] arthurdenner commented on #499
Should we call it "Remotion Preview" or do you have a better suggestion?

[2021-07-09 16:11] arthurdenner commented on #364
Hi everyone! 👋🏽
@mikaoelitiana, I was wondering if you're still interested in this issue or if I can work on it. Cheers!

[2021-07-09 20:58] mikaoelitiana commented on #364
hello @arthurdenner yes I am still working on this one, hope to complete it by next week

[2021-07-11 16:49] JonnyBurger opened #506 "Add a call to action button for Discord underneath each documentation page"
Something like "still have questions? ask on discord!"

[2021-07-11 16:49] JonnyBurger commented on #499
Yes, sounds good I like it!

[2021-07-11 16:50] #499 closed

[2021-07-13 10:26] JonnyBurger opened #507 "New Flag for rendering one or multiple thumbnail alongside redered video"
It could be a separate command, a flag, a separate Node.JS API, a method on Lambda.. or multiple of these.

[2021-07-13 10:28] JonnyBurger opened #508 "Document new font loading behavior"
Currently we still suggest that you should disable font display swap, however from version 2.2 it's not necessary anymore, nothing has to be done. We should update the documentation but still mention that it's necessary for people still on older versions.

[2021-07-13 18:55] Iamshankhadeep commented on #507
so let's say we want to render a thumbnail and video we need to run remotion twice one for the video and one for the thumbnail right?
`remotion render src/entry.jsx framer thumbnail --frames=10`
`remotion render src/entry.jsx framer video.mp4`

But I am suggesting we have a flag thumbnail so the shortcut for the above scenario will be. this command
`remotion render src/entry.jsx framer video.mp4 -

[2021-07-14 07:49] #342 closed

[2021-07-16 05:37] aVileBroker opened #512 "Generated subtitle + caption support"
Much like visual and auditory sequences, it would be helpful if remotion also exported the time stamped subtitle file that would allow for non-baked-subtitles.

Excuse me if this is already implemented or in the roadmap, but I didn't find anything from searching and I'm quite new to using remotion (but am very excited)

# Feature Request 🛍️

For instance, for any audio component I add to play from

[2021-07-16 05:40] aVileBroker commented on #512
If this is a good idea that fits in the remotion architecture/style I'd be more than happy to work on this and open a PR

[2021-07-16 14:50] arthurdenner commented on #496
Very strange. Running the `docs` package in development, works fine. After bundling and serving with the `docusaurus` commands, it doesn't.

I created a `docusaurus` project from scratch with `npx @docusaurus/init@latest init my-website classic` and it worked both in development and after bundling and serving.

[2021-07-17 03:59] frencojobs commented on #496
Sorry about that, it was my fault. I forgot to test it in production. I've already merged and deployed the fix from @arthurdenner, and #516 will close this.

[2021-07-17 10:27] #496 closed

[2021-07-18 05:32] aVileBroker commented on #508
How _do_ we load fonts? I'm not sure how to access the <head> tag without doing some style block injection on component load.

[2021-07-19 12:31] JonnyBurger commented on #512
Hello Oliver!

Thanks a lot for opening the request and I totally see this feature on our roadmap too! 😁

As I am working on releasing Lambda, I will not immediately tackle subtitles, so any help is appreciated on this! I can help with implementation questions. I also see that a <Subtitle> component that you can place anywhere would be a cool API. And that we will pick up during rendering, similar

[2021-07-21 11:37] JonnyBurger opened #518 "By default, put the video in an `out` folder"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%24112%20Funded-%2300A156.svg" />](https://issuehunt.io/r/JonnyBurger/remotion/issues/518)

This simplifies the .gitignore template by allowing to just ignore the `out` directory instead of unignoring the .mp4 files in the `src` folder and also think it's nice to have a dedicated folder.

cc @aVileBroker who came up with the

[2021-07-21 15:28] JonnyBurger commented on #506
It seems hard to do with the current version of Docusaurus, so let's make it a wontfix

[2021-07-21 15:28] #506 closed

[2021-07-21 15:33] #41 closed

[2021-07-21 16:01] JonnyBurger opened #522 "Add docs to https://docusaurus.io/showcase"
^

[2021-07-21 16:01] JonnyBurger commented on #522
Already there actually :) but we can update the picture

[2021-07-22 08:59] #497 closed

[2021-07-22 09:01] #477 closed

[2021-07-22 09:02] #508 closed

[2021-07-25 20:58] Muurilo commented on #191
Will it be possible to use serverless functions from vercel?

[2021-07-26 03:13] arthurdenner opened #524 "Broken links in GitHub Action logs"
While looking at an issue reported in Discord, I noticed links are broken in GitHub Actions logs.

For example, check the logs on [this Action](https://github.com/gertrude-la-plante/youtube-likes-recap-video-maker/runs/3153312185?check_suite_focus=true).
The link on "Get help..." is broken because of the final dot, which is added to it, linking to a 404 page instead of the actual page.

I don't kn

[2021-07-26 17:17] #392 closed

[2021-07-30 12:55] JonnyBurger opened #526 "Proposal: Allow to omit `durationInFrames={Infinity}` for sequence"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%24112%20Rewarded-%237E24E3.svg" />](https://issuehunt.io/r/JonnyBurger/remotion/issues/526)

We can make it that if you omit it this is assumed as default. Makes the syntax a bit more concise.

---

<details>
<summary>
<b>IssueHunt Summary</b>
</summary>

#### [<img src='https://avatars.githubusercontent.com/u/14539996?v=4'

[2021-07-30 15:01] JonnyBurger opened #529 "Cannot update to Docusaurus 2.0.0 beta 3 with twoslash enabled"

[2021-07-30 15:07] #524 closed

[2021-07-30 15:14] JonnyBurger opened #530 "Add JSDocs to most popular functions"

[2021-07-30 15:15] JonnyBurger commented on #530
https://github.com/facebook/docusaurus/pull/5259 PR created

[2021-07-30 15:15] #530 closed

[2021-08-03 07:25] JonnyBurger opened #531 "Social media preview card for Showcase"

[2021-08-03 08:59] JonnyBurger commented on #522
Merged!

[2021-08-03 08:59] #522 closed

[2021-08-03 08:59] JonnyBurger commented on #491
Migrated to Postmark!

[2021-08-03 08:59] #491 closed

[2021-08-03 17:12] JonnyBurger opened #534 "Needing to pass `compositionId` and `config` to renderFrames() is redundant"
This could be a 3.0 breaking change

[2021-08-04 19:11] arthurdenner opened #538 "Output video has the wrong duration"
# Bug Report 🐛
I was experimenting with clipping remote videos within Remotion compositions and noticed that the output video has the wrong duration in it.

I created a branch with a reproducible scenario: https://github.com/arthurdenner/remotion/tree/chore/remote-video-wrong-duration-demo

If you clone it, run `yarn render` and then run `ffprobe video.mp4` shows a duration of 2 minutes but the vi

[2021-08-05 08:06] arthurdenner commented on #538
Continuing the investigation, I noticed `-map_metadata -1` fixes the issue too.

From the [ffmpeg docs](https://ffmpeg.org/ffmpeg.html):

[code]

I'm not sure which of these should be preferred as the fix.

[2021-08-05 22:26] micnic opened #546 "New project from template includes the original template git history"
After running `npm init video` or `yarn create video` the resulting project is just a cloned git repository of the template with the full git history of it.

It is expected that the created project has a clean history or no git set in place at all.

It would be better to use something like [degit](https://www.npmjs.com/package/degit), which is faster as it does not download the full git history (i

[2021-08-06 07:09] JonnyBurger commented on #396
The plan for this issue is to integrate it with Lambda once it's released so you can render videos with scale and then announce the template 🚀

[2021-08-06 07:21] #531 closed

[2021-08-06 07:33] JonnyBurger commented on #546
Thanks a lot for the report! I acknowledge as a bug, we'll fix it. I'm also in favor of using degit, that sounds like a great idea!

[2021-08-06 07:58] JonnyBurger opened #547 "Investigation: Can we support units like 100%, 100vh, by putting the rendered content in an iframe?"
Maybe it's useful for some to be able to use those units, but only if they are relative to the frame size (e.g 50vw should be 50% of the composition width, not the window width). So maybe an iframe is a good idea? But maybe iframe also has disadvantages? We should kick off an investigation :)

[2021-08-06 08:04] #538 closed

[2021-08-06 17:55] Iamshankhadeep commented on #546
@micnic can you let me know Happy Birthday your os, node and npm version?

[2021-08-06 20:17] pmourelle opened #551 "[iOS] Audio asset doesn't pause when pausing the video"
Tested on iphone7 (chrome and safari), having a video preview formed by a set of elements (videos, images) and audio tracks, when pausing the video, the "video part" been played pauses fine, but audio tracks (in same Sequence) keep playing as the pause didn't affect them.
In desktop works fine, and pausing the video properly pauses both video and audio.

# Bug Report 🐛

[2021-08-06 22:16] micnic commented on #546
I use Ubuntu 20.04, node 16 and npm 7

[2021-08-07 11:52] #546 closed

[2021-08-07 12:00] JonnyBurger commented on #551
Thanks! We'll investigate it. If possible, can you also mention the iOS version this is happening on?

[2021-08-07 15:13] pmourelle commented on #551
Sure! Really appreciate your quick return 😃 .
Doesn't seem specific for a particular version. I'm seeing this in last version today (iOS 14.7.1). But also in previous version 14.6.x also happened.

[2021-08-09 19:27] JonnyBurger opened #553 "Tailwind config file is not picked up as expected"
From Discord:

[2021-08-10 15:10] JonnyBurger commented on #551
I think this has to do with iOS playback policy. I am starting a PR to address it: #554

[2021-08-11 15:20] JonnyBurger commented on #553
Same problem as #315, will focus on solving that issue

[2021-08-11 15:20] #553 closed

[2021-08-11 15:37] #507 closed

[2021-08-13 08:49] JonnyBurger opened #560 "FFMPEG throws if height of composition is not dividable by two"
We could maybe handle it better before the user tries to render 🙂

[2021-08-13 09:22] JonnyBurger opened #562 "Cannot pass a custom browser location to renderFrames()"

[2021-08-13 18:04] JonnyBurger commented on #562
Fixed by #563

[2021-08-13 18:04] #562 closed

[2021-08-14 12:04] natasha-93 commented on #214
We're also experiencing this same error `TimeoutError: waiting for function failed: timeout 30000ms exceeded` but we're not importing any files. We're also not using the delayRender() function.

[2021-08-14 12:57] JonnyBurger commented on #214
@natasha-93 Please first see this document for possible reasons: https://www.remotion.dev/docs/timeout/

If you are not using a delayRender(), are you possibly rendering a `<Video />` with an unsupported codec? These articles could be helpful: https://www.remotion.dev/docs/media-playback-error https://www.remotion.dev/docs/non-seekable-media

If it's none of these, I need some more information abo

[2021-08-14 14:17] natasha-93 commented on #214
Ok, changing parallelism to a set number instead of the default worked for now. Thanks!

[2021-08-15 21:02] hainsdominic opened #564 "Cannot map through an array to render components/sequences"
# Bug Report 🐛

First, thanks Jonny and the contributors for this awesome project.

So I have a Composition, and I am passing articles to a child component named Articles.

[code]

In the Articles component, I want the 3 article component to show one after the other. For example, this works.

[code]

However, I would love to be able to map through the articles array like so:

[code]
The Article co

[2021-08-15 21:33] hainsdominic commented on #564
Forgot to Return or to remove the brackets...

[2021-08-15 21:33] #564 closed

[2021-08-17 11:56] JonnyBurger commented on #16
See also: #565

[2021-08-17 16:03] JonnyBurger opened #566 "Broken links in docs"
# Bug Report 🐛

https://www.remotion.dev/docs/get-waveform-portion/

Has a broken link

[2021-08-18 13:13] #566 closed

[2021-08-18 16:21] bichotll opened #567 "Config setLevel does not work"
# Bug Report 🐛

The `config.setLevel(X)` does not work. Or at least I'm not getting the desired output on the terminal.
I have tried both, setting it up from the `remotion.config.ts` file and from the command line.

On remotion.config.ts:
```Config.Log.setLevel('error');```

```"build": "remotion render src/index.tsx App out.mp4 --overwrite --crf 1 --log error",```

I'm expecting it to be "Silent

[2021-08-19 12:02] fais3000 opened #568 "Remotion render doesn't wait for the s3 resource to completely load"
Software versions
[code]

When setting up text to speech boilerplate all works well in the preview mode. But if a video is generated (rendered) without running the preview mode first with new text following error is thrown. This is because the upload file to S3 is slow but the JS code tries to read the file which is not downloaded from s3 yet.

[code]

[2021-08-19 19:52] JonnyBurger commented on #567
Thanks for reporting! You are right, some console output does log regardless of the log level.
We'll fix this, and the docs issue soon!

[2021-08-19 20:08] JonnyBurger commented on #568
Hi @fais3000, thanks for reporting!

I fixed it in this commit:
https://github.com/FelippeChemello/Remotion-TTS-Example/commit/47d31b1d1f5ee9a532e534406cf10e7b674c3b9d

You can add the changes to your project, most importantly the `await` in front of the S3 upload, to fix the issue.

[2021-08-19 20:08] #568 closed

[2021-08-20 09:37] sinayanaik opened #569 "remotion.dev websites gives the error 182.79.218.106 refused to connect."

[2021-08-20 09:41] Iamshankhadeep commented on #569
The IP is of public ip of airtel in delhi. maybe some issues with airtel. btw you can hit 172.67.208.61 this for remotion.dev

[2021-08-20 09:42] Iamshankhadeep commented on #569
The IP is of public ip of airtel in delhi. maybe some issues with airtel.

[2021-08-20 14:05] #569 closed

[2021-08-21 07:19] thebetterjort opened #570 "Ffmpeg wasn’t"
# Feature Request 🛍️
Use ffmpeg wasm instead of ffmpeg on server.
## Use Case

Render remotion videos in the browser without a server.

[2021-08-21 07:19] thebetterjort commented on #570
https://ffmpegwasm.netlify.app/

[2021-08-21 08:20] arthurdenner commented on #570
There is some experimentation going on at #555.

[2021-08-21 15:45] thebetterjort commented on #570
Thanks I'll see what In do

[2021-08-22 09:11] JonnyBurger commented on #570
We'll add support for FFMPEG.wasm sometimes in the future probably, but there will be differences between the versions that we have yet to find out exactly. It's not a 1:1 replacement, and also we cannot render videos in the browser quite yet, since we can't take screenshots without Puppeteer.

Nonetheless thanks for filing an issue for this as there wasn't one before!

[2021-08-22 10:57] JonnyBurger commented on #569
For the future, we now have a mirror, different root zone, and hosted on a different provider: https://remotiondocs.com

[2021-08-24 14:22] JonnyBurger opened #571 "Disable auto import rule from template"
You write an import and don't use it, it gets removed. For many developers this is not what they are used to, so by removing it we are more in line to other scaffolders

[2021-08-24 14:49] Iamshankhadeep commented on #571
yeah makes sense to me.

[2021-08-24 14:55] #567 closed

[2021-08-24 16:38] #551 closed

[2021-08-27 23:17] johann04 opened #576 "https://www.remotion.dev is down"

[2021-08-28 06:05] Iamshankhadeep commented on #576
You can use this link also https://remotiondocs.com .

[2021-08-28 07:30] JonnyBurger commented on #576
Hey @johann04! Sorry this is happening, we would like to investigate the issue which only seems to happen with certain ISPs.

Are you also on Airtel in India?
Can you reach showcase-uploader.remotion.dev? (To see if it's a problem with the .dev domain)
We now point remotion.dev to a different host, can you reach it now? (It might take a few hours to update the DNS).

It would be very helpful to le

[2021-08-28 14:40] #560 closed

[2021-08-29 16:35] johann04 commented on #576
hi, I am in Costa Rica.

No, cannot reach showcase-uploader.remotion.dev either

Still cannot reach it.

[2021-08-30 10:41] LucasIcarus commented on #449
@JonnyBurger

![image](https://user-images.githubusercontent.com/15810641/131327130-d992f967-c36d-476e-b5a9-00c4e28efeb7.png)

Import stylesheet import to `src/index.tsx` will cause hmr warning ("Ignored an update to unaccepted module") because `src/index.tsx` is main file to webpack.

Move stylesheet import to `src/Video.tsx` works fine.

[2021-08-31 12:18] JonnyBurger commented on #449
Thanks @LucasIcarus for letting us know of the mistake! I fixed this in db907ab03.

[2021-08-31 12:18] JonnyBurger commented on #576
Thanks for letting us know. This is a real problem... does anyone know how we can resolve those issues on the DNS level?

[2021-08-31 16:04] JonnyBurger opened #582 "remotion website focuses on video demo immediately"
I guess this is a new bug in remotion player. need to investigate

[2021-08-31 16:34] johann04 commented on #576
johann04@Johanns-MacBook-Pro audio % ping remotion.dev
PING remotion.dev (127.0.0.1): 56 data bytes
64 bytes from 127.0.0.1: icmp_seq=0 ttl=64 time=0.032 ms
64 bytes from 127.0.0.1: icmp_seq=1 ttl=64 time=0.088 ms
64 bytes from 127.0.0.1: icmp_seq=2 ttl=64 time=0.080 ms
64 bytes from 127.0.0.1: icmp_seq=3 ttl=64 time=0.094 ms
64 bytes from 127.0.0.1: icmp_seq=4 ttl=64 time=0.091 ms

[2021-08-31 16:35] johann04 commented on #576
I my computer, remotion.dev is resolving to 127.0.0.1

[2021-08-31 16:42] johann04 commented on #576
OMG this is embarrassing...

I followed this tutorial https://passingcuriosity.com/2013/dnsmasq-dev-osx/ to point all .dev domains to localhost for a project...

Sorry!

[2021-08-31 16:42] #576 closed

[2021-08-31 20:40] iamkhalidbashir commented on #214
`TimeoutError: waiting for function failed: timeout 30000ms` with parallelism greater than 1 randomly

[2021-08-31 20:41] iamkhalidbashir commented on #214
Should we open this issue then?

[2021-09-04 02:58] seblavoie opened #583 "Tailwind CSS classes not working when using server side rendering"
I have enabled tailwind support as explained [here](https://www.remotion.dev/docs/webpack/#enable-tailwindcss-support) and it works great in the player and when I use the command `npm run build`, but when I try using the server side rendering by using a url in my browser, the render that's created does not incorporate tailwind.

I'm using Remotion 2.3.2 and Tailwind CSS 2.2.9

[2021-09-04 15:26] yuyuyzl commented on #582
ur input for inserting github username has a autofocus attribute.
should get rid of it.
<input class="parametrizeinput_1SDR" autofocus="" placeholder="Your GitHub username">

[2021-09-04 15:59] yuyuyzl opened #584 "Parallel frame capturing and encoding for better performance"
In fact i am using another project like Remotion to make some video to post.
https://github.com/dtinth/html5-animation-video-renderer
this is kind of a much simpler version of remotion, it only has a renderer and simply feeding ffmpeg with stdin
https://github.com/dtinth/html5-animation-video-renderer/blob/master/render.js#L186

After some benchmarking, as for me, it is 3x faster than remotion.
I'

[2021-09-06 00:50] nandorojo commented on #149
@JonnyBurger is there a way to transpile certain packages from `node_modules`, similar to `next-transpile-modules`? I'm seeing this error when I try to use a `react-native` package.

![image](https://user-images.githubusercontent.com/13172299/132146511-3b50e62d-f7c8-4c44-92b8-50f322268127.png)

I tried adding a custom `babel-loader` into webpack. Here's my `remotion.config.ts` file

[code]

but th

[2021-09-06 08:33] JonnyBurger commented on #584
Hey @yuyuyzl!

Thanks a lot for filing the issue, I appreciate every thought about how to improve the performance of the render pipeline.

My computer specs are pretty different, but I've cloned your repo and could not see it being 3x faster than Remotion. It took 27sec to render, I'm sure Remotion would perform similarly for me. Is there a benchmark command to demonstrate the huge performance dif

[2021-09-06 08:38] #582 closed

[2021-09-06 08:38] JonnyBurger commented on #582
Thanks a lot @yuyuyzl for identifying the issue!

[2021-09-06 08:42] JonnyBurger commented on #583
Hi Sebastian!

The reason for it is that the config file does not apply when using the server-side rendering APIs. The reason is that there will be many different SSR configurations with different folder structures, some of them being setup outside of a vanilla Remotion project. That's why in SSR, you specify the options directly to the Node.JS APIs.

The option that you are looking for is [`bundl

[2021-09-06 08:42] #583 closed

[2021-09-06 17:18] yuyuyzl commented on #584
I refactored the benchmark project for remotion, and admittedly it is not 3x slower than the vanilla way (i mean dtinth's project) but still has some difference (about 60s:35s).

https://github.com/yuyuyzl/mybenchmark4remotion

https://user-images.githubusercontent.com/14276008/132247985-6b9400fb-975e-4a83-b6ee-fbfdcb9c8390.mp4

The task manager shows a huge difference on cpu utilization, and it d

[2021-09-06 17:20] nandorojo commented on #149
Ignore my previous message, I solved it by adding `'@babel/plugin-transform-react-jsx'`. Here's my new remotion config:

[code]

[2021-09-07 06:08] Mike-Dax commented on #570
I maintain a Gatsby plugin for local video transcoding [over here](https://github.com/Mike-Dax/gatsby-plugin-ffmpeg). I did a rewrite recently that used ffmpegwasm instead of the native ffmpeg installation and found the wasm implementation to be at least an order of magnitude slower, under 1fps kind of thing. For any of our production uses that timeframe became untenable.

[2021-09-07 07:43] JonnyBurger commented on #570
Thank you @Mike-Dax for sharing your datapoint! Very valuable!

[2021-09-07 07:49] JonnyBurger commented on #584
Thanks a lot @yuyuyzl for sharing this! I'll definitely take a look and dive into what is needed. It might take some time to tackle as we are working on a lot of things, but I will definitely look into it! This is much appreciated ☺️

[2021-09-07 13:03] yuyuyzl commented on #584
Oh, I tried to render the bundle from remotion in html5-animation-video-renderer, and it works really well, at least for my simple demo. The rendering process didn't slow down at all, and the output video has no glitch or any problem, so i think it is not React's fault.

My demo repo is updated and if you want to try, use `node render --url=file://<ABSOLUTE_PATH>\remotion-test\helloworldvanilla/ex

[2021-09-07 14:23] seblavoie commented on #583
Okay great, that makes it more clear! Thanks for the feedback and kudos on the great work 🤙

[2021-09-07 19:35] JonnyBurger commented on #584
That's interesting, I was assuming those are performant. But I'll take this into my investigation, thank you!

Appreciate you updating the demo 😊 does the fact that remotion needs to bundle using webpack cause the difference maybe?

[2021-09-07 19:39] yuyuyzl commented on #584
Forked the whole repo and tested.
`await page.waitForFunction('window.ready === true');` has a small effect (about 10%) on frame render time, but this is not the main problem.

Aside from the difference in feeding ffmpeg (buffer/file), I have noticed Remotion doesn't create a bunch of browser instances like dtinth's renderer. Instead, it creates a single browser with multiple tabs, and "cycle brow

[2021-09-08 08:09] yuyuyzl commented on #584
YES IT IS, 67088ms -> 43183ms in frame rendering.
![image](https://user-images.githubusercontent.com/14276008/132469957-60b1ba02-de08-41d6-94f4-5bcadbad764a.png)
1 browser, 6 tabs (original)

![image](https://user-images.githubusercontent.com/14276008/132469989-03b6570a-8d69-4060-a83f-7e9b719afc41.png)
6 browsers (improved)

Run on a MBP, 6 core i7.

Code diff here:
https://github.com/remotion-dev

[2021-09-08 09:58] JonnyBurger commented on #214
@iamkhalidbashir Sorry for the slow response -

I thought to have fixed the webpack bottleneck with our own fork of webpack-dev-middleware. So if you get a timeout it's probably something else. Did you go through https://remotion.dev/docs/timeout for possible reasons?

[2021-09-08 13:54] yuyuyzl commented on #584
![image](https://user-images.githubusercontent.com/14276008/132521761-688fe014-53d6-4cee-bd0b-d80293bdfe6b.png)
Got similar result on my 5900x, 39739ms -> 22189ms this time.

Maybe we should have a cli flag to enable this feature, or just change it all at once?
Honestly I can't get the point to create multiple tabs in one browser...

[2021-09-08 22:48] nandorojo opened #587 "[Still example] server hangs on multiple requests"
# Bug Report 🐛

I have a bug related to the still example template. If you spin up the server and ping the endpoint a bunch of times, it eventually just hangs and never resolves. It doesn't fail either.

1. `yarn create video`
2. Still template
3. `yarn start`
4. Hit the URL a bunch of times
5. Notice that the URL just eventually sits there loading in the browser, and never resolves

I isolated th

[2021-09-08 22:54] nandorojo commented on #526
Or `-1` 😎

[2021-09-10 08:19] JonnyBurger commented on #526
We could allow it as well, but isn't it better if you can just not specify anything at all? 😁

[2021-09-10 08:38] JonnyBurger commented on #587
Hi Fernando!

I just did an investigation and did the following: Clone the template and remove the built-in rate limiting. Then start the server.

I used the following script to stress-test the server:

[code]

I added a `&` character to the end of the script so the commands run concurrently.
I could not bring the server to a stall after running it multiple times even if I set the cache mode to 'n

[2021-09-10 11:54] nandorojo commented on #587
Hey thanks for getting back to me. Interesting…I’ll try to make a repro then.

That said, I think I actually prefer that the server returns the cloudinary URL, since I’m able to do my own image transformations on the client. So I might just stick with my current method, and I’ll see if I can reproduce at some point again!

One guess could be that I was also using delayRender in my image code. one

[2021-09-10 11:54] #587 closed

[2021-09-10 12:01] JonnyBurger commented on #587
Ok thanks! If you want to discuss further we can still do it in DMs. I also just added this to the template: https://github.com/remotion-dev/template-still/commit/3ce014bf128fd865979a4b25c0b427b0620a27b4

It logs if an error occurred in your video. It should in theory not stop everything but lead to a timeout and then continue with the next video. Maybe you want to add it to your code as well to h

[2021-09-10 12:03] nandorojo commented on #587
Yeah, I actually did do that too. Although I think you’d need to throw some error or return something to the `res` in that callback, right? (I don’t have experience with servers, but that worked for me for responding errors).

[2021-09-10 16:10] nandorojo commented on #526
Yeah agreed

[2021-09-14 07:12] yuyuyzl commented on #584
As for the audio part (assets), it can be encoded and mux to the video after the rendering and encoding process, since it is faster than encoding h264.

I'm preparing a pr for these performance fixes.
2 config parameters will be added to control tabs/browsers concurrent rendering(done for now) and parallel encoding(wip).

[2021-09-14 21:06] johann04 opened #593 "Error rendering in ubuntu"
My code:

[code]

Fails after rendering the last frame and starting `stitchFramesToVideo`

[code]

The thing is... it works in my Mac OS, but fails when I try to run it on Linux.

[2021-09-14 21:37] johann04 commented on #593
It looks like remotion requires nodejs 13 or above... you should put that in the installation guide

[2021-09-14 23:42] johann04 commented on #547
how can I render to an iframe?

[2021-09-15 07:40] JonnyBurger commented on #593
I think the minimum version is 12.10.0 as mentioned in the setup docs (https://www.remotion.dev/docs)

Do you think that is wrong?
Also you should have gotten a warning if version requirement was not satisfied, if we need to fix that let us know!

[2021-09-15 07:42] JonnyBurger commented on #547
We have an IFrame component which can render an `<iframe>`. https://www.remotion.dev/docs/iframe

It's not so related to this PR but hope it's what you are looking for!